[2017-03-29 10:10] FridaTveit commented on #368
Fixed in PR #404 :)

[2017-03-29 10:10] #368 closed

[2017-03-30 20:44] kotp opened #406 "Clarification of the sentence on implementation dependencies in the Java "about" page"
@travisfw commented on [Mon Mar 06 2017](https://github.com/exercism/exercism.io/issues/3396)

The [about page for Java](http://exercism.io/languages/java/about ) says "It has been specifically designed to have as few implementation dependencies as possible" and links to [a page about "implementation dependencies" with regards to Netbeans](https://www.java-tips.org/other-api-tips-100035/60-netbean

[2017-03-31 15:31] FridaTveit opened #407 "binary-search-tree: replace lambda with method reference"
Two tests in binary-search-tree (`createsComplexTree` and `iteratesOverComplexTree`) use the [lambda expression](https://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html) `value -> sut.insert(value)`. This could be simplified to the [method reference](https://docs.oracle.com/javase/tutorial/java/javaOO/methodreferences.html) `sut::insert`.

[2017-04-01 17:45] jtigger commented on #406
Thanks @travisfw for bringing this up.  Thanks, @kotp for moving this in our space.

This is an excellent additional point to #347.  I'll add the reference.

[2017-04-01 19:54] jtigger commented on #178
@exercism/java so...... how far into the track should we provide these starters?

[2017-04-02 00:59] stkent commented on #394
Thanks for the ideas! The following combo worked for me (64/64 suites passed ok):

Since I built `difference-of-squares`, I wonder if there was some weird git-invisible difference hanging around. That or my rvm-managed 2.2.5 was weirded up somehow. We'll see if this setup continues to work 🤞

[2017-04-02 00:59] stkent commented on #394
Closing; will reopen or make a new issue if I run into this issue again.

[2017-04-02 00:59] #394 closed

[2017-04-04 10:34] #357 closed

[2017-04-04 14:36] jtigger commented on #394
Yeah, I hope that sticks.  Very strange business.

Glad your build is working!

[2017-04-04 14:39] #389 closed

[2017-04-04 14:56] jtigger opened #410 "Speed up test suite(s)"
The CI build is approaching 20 minutes.  The long pole on the build is (understandably) the journey suite.  However, the exercises are guaranteed to be independent: the test suites can be executed in parallel without fear of test pollution.  The situation is ripe for parallel execute of tests.

Please update the CI build to minimize both the duration of the total test run _and_ minimize additional

[2017-04-04 15:59] kytrinyx opened #411 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 16:03] jtigger commented on #411
Let's add "good first patch" for xjava.  I'd do it right now, but the work day is starting here.

I love this, @kytrinyx!

[2017-04-05 00:53] stkent commented on #394
Same; thanks for your help!!

[2017-04-05 18:33] kytrinyx commented on #411
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-05 23:08] stkent commented on #375
@jtigger these instances are not all set up identically, since they use generics. What would you like to do here given that new information? :)

[2017-04-05 23:16] stkent commented on #353
Closed by #398

[2017-04-05 23:16] #353 closed

[2017-04-05 23:50] stkent commented on #370
@jtigger ETL already appears to [use instance methods](https://github.com/exercism/xjava/blob/2110550ec9a02e1070a31ce0a56f2f82d34c6ec3/exercises/etl/src/test/java/EtlTest.java) rather than static methods, and has done for [quite some time](https://github.com/exercism/xjava/commits/master/exercises/etl/src/test/java/EtlTest.java). Was there perhaps some other exercise you were thinking of here?

[2017-04-05 23:53] stkent commented on #365
Currently this exercises requires a single class that contains two methods with the following signatures:

    public static int[][] computeTriangle(int)

    public static boolean isTriangle(int[][])

Thoughts as to whether these should remain in a single class after conversion to instance methods? The responsibilities of each method are quite different, so I was thinking that two separate classe

[2017-04-06 00:08] #358 closed

[2017-04-07 08:58] #363 closed

[2017-04-07 09:01] #360 closed

[2017-04-07 12:59] jtigger commented on #375
Nope, this was a [bad miss](https://www.youtube.com/watch?v=ZK1HlsISs78) on my part.  Closing.

[2017-04-07 12:59] #375 closed

[2017-04-07 13:06] jtigger commented on #370
medical marijuana? 🌱

Sorry to have created work for ya, @stkent. 😬

[2017-04-07 13:06] #370 closed

[2017-04-07 13:15] jtigger commented on #365
I absolutely agree, Stuart.

`computeTriangle()` is a generator a representation of a Pascal's Triangle whereas `isTriangle()` is a validator.

Also, seems like the latter is dependent on the former (or I guess could be?).  This is the first opportunity I've faced with considering dependency injection on the track.  Don't worry, I'm not talking about depending on Dagger or Spring or anything... :)

[2017-04-07 13:20] jtigger commented on #61
I had a similar solution.  It has an interesting design pressure on the solution itself since relying on pure randomness generates a long tail of run-times (prompting an interesting conversation about resource trade-offs of memory for time).

@matthewmorgan this conversation started some time before your plate got quite full.  I'm gonna pull the assignment... if you have a desire squeeze in hittin

[2017-04-07 22:36] stkent commented on #365
😰 😂

Hmm... I think it's reasonable here. I'm assuming you're thinking of constructor injection - that would seem most natural to me based on how we'd specify the tests. And yes, if we go this route, a `HINT.md` file is definitely in order. In that case I'd also like to use this as an opportunity to begin documenting these sorts of policies in a single centralized location so that it's easier to r

[2017-04-07 22:37] stkent commented on #365
tl;dr: I'll have a crack at all of the above and we can then review and see how it feels!

[2017-04-07 23:15] stkent commented on #370
Haha, no worries, I like instant-close issues!

[2017-04-09 10:19] behrtam opened #416 "book-store: Example implementation is incorrect"
The description of the exercise describes a a scenario that is also a [test case](https://github.com/exercism/xjava/blob/master/exercises/book-store/src/test/java/BookstoreTest.java#L70-L74) where two groups of 4 are cheaper than two groups of 5 and 3. The example implementation always starts with the biggest possible group and does not try all other combinations to really find the cheapest price.

[2017-04-10 00:30] stkent commented on #416
Ooh, good spot, thanks for the report!

[2017-04-11 14:09] FridaTveit opened #419 "triangle: fix mistake in test name"
In TriangleTest.java the test `equilateralTriangleHaveEqualSides` should be called `equilateralTrianglesHaveEqualSides`.

[2017-04-11 14:21] FridaTveit opened #420 "nth-prime: simplify example implementation"
In the function `isPrime` in `PrimeCalculator.java` the code:
[code]
can be changed to:
[code]

[2017-04-12 19:04] #366 closed

[2017-04-13 16:04] #416 closed

[2017-04-13 17:08] #377 closed

[2017-04-14 13:38] #411 closed

[2017-04-14 13:43] jtigger commented on #365
@stkent said:

I couldn't agree more on both the notion of (finally) standing-up a policy page (perhaps organized by triggering event) and the way you've articulated _this_ particular one.

[2017-04-14 16:37] stkent commented on #365
Turns out the canonical data removes the validation steps from this exercise! I updated the implementation to match while addressing this issue. I'll make a new issue to kick off policy tracking!

[2017-04-14 16:51] stkent opened #425 "Centralize policies"
As discussed [here](https://github.com/exercism/xjava/issues/365#issuecomment-292668150), create a policy page that collects all track policies. The page should take the form of a checklist that maintainers can use (a) when onboarding, to familiarize themselves with track policies, and (b) as part of periodic or change-driven maintenance (e.g. during PR review). A suggested format is below, but fe

[2017-04-17 02:40] jtigger opened #426 "rna-transcription: make a lot of noise about deleting @Ignores"
I have not encountered at least two solutions that pass the first test case swimmingly, but clearly wouldn't pass the _whole_ suite:

- http://exercism.io/submissions/1794866917ef4e79beeb6cd40c469c81
- http://exercism.io/submissions/757e83f9001e4e6699f45df89346477a

This should be _very_ rare.

I'm taking this as a sign we're not making enough noise about deleting `@Ignore`s.

Please update `rna-t

[2017-04-17 02:59] stkent commented on #426
We could adopt the xcsharp-style [hints in `@Ignore` annotations](http://junit.sourceforge.net/javadoc/org/junit/Ignore.html):

I'm not sure that's enough by itself, but it can't hurt!

[2017-04-17 12:57] #365 closed

[2017-04-17 13:10] FridaTveit commented on #178
I think maybe provide complete starter implementations for the first five exercises? That way the exercises are still relatively easy when people have to start doing it all themselves.

And maybe for the next 10 exercises we provide incomplete starter implementations and comment out the bodies of the tests that cover the other parts like you suggested. But we should include a HINT.md or something

[2017-04-18 17:11] ajayboseac commented on #426
@jtigger what is the use of the` @Ignore  ` tags  ? Why cant we just delete it ?

[2017-04-19 01:19] jtigger commented on #426
Great question @ajayboseac.  The historical discussion / policy is #101.  tl;dr — to make it crystal clear what failing test should be addressed at any given moment.

[2017-04-20 15:42] #420 closed

[2017-04-20 15:54] stkent commented on #230
Having watched a Java learner go through these exercises, I will say that requiring support for but not exercising generics causes confusion. I'd recommend we update the tests where possible.

[2017-04-21 17:31] stkent commented on #426
Thanks to @FridaTveit, we've now added hints to the ignore statements in rna-transcription to prompt users to un-ignore noninitial tests. What else should we, or do we need to, do? My current thoughts are as follows:

- add the same hints to _every_ test suite ignore statement, which I believe is how e.g. xcsharp operates;
- add explicit guidance via the HINTS.md file to the _first_ exercise that

[2017-04-21 17:40] stkent opened #432 "isogram: estimate difficulty and move to appropriate position within track"
By default, new exercises are scored with difficulty 1 and located at the end of the track. We should use this issue to discuss and determine an estimated difficulty for `isogram`, then submit an associated PR that moves it to the appropriate position within the track based on that difficulty.

[2017-04-21 17:41] stkent opened #433 "book-store: estimate difficulty and move to appropriate position within track"
By default, new exercises are scored with difficulty 1 and located at the end of the track. We should use this issue to discuss and determine an estimated difficulty for `book-store`, then submit an associated PR that moves it to the appropriate position within the track based on that difficulty.

[2017-04-23 12:20] FridaTveit commented on #426
I think that sounds like a good plan :)

[2017-04-23 15:04] jtigger commented on #426
Perfect!

[2017-04-23 15:43] rstockbridge commented on #178
@FridaTveit Your suggestions are excellent - seems like the right balance of getting people started but also requiring them to become more independent.

[2017-04-25 16:05] FridaTveit commented on #426
For adding the Ignore hints to every test suite, should we make "good first patch" issues for that or should we just do it?

[2017-04-25 19:57] jtigger commented on #230
... you wouldn't be referring to a professor friend of yours, would you?!!? :)

... and by that do you mean that we should explicitly exercise generics?

[2017-04-25 20:03] stkent commented on #230
🎓 😉

I propose that for exercises whose tests force implementations with support for generic types we:

1. update implementations to exercise those generic types if possible;
2. remove the requirement to support generic types if not

in that order.

[2017-04-25 20:09] jtigger commented on #178
Agreed!

[2017-04-25 20:23] jtigger commented on #426
At the risk of sounding like a pedantic bureaucrat 😁 ... we currently have [11](https://github.com/exercism/xjava/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+patch%22) "good first patch" issues and the policy says keep logging until we get to 20.

_That said,_ this is **_your_** hobby-time... if you'd get a kick out of making sure this bit is completed, I think you should do whatever you'd

[2017-04-26 12:34] jtigger commented on #230
Here are the difficulty rankings of the exercises in question:

- `linked-list` (6)
- `binary-search` (6)
- `simple-linked-list` (7)
- `binary-search-tree` (7)
- `custom-set` (10)

Seems like at least the last three in that list should be massaged into clear requirements for generics (including, perhaps, a short introduction to generics and references).

Two questions:
1. are there other exercises

[2017-04-26 16:35] FridaTveit commented on #432
Maybe estimated difficulty 4?

[2017-04-26 16:38] FridaTveit commented on #426
Okay, sounds good :) Yes, I agree that having many "good first patch" issues is important. That definitely makes it easier to contribute, and I've missed that on other projects I've tried to contibute to :)

[2017-04-26 20:59] stkent commented on #432
I'd concur; example implementation is pretty short and not too involved. Let's throw it on the back end of the 4s for now, to play it safe; then to refine, we can compare with the exercises either side and argue for swapping up/down if needed. (In fact, I think that's the easiest way to grok sorting something as big as the collection of exercises from now on (comparison to direct neighbors, and sw

[2017-04-27 08:30] #432 closed

[2017-04-27 10:57] FridaTveit opened #439 "book-store: add hint to @Ignore annotation"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in BookStoreTest. See issue #426 for discussion.

[2017-04-27 11:00] FridaTveit opened #440 "saddle-points: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in MatrixTest in saddle-points. See issue #426 for discussion.

[2017-04-27 11:05] FridaTveit opened #441 "ocr-numbers: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in OpticalCharacterReaderTest. See issue #426 for discussion.

[2017-04-27 12:43] FridaTveit opened #442 "list-ops: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in ListOpsTest. See issue #426 for discussion.

[2017-04-27 12:46] FridaTveit opened #443 "change: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in ChangeCalculatorTest. See issue #426 for discussion.

[2017-04-27 12:53] FridaTveit opened #444 "perfect-numbers: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in NaturalNumberTest. See issue #426 for discussion.

[2017-04-27 13:29] FridaTveit opened #445 "clock: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in ClockCreationTest, ClockAddTest and ClockEqualTest. See issue #426 for discussion.

[2017-04-27 13:44] FridaTveit opened #446 "custom-set: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in CustomSetTest. See issue #426 for discussion.

[2017-04-27 13:46] FridaTveit opened #447 "pythagorean-triplet: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in PythagoreanTripletTest. See issue #426 for discussion.

[2017-04-27 14:09] FridaTveit opened #448 "Add hint to remaining @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations that aren't covered by the good first patch issues:

- [x] pangram
- [x] gigasecond
- [x] space-age
- [x] acronym
- [x] difference-of-squares
- [x] secret-handshake
- [x] matrix
- [x] triangle
- [x] largest-series-product
- [x] sieve
- [x] twelve-days
- [x] nth-prime
- [x] diamond
- [x] isogram
- [x] flatten-array
- [x] ph

[2017-04-27 16:01] jtigger commented on #426
Thanks for doing this legwork, @FridaTveit!  It's very neighborly! :)

[2017-04-27 16:29] jtigger opened #451 "Mentoring Guides for Exercises in Java"
Dear @exercism/java,

So, I've recently jumped back into mentoring the Java track.  In doing so, I crafted [a discussion guide](https://docs.google.com/document/d/1ov3ng-GrcA0XGYGHIcKIgk0ql0K-eNujdiR49xbLd64/edit#) for my own use.  It got me thinking...

... would it be useful/good idea/advisable/great if we came up with some discussion guides for a set of exercises?  Perhaps if it were only made

[2017-04-28 16:20] jtigger opened #455 "rna-transcription: rename "ofDna" with "transcribe""
Had [a conversation with @chuckwondo](http://exercism.io/submissions/bdb1052cde20421f9396fdebdf412f31) on the Java track about the name of the method in `rna-transcription`; through it, it became clear that `ofDna()` lacks a certain clarity that a verb like `transcribe()` would include more punch.

Any objections to renaming that method?

[2017-04-29 13:55] stkent commented on #451
I think that as a mentoring tool, the guide you have written is great, and a bunch of the content could be common across exercises! Is there any way to embed that content within the discussion page as it currently stands?

Here are my personal thoughts atm:

- Is there harm in making those notes available to everyone who completes the exercise immediately, as a set of prompts to think about? That

[2017-04-29 14:50] stkent commented on #230
- `strain` (5) uses generics but is scheduled for deprecation.
- `list-ops` (not ranked; end of track) uses generics.
- `accumulate` (5) uses generics but is scheduled for deprecation.

A good first step would seem to be to actually deprecate `strain` and `accumulate` right away. Then... I'd say `linked-list` is harder than `minesweeper` and `robot-simulator` (all are 6's), so we could probably st

[2017-04-29 18:26] jtigger commented on #451
Yeah, there are no secrets in there and no need to by coy. :)  ... and at least there would be _some_ prompt(s) to explore further.  That said, it would move away, not towards the kind of experience we'd love to see flourish on Exercism: a lively discussion about crafting code.

I love where you're going with the different modes.  Why couldn't those prompts be something that people could turn on o

[2017-05-01 17:17] FridaTveit commented on #455
Sounds like a good idea :)

[2017-05-03 17:19] morrme commented on #426
I am a new(ish) contributor. Am I limited to just fixing one of the issues?

[2017-05-04 01:22] #419 closed

[2017-05-04 04:06] morrme commented on #444
🙋🏾

[2017-05-04 08:43] #444 closed

[2017-05-04 08:46] #440 closed

[2017-05-04 08:53] FridaTveit commented on #426
No, you can fix as many as you like, just like you have been doing :) Thanks! :)

[2017-05-04 08:59] FridaTveit opened #471 "hamming: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in HammingTest. See issue #426 for discussion.

[2017-05-04 09:01] FridaTveit opened #472 "scrabble-score: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in ScrabbleScoreTest. See issue #426 for discussion.

[2017-05-04 09:03] FridaTveit commented on #472
Sorry, turns out this one doesn't have any `@Ignore` annotations...

[2017-05-04 09:03] #472 closed

[2017-05-04 09:04] FridaTveit opened #473 "sum-of-multiples: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in SumOfMultiplesTest. See issue #426 for discussion.

[2017-05-04 09:05] FridaTveit opened #474 "luhn: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in LuhnValidatorTest. See issue #426 for discussion.

[2017-05-04 09:22] chuckwondo commented on #455
What about also making the method static and updating the test suite to match? It seems odd to me to be forced to create a stateless instance just so that the method can be invoked.

[2017-05-04 09:32] FridaTveit commented on #455
We've made it a policy to prefer instance methods over static methods. See issue #177 for discussion of why :)

[2017-05-04 16:14] morrme commented on #426
@FridaTveit I moved over to the ones that were not marked as "good first patch" so that I would not take too many of them from other new contributors. I see that you are working on that list as well. Would you like to divide it somehow?

[2017-05-04 21:33] Smarticles101 commented on #426
Because these are all similar, would it be appropriate to solve multiple under one pull request?

[2017-05-04 23:31] mraediaz commented on #448
Will be working on `linked-list`.

[2017-05-04 23:56] morrme commented on #474
I will do this one as well.

[2017-05-04 23:57] mraediaz commented on #473
I can do this one

[2017-05-05 00:06] Smarticles101 commented on #471
Yay I did this one :smile:

[2017-05-05 00:09] Smarticles101 commented on #407
I'll do this one

[2017-05-05 00:36] mraediaz commented on #447
I'd be happy to do this one

[2017-05-05 00:52] mraediaz commented on #473
Ignore the last two references!

[2017-05-05 03:21] mraediaz commented on #446
I can do this one

[2017-05-05 03:31] mraediaz commented on #445
I can do this one

[2017-05-05 03:39] mraediaz commented on #443
I can do it

[2017-05-05 03:45] mraediaz commented on #442
I can do this

[2017-05-05 05:23] jtigger commented on #230
Please do!  Least she forget, she's made significant contributions in mere suggestions (e.g. more exercises with starter code); great source of ideas!

[2017-05-05 05:27] jtigger commented on #230
Agreed.

I have yet to do these, so I'll defer (with confidence).

Sounds very well reasoned, @stkent.

@FridaTveit, you good with all this?

[2017-05-05 08:31] FridaTveit commented on #442
Closed by PR #510 :)

[2017-05-05 08:31] #442 closed

[2017-05-05 08:32] FridaTveit commented on #443
Fixed in PR #509 :)

[2017-05-05 08:32] #443 closed

[2017-05-05 08:35] FridaTveit commented on #230
Sounds good :)

[2017-05-05 08:40] FridaTveit commented on #445
Fixed in PR #508 :)

[2017-05-05 08:40] #445 closed

[2017-05-05 08:43] FridaTveit commented on #446
Fixed in PR #507 :)

[2017-05-05 08:43] #446 closed

[2017-05-05 08:54] FridaTveit commented on #447
Fixed in PR #499 :)

[2017-05-05 08:54] #447 closed

[2017-05-05 08:55] #474 closed

[2017-05-05 08:56] FridaTveit commented on #407
Fixed in PR #497 :)

[2017-05-05 08:56] #407 closed

[2017-05-05 08:58] FridaTveit commented on #473
Closed in PR #496 :)

[2017-05-05 08:58] #473 closed

[2017-05-05 09:00] FridaTveit commented on #471
Fixed in PR #495 :)

[2017-05-05 09:00] #471 closed

[2017-05-05 11:37] FridaTveit commented on #426
@morrme That's fine :) I have a few in review but apart from that you can do whichever ones you want :)

[2017-05-05 11:38] FridaTveit commented on #426
Thank you @morrme, @mraediaz and @Smarticles101 for doing so many of these issues! :) 👍

[2017-05-05 14:19] FridaTveit opened #511 "strain: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in StrainTest. See issue #426 for discussion.

[2017-05-05 14:21] FridaTveit opened #512 "simple-linked-list: add hint to @Ignore annotations"
Add a hint with the value "Remove to run test" to the `@Ignore` annotations in SimpleLinkedListTest. See issue #426 for discussion.

[2017-05-05 14:23] FridaTveit commented on #448
All of these are currently done or in review :)

[2017-05-05 14:27] FridaTveit opened #513 "binary-search-tree: use Collections.singletonList"
Replace `Arrays.asList()` with `Collections.singletonList()` the test sortSingleElement in BSTTest.java as the list only contains one element.

[2017-05-06 12:12] FridaTveit commented on #511
Fixed in PR #516 :)

[2017-05-06 12:12] #511 closed

[2017-05-06 12:13] FridaTveit commented on #441
Fixed in PR #515 :)

[2017-05-06 12:13] #441 closed

[2017-05-06 12:14] FridaTveit commented on #439
Fixed in PR #514 :)

[2017-05-06 12:14] #439 closed

[2017-05-07 14:01] #513 closed

[2017-05-07 14:25] rstockbridge opened #519 "all-your-base: some questions"
I just did the all-your-base exercise, and a couple things occurred to me that I'd like clarification on:

1. The test `testFirstBaseIsOne` passes two invalid arguments, but expects an error message for the first one. This forces a certain order of error checking in the implementation. Is that expected/desired? Would the test be clearer if just the first input was invalid?

2. Would it make sense

[2017-05-07 15:28] #512 closed

[2017-05-07 19:09] mraediaz commented on #426
@FridaTveit  My pleasure!

[2017-05-07 19:11] chuckwondo opened #520 "acronym: add test case for all caps within mixed case word"
@weibeld [pointed out to me](http://exercism.io/submissions/39efa19c768a44fbbf671833581c975b) that although my acronym solution passes all current test cases, it will not work for the word/phrase `SuperHTMLParser`. The correct acronym is `SHP`, not `SH` as given by my earlier solution.

I suggest we add `SuperHTMLParser` to the test suite, with the expected acronym value of `SHP`.

[2017-05-08 09:25] FridaTveit commented on #519
Thanks for your suggestions! :)

1. I agree that enforcing a certain order of error checking is unnecessary. This is a problem in the [canonical data](https://github.com/exercism/x-common/blob/master/exercises/all-your-base/canonical-data.json) as well, I don't know if it's worth changing it there or whether we should just change it for this track?

2. The example implementation uses arrays all th

[2017-05-08 12:09] jtigger commented on #319
@exercism/java:
There is lots of activity on the track -- which is grand!  The aim of this discussion is to think through and establish some rough consensus around what our goals are.

Thoughts?  Questions?

[2017-05-09 15:43] jtigger commented on #373
So... @exercism/java: which will we go with?

1. explain it
  - when would we introduce it? on the first exercise?  a little farther down?
1. drop it

[2017-05-09 15:46] jtigger commented on #372
@stkent : any thoughts on this?  With no objection, I'll convert this into an actual issue.

[2017-05-09 15:51] stkent commented on #373
I vote for drop.

[2017-05-09 15:52] stkent commented on #372
I concur with everything else written here - +1 making an issue for the changes.

[2017-05-09 15:52] #425 closed

[2017-05-09 15:59] jtigger commented on #455
To be clear, @chuckwondo, the things that we're finding that "need" a policy are exactly those stylistic grey areas.  As I think clear in the policy issue itself, there's good reasons for either approach.

There's definitely "inertia" behind the instance-based approach, but there's always room for discussion.  Always.

[2017-05-09 16:06] jtigger commented on #326
This relates to #410.  Gonna note this point in that issue and consider this question closed: yes we want fast-failing builds!

[2017-05-09 16:17] jtigger commented on #410
As a part of this please include the concerns surfaced in #326.

[2017-05-09 16:17] #326 closed

[2017-05-09 16:51] FridaTveit commented on #373
I vote for drop too

[2017-05-10 00:12] Smarticles101 opened #523 "Add exercise topics to config"
I noticed today that none of the exercises in the config have any topics listed.  Not an urgent issue, but it might be good to add some.

~~Should make for a super easy fix because the [xcsharp](https://github.com/exercism/xcsharp/blob/master/config.json) track already has valid topics listed in their config.  IMO this would be a good `good first patch` issue.~~

Upon further reflection, I have re

[2017-05-10 01:18] chuckwondo commented on #455
Thanks @jtigger. I'm glad to see that there are documented policies, and I'm glad there's room for discussion.

For this particular policy, I'm not sure I agree with always using instance methods instead of static methods is the most effective stance. There are good reasons for using one or the other in various scenarios.

At the very least, if you want to stick with instance methods, then I sugge

[2017-05-10 14:58] jtigger commented on #523
Yes, @Smarticles101... will love to incorporate topics.  Yeah, and I agree that each language may trigger different topics depending on their features (that said, C# and Java are _very_ similar in feature set).  Also, I've noticed that all that can _really_ be said about an **exercise** is what kind of problem it is.  It's the **solutions** that invoke different language features — how people choo

[2017-05-10 15:00] jtigger commented on #520
Solid catch!  @chuckwondo would you mind posting this to the x-common repo?  All exercises have a common set of test metadata (i.e. JSON of the test cases).  You'll also get all the eyeballs of folks on the many other tracks too.

[2017-05-10 16:05] FridaTveit commented on #455
I'm not sure always using instance methods is instilling poor coding practices. Having static methods can make it harder to write tests. I used to always make things static if I could, and I've had to unlearn that as it's caused me problems when trying to test things. So like @jtigger said, I think there are good reasons for either approach :)

I'm also not sure we should be passing arguments to t

[2017-05-10 23:50] stkent commented on #319
When I look back at the goals I posited, it would seem that we're making good progress towards them; the only one we haven't worked on as much is exercise standardization and comparison to the current canonical data! I'm also wary of batch-creating issues for all that work though, since they are highly likely to become stale.

[2017-05-11 09:28] chuckwondo commented on #520
See https://github.com/exercism/x-common/issues/787.

[2017-05-11 12:49] chuckwondo commented on #455
I agree that there are good reasons for each approach, which is why I'm saying that enforcing the same approach across all problems is a questionable policy. Such a policy is then specifically excluding the other approach even for cases where the excluded approach would arguably be the better approach.

Regarding having to construct a new object when the constructor takes an argument rather than h

[2017-05-11 14:10] FridaTveit commented on #455
I don't mean that it'll make it more difficult to test here, I mean in general when making something more complicated. As far as I'm aware part of our reasoning behind making all methods instance methods is to encourage good practices, not because the methods necessaily need to be for these simple exercises. For example, like I said I've had to unlearn making everything static. That was because wh

[2017-05-12 08:53] weibeld opened #524 "scrabble-score: add additional test case with non-word chars"
I propose to add the following test case to the [tests](https://github.com/exercism/xjava/blob/master/exercises/scrabble-score/src/test/java/ScrabbleScoreTest.java) of `scrabble-score`:

[code]

This case contains printable non-word characters and whitespace within the string.

There is currently another test case with non-word characters:

[code]
However, this case consists of only whitespace cha

[2017-05-12 09:32] chuckwondo commented on #524
Further, I suggest that test cases that include non-word chars expect an `IllegalArgumentException`, not that they expect the non-word chars to be ignored/skipped.

Of course, the extra credit problems for letter- and word-multiplier squares might make that problematic, but there is no indication of how such multiplier squares might be represented as part of the input.

[2017-05-12 12:10] jtigger commented on #319
Agreed.  I wonder if you've identified another kind of issue we want the probot to ignore.

But what to call that label... ?

Some adjustments might actually be "good first patch" if they are simple enough.

If one is more involved, perhaps we've identified another sort of backlog.  A kind of "intermediate" that once you've done a "good first" or three, we'd encourage you to look at _this_ list fo

[2017-05-12 23:04] Smarticles101 commented on #410
Is there some way of only running tests on the modified exercise(s)?  This would significantly improve the build time as usually only simple things are changed.

[2017-05-13 14:49] #229 closed

[2017-05-13 14:49] #321 closed

[2017-05-13 14:49] #297 closed

[2017-05-13 16:45] rstockbridge opened #527 "sublist: remove unnecessary Comparable interface"
I just solved sublist, where the generic type is constrained to being Comparable. However, that does seem necessary since the exercise only relies on equality checks, not more general comparisons. Should we remove this constraint from the test suite?

[2017-05-13 16:47] rstockbridge opened #528 "sublist: more general tests needed?"
[My solution to this exercise](http://exercism.io/submissions/21ba0a18f4b04698b0177e9ba89cc69f) could fail for deliberately constructed types not currently represented by the test suite (see link for more details). Would it be possible/desirable to write an xjava specific test case to force implementers to address this?

[2017-05-14 14:51] stkent commented on #410
[Currently](https://travis-ci.org/exercism/xjava/builds/232104547) the build is executing using Gradle 2.2.1. We should investigate upgrading to 3.5 (or whatever the latest stable version is).

[2017-05-14 19:34] stkent opened #533 "hello-world: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:34] stkent opened #534 "hello-world: create and/or validate starter implementations"

[2017-05-14 19:38] #534 closed

[2017-05-14 19:38] stkent commented on #534
Duplicate.

[2017-05-14 19:39] stkent opened #535 "rna-transcription: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:39] stkent opened #536 "pangram: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:39] stkent opened #537 "hamming: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:39] stkent opened #538 "gigasecond: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:40] stkent opened #539 "space-age: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:40] stkent opened #540 "acronym: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:40] stkent opened #541 "scrabble-score: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:40] stkent opened #542 "raindrops: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:41] stkent opened #543 "difference-of-squares: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the first ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:43] stkent opened #544 "secret-handshake: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:43] stkent opened #545 "sum-of-multiples: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:44] stkent opened #546 "luhn: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:44] stkent opened #547 "matrix: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:44] stkent opened #548 "triangle: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:44] stkent opened #549 "largest-series-product: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:45] stkent opened #550 "sieve: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:45] stkent opened #551 "twelve-days: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:45] stkent opened #552 "nth-prime: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:46] stkent opened #553 "diamond: create and/or validate starter implementations"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

This exercise is currently one of the second ten exercises in the track. Please review the exercise files and create and/or update the starter implementation according to the guidelines provided in the link above.

[2017-05-14 19:46] stkent opened #554 "Remove starter implementations for exercises with positions 21 or greater"
Ref.: https://github.com/exercism/xjava/blob/master/POLICIES.md#starter-implementations

[2017-05-14 19:48] stkent opened #555 "Probot: helping or hurting?"
After observing probot run for a few weeks, I'm tempted to suggest that we might want to explicitly mark internal issues (i.e. issues generated and entered by track maintainers) as exempt from becoming stale. Unlike support requests, which can hang around open if the original reporter never returns, these internal issues are meant to form a backlog of work to be tackled when availability allows. T

[2017-05-14 20:39] stkent commented on #448
@FridaTveit awesome work! I think this issue can be closed now?

[2017-05-14 23:42] rstockbridge commented on #230
I did `simple-linked-list` today, and I found the test suite's handling of generics extremely confusing. Specifically:
- Unlike `linked-list`, the class is not explicitly specified as generic in the test suite. My IDE did not make the class generic when auto-creating the class. I only realized generics were necessary when I looked closely at the tests `canReturnListAsArray()` (which expects an Int

[2017-05-14 23:53] rstockbridge opened #567 "simple-linked-list: replace deprecated assertEquals() and fix input parameter error"
Replace `assertEquals()` with `assertArrayEquals()` in the tests `canReturnListAsArray()` and `canReturnEmptyListAsEmptyArray()`.

Also swap input parameters to correctly represent the input and expected arrays, which are currently backwards.

[2017-05-14 23:59] rstockbridge opened #568 "simple-linked-list: unnecessary generic method"
I believe that the example solution unnecessarily uses a generic method when entire class is generic. Specifically it seems to me that `private <T> T[] newArray(Class<T> clazz, int size)` can be replaced by `private T[] newArray(Class<T> clazz, int size)`.

[2017-05-15 08:31] FridaTveit commented on #322
This still hasn't been estimated, so the issue should probably stay open.

[2017-05-15 08:31] FridaTveit commented on #324
This still hasn't been estimated, so the issue should probably stay open.

[2017-05-15 08:31] FridaTveit commented on #341
This still hasn't been estimated, so the issue should probably stay open.

[2017-05-15 08:32] FridaTveit commented on #555
I agree, that sounds like a good plan :)

[2017-05-15 09:29] #533 closed

[2017-05-15 09:30] #535 closed

[2017-05-15 09:32] #536 closed

[2017-05-15 09:55] #540 closed

[2017-05-15 09:56] #543 closed

[2017-05-15 09:59] #542 closed

[2017-05-15 10:00] #539 closed

[2017-05-15 10:05] FridaTveit commented on #448
Looks like it :)

[2017-05-15 10:05] #448 closed

[2017-05-15 10:06] FridaTveit opened #569 "run-length-encoding: estimate difficulty and move to appropriate position within track"
By default, new exercises are scored with difficulty 1 and located at the end of the track. We should use this issue to discuss and determine an estimated difficulty for `run-length-encoding`, then submit an associated PR that moves it to the appropriate position within the track based on that difficulty.

[2017-05-15 14:38] FridaTveit commented on #567
Thank you for spotting this @rstockbridge! :)

[2017-05-16 01:11] #567 closed

[2017-05-16 01:21] stkent opened #571 "Remove final keyword from all test class declarations"
Discussion and consensus: https://github.com/exercism/xjava/issues/373

Marking our test classes as `final` is (1) more syntax for a learner to parse, and (2) not increasing the clarity of the writer's intent given the context of an individual problem's codebase. We should remove it from all test class declarations.

[2017-05-16 01:22] stkent commented on #373
Opened an actionable issue based on this discussion; closing!

[2017-05-16 01:22] #373 closed

[2017-05-16 01:46] morrme commented on #555
i'm not a team member but perhaps a new tag can be created for that purpose so that the probot ignore file can be configured to ignore  it?

[2017-05-16 01:49] morrme commented on #568
@rstockbridge will  you be submitting a PR to fix this? cc: @stkent

[2017-05-16 01:54] rstockbridge commented on #568
I'm a Java learner - am I correct about this? Feel free to make the PR
yourself if you want, otherwise I can do it.

On May 15, 2017 9:49 PM, "morrme" <notifications@github.com> wrote:

@rstockbridge <https://github.com/rstockbridge> will you be submitting a PR
to fix this? cc: @stkent <https://github.com/stkent>

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2017-05-16 01:56] morrme commented on #571
Totally abusing this issue to ask: I understand that there is a goal to have a significant number of `good first patch` issues. However, I'm always looking to pitch in and there are very few issues *not* reserved for first timers.  Are these tracks generally supposed to be seen as a "first stop" towards OSS contribution, and not really made for "repeat" contributors ?

[2017-05-16 01:56] stkent commented on #555
Yeah, I'd thought about that too, but I think we'd end up with 95% of issues tagged with it, so if possible I'd prefer to flip it around and only have certain tags be eligible for becoming stale. Need to investigate more. Thanks for the suggestion!

[2017-05-16 01:57] morrme commented on #568
@stkent  is a team member. It looks correct to me but I don't have a say.  I'd like to encourage you to try to make the change yourself, if you're up for it. I am happy to provide support, and there are several others here who are as well!

[2017-05-16 02:11] stkent commented on #568
Disclaimer: @rstockbridge and I know each other in real life, so we've often pre-discussed issues :)

In this case, I'm not 100% sure without going and re-reading some of the details of generics what the right action would be here. There's no need to think of track maintainers as different from any other contributors when it comes to language semantics - we're all fallible and we're all still lear

[2017-05-16 02:14] stkent commented on #571
No, you are absolutely welcome and actively encourage to tackle any other issues you feel comfortable with! The good first patch backlog is maintained to allow newcomers to ease into open source contribution, but once you've got some of those under your belt, moving on to more complex tasks is a natural step. There are always [new exercises to build](http://exercism.io/languages/java/todo) (just m

[2017-05-16 02:16] stkent commented on #571
@morrme also, just as a heads up, here are the guidelines we try to stick to with respect to good first patches: https://github.com/exercism/xjava/blob/master/POLICIES.md#good-first-patches. As you'll see, they aren't always off-limits to experienced contributors - right now we're running a surplus, I believe!

[2017-05-16 02:16] stkent commented on #571
Whoops, accidental closure, fixed!

[2017-05-16 10:15] #537 closed

[2017-05-16 16:45] FridaTveit commented on #571
What about new starter implementations? I think some of those classes are also marked as final. Should we remove the final keyword from those as well?

[2017-05-16 17:18] FridaTveit commented on #571
The test classes which are marked as `final`:
- [ ] WordProblemSolverTest
- [ ] BracketCheckerTest
- [ ] BaseConverterTest
- [ ] FlattenerTest
- [ ] OpticalCharacterReaderTest
- [ ] HandshakeCalculatorTest
- [ ] RobotTest
- [ ] RectangleCounterTest
- [ ] QueenAttackCalculatorTest
- [ ] NaturalNumberTest
- [ ] MinesweeperBoardTest
- [ ] LargestSeriesProductCalculatorTest
- [ ] DifferenceOfSquaresTe

[2017-05-16 17:21] morrme commented on #571
Since I've polluted this issue anyway 😄 I am happy to help. @FridaTveit are you going to tackle some as well?

[2017-05-16 18:20] stkent commented on #571
I'm torn. If we take the argument made for the test cases to its logical conclusion, then we should

1. remove `final` from all starter (and example) implementations;
2. remove `public` from all starter (and example) implementations.

If `final` is unnecessary complexity, then so too is `public`, I would think. 🤔

[2017-05-16 18:21] stkent commented on #350
hello-world now [also uses this exception](https://github.com/exercism/xjava/blob/master/exercises/hello-world/src/main/java/HelloWorld.java#L3), so we should probably retarget that instead? cc @FridaTveit for thoughts!

[2017-05-17 07:13] morrme commented on #571
I have started these but I'd like a review to make sure they're ok... @stkent @FridaTveit

[2017-05-17 12:28] stkent commented on #571
@morrme I think the actual test suites need the `public` keyword still. I see CI failures with the following messages on your PRs:

[code]

Removing the `public` keyword was something I was musing on in the context of starter and example implementations (i.e. the code under the `main` and `example` directories); I think for test code (under the `test` directory) we only want to/are able to remove

[2017-05-17 13:23] morrme commented on #571
stkent done.

[2017-05-18 13:32] FridaTveit commented on #571
@stkent I don't think we necessarily have to remove `public`. I think people are more used to seeing it and know what it means. But I wouldn't object if we decided to remove it :)

And go ahead and do as many as you want @morrme, I didn't have any specific plans :)

[2017-05-18 13:33] FridaTveit commented on #350
Sorry, I didn't notice! That sounds like a good plan, I'll change my PR :)

[2017-05-18 14:19] morrme commented on #571
@FridaTveit  i don't mind doing them all. is there any way to modify the checkboxes above when i've submitted a PR ? i have done the first 3  so far--wanted to make sure i was doing it right.

[2017-05-18 15:59] FridaTveit commented on #571
@morrme You can edit my comment (by clicking on the pencil icon) and put an "x" between the square brackets that make up the checkbox :) Does that make sense? I've checked the first three now :)

[2017-05-18 17:21] stkent commented on #571
@stkent I don't think we necessarily have to remove `public`. I think people are more used to seeing it and know what it means. But I wouldn't object if we decided to remove it :)

Yeah, if we're targeting folks who are new to Java, which was the audience  in #373, `public` is not necessarily any more familiar than `final`, though it's meaning is probably a lot easy to guess at. But it's also unne

[2017-05-18 19:15] morrme commented on #571
@FridaTveit It does but I don't have the ability/permission level that would allow me to edit your comment. Thanks for doing the first few for me! I'll be sending over a few more today.

[2017-05-19 08:26] #538 closed

[2017-05-19 08:32] FridaTveit commented on #571
Oh, okay. I'll try to keep the list up to date! :)

[2017-05-19 10:44] FridaTveit commented on #571
@stkent, I think this sounds like a great idea! :)

[2017-05-19 13:42] morrme commented on #571
Any thoughts on this line : https://github.com/exercism/xjava/blob/master/exercises/robot-name/src/test/java/RobotTest.java#L12

It uses `final` to define the string.

[2017-05-19 15:13] FridaTveit commented on #571
I vote for definitely keeping `final` in that context. That uses `final` to define a constant which I would argue is the easiest use of `final` to understand. It's also useful even in the limited context of these exercises, as the code is more readable when you can easily see which values are constant.

[2017-05-19 15:29] FridaTveit opened #584 "kindergarten-garden: estimate difficulty and move to appropriate position within track"
By default, new exercises are scored with difficulty 1 and located at the end of the track. We should use this issue to discuss and determine an estimated difficulty for `kindergarten-garden`, then submit an associated PR that moves it to the appropriate position within the track based on that difficulty.

[2017-05-20 14:15] FridaTveit commented on #323
This shouldn't be closed as we haven't estimated it yet.

[2017-05-20 14:29] FridaTveit commented on #568
I've looked at this and I agree with @rstockbridge. I'm happy to make a PR for it unless you want to @rstockbridge? :)

[2017-05-20 17:06] rstockbridge commented on #568
Go ahead! :)

On Sat, May 20, 2017 at 10:29 AM, FridaTveit <notifications@github.com>
wrote:

[2017-05-20 18:51] #350 closed

[2017-05-21 09:09] stkent commented on #455
Was this closed in https://github.com/exercism/xjava/pull/521?

[2017-05-21 12:13] stkent commented on #519
1. I think it's worth raising the question in x-common, for sure :)

2. Agreed, the appropriateness of the public API should take precedence over the internal implementation details; implementors can choose `List` types for all internal representation if they prefer.

[2017-05-21 12:15] stkent commented on #519
Ah, on a closer look, the _data_ is the same in x-common, but x-common doesn't say anything about what the exception language should be, so we have some track leeway there too.

[2017-05-21 12:29] stkent commented on #230
So these exercises should be reviewed/cleaned up, it seems.

- [ ] linked-list
- [ ] binary-search
- [ ] simple-linked-list
- [ ] binary-search-tree
- [ ] custom-set
- [ ] list-ops

I'm starting out with linked-list now.

[2017-05-21 21:46] stkent commented on #571
@morrme thanks for the latest round of removals! 😍

[2017-05-21 21:47] stkent commented on #555
I looked into this and there does not appear to be a way to configure probot to opt-in to specific labels :/

[2017-05-21 21:50] stkent commented on #555
This issue tracks the feature I'm imagining: https://github.com/probot/stale/issues/22

[2017-05-22 10:37] FridaTveit commented on #455
The original problem this issue was discussing was closed in #521. The discussion about whether we should be using static methods or not wasn't but maybe we should keep discussing that in a different issue? Or are you happy with things as they are @chuckwondo?

[2017-05-22 10:44] #544 closed

[2017-05-22 10:45] #545 closed

[2017-05-22 10:46] #546 closed

[2017-05-22 10:47] #548 closed

[2017-05-23 10:36] stkent commented on #410
See https://github.com/exercism/xjava/pull/599

[2017-05-23 10:47] stkent commented on #410
See https://github.com/exercism/xjava/pull/600 for partial parallelization of the build (unit tests).

[2017-05-23 14:47] jtigger commented on #319
The originating question of this issue was answered.  #555 is covering the question around configuring probot.

[2017-05-23 14:47] #319 closed

[2017-05-23 14:49] jtigger commented on #348
The original request of this issue was addressed with @superklamer's work (thanks again!).  Closing.

[2017-05-23 14:49] #348 closed

[2017-05-23 14:54] jtigger opened #602 "binary-search: "Moisten" test suite for a better UX"
Justin Searls has categorized a number of "test smells" to help detect code quality issues in tests.  One such smell is [Chafing](https://github.com/testdouble/test-smells/tree/master/smells/unclear/chafing).  In short: tests should tolerate a little more duplication in favor of ease-of-comprehension — there are no tests to test the tests, so keep it simple.

In `binary-search`, [the tests](https:

[2017-05-23 14:55] jtigger commented on #372
Captured: #602.

[2017-05-23 14:55] #372 closed

[2017-05-24 15:02] morrme commented on #571
I put the ChangeCalculatorTest modification in the wrong place, so I have to wait on the others to resolve before fixing that one.

[2017-05-25 20:32] #602 closed

[2017-05-25 20:36] stkent opened #605 "Do we need to explain what a "sut" is?"
In a recent pull request I noticed that some tests (e.g. `binary-search`) use the term [`sut`](https://en.wikipedia.org/wiki/System_under_test). I'm familiar with this, and it seems disciple-wide rather than Java-specific, but I didn't know if new practitioners may still potentially find it confusing. There are a few actions we could take here;

- do nothing; assume it's clear as-is, when used;
-

[2017-05-25 21:12] stkent commented on #555
While that probot feature is under construction, I propose that we temporarily disable it (by removing the `stale.yml` file. 👍/👎 @exercism/java?

[2017-05-26 09:45] #571 closed

[2017-05-27 18:42] stkent opened #607 "Sync Java and Kotlin journey tests"
Per this comment in the Kotlin journey test file:

one track, please create a companion PR to merge it in to the other.  Thank you!

The two tracks have separately {implemented but not propagated} several improvements. Please re-sync the two journey test files, combining improvements from both tracks.

[Java](https://github.com/exercism/xjava/blob/master/bin/journey-test.sh)
[Kotlin](https://githu

[2017-05-28 16:35] #568 closed

[2017-05-28 16:37] #555 closed

[2017-05-28 16:38] stkent opened #610 "Add probot config to close out stale support issues"
See #555 for discussion.

Once probot/stale#22 is resolved, add a probot configuration file in the java repo that sweeps for issues marked with the https://github.com/exercism/xjava/labels/support label _only_.

[2017-05-28 16:53] stkent commented on #528
I thought about this some more, and my conclusion was that it is _not_ desirable to write a test to cover this case. The additional complexity introduced in the starter source would likely confuse, rather than enlighten, implementers. I'd also consider any `toString` implementation that didn't differentiate between differently-valued instances to itself be broken. Interesting edge case, though!

[2017-05-28 16:53] #528 closed

[2017-05-28 16:53] stkent commented on #527
You are correct, it's not necessary since we only need to check equality in this exercise!

[2017-05-28 16:56] stkent commented on #220
I'm going to close this issue now we have a centralized policies document. That document links back to this issue if we ever need to pull it back up for reevaluation!

[2017-05-28 16:56] #220 closed

[2017-05-28 16:56] stkent commented on #178
I'm going to close this issue now we have a centralized policies document. That document links back to this issue if we ever need to pull it back up for reevaluation!

[2017-05-28 16:56] #178 closed

[2017-05-28 17:15] stkent commented on #349
Pointer: https://github.com/exercism/exercism.io/blob/6271d86e8c7486eb35074587c8bdba95425c0e38/app/views/languages/_contribute.erb

[2017-05-29 13:31] #527 closed

[2017-06-03 16:09] FridaTveit commented on #455
I'll close this as we've implemented the changes in the original question. Feel free to open a new issue about static methods if you want @chuckwondo :)

[2017-06-03 16:09] #455 closed

[2017-06-03 16:25] FridaTveit commented on #324
@stkent you'd probably know best since you implemented it. But maybe 8 or 9? :)

[2017-06-03 16:31] FridaTveit commented on #341
@stkent You'd probably know best since you implemented it, but maybe 8 or 9?

[2017-06-03 16:38] FridaTveit commented on #584
@exercism/java maybe 4?

[2017-06-03 16:41] FridaTveit commented on #569
@exercism/java maybe 5?

[2017-06-03 16:46] FridaTveit commented on #433
@exercism/java maybe 8?

[2017-06-03 16:52] FridaTveit opened #621 "series: rename `sut` variable"
`SeriesTest.java` uses the term [sut](https://en.wikipedia.org/wiki/System_under_test) for some of its variables. Not everyone will be familiar with this term, therefore please rename the variable to a sensible name that describes what it is.

[2017-06-03 16:52] FridaTveit opened #622 "binary-search-tree: rename `sut` variable"
`BSTTest.java` uses the term [sut](https://en.wikipedia.org/wiki/System_under_test) for some of its variables. Not everyone will be familiar with this term, therefore please rename the variable to a sensible name that describes what it is.

[2017-06-03 16:53] FridaTveit opened #623 "binary-search: rename `sut` variable"
`BinarySearchTest.java` uses the term [sut](https://en.wikipedia.org/wiki/System_under_test) for some of its variables. Not everyone will be familiar with this term, therefore please rename the variable to a sensible name that describes what it is.

[2017-06-03 16:54] FridaTveit opened #624 "pythagorean-triplet: rename `sut` variable"
`PythagoreanTripletTest.java` uses the term [sut](https://en.wikipedia.org/wiki/System_under_test) for some of its variables. Not everyone will be familiar with this term, therefore please rename the variable to a sensible name that describes what it is.

[2017-06-03 16:56] FridaTveit commented on #605
This should now be captured in issues #621, #622, #623 and #624 :)

[2017-06-03 16:56] #605 closed

[2017-06-03 17:30] FridaTveit commented on #519
From looking at the test data in x-common, it looks like no matter what we change the input digits to be in `testFirstBaseIsOne` it will conflict with some other test. If the input digits are empty, the result could be `null` because of that. If the input digits aren't empty then the output could be `null` because the input digits aren't stricly less than the base, or they're all 0. So it doesn't

[2017-06-03 17:43] stkent commented on #324
`change` is algorithmically complex; the 'obvious' implementation (find the largest coin smaller than your total; subtract multiples of that coin until your remaining total is less than the coin value; repeat with next coin) doesn't always work. The basic premise remains recursion though. I'd say 8-9 works here; I'll add a PR with a suggested position :)

[2017-06-03 17:49] stkent commented on #433
👍 again, algorithmically non-trivial.

[2017-06-03 17:50] stkent commented on #605
Awesome, thanks!

[2017-06-04 20:33] stkent commented on #323
Closed by #619!

[2017-06-04 20:33] #323 closed

[2017-06-05 08:44] #324 closed

[2017-06-05 10:30] #433 closed

[2017-06-05 12:57] stkent commented on #322
Closed by #620.

[2017-06-05 12:57] #322 closed

[2017-06-07 11:13] FridaTveit opened #629 "isogram: test fails on Windows laptop"
`testWorksWithGermanLetters` fails on my Windows laptop when run against the example implementation.

[2017-06-07 18:20] #341 closed

[2017-06-10 01:59] stkent commented on #629
Closed by #630.

[2017-06-10 01:59] #629 closed

[2017-06-11 22:53] stkent commented on #607
Heads up @exercism/java @exercism/kotlin working on this issue shortly.

[2017-06-11 22:54] stkent commented on #607
[Current diff between those files](https://www.diffchecker.com/Gz0doxsV).

[2017-06-12 16:51] stkent commented on #607
Closed by #635.

[2017-06-12 16:51] #607 closed

[2017-06-12 16:53] stkent commented on #410
Things I think we could still investigate here:

- parallelizing journey test execution
- running unit tests and journey tests in parallel on separate builds nodes ([reference](https://docs.travis-ci.com/user/speeding-up-the-build/), I think this is available to Travis OSS repos?)

[2017-06-12 17:16] stkent commented on #520
The upstream issue created by @chuckwondo led to an interesting discussion that was [eventually resolved](https://github.com/exercism/x-common/pull/788) by removing the only existing test case for a phrase that included a PascalCased word (`HyperText Markup Language`). I believe that the example phrase in this xjava issue (`SuperHTMLParser`) can now be considered out of scope for this exercise, an

[2017-06-12 17:16] #520 closed

[2017-06-12 17:36] stkent commented on #524
I just opened a PR to update the xjava implementation of this problem to match the [current canonical test data (v1.0.0)](https://github.com/exercism/x-common/blob/11ed5039054a84b58bc7ccdda250d8a0121ccbed/exercises/scrabble-score/canonical-data.json). These test cases no longer include non-alphabetical characters, so I'm going to close this xjava issue.

If either of you feel strongly that non-alp

[2017-06-12 17:36] #524 closed

[2017-06-12 17:48] stkent commented on #61
I have a feeling that the specification of this exercise disallows convincing tests. There's no canonical test data. If anyone is interested in picking this up in the future I'd recommend starting by reviewing the tests in other tracks to see if this conundrum has already been worked around someplace else.

[2017-06-12 21:31] #621 closed

[2017-06-12 21:31] stkent commented on #622
Closed by #638

[2017-06-12 21:32] #622 closed

[2017-06-12 21:32] stkent commented on #623
Closed by #638

[2017-06-12 21:32] #623 closed

[2017-06-12 21:32] stkent commented on #624
Closed by #638

[2017-06-12 21:32] #624 closed

[2017-06-12 21:37] stkent commented on #519
:+1: for generalizing the error language so that it is the same in both cases. I'll create an actionable issue.

[2017-06-12 21:44] stkent commented on #519
u-turn alert! I went to write that new issue, and I tried to imagine myself using an existing API that throws exceptions, and figure out whether or not I'd be surprised if multiple invalid inputs results in only the first exception being raised, and I think... I wouldn't be surprised. I'm looking for some references here to see what else is out there.

[2017-06-12 22:07] stkent commented on #519
Ok, I think the best solution here is to leave everything as-is. Here are some of my random thoughts:

- If we use a special error message for this particular case, we're increasing the complexity of the required solution for little gain;
- Validating the first input first makes sense; maybe we should change the test order (here and in x-common) so that users pass the first input validation test b

[2017-06-12 22:11] stkent commented on #519
Data point: xcsharp bakes in implicit ordering:

https://github.com/exercism/xcsharp/blob/master/exercises/all-your-base/Example.cs#L9-L11

but doesn't validate the thrown exception message.

[2017-06-12 22:13] stkent commented on #519
Oh, look at that!

https://github.com/exercism/xcsharp/commit/f8fb9cd73e476aacf8690f1afd58c6026b139d43

[2017-06-12 22:21] stkent commented on #519
Ok, pausing this until we hear back from the xcsharp crew ⛵️

[2017-06-12 23:21] rstockbridge commented on #519
Thanks for digging into this @stkent!

[2017-06-14 08:51] FridaTveit opened #640 "Should we remove final from starter implementations?"
We recently removed `final` from test classes so that it wouldn't be confusing to people less familliar with Java. I think this is just as important in the starter implementations, possibly even more important because people have to actually modify the starter implementations and therefore definitely need to understand them.

It also came up that we could remove `public` from these classes as well

[2017-06-14 14:09] stkent commented on #640
I'm a +1 to this; using `final` in starter implementations potentially impacts implementation.

[2017-06-14 17:04] FridaTveit opened #642 "Remove final from starter implementations"
We have decided to remove the `final` keyword from class declarations in starter implementations as it could be confusing to people not familiar with Java. See issue #640 and issue #571 for discussion.

The exercises with `final` in the starter implementation are:
- [ ] acronym
- [ ] all-your-base
- [ ] bracket-push
- [ ] change
- [ ] diamond
- [ ] flatten-array
- [ ] luhn
- [ ] minesweeper
- [ ]

[2017-06-14 17:06] FridaTveit commented on #426
@exercism/java do you think we've done everything we need for this now?

[2017-06-14 17:11] Smarticles101 commented on #426
I have an idea. This should probably be discussed somewhere else, but what if the user was somehow warned about this by the cli? I think it would be harder to miss that way.

[2017-06-14 18:01] stkent commented on #426
I think we're good to close out this issue.

@Smarticles101 Regarding CLI warnings; since the CLI is shared across tracks, I think it would be difficult to build in a warning mechanism that accommodates all the different test suites... if you think it's worth pursuing, I'd ask in https://github.com/exercism/cli to gauge feasibility!

[2017-06-14 18:01] #426 closed

[2017-06-14 23:11] stkent commented on #640
Let's capture this as a policy; @FridaTveit would you be able to add a new policy based on this decision in the POLICIES doc? Once that's done I think we can close this out :)

[2017-06-14 23:12] stkent commented on #177
We should add this to the POLICIES doc and then close out this issue.

[2017-06-15 08:49] FridaTveit commented on #640
Sure, will do! :)

[2017-06-15 12:06] stkent commented on #569
Closed by #645!

[2017-06-15 12:06] #569 closed

[2017-06-15 12:06] stkent commented on #584
Closed by #641!

[2017-06-15 12:06] #584 closed

[2017-06-15 14:02] FridaTveit commented on #177
There is already a section about this in the POLICIES doc. So we can proabaly close this issue unless you think that section should be expanded @stkent?

[2017-06-15 22:54] stkent commented on #177
Good spot, I missed that! I think this is safe to close now, and it can be found via the reference in the POLICIES doc.

[2017-06-15 22:54] #177 closed

[2017-06-16 10:53] FridaTveit commented on #395
Closing this issue as it has been included in the POLICIES doc :)

[2017-06-16 10:53] #395 closed

[2017-06-16 15:16] #640 closed

[2017-06-16 15:23] FridaTveit opened #647 "custom-set: fix warnings for empty set"
In `CustomSetTests` the tests using an empty set initialise it using:
[code]
This generates warnings about an unchecked call since the type of the set isn't specified. Therefore change it to:
[code]
Using [`Collections.emptyList()`](https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#emptyList--) instead of [`Collections.EMPTY_LIST`](https://docs.oracle.com/javase/8/docs/api/java/

[2017-06-16 15:28] FridaTveit opened #648 "custom-set: fix spelling mistake in test name"
In `CustomSetTest` the test `emptySetIsASubsetOfNonEemptySet` should be `emptySetIsASubsetOfNonEmptySet`.

[2017-06-16 15:36] FridaTveit opened #649 "custom-set: use Collections.singletonList"
In `CustomSetTest` lists are being constructed using [`Arrays.asList`](https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html#asList-T...-). However, when there's only one element in the list [`Collections.singletonList`](https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#singletonList-T-) should be used instead.

[2017-06-16 16:07] stkent commented on #519
Ok, test cases are reordered in x-common which means this issue should be handled much better after we update to v1.1.0 of the canonical tests. Let's make that a precondition for closing this issue.

[2017-06-16 16:11] stkent commented on #230
Taking `list-ops` next.

[2017-06-17 19:54] vivshaw commented on #642
Should final be removed from just the starter class in `main`, or also removed from the example implementation in `example`?

[2017-06-17 22:57] stkent commented on #642
Removing from the starter class only is perfect! Thanks for taking this on :)

The example implementations are for track maintenance purposes only, so the authors of these solutions are free to write code as they normally would :)

[2017-06-17 23:00] stkent commented on #642
Closed by #650 💪

[2017-06-17 23:00] #642 closed

[2017-06-19 10:36] #519 closed

[2017-06-19 23:48] chuckwondo opened #659 "kindergarten-garden: incorrect unit tests"
The following unit tests are incorrect:

- `customStudentGardenFirstStudent`
- `customStudentGardenSecondStudent`
- `customStudentGardenThirdStudent`
- `customStudentGardenFourthStudent`

Each one specifies a student name that is not the name in the position indicated by the ordinal value in the test method name.

For example, in `customStudentGardentFirstStudent`, we have the following lines:

[c

[2017-06-20 13:13] FridaTveit commented on #659
Thanks for finding this @chuckwondo! I'll fix it and submit a PR :)

[2017-06-20 18:06] FridaTveit commented on #659
After looking at this more closely, it's not actually a bug. The students are in alphabetical order which is why Patricia is before Samantha. It does say so in the [description](https://github.com/exercism/x-common/blob/master/exercises/kindergarten-garden/description.md):

 But I agree that it's easy to miss. Maybe changing the test names to `customStudentGardenInNonAlphabeticalOrderFirstStudent`

[2017-06-20 19:04] chuckwondo commented on #659
Ah, yes. Now it makes sense. Yes, perhaps a name change would help. I like your second suggested name.

[2017-06-21 08:17] FridaTveit commented on #659
Great, I'll change it to that then :)

[2017-06-21 18:02] #659 closed

[2017-06-21 19:09] stkent commented on #331
See discussion in #652 for issue resolution.

[2017-06-21 19:09] #331 closed

[2017-06-30 18:44] stkent commented on #325
Closed by #670.

[2017-06-30 18:44] #325 closed

[2017-07-02 17:20] #369 closed

[2017-07-02 21:25] Smarticles101 opened #676 "Mention rebases in README.md?"
I was wondering if we should mention the magic of doing a `git rebase` in the README file. I have noticed some pull requests where people frequently merge the original repository into their fork, which leads to a dirty commit history.

[2017-07-02 23:43] stkent commented on #676
Could be a good idea to describe them as preferred. I wouldn't want to deter a potential contributor because of a git-related requirement, especially since we have the squash option when merging pull requests. I'd also suggest maybe adding this note in the CONTRIBUTING file (we should maybe link to that file from the README also). Thoughts, @Smarticles101?

[2017-07-03 00:52] Smarticles101 commented on #676
I agree. While we are talking about it, should we move the contributing guide from the README file to the CONTRIBUTING file?

[2017-07-03 01:03] stkent commented on #676
Seems appropriate, as long as it's called out clearly in the README as described above!

[2017-07-03 22:06] redshirt4 commented on #554
Are the exercise positions (>= 21) referring to this ordered list? http://exercism.io/languages/java/exercises

[2017-07-03 22:09] Smarticles101 commented on #554
No, they refer to the [config](https://github.com/exercism/java/blob/master/config.json) file

[2017-07-03 22:41] stkent commented on #554
(Those two lists are generally in sync; the website might lag behind the config file by a few days is all :))

[2017-07-03 22:43] Smarticles101 commented on #554
Lol yeah I just realized that the site follows the order in the config file.

[2017-07-04 15:20] Smarticles101 commented on #676
Closed by #680

[2017-07-04 15:20] #676 closed

[2017-07-04 15:26] Smarticles101 commented on #349
This can be closed now

[2017-07-04 15:43] FridaTveit commented on #349
Thanks @Smarticles101! :)

[2017-07-04 15:43] #349 closed

[2017-07-04 15:49] stkent commented on #349
Nice! I thought this was going to be a lot more involved :)

[2017-07-04 16:29] stkent commented on #345
Closed by #673.

[2017-07-04 16:30] #345 closed

[2017-07-04 18:15] #551 closed

[2017-07-04 18:16] #550 closed

[2017-07-05 20:25] dawcars opened #687 "HINTS.md for exercises with position 21 or greater?"
I have noticed that some exercises with position 21 or greater do not have HINTS.md. The wording of the POLICIES.md section on 'starter implementations' for exercises 21+ is a little unclear. Is it a requirement that HINTS.md should be there if the implementation stub is not there or is this only for exercises with complicated method signatures? Some exercises have neither HINTS.md or implementati

[2017-07-05 20:38] Smarticles101 commented on #687
The POLICIES.md doc is in the process of being updated. (See #685). I think that the idea is after exercise 21, users should be pretty familiar with everything and should be able to write the solution completely by themselves. The HINTS.md file in an exercise should be used for any "interesting" aspects. Looking at these files in different exercises can help give you an idea of what they are for.

[2017-07-05 21:04] dawcars commented on #687
Thanks @Smarticles101. So, if I am building an exercise, do I only add a HINTS.md file if there is something in particular I think would help the user or is this something that definitely has to be there if the stub is not there?

[2017-07-05 21:06] stkent commented on #687
It's fine for there to be both no stubs and no hints :) Thanks for checking!

[2017-07-05 21:13] dawcars commented on #687
Thanks @stkent. That's good to know.

[2017-07-05 21:23] stkent commented on #687
No problem! If you're interested, the available 'template' files are listed in the [Exercism docs](https://github.com/exercism/docs/blob/master/contributing-to-language-tracks/exercise-readmes.md) repo, though in most cases you'd need to actually inspect the source code of [trackler](https://github.com/exercism/trackler) (which assembles exercise READMEs) to determine whether any given template fi

[2017-07-06 02:22] Smarticles101 commented on #554
Closed by #681

[2017-07-06 02:22] #554 closed

[2017-07-06 08:04] dawcars commented on #687
Those links are really helpful. I did not know about trackler. Thanks @stkent

[2017-07-06 18:50] Smarticles101 commented on #553
Addressed by #681

[2017-07-06 18:50] #553 closed

[2017-07-06 18:51] Smarticles101 commented on #552
Addressed by #681

[2017-07-06 18:51] #552 closed

[2017-07-07 02:51] Smarticles101 commented on #410
I'm looking into the things you mentioned @stkent :)

[2017-07-08 02:15] Smarticles101 commented on #687
Looks like this is cleared up now

[2017-07-08 02:15] #687 closed

[2017-07-10 18:05] FridaTveit opened #696 "series: use Collections.singletonList instead of Arrays.asList"
`Arrays.asList` is used to create lists with only one element in test `canSliceByOne` in `SeriesTest.java` . When the list contains only one element it's better to use `Collections.singletonList`.

[2017-07-10 18:14] FridaTveit opened #697 "nucleotide-count: sync sample solution and test class names"
As far as I'm aware it's best practice to name a test class after the class it's testing. So if you're testing `SomeClass` you would name the test class `SomeClassTest`. We usually do this but in nucleotide-count we have `NucleotideTest` which test the class `DNA`. I suggest we:
1. Rename `NucleotideTest` to `DNATest` (or possibly `Dna` and `DnaTest` to make it more readable?)
2. Add this preferen

[2017-07-10 18:30] Smarticles101 commented on #697
What if we renamed the `DNA` class to `Nucleotide`? Normally, the solution class is named after the exercise. Other than that, I think adding what you said to the POLICIES doc is a great idea.

[2017-07-10 18:39] stkent commented on #697
+1 `NucleotideCount`, or even `NucleotideCounter`.
+1 a new entry under the 'best practices' section of the policies.

[2017-07-10 23:43] stkent commented on #410
I had a play with the journey tests this evening, attempting to run them in parallel. However, I think I hit a wall because they don't share a common root Gradle project. Here's the patch I tried to apply:

[code]

Resulting error: https://travis-ci.org/exercism/java/jobs/252211424

I'd rather not go down the route of inserting a fake root project unless we absolutely need to in the future. Right

[2017-07-11 00:26] stkent commented on #410
Ah, #326 is still a thing we need to fix.

[2017-07-11 18:58] terminaltraces opened #698 "Test documentation references a nonexistant GETTING_STARTED.md file."
The current documentation for running Java tests (http://exercism.io/languages/java/tests) references a exercises/hello-word/GETTING_STARTED.md file that currently doesn't exist.

This line could either be removed, or changed to reference the exercises/hello-world/TUTORIAL.md file, depending on particular preferences!

[2017-07-11 19:13] stkent commented on #698
Great spot; thanks for reporting!

[2017-07-12 18:23] FridaTveit opened #700 "binary-search-tree: add angle brackets when calling constructor"
Since the `BST` class uses generics it should be constructed using angle brackets. For example:
[code]
This is done sometimes in `BSTTest` but not always. It should be done everywhere where a `BST` object is created in `BSTTest`.

[2017-07-12 18:29] stkent commented on #700
(Reminder that this exercise is pending review for use of generics per https://github.com/exercism/java/issues/230 also.)

[2017-07-15 14:19] Smarticles101 commented on #523
This is going to become relevant as soon as #704 is merged.

[2017-07-16 10:08] FridaTveit commented on #523
We should start working on this now PR #704 is merged :)

[2017-07-16 10:09] FridaTveit opened #707 "Choose core exercises"
We need to choose at most 20 exercises to be core exercises (set core: true, and delete the unlocked_by key) since PR #704 has been merged.
For each exercise that is not core we need to decide which exercise is the prerequisite (max 1).
We should also leave 3 or 4 simple exercises as (core: false, unlocked_by: null), as this will provide new participants with some exercises that they can tackle ev

[2017-07-16 22:08] stkent commented on #707
I propose that this should occur after #523 is completed, so that we can use the topic data to ensure the core exercises cover all the core concepts.

[2017-07-16 22:12] stkent commented on #523
Is there upstream consensus yet on how we should represent topics, @kytrinyx? https://github.com/exercism/discussions/issues/167 seems to suggest not?

[2017-07-17 01:44] kytrinyx commented on #523
No upstream consensus yet. I'd appreciate it if you weigh in on that discussion if you have opinions.

[2017-07-17 01:52] stkent commented on #523
Thanks for confirming; I don't have strong opinions on the mechanism used to apply labels, just wondering if we should wait on adding labels here in case the mechanism changes substantially.

[2017-07-17 02:20] kytrinyx commented on #523
Yeah, that seems reasonable.

[2017-07-17 16:19] FridaTveit commented on #707
Makes sense :)

[2017-07-23 02:58] #697 closed

[2017-07-25 08:28] FridaTveit opened #714 "robot-simulator: use assertEquals instead of assertTrue"
In RobotTests, `assertTrue(expected.equals(actual))` is used for all assertions. This should be changed to `assertEquals(expected, actual)` because it is more readable and gives better error messages when the tests fail.

[2017-07-25 18:00] #698 closed

[2017-07-25 18:05] stkent commented on #707
In light of https://github.com/exercism/discussions/issues/175, we should go ahead and pick core exercises now, and shuffle later.

[2017-07-25 18:06] stkent commented on #523
Putting this back on hold while upstream decisions get made.

[2017-07-26 04:57] Smarticles101 commented on #707
I think the core exercises should consist of easy exercises that introduce a core topic such as arrays or generics.

[2017-07-26 08:19] FridaTveit opened #715 "word-count: fix spelling mistake in test name"
In `WordCountTest` the test `countMultipleOccurences` should be `countMultipleOccurrences`.

[2017-07-26 08:23] FridaTveit opened #716 "word-count: remove redundant type parameters"
In `WordCountTest` a map is initialised using:
`expectedWordCount = new HashMap<String, Integer>();`
In this case since the map is already declared as `Map<String, Integer> expectedWordCount` earlier in the file, the type parameters aren't necessary. So this can be simplified to:
`expectedWordCount = new HashMap<>();`

[2017-07-26 11:37] stkent commented on #707
Agreed!

Here are a few of the most obvious candidates, I think:

- `hello-world`
- `two-fer`
- `gigasecond` (dates)
- `secret-handshake` (binary)
- `flatten-array` (recursion?)
- `binary-search` (generics, needs some TLC though)

Feel free to agree/disagree/suggest more!

[2017-07-26 11:42] stkent commented on #707
Posting for reference: https://github.com/exercism/discussions/issues/175

[2017-07-26 18:52] FridaTveit commented on #707
They all seem like sensible suggestions :) A few more suggestions:

- `simple-cipher` (`Random`)
- `linked-list` (or `simple-linked-list`, whichever one is actually simpler :P)
- `difference-of-squares` (`Math`)
- `secret-handshake` (enum)
- `matrix` (arrays)
- `hamming` (exceptions)
- `triangle` (class which extends exception)

[2017-07-26 20:03] stkent commented on #707
Nice research!

[2017-07-27 08:58] FridaTveit opened #718 "pig-latin: simplify example implementation"
There are a few simplifications that can be made to `PigLatinTranslator` in `/pig-latin/src/example`:

1. `Arrays.asList().stream()` can be simplified to `Arrays.stream()`
2. `.map(x -> translateWord(x))` can be simplified to use a method reference: `.map(this::translateWord)`
3. All the public class variables can be made [private](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.

[2017-07-27 18:37] FridaTveit opened #719 "sum-of-multiples: replace for loop with foreach"
In `SumOfMultiples` the for loop:
[code]

can be replaced by a [foreach](https://docs.oracle.com/javase/1.5.0/docs/guide/language/foreach.html) loop.

[2017-07-27 18:39] FridaTveit opened #720 "allergies: replace lambda with method reference"
In `Allergies` the lambda `.filter(x -> isAllergicTo(x))` can be simplified by using a method reference: `.filter(this::isAllergicTo)`

[2017-07-27 18:53] FridaTveit commented on #707
Also
- `saddle-points` (set)

[2017-07-27 18:57] FridaTveit commented on #707
And possibly `scrabble-score` since it has the first use of `Parameterized` tests?

[2017-07-28 08:23] FridaTveit commented on #719
Fixed in PR #721 :) Thanks @michaelspets! :)

[2017-07-28 08:23] #719 closed

[2017-07-29 13:40] FridaTveit opened #723 "series: simplify example implementation"
The example implementation for `Series` can be simplified by:
- `Arrays.asList(string.split((""))).stream()` can just be `Arrays.stream(string.split(("")))`
- `.map(digit -> Integer.parseInt(digit))` can be simplified by using a method reference:
`.map(Integer::parseInt)`
- The class and its methods can be made [package private](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.htm

[2017-07-29 19:51] kytrinyx commented on #410
@Smarticles101 That's a great idea.

I don't know if travis has a ref of master available. If so we could run:

[code]

To get a list of changed files. If none of the files changed are in the `exercises` directory (or the `config.json`?) then we wouldn't have to run the journey tests at all.

If we don't have access to the master ref, then we could use the [List pull request files](https://develop

[2017-07-31 01:03] stkent commented on #410
@kytrinyx [this SO post](https://stackoverflow.com/a/41159710/2911458) seems to suggest that master should be accessible in a Travis PR build 😄

[2017-07-31 02:09] Smarticles101 commented on #410
Awesome to see that this should work. So the idea now is that if no exercises have been modified or added, don't run the journey tests. If some have been modified, only test against those.

Another consideration is to only install ruby and compile jq before the journey tests, because that is the only spot they are used.

[2017-07-31 18:36] FridaTveit commented on #707
And
- `bank-account` (concurrency)

Also, after having looked at it more closely, `simple-cipher` has difficulty 8 which is probably too high for a core exercise. So a better suggestion might be:
- `robot-name` (`Random`)
- `rotational-cipher` (string manipulation)

All in all, that would give us 17 core exercises:
- `hello-world` (diffictulty 1)
- `two-fer` (difficulty 1)
- `hamming` (exceptions,

[2017-07-31 18:37] FridaTveit commented on #707
And as always available we could have
- `rna-transcription`
- `pangram`
- `space-age`
- `acronym`

[2017-07-31 21:06] stkent commented on #707
I think that looks great! One thing to remember is that for some exercises, the listed topics assume a certain implementation (e.g. `difference-of-squares` can be solved without `Math`), but I think that detail will be more important if/once we actually add topics.

[2017-08-01 09:31] #648 closed

[2017-08-01 09:31] #715 closed

[2017-08-02 08:14] #649 closed

[2017-08-02 18:32] FridaTveit commented on #707
That's true. You'd still have to do some number manipulation in some way to solve `difference-of-squares` so I still feel that it covers an important topic :)

I'm working on a suggestion for the prerequisites of exericises, will post it here when I've gone through all of them :)

[2017-08-02 20:27] m-a-ge commented on #723
@FridaTveit,
PR #727 has been created.

Please add your feedback and suggestions for my future contributions

[2017-08-03 19:27] FridaTveit commented on #707
Here is my suggestion for the prerequisites of exercises. `exercise-name` - `second-exercise-name` means I think `exercise-name` should be a prerequisite of `second-exercise-name`. I've included the difficulty of each exercise and a few notes on what they're about (from what I can remember/see from looking through them) so that you can hopefully see why I've grouped exercises together. Feel free t

[2017-08-03 20:28] m-a-ge commented on #707
Even though I didn't have a chance to finish all of the exercises (meaning that I can't evaluate their difficulty) I've composed a table for visibility (based on @FridaTveit `s comment above)

Diagram will definitely help, but it takes considerable amount of time to create one

| Exercise name  | Difficulty | Features |
| --- | :---: | --- |
|  #########  | # | ############# |
| hello-world | 1 |

[2017-08-03 21:08] m-a-ge opened #728 "Commented tests in TwoferTest Class and possibly one case missing"
While doing  `two-fer` I've noticed that two positive test cases were commented (not sure why).
[code]

I guess they shouldn't be ignored by default.

Moreover, I suggest adding additional one (but not sure if it complies with task description):
[code]

[2017-08-03 22:38] stkent commented on #707
@FridaTveit thanks for putting in all that work! I like your suggestions :) Let's implement!

@m-a-ge I believe the `configlet` tool is being updated to print a tree-like representation of the track, which will help with visualization shortly :)

[2017-08-04 22:49] Smarticles101 commented on #728
The readme for the exercise describes the usage of the `@Ignore` annotations. They're basically there so that people can work on one test case at a time.

The additional test case you suggested isn't in the [canonical data for the exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/two-fer/canonical-data.json) but it seems like a good idea to me. Thoughts @exercism/j

[2017-08-05 04:07] stkent commented on #728
Interesting, as currently written this depends on how we interpret 'no name':

Is a blank string 'no name', or is `null` the only way to represent 'no name'? 🤔

Could be worth asking in `problem-specifications`, though i'd be surprised if we get a clear consensus on the above :)

[2017-08-05 18:53] McEileen opened #730 "rna-transcription: Tests miss edge case for invalid input"
[Feedback on my initial submission](http://exercism.io/submissions/ba4be59781d14eae8daa7f658574bcbf) made me realize the RNA transcription exercise has no tests for the edge case of invalid input.  Other language tracks have tests for this edge case, and so does [the canonical data] (https://github.com/exercism/problem-specifications/blob/master/exercises/rna-transcription/canonical-data.json) for

[2017-08-05 19:12] m-a-ge commented on #730
I guess it would be a good idea to stick to `canonical-data.json` and update java tests

[2017-08-05 19:14] FridaTveit commented on #723
Fixed in PR #727. Thanks @m-a-ge! :)

[2017-08-05 19:14] #723 closed

[2017-08-05 19:16] FridaTveit commented on #707
@stkent great, will do! :) @Smarticles101 do you agree? :)

Thank you for making the table @m-a-ge, that's very useful! :)

[2017-08-05 20:49] stkent commented on #730
Just for some context: the Java track does not generate tests based on the canonical data, so over time it's quite possible/typical that our tests fall out of sync with the canonical data. That's where maintainers and contributors come in! Your input based on completing an exercise and discovering it to be out of date is most welcome.

If you'd like to tackle a pull request to update the tests, th

[2017-08-07 01:10] Smarticles101 commented on #707
@FridaTveit I think it looks great!

[2017-08-07 01:24] Smarticles101 commented on #728
The old hello-world exercise used `null` and/or a blank string to represent no name. The fact that this is different in two-fer suggests that this may have been changed on purpose. Might require some digging to find out.

[2017-08-07 05:39] m-a-ge commented on #728
@Smarticles101, thanks for clarification!

The issue can be closed then.

But in the real life you are expected to deal with empty Strings too :mask:

[2017-08-07 13:24] FridaTveit commented on #707
Great! I'll try to implement it then :)

[2017-08-07 14:01] stkent commented on #728
[Slightly more specific reference](https://github.com/exercism/problem-specifications/issues/290#issuecomment-230727326):

[2017-08-07 14:02] stkent commented on #728
Might still be worth adding a blank string test to the Java track even though it's not captured in the canonical data (since it wouldn't make sense for all languages in the canonical data).

[2017-08-07 15:29] #707 closed

[2017-08-07 16:14] m-a-ge commented on #728
It's your call, I can create PR if you want and mark this test as with `@Ignore("Remove to run test")`

[2017-08-07 16:41] stkent commented on #728
I think that'd be a good addition, so yes, please! I'd add it as the last test so it's separated from the 'canonical' tests.

[2017-08-07 16:45] m-a-ge commented on #728
Sure, will do later today when I get back home

[2017-08-07 20:03] m-a-ge commented on #728
@stkent, PR #733 has been created, please review 👨‍💻

[2017-08-07 21:39] #728 closed

[2017-08-08 18:00] FridaTveit commented on #406
I have the following suggestions:
- We remove the link but keep the sentence as it is.
- We replace the link with [this one](https://askubuntu.com/questions/361741/what-are-dependencies) which more generally talks about what dependencies are.
- We remove the sentence with the link altogether.

What do you think @exercism/java?

[2017-08-08 18:09] stkent commented on #406
gets my vote.

[2017-08-08 18:58] Smarticles101 commented on #406
I agree with @stkent. Removing the sentence sounds like a good idea

[2017-08-09 08:15] FridaTveit commented on #406
Okay, will do that then :)

[2017-08-09 12:57] #406 closed

[2017-08-09 16:57] FridaTveit opened #737 "minesweeper: use StringBuilder"
In `getRowWithNumbers` in `MinesweeperBoard.java` we should use [`StringBuilder`](https://docs.oracle.com/javase/8/docs/api/java/lang/StringBuilder.html) instead of `+=` to append to a string.

It's better to use `StringBuilder` because it's [mutable](https://www.mkyong.com/java/java-mutable-and-immutable-objects/) and therefore doesn't create a new string every time you add to it. See [here](http

[2017-08-13 16:38] #737 closed

[2017-08-14 16:16] #696 closed

[2017-08-15 18:20] FridaTveit commented on #213
I think the documentation looks okay :) Apart from that the images in the img folder don't appear to be used anywhere...

[2017-08-15 19:07] kytrinyx commented on #213
Always happy to delete stuff. I think you're right that the docs look fine.

[2017-08-16 02:09] #716 closed

[2017-08-16 02:12] stkent commented on #61
Closing until there's interest in actively working on this again.

[2017-08-16 02:12] #61 closed

[2017-08-16 02:13] stkent commented on #213
Is that image the one used e.g. here: http://exercism.io/languages?

[2017-08-16 02:21] stkent commented on #320
We're looking pretty good here. I can't see much new apart from the relocation of the README insert. Java has also moved its README contents elsewhere.

[2017-08-16 02:22] stkent commented on #320
@kytrinyx is this change required? I don't remember a tracking issue.

https://github.com/exercism/request-new-language-track/commit/4355efe6b9c8950f5e2ef016ef150313c69664e4

[2017-08-16 02:22] stkent commented on #320
(Specifically the docs -> config portion.)

[2017-08-16 02:50] kytrinyx commented on #213
@stkent yepp, that one is used.

I think Frida means this image folder: https://github.com/exercism/java/tree/master/docs/img

[2017-08-16 02:53] kytrinyx commented on #320
You have the template: https://github.com/exercism/java/blob/master/config/exercise_readme.go.tmpl

Other than that (and moving the insert) I can't think of anything.

[2017-08-16 08:14] FridaTveit commented on #213
Yes, that was the folder I meant :)

[2017-08-16 15:44] stkent commented on #213
D'oh! Makes sense... PR incoming!

[2017-08-16 15:55] stkent opened #743 "Fix track configuration"
v3.3.0 of `configlet` reports:

[code]

We should investigate these warnings.

[2017-08-16 23:48] stkent commented on #213
I believe this is now complete!

[2017-08-16 23:48] #213 closed

[2017-08-16 23:48] stkent commented on #320
I think #742 takes care of the change needed here.

[2017-08-17 02:20] #720 closed

[2017-08-18 08:15] FridaTveit opened #745 "largest-series-product: fix spelling mistake in exception message"
In `largest-series-product` the tests expect an exception to be thrown with the message `"String to search may only contains digits."`. This should be `"String to search may only contain digits."`.

[2017-08-19 17:44] riktimmondal commented on #718
Is it still open?I would to fix those things.

[2017-08-20 01:49] stkent commented on #718
It looks like @matthewstyler has already worked on this issue, but if you're looking for other issues to tackle that are a similar level of difficulty, check out the [good first patch](https://github.com/exercism/java/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+patch%22) list :)

[2017-08-20 02:32] stkent commented on #320
#742 merged; closing this!

[2017-08-20 02:32] #320 closed

[2017-08-21 08:19] #718 closed

[2017-08-21 15:24] Smarticles101 commented on #410
#326 still needs to be solved, re-opening this

[2017-08-21 22:06] Smarticles101 commented on #410
Issues with #734 so far:
1. From #750 travis build [#1666](https://travis-ci.org/exercism/java/builds/266963957), gradle build in journey-test failed, but journey tests completed with exit code 0

[2017-08-23 22:28] #714 closed

[2017-08-23 23:28] Smarticles101 commented on #326
If anyone has any specific examples of set -e not failing the build when it should have, could you post them here? I'm going to try fixing this and play around with it a bit @exercism/java and @jtigger if you have the time

[2017-08-23 23:49] Smarticles101 commented on #410
The above issue is related to #326. I'll fix it when I find a good solution for error handling.

Information about error handling in bash:
* http://fvue.nl/wiki/Bash:_Error_handling
* http://mywiki.wooledge.org/BashFAQ/105

[2017-08-24 02:20] stkent commented on #326
https://travis-ci.org/exercism/java/builds/205128042; unit tests failed but journey tests ran anyway. This was before we split them out.

[2017-08-24 09:14] FridaTveit opened #753 "difference-of-squares: improve test names"
In `DifferenceOfSquaresCalculatorTest` all the test names are of the form `testSquareOfSum1` and `testSumOfSquares5`. These names would be more readable as `testSquareOfSumUpToOne` and `testSumOfSquaresUpToFive`.

Having the number spelled out doesn't matter too much. I think it makes it a bit more readable, but that's just my opinion :) Adding `UpTo` definitely makes it more clear what the test i

[2017-08-25 00:03] #745 closed

[2017-08-25 21:35] Smarticles101 commented on #410
This has been a lot of fun to work on and get a bit better at bash with. The last way I think we could improve is with being able to fail the build as soon as one of the two jobs fail. Unfortunately that is not possible as of yet ([travis-ci#8296](https://github.com/travis-ci/travis-ci/issues/8296)). I'm going to close this for now.

[2017-08-25 21:35] #410 closed

[2017-08-25 22:11] kytrinyx commented on #410
Good call—and really great work on this one. It's been fun seeing it progress!

[2017-08-26 01:45] #647 closed

[2017-08-27 12:26] FridaTveit opened #758 "track ordering: side exercises should only be unlocked by core exercises"
From looking at the new nextercism prototype it appears that some of my assumptions when structuring the exercises in config.json were wrong:

1. Exercises can only be unlocked by core exercises
2. All core exercises should unlock at least one exercise

See https://github.com/exercism/v2-feedback/issues/61

[2017-08-27 14:27] Smarticles101 commented on #743
This could be fixed with the `ignored` key in config.json, however, support for that was removed. Ref. #633 exercism/meta#3

[2017-08-27 18:21] stkent commented on #743
I wonder if configlet could be updated to respect the .gitignore

[2017-08-28 10:13] FridaTveit opened #759 "Add blurb to config.json"
In `config.json` we need to have a blurb which explains a bit about Java in ~30 words. See [the Go track's `config.json`](https://github.com/exercism/go/blob/master/config.json) for an example.

[2017-08-29 08:09] #758 closed

[2017-08-31 08:11] #759 closed

[2017-09-03 18:37] Smarticles101 opened #766 "Preparing for hacktoberfest!"
Ref. exercism/discussions#190

Hacktoberfest is about a month away! This issue is for thoughts regarding the java track for hacktoberfest.

[2017-09-03 18:38] Smarticles101 commented on #766
One idea that came to my head, is creating a ticket to make test suite generators

[2017-09-04 13:43] #364 closed

[2017-09-04 16:03] #730 closed

[2017-09-04 16:52] stkent commented on #766
My sense is that there is a trend within Exercism to move away from the absolute agreement with canonical data that a test suite generator would produce (in favor of my idiomatic implementations). Don't get me wrong; I love canonical data and very rarely implement an exercise for which it doesn't exist (because I think it improves the quality so much), but writing a _good_ generator would be v. v.

[2017-09-05 03:16] stkent opened #769 "Update local dev instructions to note jq dependency"
When I try to run the journey test locally, it fails because I don't have `jq` installed.

My guess is that this used to be installed automatically, and that this is no longer true since the test restructuring (cc @Smarticles101 for verification).

We should update the CONTRIBUTING.md file in light of this change.

[2017-09-05 03:38] mishraanmol opened #771 "SpringComponentFinderStrategy: support Spring Meta-Annotation facility"
We annotate our spring services and repositories with custom annotations like
`@Target(ElementType.TYPE)
@Service
public @interface MyService {
}`
Do you support this in SpringComponentFinderStrategy?
If not, please take this as a feature request ;-)

[2017-09-05 12:18] Smarticles101 commented on #769
afaik `jq` still needed to be installed before running the journey test before all the changes came.

[2017-09-05 12:26] stkent commented on #769
Ah, I must have removed it inadvertently then! Still a worthy documentation add in that case :)

[2017-09-05 12:30] stkent commented on #771
My guess is that you accidentally opened this issue in the wrong repository! Since the question is not relevant here, I'm going to close it :)

[2017-09-05 12:30] #771 closed

[2017-09-05 12:40] Smarticles101 opened #772 "GitHub API Rate Limit"
Sometimes, the journey test on travis-ci will fail to only test against the files changed because the rate limit has been exceeded.

[code]

[2017-09-12 16:42] FridaTveit commented on #523
Do you think we can start working on this now @exercism/java?

[2017-09-12 16:58] stkent commented on #523
I have seen some activity around the topics but I've not been following closely; if they are closer to canonicalized upstream and we know what the strategy is regarding tagging (tag with all topics that are unavoidable or tag with all topics that may be encountered based on implementation choices) then 👍

[2017-09-13 08:24] FridaTveit commented on #523
I can't find any discussion abut tagging with all topics that are unavoidable or tagging with all topics that may be encountered based on implementation choices. From what I can see no one has asked that question? The only thing I did find was an explanation saying that topics should be "topics relevant to an exercise". So I would think it's topics that will most likely be relevant to the exercise

[2017-09-13 13:23] stkent commented on #523
I like this! :shipit:

[2017-09-13 14:30] FridaTveit commented on #523
Great, I'll start looking at topics for exercises then :)

[2017-09-13 18:36] FridaTveit commented on #523
Exercises that need topics (roughly in the order they become available):

- [ ] `rna-transcription`
- [ ] `pangram`
- [ ] `space-age`
- [ ] `acronym`

- [x] `hello-world`
- [ ] `raindrops`
- [ ] `pig-latin`
- [ ] `isogram`
- [ ] `anagram`
- [ ] `two-fer`
- [ ] `twelve-days`
- [ ] `diamond`
- [ ] `bob`
- [ ] `house`
- [ ] `food-chain`
- [ ] `beer-song`

- [ ] `hamming`
- [ ] `luhn`
- [ ] `largest-s

[2017-09-21 18:36] FridaTveit opened #778 "saddle-points: unhelpful error message"
When running the saddle-points tests you don't get a very descriptive error message (unless I'm doing something wrong). The error message I get is something along the lines of:

`expected:<MatrixCoordinate@1f> but was:<MatrixCoordinate@0`

Which isn't much help in finding out what you've done wrong.

To improve this we could iterate over the sets and compare each point with a more detailed error m

[2017-09-24 22:53] Smarticles101 commented on #778
Great idea. Another possible fix would be to implement a `toString` method for `MatrixCoordinate`

[2017-09-25 15:54] FridaTveit commented on #778
Great idea, that would be much neater and gives a very clear error message! I'll open a PR to implement `toString` for `MatrixCoordinate` :)

[2017-09-27 08:37] FridaTveit commented on #523
Since there are a lot of exercises that require topics and we don't have that many `good first patch` issues at the moment, I think it would be a good idea to open `good first patch` issues for adding topics to some of the remaining exercises. If we make it some of the easier exercises but also not any of the core exercises then it shouldn't be too difficult to find topics for them while it also i

[2017-09-27 11:50] stkent commented on #523
Love it!

[2017-09-27 11:52] FridaTveit commented on #523
Great, will do that then :)

[2017-09-27 12:05] FridaTveit opened #782 "rna-transcription: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:06] FridaTveit opened #783 "pangram: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:06] FridaTveit opened #784 "space-age: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:07] FridaTveit opened #785 "acronym: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:07] FridaTveit opened #786 "raindrops: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:07] FridaTveit opened #787 "pig-latin: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:08] FridaTveit opened #788 "isogram: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:08] FridaTveit opened #789 "anagram: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:08] FridaTveit opened #790 "twelve-days: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:09] FridaTveit opened #791 "diamond: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:09] FridaTveit opened #792 "bob: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-27 12:09] FridaTveit opened #793 "house: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-09-28 08:15] FridaTveit commented on #766
I added the `hacktoberfest` label to all our `good first patch` issues. Hopefully that'll make it easier for people to contribute :)

[2017-09-28 08:17] balachandarsv commented on #753
May I take this up? @FridaTveit

[2017-09-28 08:18] FridaTveit commented on #753
Sure, go for it @balachandarsv! :)

[2017-09-28 09:02] FridaTveit commented on #753
Fixed by PR #794, thanks @balachandarsv! :)

[2017-09-28 09:02] #753 closed

[2017-09-28 10:57] kapilaNR commented on #793
Hi i would like to help this issue. how can i contribute to this.

[2017-09-28 11:19] FridaTveit commented on #793
Great @kapilaNR! :) For generally advice about contributing to exercism see [this guide](https://github.com/exercism/docs/tree/master/contributing-to-language-tracks). For general advice about contributing to this track see [this guide](https://github.com/exercism/java/blob/master/CONTRIBUTING.md).

Specifically for this issue you would need to [fork this repository](https://help.github.com/articl

[2017-09-28 11:36] kapilaNR commented on #793
Thank you @FridaTveit i'll proceed with this.

[2017-09-28 12:07] yashasingh commented on #787
@FridaTveit I have understood the workflow & good to go with it . Can I work on this issue ?

[2017-09-28 12:14] yashasingh commented on #789
@FridaTveit I would like to work on this issue . Can I ?

[2017-09-28 12:20] spmvanmierlo commented on #792
Can I contribute? How do I start? :)

[2017-09-28 12:40] FridaTveit commented on #787
Sure, that would be great! :) Feel free to pick up any open issue as long as no one else has commented on it saying they're working on it or have opened a pull request for it :)

[2017-09-28 12:40] FridaTveit commented on #789
Sure, go ahead! :)

[2017-09-28 12:41] FridaTveit commented on #792
Sure, that would be great! :) See my comment on issue #793 for an explanation on how to start :) Let me know if you have any further questions :)

[2017-09-28 13:54] FridaTveit commented on #792
Fixed in PR #795. Thanks @spmvanmierlo! :)

[2017-09-28 13:54] #792 closed

[2017-09-28 14:03] spmvanmierlo commented on #791
Can I claim this one too?

[2017-09-28 14:19] FridaTveit commented on #791
Sure, go ahead! :)

[2017-09-28 15:53] yashasingh commented on #787
Alright  !!

[2017-09-29 08:53] ribhav-pahuja commented on #700
@FridaTveit , I would like to contribute to this.

[2017-09-29 19:05] mohanarpit commented on #769
Hey, I'm new to the world of contributing to OSS. Would you like me to make an edit to the CONTRIBUTING.md file to include the instructions that jq & ruby need to be installed for a local setup?

[2017-09-29 22:31] Smarticles101 commented on #700
@ribhav-pahuja Feel free to tackle this! 👍

[2017-09-30 02:11] jackattack24 commented on #783
I'd like to help with this.
(I have patches ready for this and the twelve-days exercise but want to wait until Sunday to submit pull requests so they will count for hacktoberfest)

[2017-09-30 13:36] pvtuan10 commented on #784
Hi @FridaTveit, I would like to work on this.

[2017-09-30 13:36] pvtuan10 commented on #785
Hi @FridaTveit, I would like to work on this.

[2017-09-30 14:23] FridaTveit commented on #700
Yes, like @Smarticles101 said, feel free to work on it :)

[2017-09-30 14:34] FridaTveit commented on #769
Hi, thanks for wanting to contribute to open source! :)

Yes, it would be great if you could add something saying `jq` and `ruby` need to be installed for a complete local setup (in the [complete local setup section](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#advanced-complete-local-setup) of the CONTRIBUTING.md document) :) Does that make sense? Let me know if you have any more

[2017-09-30 14:36] #778 closed

[2017-09-30 14:36] FridaTveit commented on #783
Sounds great! :)

[2017-09-30 14:37] FridaTveit commented on #785
Great, go ahead! :)

[2017-09-30 14:38] FridaTveit commented on #784
Great, go ahead! :)

[2017-09-30 20:11] lbesaw opened #799 "Triangle: test and readme conflict"
In the "Triangle" challenge on the Java track, there is a comment in the "Note" section of the readme that reads "For a shape to be a triangle at all, all sides have to be of length > 0, and the sum of the lengths of any two sides must be greater than or equal to the length of the third side."

This contradicts the test where a Triangle of sides 2, 2, and 4 are supposed to return an exception.

[2017-09-30 20:14] lbesaw opened #800 "Triangle: test suite diverges from canonical data"
The test diverges from canonical data here: https://github.com/exercism/problem-specifications/blob/master/exercises/triangle/canonical-data.json

[2017-10-01 12:24] FridaTveit commented on #788
Fixed in PR #798. Thanks @RollandMichael7! :)

[2017-10-01 12:24] #788 closed

[2017-10-01 12:42] #789 closed

[2017-10-01 12:49] #787 closed

[2017-10-01 13:01] FridaTveit commented on #799
Good spot @lbesaw, thanks for bringing it to our attention. I agree that the README and the tests should not contradict each other like this. The [canonical data]() metions this case:

So I suggest we should change the test to, e.g. 2, 2, and 3. I don't mind if we change the README or not. thoughts @exercism/java, @lbesaw?

[2017-10-01 13:09] FridaTveit commented on #800
In my opinion (and I think this is an opinion other exercism maintainers share?) the tests in different tracks don't have to be exactly the same as the canonical data. As long as they're testing the same things and especially that they don't contradict each other, then I think it's fine for tracks to restructure the tests to more suit the language. For example the Java implementation of this exerc

[2017-10-01 13:10] #786 closed

[2017-10-01 13:15] FridaTveit opened #803 "food-chain: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 13:16] FridaTveit opened #804 "beer-song: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 13:16] FridaTveit opened #805 "luhn: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 13:17] FridaTveit opened #806 "largest-series-product: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 13:18] FridaTveit opened #807 "phone-number: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 13:18] FridaTveit opened #808 "nucleotide-count: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-01 16:09] jackattack24 commented on #799
I would say we should change the test to something like 2, 2, and 5 so that it does violate the triangle inequality. (2, 2, and 3 is a valid isosceles triangle)

Or maybe we could edit the README and tests to add degenerate as a triangle type. The Dig Deeper section of the README already mentions this as something for the user to try on their own though, so maybe just changing the test would be be

[2017-10-01 19:55] zandraaperjesi commented on #804
I would like to claim this issue

[2017-10-01 19:56] Smarticles101 commented on #804
@zandraaperjesi you can have it!

[2017-10-01 22:36] moodys28 commented on #785
moodys28

I would like to work on this.

[2017-10-02 00:48] stkent commented on #800
IMHO, having our test cases match 1:1 with canonical test cases (at least in spirit) is a good thing  because it ensures thorough coverage. In fact, I'm such a fan of this that I generally avoid implementing any exercise without canonical tests.

Since Java doesn't auto-generate test suites, it is not unexpected that we sometimes fall out of sync with the canonical data. This is generally undesira

[2017-10-02 01:08] lbesaw commented on #800
My only real issue was that there is a test involving a degenerate triangle which is meant to fail in testing, however the instructions state that a degenerate triangle should pass. Just some consistency would be appreciated.

[2017-10-02 02:31] AndresReyMaz commented on #805
#817

[2017-10-02 07:36] #769 closed

[2017-10-02 07:36] sjwarner-bp commented on #808
I think I'll try this one, if it is still up for grabs. I'll try just doing one to familiarise myself with the process and make sure I am doing it right, then afterwards I'll do a few, if that is ok?

[2017-10-02 07:38] #790 closed

[2017-10-02 07:41] #783 closed

[2017-10-02 07:43] #807 closed

[2017-10-02 07:46] FridaTveit commented on #784
Fixed in PR #813. Thanks @pvtuan10! :)

[2017-10-02 07:46] #784 closed

[2017-10-02 08:56] FridaTveit commented on #799
Sure, changing that test to 2, 2 and 5 sounds like a great plan :)

I think adding a degenerate type would also be good. The canonical data says each language track can deal with the degenerate triangles in whatever way best suits their language, and I think adding a degenerate type would suit the Java exercise very well. Great suggestion @jackattack24! :) If we do that then we also need to remove

[2017-10-02 09:12] FridaTveit commented on #804
Fixed in PR #816. Thanks @zandraaperjesi! :)

[2017-10-02 09:12] #804 closed

[2017-10-02 09:15] FridaTveit commented on #785
@pvtuan10 has already opened a pull request for this issue, sorry @moodys28. There are still a lot of `good first patch` issues you can work on though, and I'll try to open some more as well :)

[2017-10-02 09:22] FridaTveit commented on #800
@lbesaw , yes issue #799 covers that problem, which I absolutely agree is a problem. I don't particularly mind that our tests are slightly different to the canonical data, but I also don't mind reworking our solution if you think that's best @stkent. So having `isIsosceles`, `isEquilateral` and `isScalene` methods instead of the enum? I'm happy to open a PR for that :) I guess if we're then sticki

[2017-10-02 09:44] FridaTveit commented on #785
Fixed in PR #814. Thanks @pvtuan10! :) And thanks @moodys28 for expressing interest :) I hope you find another issue to work on :)

[2017-10-02 09:44] #785 closed

[2017-10-02 09:57] sjwarner-bp commented on #808
I have just submitted the PR - thank you @FridaTveit, I did submit it to the wrong place originally! :smiley:

[2017-10-02 12:40] stkent commented on #800
@lbesaw you're right, the README for this exercise is currently "locked" at a version that doesn't match the test suite. This is a problem that will go away over time now that tracks "own" both pieces of data :)

@FridaTveit I like those method names, for sure; I don't see why we can't also perform tests for degenerate triangles, since it's called out as an option in the canonical data. It might b

[2017-10-02 13:14] pvtuan10 commented on #806
Hi, I would like to help on this issue.

[2017-10-02 16:52] jackattack24 commented on #799
Okay, great @FridaTveit! I can work on either change, but I'll wait for further feedback on the issue first.

[2017-10-02 19:04] m-a-ge commented on #378
Would you mind if I claim this one?

[2017-10-02 19:29] zandraaperjesi commented on #804
thanks for the opportunity @FridaTveit @Smarticles101 ! :)

[2017-10-02 22:17] Smarticles101 commented on #799
I like the idea of adding a degenerate type @FridaTveit :)

[2017-10-03 08:15] FridaTveit commented on #803
Fixed in pull request #818. Thanks @altDaemon! :)

[2017-10-03 08:15] #803 closed

[2017-10-03 08:27] FridaTveit commented on #806
Fixed in PR #821. Thanks @pvtuan10! :)

[2017-10-03 08:27] #806 closed

[2017-10-03 08:29] FridaTveit commented on #378
Great, go for it! :)

[2017-10-03 08:46] FridaTveit opened #825 "series: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:46] FridaTveit opened #826 "roman-numerals: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:46] FridaTveit opened #827 "allergies: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:46] FridaTveit opened #828 "meetup: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:47] FridaTveit opened #829 "queen-attack: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:47] FridaTveit opened #830 "minesweeper: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:47] FridaTveit opened #831 "bowling: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:47] FridaTveit opened #832 "word-search: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:48] FridaTveit opened #833 "difference-of-squares: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-03 08:57] FridaTveit commented on #808
Fixed in PR #820. Thanks @sjwarner-bp! :)

[2017-10-03 08:57] #808 closed

[2017-10-03 09:01] sjwarner-bp commented on #808
Thanks for letting me help out @FridaTveit !

[2017-10-03 09:04] FridaTveit commented on #808
No problem, thanks for wanting to help! :)

[2017-10-03 09:22] deepakavs commented on #833
I will work on this @FridaTveit

[2017-10-03 09:30] FridaTveit commented on #799
I think this issue has become very dependent on the outcome of issue #800, so I'll close this one and we can keep discussing it in issue #800 if that's okay :)

[2017-10-03 09:30] #799 closed

[2017-10-03 09:36] FridaTveit commented on #800
Okay so the changes we're proposing are:
1. Changing the tests and example implementation to use `isIsosceles`, `isEquilateral` and `isScalene` methods instead of the enum.
2. Adding an `isDegenerate` method and adding tests for degenerate triangles.
3. Adding optional `isDegenerate` tests to the canonical data.

Does that sound okay @lbesaw, @stkent, @Smarticles101 and @jackattack24? I guess 1 an

[2017-10-03 09:43] FridaTveit commented on #833
Great! :)

[2017-10-03 09:51] Akatsuki06 commented on #829
I will work on it.

[2017-10-03 09:52] FridaTveit commented on #829
Great! :)

[2017-10-03 10:09] Akatsuki06 commented on #832
Okay working on this!

[2017-10-03 10:18] deepakavs commented on #833
Fixed by #835

[2017-10-03 10:20] deepakavs commented on #825
Let me take this.

[2017-10-03 11:02] deepakavs commented on #828
Working on this as well!

[2017-10-03 12:09] #833 closed

[2017-10-03 12:37] deepakavs commented on #825
Fixed by #839

[2017-10-03 12:55] jackattack24 commented on #800
Sure, I can work on those! To change the canonical data I would change the canonical-data.json file for triangle in exercism/problem-specifications/exercises?

[2017-10-03 13:34] FridaTveit commented on #800
I think that's right, and then you would have to open a PR to that repository :) Though @stkent would know more about that than me :)

[2017-10-03 14:31] #827 closed

[2017-10-03 15:01] #832 closed

[2017-10-03 15:08] #830 closed

[2017-10-03 15:38] #825 closed

[2017-10-03 16:01] #829 closed

[2017-10-03 16:43] FridaTveit commented on #805
Fixed in PR #817. Thanks @AndresReyMaz! :)

[2017-10-03 16:43] #805 closed

[2017-10-04 02:55] stkent commented on #800
Let's do them in order, 1, 2, 3, so we get a sense as to what the new tests should look like before we add them upstream. I can help you through that step when you get to it if you're interested, @jackattack24!

[2017-10-04 08:11] FridaTveit commented on #700
Fixed in PR #842. Thanks @szielinski! :)

I'm sorry if you were still working on it @ribhav-pahuja. I forgot about your comment when merging the PR, sorry. There should be lots of other `good-first-patch` issues you can work on though. Let me know if you have any problems finding any :)

[2017-10-04 08:11] #700 closed

[2017-10-04 08:26] #826 closed

[2017-10-04 08:28] FridaTveit opened #845 "perfect-numbers: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:29] FridaTveit opened #846 "sum-of-multiples: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:29] FridaTveit opened #847 "sieve: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:29] FridaTveit opened #848 "secret-handshake: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:30] FridaTveit opened #849 "robot-simulator: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:30] FridaTveit opened #850 "wordy: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:30] FridaTveit opened #851 "forth: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:30] FridaTveit opened #852 "matrix: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:31] FridaTveit opened #853 "kindergarten-garden: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:31] FridaTveit opened #854 "pascals-triangle: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:31] FridaTveit opened #855 "spiral-matrix: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 08:32] FridaTveit opened #856 "transpose: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-04 12:18] Smarticles101 commented on #800
Sounds good, I agree with @stkent's comment

[2017-10-04 12:43] deepakavs commented on #828
PR #857

[2017-10-04 13:00] delbertlegg commented on #856
I'll take this on :)

[2017-10-04 14:45] #782 closed

[2017-10-04 17:54] FridaTveit commented on #800
Thanks to @jackattack24, triangle now uses `isIsosceles`, `isScalene` and `isEquilateral` methods instead of an enum! :)

The next step I guess is to make our tests consistent with the canonical data. Do you want to do that as well @jackattack24? You absolute don't have to of course, you've done a great job already, but you can if you want to :)

[2017-10-04 17:55] #854 closed

[2017-10-04 20:05] m-a-ge commented on #378
@FridaTveit done, I hope it looks good 😄

[2017-10-05 09:00] #856 closed

[2017-10-05 09:01] #848 closed

[2017-10-05 11:17] #846 closed

[2017-10-05 12:51] mhdsmr2 commented on #853
Do I have to add topics to exercises with `null` topics (in `config.json`)? Is that what I have to do?

[2017-10-05 14:02] FridaTveit commented on #853
You have to add topics to the exercise with slug `kindergarten-garden` in `config.json`. It should currently have `topics` set to `null` :) Does that make sense?

[2017-10-05 15:06] mhdsmr2 commented on #853
I got it. Thanks!
I am working on it now.

[2017-10-05 15:16] FridaTveit commented on #853
Great :)

[2017-10-05 15:50] mhdsmr2 commented on #853
Do I have to create a new branch?

[2017-10-05 16:23] #845 closed

[2017-10-05 16:25] mhdsmr2 commented on #853
Done!
Please merge it with the main repo.
Thanks.

[2017-10-05 16:41] FridaTveit commented on #853
You need to [open a pull request](https://help.github.com/articles/creating-a-pull-request/) so that we can review it and then merge it once we're happy with it :)

[2017-10-05 16:41] FridaTveit commented on #853
Let me know if you need any help with that :)

[2017-10-05 16:42] FridaTveit commented on #853
And yes, it would be preferable if you do the work on a branch on your fork :)

[2017-10-05 16:44] FridaTveit commented on #853
I see now that you have opened a pull request. It would be great if you could link to this issue in the description, and especially if you put "fixes #853" in the description since that automatically closes this issue when the PR is merged :)

[2017-10-05 16:44] mhdsmr2 commented on #853
Okay.

[2017-10-05 16:53] FridaTveit commented on #853
Thanks! :)

[2017-10-05 16:59] mhdsmr2 commented on #853
When will this pull request will be merged?

[2017-10-05 17:00] jackattack24 commented on #800
@FridaTveit I'd be happy to work on it. So the next step would be adding ``` isDegenerate ``` and tests before we touch the canonical data, correct? (As per @stkent's last comment). I have ideas for some good tests, but I'm open to suggestions of course :)

And @stkent any help when we get to the canonical data would be greatly appreciated :)

[2017-10-05 17:06] FridaTveit commented on #853
You need to address my comments before I can merge it. First it needs to be reivewed and approved, only then can it be merged.

[2017-10-05 17:07] mhdsmr2 commented on #853
Okay.

[2017-10-05 17:08] FridaTveit commented on #800
No, I think we should update the tests to be consistent with the current tests in the canonical data first. That way we'll solve the main issue with the README and tests being inconsistent. So we won't change the canonical data only update our tests to be consistent with it. Then we can add degenerate tests as an improvement. What do you think? :)

[2017-10-05 20:21] jackattack24 commented on #800
Ah okay. I already updated the test that threw an exception for a 2, 4, 2 triangle to test a 2, 5, 2 triangle in pull request #843. Otherwise, I think testing for equilateral triangles also being isosceles is the only other change necessary.

[2017-10-06 08:17] FridaTveit commented on #800
I think our tests are still quite different. They don't use the same numbers as the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/triangle/canonical-data.json) and we have no tests for any of the methods returning false. As it is someone could pass those tests by just having all methods returning true (apart from when they need to throw an exception) :P

[2017-10-06 08:18] #850 closed

[2017-10-06 08:19] #378 closed

[2017-10-06 11:06] #853 closed

[2017-10-06 12:28] delbertlegg commented on #549
@FridaTveit I'll take this on.

[2017-10-06 12:49] delbertlegg commented on #549
@FridaTveit Question for you...I was going through the tests to ensure that I added the required stubs and understood the problem statement and noticed that expected behavior for passing 0 in `calculateLargestProductForSeriesLength() ` is expected to return 1, although it isn't specified in the README. Should we say that in the README or just let the user infer that via the tests? Thanks!

[2017-10-06 12:52] FridaTveit commented on #549
I think it's fine to let the user infer that via the tests :) Thanks for asking though! :)

[2017-10-06 12:55] delbertlegg commented on #549
Good deal, thanks!

[2017-10-06 14:27] jackattack24 commented on #800
Yeah that makes sense :) Sorry for the misunderstanding

[2017-10-06 15:11] #549 closed

[2017-10-06 15:51] FridaTveit commented on #800
No problem :)

[2017-10-06 15:52] FridaTveit opened #870 "collatz-conjecture: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:53] FridaTveit opened #871 "nth-prime: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:53] FridaTveit opened #872 "prime-factors: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:53] FridaTveit opened #873 "complex-numbers: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:54] FridaTveit opened #874 "pythagorean-triplet: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:54] FridaTveit opened #875 "rotational-cipher: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:54] FridaTveit opened #876 "run-length-encoding: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 15:54] FridaTveit opened #877 "atbash-cipher: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-06 16:31] valeriecodes commented on #874
I can look at this

[2017-10-06 21:26] mhdsmr2 commented on #852
I made a [PR](https://github.com/exercism/java/pull/883).

[2017-10-06 23:18] mhdsmr2 commented on #831
I made a [PR](https://github.com/exercism/java/pull/884). Merge it. Or tell if me if there's something else I have to do.

[2017-10-07 11:32] FridaTveit commented on #831
There was already an open PR for this issue @mhdsmr2. You should be able to see that on this issue that another PR refers to it. So I'm sorry but I can't merge yours. Also, you don't have to tell me to merge your PRs, I will review them as soon as I have time and merge them as soon as they're ready to be merged :)

[2017-10-07 11:34] mhdsmr2 commented on #831
Oh okay. Sorry.

[2017-10-07 11:41] mhdsmr2 commented on #871
I'll take this

[2017-10-07 11:52] mhdsmr2 commented on #871
Made a PR.

[2017-10-07 12:15] #873 closed

[2017-10-07 12:23] #547 closed

[2017-10-07 12:39] #870 closed

[2017-10-07 12:41] FridaTveit commented on #831
No problem :)

[2017-10-07 22:09] #852 closed

[2017-10-08 09:43] #871 closed

[2017-10-08 17:06] #847 closed

[2017-10-09 12:37] delbertlegg commented on #376
I'll take this on!

[2017-10-09 12:48] FridaTveit commented on #376
Great! Thanks @delbertlegg! :)

No, from our [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) you can see that we only require stubs for the first 20 exercises on the track (i.e. the first 20 exercises listed in `config.json`). This exercises comes later in the track so there shouldn't be any starter implementation :) I hope that makes sense, let me

[2017-10-09 13:13] delbertlegg commented on #376
@FridaTveit Ah, okay...just so I understand completely, there's the test class, and then there's an implemented BST class in the reference folder. What's the purpose of that class? Is the user expected to create a new class in the main/java folder?

[2017-10-09 13:40] FridaTveit commented on #376
The user will only be provided with the test, not the reference solution. So yes, they're expected to implement their solution in `main/java`, where we currently either have a `.keep` file or a starter implementation, depending on how early in the track the exercise is.

The reference solution is just for contributors. When you make a PR the travis build will run all the tests against the referenc

[2017-10-09 13:42] delbertlegg commented on #376
RTFM aye! :) Thanks for the explanation. Working on the fix now.

[2017-10-09 15:47] #376 closed

[2017-10-09 15:47] #828 closed

[2017-10-09 15:49] FridaTveit opened #892 "crypto-square: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:49] FridaTveit opened #893 "simple-cipher: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:50] FridaTveit opened #894 "saddle-points: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:50] FridaTveit opened #895 "all-your-base: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:50] FridaTveit opened #896 "clock: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:50] FridaTveit opened #897 "palindrome-products: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:51] FridaTveit opened #898 "flatten-array: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-09 15:51] FridaTveit opened #899 "bracket-push: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-10 08:54] FridaTveit commented on #791
Fixed in PR #822. Thanks @spmvanmierlo! :)

[2017-10-10 08:54] #791 closed

[2017-10-10 08:55] FridaTveit commented on #793
@kapilaNR are you still working on this? Or is it free for other people to work on? :)

[2017-10-10 12:25] #898 closed

[2017-10-10 12:45] deepakavs commented on #897
Fixed by #907

[2017-10-10 16:01] #897 closed

[2017-10-11 08:25] FridaTveit commented on #875
Fixed in PR #909. Thanks @PatrM! :)

[2017-10-11 08:25] #875 closed

[2017-10-11 08:28] #899 closed

[2017-10-11 08:29] FridaTveit commented on #893
This has been fixed in PR #910. Thanks @anu0012 :)

[2017-10-11 08:29] #893 closed

[2017-10-11 08:29] FridaTveit commented on #892
This has been fixed in PR #910. Thanks @anu0012 :)

[2017-10-11 08:29] #892 closed

[2017-10-11 08:30] FridaTveit commented on #877
This has been fixed in PR #910. Thanks @anu0012 :)

[2017-10-11 08:30] #877 closed

[2017-10-11 13:13] #896 closed

[2017-10-11 14:28] #894 closed

[2017-10-11 14:39] FridaTveit opened #915 "book-store: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:39] FridaTveit opened #916 "change: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:39] FridaTveit opened #917 "word-count: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:39] FridaTveit opened #918 "etl: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:40] FridaTveit opened #919 "grade-school: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:40] FridaTveit opened #920 "robot-name: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:40] FridaTveit opened #921 "ocr-numbers: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:40] FridaTveit opened #922 "rectangles: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:41] FridaTveit opened #923 "linked-list: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:41] FridaTveit opened #924 "sublist: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 14:41] FridaTveit opened #925 "simple-linked-list: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-11 17:09] #895 closed

[2017-10-11 17:17] FridaTveit commented on #916
Fixed in PR #925. Thanks @PatrM :)

[2017-10-11 17:17] #916 closed

[2017-10-12 15:35] FridaTveit commented on #920
Fixed in PR #927. Thanks @PatrM! :)

[2017-10-12 15:41] #919 closed

[2017-10-13 07:31] #924 closed

[2017-10-13 12:46] FridaTveit commented on #923
Fixed in PR #932. Thanks @ryan-neff! :)

[2017-10-13 12:46] #923 closed

[2017-10-13 17:22] FridaTveit commented on #915
Fixed in PR #931. Thanks @PatrM! :)

[2017-10-13 17:22] #915 closed

[2017-10-14 16:00] jackattack24 commented on #800
Getting started on that now. Should I also be removing any existing tests that don't match the canonical data?

[2017-10-15 12:28] stkent commented on #800
I think so; it's always easier to match canonical tests as closely as (practically) possible!

[2017-10-15 15:37] wolf99 opened #935 "Sanitise eclipse settings from exercises"
For this of us not using eclipse, the eclipse settings and project files in some exercises (eg Luhn)  cause IDE's to spit out reams of errors. I notice that not all the exercises suffer this so these items are obviously required. Can we remove them from all the exercises that contain them?

[2017-10-15 15:44] stkent commented on #935
Could you please point me to the exact location of such a file? Having a hard time locating in within `luhn`. Thanks!

[2017-10-15 16:06] wolf99 commented on #935
Hmm, now I check the repo itself I see these aren't part of the exercise. Unsure if this is what I downloaded as part of the exercise or if it got added in the meantime.
Not sure why VS Code would add eclipse settings only to then complain about them though.
Travelling at the moment so can't test this properly. Will do so when I have proper access again and update here.

[2017-10-15 16:27] FridaTveit opened #936 "list-ops: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:27] FridaTveit opened #937 "custom-set: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:28] FridaTveit opened #938 "binary-search: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:28] FridaTveit opened #939 "binary-search-tree: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:29] FridaTveit opened #940 "bank-account: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:29] FridaTveit opened #941 "triangle: add topics"
As part of the update to the exercism website, we want to add topics to each exercise. This should be topics that will most likely be relevant to the exercise even though you might be able to solve it without encountering that topic. There is a [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt) used across all exercism tracks but you can add track specific

[2017-10-15 16:59] themakshter commented on #936
Can work on this. I will use the topics used in the python project `config.json`

[2017-10-15 17:12] themakshter commented on #872
This issue has been fixed by #885, is it good to close?

[2017-10-15 17:19] stkent commented on #935
Awesome, no rush, let us know what you find whenever you get a chance! 🔍

[2017-10-15 17:51] marykomar commented on #939
I would like to work on this.

[2017-10-15 18:09] stkent commented on #872
Good catch!

[2017-10-15 18:09] #872 closed

[2017-10-15 18:53] yashasingh commented on #938
@FridaTveit I would take up this

[2017-10-15 18:55] yashasingh commented on #941
@FridaTveit I would like to work on this

[2017-10-15 19:36] yashasingh commented on #940
@FridaTveit I've referenced this issue . Please review

[2017-10-15 21:43] jackattack24 commented on #800
Just about ready with the changes, but I'm not sure whether or not to keep the following test:
[code]
It seems like a pretty reasonable test to run, but testing negative sides isn't covered by the canonical data.

[2017-10-15 22:13] stkent commented on #800
I vote for removal; I think we'd be better served as a track by having a few well-chosen exercises focus heavily on meaningful input validation.

[2017-10-16 06:56] marykomar commented on #937
Would like to work on this.

[2017-10-16 08:24] #925 closed

[2017-10-16 09:52] #918 closed

[2017-10-16 11:01] wolf99 commented on #935
Apologies - it is actually the IDE! 😬 Hadn't realised but possibly the Java plugin for VS Code is adding these during some types of actions.

[2017-10-16 11:01] #935 closed

[2017-10-16 11:03] stkent commented on #935
No worries; glad you got to the bottom of it!

[2017-10-16 11:19] #939 closed

[2017-10-16 11:26] #937 closed

[2017-10-16 11:27] #851 closed

[2017-10-16 12:09] FridaTveit commented on #230
From what I can tell, `custom-set` is slightly confusing in terms on generics at the moment. It requires the implementation to use generics but then only uses integers in the tests. But it's ticked in the list above to indicate that it has been cleaned up/reviewed. Is that a mistake? Or do you think it's fine as it is @stkent? :)

[2017-10-16 13:46] stkent commented on #230
I think `custom-set` still needs a rewrite?

[2017-10-16 14:32] FridaTveit commented on #230
I agree, I'll untick it in the list then and hopefully do a PR for it soon :)

[2017-10-16 21:42] stkent opened #953 "Rename exercises/*/.meta/.version to exercises/*/.meta/version"
For visibility... I don't know why I set this hidden to begin with 🤷‍♂️

[2017-10-16 21:46] stkent opened #954 "Update new exercise guide to mention version file"
When implementing a new exercise that tracks canonical data, a file should be created at exercises/exercise-slug/.meta/version and the matched canonical data version should be added to this file (e.g. `1.0.0`).

Add instructions to this effect here: https://github.com/exercism/java/blob/master/CONTRIBUTING.md#adding-a-new-exercise

[2017-10-17 09:39] FridaTveit commented on #876
Fixed in PR #934. Thanks @PatrM :)

[2017-10-17 09:39] #876 closed

[2017-10-17 09:39] #922 closed

[2017-10-17 09:41] #936 closed

[2017-10-17 20:33] RhuanKrum commented on #347
Hi! I just opened a pull request about this rework task.

Please, feel free to suggest changes or improvements.
Looking forward to contribute to more content here! Thanks!

[2017-10-18 08:15] FridaTveit commented on #855
Fixed in PR #956. Thanks @mohshabbir :)

[2017-10-18 08:15] #855 closed

[2017-10-18 08:54] #954 closed

[2017-10-18 19:16] #230 closed

[2017-10-18 19:29] stkent commented on #800
Closed by #951 I believe!

[2017-10-18 19:29] #800 closed

[2017-10-18 19:29] stkent commented on #772
@Smarticles101 any ideas for this one?

[2017-10-18 20:11] #953 closed

[2017-10-19 01:21] Smarticles101 commented on #772
Perhaps we could clone `master` and get the `diff` between `master` and the branch the build is on? That's the only idea I have other than actually authenticating with github's api

[2017-10-19 07:27] m-a-ge commented on #772
I've faced the same problem while creating issues for Python track. The goal was to create over 70 issues, but after 35-40 created issues I've started getting this response

Didn't research much, but it's annoying

[2017-10-19 08:30] #941 closed

[2017-10-19 08:31] FridaTveit commented on #793
I think we can say this is free for people to work on :)

[2017-10-19 08:32] FridaTveit commented on #874
@valeriecodes are you still working on this? Or is it free for other people to work on?

[2017-10-19 09:44] stkent commented on #230
@rstockbridge all these exercises featuring generics have been rewritten (thanks, @FridaTveit!). They have also been reordered within the track, if you would like to revisit them:

1. `binary-search`
1. `linked-list`
1. `simple-linked-list`
1. `binary-search-tree`
1. `list-ops`
1. `custom-set`

[2017-10-19 13:06] #940 closed

[2017-10-19 17:41] valeriecodes commented on #874
Feel free to grab @FridaTveit

[2017-10-20 08:10] FridaTveit commented on #874
Okay, this is open for others to work on then :) Feel free to comment here if you want to start working on it again @valeriecodes :)

[2017-10-22 11:02] FridaTveit commented on #347
Fixed in PR #959. Thanks @RhuanKrum! :)

[2017-10-22 11:02] #347 closed

[2017-10-24 08:26] #921 closed

[2017-10-26 17:59] arshanq commented on #938
@yashasingh  Are you working on this ? Or can i take this up ?

[2017-10-31 09:32] FridaTveit commented on #938
I think it's fine for you to take this up @arshanq :)

[2017-11-01 12:55] stkent commented on #766
We came, we prepped, we conquered! Many thanks @FridaTveit for opening and shepherding all those issues! 👏

[2017-11-01 12:55] #766 closed

[2017-11-01 15:07] #874 closed

[2017-11-02 00:10] rstockbridge opened #972 "luhn: Add test enforcing that non-digit characters are invalid"
I discovered that my solution to luhn (http://exercism.io/submissions/05a450216e9d4fc5965831a58760efe8) passed all the tests even if I didn't check that all digits excluding spaces were non-numeric. There are two reasons for this:

- I used `Character.getNumericValue()` to parse the string, and that function still returns numeric output for non-digits
- The tests checking that symbols and punctuat

[2017-11-02 00:32] stkent commented on #972
Specifically, you're saying that if you replace

[code]

by

[code]

 in the solution you linked to, then all existing tests continue to pass but the new test you describe fails?

[2017-11-02 00:40] rstockbridge commented on #972
Correct!

On Wed, Nov 1, 2017 at 8:32 PM, Stuart Kent <notifications@github.com>
wrote:

[2017-11-02 01:34] stkent commented on #972
We should definitely patch this in the Java track.

We should also socialize it in problem-specifications; though I doubt it makes sense to add this exact test case to the canonical data, it might be worth adding a warning comment (for other track maintainers).

[2017-11-04 20:44] rstockbridge opened #975 "difference-of-squares: Add starter implemention"
difference-of-squares is missing a starter DifferenceOfSquaresCalculator.java file.

[2017-11-04 20:47] stkent commented on #975
(and it _should_ have one, per https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations)

[2017-11-06 10:15] zbranca opened #976 "Gradle specific errors on compile on new Hello World Java"
Hello!
On a fresh fetch of Hello World, i do not receive expected test error, but an Gradle Exception.
I reinstalled Gradle, delete and re-fetch sources and compiled, delete .gradle user forder. All with with same outcome.

[code]

[2017-11-06 11:14] #793 closed

[2017-11-06 12:44] stkent commented on #976
Eek! That's not good. Here are a few things I can think of trying, in order:

1 - Update Gradle to the latest version (4.3) and re-run `gradle test`. If that still fails...
2a - Check that `gradle tasks` runs successfully, and
2b - Re-run `gradle test --debug` and post the full output here

Let us know how you get on with those suggestions!

[2017-11-06 12:57] #972 closed

[2017-11-06 15:08] stkent opened #977 "Revisit starter implementation policy for nextercism"
The next version of Exercism breaks exercises into core exercises and branch exercises. It will therefore be possible for users to complete exercises in many different orders.

In light of this, we should revisit our current policy regarding starter implementations, which "assumes" a fixed order of exercise completion, and decide whether/how to update it. Discussion should occur in this issue thre

[2017-11-06 15:46] FridaTveit commented on #977
Great suggestion :)

We have 17 core exercises currently I think. So maybe for the first five core exercises we can provide starter implementation for the core exercise and all the exercises it unlocks. And then for the next five we provide starter implementation for the core exercise but not for the ones it unlocks. And for anything after that we don't provide any starter implementation (but with

[2017-11-06 18:08] FridaTveit opened #978 "acronym: rename single letter variable name"
In the [reference implementation for acronym](https://github.com/exercism/java/blob/master/exercises/acronym/.meta/src/reference/java/Acronym.java) a `StringBuilder` variable is named `b`. Single letter variable names should in general be avoided (there are some exceptions, for example loop indexes) as they're not very descriptive. This variable should be renamed to something more clear such as `s

[2017-11-06 18:20] FridaTveit opened #979 "allergies: make classes and methods package private"
All the `public` class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in [the allergies reference solution](https://github.com/exercism/java/blob/master/exercises/allergies/.meta/src/reference/java/) and [the allergies starter implementation](https://github.com/exercism/java/blob/master/exercises/allergies/src/main/java) can be changed to `pac

[2017-11-06 19:31] stkent commented on #976
Great, glad we could help! Enjoy the track and please let us know if anything else is wonky :)

[2017-11-06 19:31] #976 closed

[2017-11-07 01:57] stkent commented on #977
I think that's a good balance! My only concern is that it may be even harder than the current system to keep up-to-date as we add or reorder exercises. I'm tempted to say we should just provide implementations for every exercise and be done with it!

[2017-11-07 09:44] FridaTveit commented on #978
Fixed in PR #980. Thanks @PatrM :)

[2017-11-07 09:44] #978 closed

[2017-11-07 16:19] FridaTveit commented on #977
That's a good point. I do think it's an important part of the learning process to know how to create java files and work out method signatures though. Maybe we could decide on a difficulty below which all exercises should have starter implementations? For example, all exercises with difficulty 4 or below could have starter implementations. That might be easier to keep up to date. What do you think

[2017-11-07 17:34] stkent commented on #977
Ooh, I like that, much nicer than having to keep count!

[2017-11-07 17:38] stkent commented on #977
I'm happy to open up a PR with that policy change if you'd like!

[2017-11-07 18:02] stkent commented on #743
Ref.: https://github.com/exercism/configlet/issues/108

[2017-11-08 09:47] FridaTveit commented on #977
Sure, go for it :)

Should we open good first patch issues for removing starter implementations? If we're using difficulty 4 as our cut off point I don't think there are any exercises that need starter implementation that don't have them already. But there will probably be quite a few that need to have their starter implementation removed.

[2017-11-08 18:55] FridaTveit opened #981 "anagram: replace Arrays.asList with Collections.singletonList"
In [the anagram tests](https://github.com/exercism/java/blob/master/exercises/anagram/src/test/java/AnagramTest.java) there are several instances where `Arrays.asList` is used to construct a list with only one element. Since the list only has one element `Collections.singletonList` should be used instead to save memory. For example:
`assertTrue(detector.match(Arrays.asList("eagle")).isEmpty());`
s

[2017-11-08 18:58] FridaTveit opened #982 "anagram: make classes and methods package private in reference solution"
All the `public` class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in [the anagram reference solution](https://github.com/exercism/java/blob/master/exercises/anagram/.meta/src/reference/java/Anagram.java) can be changed to `package private` (which is the default therefore the access modifier can be left out). For example, `public class Anag

[2017-11-08 19:10] FridaTveit opened #983 "atbash-cipher: improve reference solution"
In [the atbash-cipher reference solution](https://github.com/exercism/java/blob/master/exercises/atbash-cipher/.meta/src/reference/java/Atbash.java) `+=` is used to append to a string in a loop. For appending to strings in a loop it's better to use a [StringBuilder](https://docs.oracle.com/javase/8/docs/api/java/lang/StringBuilder.html). This is because by using `+=` to append strings you are crea

[2017-11-08 19:12] FridaTveit opened #984 "beer-song: make classes and methods package private in reference solution"
All the `public` class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in [the beer-song reference solution](https://github.com/exercism/java/blob/master/exercises/beer-song/.meta/src/reference/java/BeerSong.java) can be changed to `package private` (which is the default therefore the access modifier can be left out). For example, `public class

[2017-11-08 21:15] stkent commented on #977
I think it's the opposite, after looking at the config file; the old 20th exercise was difficulty 4, and there are a few later (21+) exercises still at difficulty 4.

[2017-11-08 21:16] stkent commented on #977
In light of that ^ new information, I still like 4 as a cut-off difficulty.

[2017-11-09 09:38] FridaTveit commented on #977
Oh, I see. Should we open some good first patch issues to add starter implementation then? :)

[2017-11-09 15:45] stkent commented on #977
Sure! I'll PR the policy change today :)

[2017-11-09 16:03] FridaTveit commented on #977
Great! I'll start making good first patch issues :)

[2017-11-09 17:38] FridaTveit commented on #977
Actually, I'll start making good first patch issues once the policy change has got merged since it would be good to have a policy to point people to :)

[2017-11-09 18:02] stkent commented on #977
See https://github.com/exercism/java/pull/986!

[2017-11-10 10:02] FridaTveit opened #988 "rotational-cipher: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `rotational-cipher` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy o

[2017-11-10 10:39] FridaTveit opened #989 "kindergarten-garden: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `kindergarten-garden` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy

[2017-11-10 10:54] FridaTveit opened #990 "collatz-conjecture: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `collatz-conjecture` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy

[2017-11-10 10:59] FridaTveit opened #991 "nth-prime: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `nth-prime` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy on adding

[2017-11-10 11:00] FridaTveit opened #992 "saddle-points: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `saddle-points` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy on ad

[2017-11-10 11:09] FridaTveit opened #993 "diamond: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `diamond` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy on adding s

[2017-11-10 11:19] FridaTveit opened #994 "isogram: add starter implementation"
We've recently decided that all exercises with difficulty 4 or lower should have starter implementation (see issue #977 for discussion). The exercise `isogram` has difficulty 4 but no starter implementation, therefore starter implementation should be added. See the [POLICIES doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for details of our policy on adding s

[2017-11-10 11:21] FridaTveit commented on #975
I think it does have starter implementation: https://github.com/exercism/java/blob/master/exercises/sum-of-multiples/src/main/java/SumOfMultiples.java?

[2017-11-10 11:33] #831 closed

[2017-11-10 15:43] stkent commented on #975
I think this was actually for `difference-of-squares`!

[2017-11-10 15:52] FridaTveit commented on #975
I see! Then I agree, it should have starter implementation :)

[2017-11-11 02:46] stkent commented on #983
Closed in #987

[2017-11-11 02:46] #983 closed

[2017-11-11 02:47] stkent commented on #977
Closed by #986!

[2017-11-11 02:47] #977 closed

[2017-11-15 23:05] #994 closed

[2017-11-16 09:59] #993 closed

[2017-11-16 10:44] #984 closed

[2017-11-16 12:09] #992 closed

[2017-11-17 16:08] jonnynabors commented on #981
Taking a stab at this:
https://github.com/exercism/java/pull/1005

[2017-11-17 21:23] stkent commented on #981
Closed in #1005

[2017-11-17 21:23] #981 closed

[2017-11-19 07:50] masters3d opened #1006 "Add Linting to the Java Track"
I would be interested in seeing linting support as part of the build process.

I know Android provides some of these facilities. https://developer.android.com/studio/write/lint.html

I am not familiar with lint-mojo but it also seems to be an option.
https://simpligility.github.io/android-maven-plugin/lint-mojo.html

I'd be happy to help implement this but I was hoping for some feedback.

[2017-11-19 08:24] masters3d commented on #1006
Here are other options:
https://pmd.github.io/

Built in?
https://docs.oracle.com/javase/8/docs/technotes/tools/unix/javac.html#BHCEECJF
[code]

Sample PR of somebody adding multiple Java Linters. I do not think we need all of these but maybe we would stick with the google code style?

https://github.com/commercetools/commercetools-sync-java/pull/32/files

I guess the goal would be to run the styl

[2017-11-19 09:03] masters3d commented on #1006
https://github.com/checkstyle/checkstyle
https://github.com/jacoco/jacoco
https://github.com/spotbugs/spotbugs
https://github.com/pmd/pmd

Which one of these have you used before?

[2017-11-19 18:53] Smarticles101 commented on #938
Closed by #999

[2017-11-19 18:53] #938 closed

[2017-11-19 18:54] Smarticles101 commented on #523
Phew! All the exercises have topics now (that was a lot of pull requests haha). Thanks everyone who helped! 🎉

[2017-11-19 18:54] #523 closed

[2017-11-20 17:55] FridaTveit opened #1009 "binary-search-tree: simplify reference implementation"
In the [binary-search-tree reference implementation](https://github.com/exercism/java/blob/master/exercises/binary-search-tree/.meta/src/reference/java/BinarySearchTree.java) there are a few things which can be simplified:

1. Several times the keyword `this` is used where it isn't needed. You only need to use `this.variableName` or `this.methodName` when it would otherwise be ambiguous, i.e. when

[2017-11-20 18:00] FridaTveit opened #1010 "binary-search-tree: remove unused import in test file"
The [binary-search-tree tests](https://github.com/exercism/java/blob/master/exercises/binary-search-tree/src/test/java/BinarySearchTreeTest.java) has an unused import, `org.junit.Before;`, which should be removed.

[2017-11-21 00:16] stkent commented on #1006
Good thought!

I've used all of the above before (well, FindBugs in place of SpotBugs) and actually help maintain a Gradle plugin that simplifies applying several different checkers to Java (soon: +Kotlin) projects: https://github.com/btkelly/gnag/. It could work well here. My concern would be that linting would push `journey-test` times back up towards the Travis timeout limit. We could open a PR

[2017-11-21 00:17] stkent commented on #1006
That plugin also has built-in PR commenting for feedback.

[2017-11-21 16:19] #1010 closed

[2017-11-21 19:13] FridaTveit opened #1012 "bob: improve reference solution"
All the `public` class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in [the bob reference solution](https://github.com/exercism/java/blob/master/exercises/bob/.meta/src/reference/java/) can be changed to `package private` (which is the default therefore the access modifier can be left out). For example, in `Bob.java`, `public class Bob {` sh

[2017-11-21 19:23] FridaTveit opened #1013 "book-store: remove .keep file"
There is a `.keep` file in [the book-store reference solution folder](https://github.com/exercism/java/tree/master/exercises/book-store/.meta/src/reference/java). We use `.keep` files in empty folders that we don't want Git to ignore. However, there is already another file in the reference solution folder (`BookStore.java`), so the `.keep` file isn't needed.

[2017-11-21 19:30] FridaTveit opened #1014 "book-store: use consistent indentation"
The [book-store reference solution](https://github.com/exercism/java/blob/master/exercises/book-store/.meta/src/reference/java/BookStore.java) and the [book-store tests](https://github.com/exercism/java/blob/master/exercises/book-store/src/test/java/BookStoreTest.java) are mostly indented with 2 spaces. They should be indented with 4 spaces to be more consistent with the other files.

[2017-11-22 09:50] #1013 closed

[2017-11-22 09:51] #1012 closed

[2017-11-22 10:35] sjwarner-bp commented on #1006
I was also thinking about this, as I'd recently contributed to the Python track and found linting to be a part of their process.

I haven't used any Java linters before, but I think it could be a nice way to enforce consistency across the track. I agree with @stkent that this could cause Travis builds to take too long, but we won't know if we don't try it! :slightly_smiling_face:

On the subject o

[2017-11-22 11:20] #979 closed

[2017-11-22 11:21] #982 closed

[2017-11-22 11:33] sjwarner-bp opened #1019 "kindergarten-garden: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [kindergarten-garden reference solution](https://github.com/exercism/java/blob/master/exercises/kindergarten-garden/.meta/src/reference/java/) and the [kindergarten-garden starter implementation](https://github.com/exercism/java/blob/master/exercises/kindergarten-garden

[2017-11-22 12:21] sjwarner-bp opened #1024 "nth-prime: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [nth-prime reference solution](https://github.com/exercism/java/blob/master/exercises/nth-prime/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in PrimeCalculator.java, `publ

[2017-11-22 12:48] #989 closed

[2017-11-22 12:52] #988 closed

[2017-11-22 12:53] #991 closed

[2017-11-22 19:27] FridaTveit opened #1026 "bowling: simplify reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [bowling reference solution](https://github.com/exercism/java/blob/master/exercises/bowling/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in BowlingGame.java, `public class

[2017-11-22 19:33] FridaTveit opened #1027 "bowling: remove unnecessary exceptions from test method signatures"
Many of the methods in the [bowling tests](https://github.com/exercism/java/blob/master/exercises/bowling/src/test/java/BowlingTest.java) have `throws IllegalStateException` in their method signatures. Since `IllegalStateException` is an [unchecked exception](http://www.geeksforgeeks.org/checked-vs-unchecked-exceptions-in-java/), this isn't necessary. You only have to specify exceptions which can

[2017-11-22 19:45] stkent commented on #1006
CI could use a look at, for sure. I'm not sure master has been building lately (the newest builds I can see are 4 months old?) Same on the Kotlin track.

[2017-11-23 09:33] FridaTveit commented on #1009
Fixed in PR #1025. Thanks @jackattack24 :)

[2017-11-23 09:33] #1009 closed

[2017-11-23 09:34] #990 closed

[2017-11-23 09:35] #975 closed

[2017-11-23 10:14] #1014 closed

[2017-11-23 10:57] #1027 closed

[2017-11-23 11:26] #1026 closed

[2017-11-24 16:16] sjwarner-bp opened #1032 "circular-buffer: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [circular-buffer reference solution](https://github.com/exercism/java/blob/master/exercises/circular-buffer/.meta/src/reference/java/) and [BufferIOException](https://github.com/exercism/java/blob/master/exercises/circular-buffer/src/main/java/BufferIOException.java) ca

[2017-11-24 16:57] sjwarner-bp opened #1033 "run-length-encoding: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [run-length-encoding reference solution](https://github.com/exercism/java/blob/master/exercises/run-length-encoding/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in RunLeng

[2017-11-25 11:43] sjwarner-bp opened #1034 "crypto-square: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [crypto-square reference solution](https://github.com/exercism/java/blob/master/exercises/crypto-square/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Crypto.java, `publi

[2017-11-26 20:26] #1033 closed

[2017-11-26 20:27] #1019 closed

[2017-11-27 16:10] #1024 closed

[2017-11-27 16:13] #1034 closed

[2017-11-27 16:13] #1032 closed

[2017-11-27 16:18] sjwarner-bp opened #1041 "accumulate: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [accumulate reference solution](https://github.com/exercism/java/blob/master/exercises/accumulate/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Accumulate.java, `public

[2017-11-27 16:25] sjwarner-bp opened #1042 "binary: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [binary reference solution](https://github.com/exercism/java/blob/master/exercises/binary/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Binary.java, `public class Binary

[2017-11-27 16:27] sjwarner-bp opened #1043 "clock: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [clock reference solution](https://github.com/exercism/java/blob/master/exercises/clock/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Clock.java, `public class Clock {`

[2017-11-28 01:29] pratikpalashikar commented on #1043
I can take this one.

[2017-11-28 07:56] sjwarner-bp opened #1045 "custom-set: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [custom-set reference solution](https://github.com/exercism/java/blob/master/exercises/custom-set/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in CustomSet.java, `public c

[2017-11-28 08:01] sjwarner-bp opened #1046 "etl: make classes and methods package private in reference and starter implementations"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [etl reference solution](https://github.com/exercism/java/blob/master/exercises/etl/.meta/src/reference/java/) and [etl starter implementation](https://github.com/exercism/java/tree/master/exercises/etl/src/main/java) can be changed to package private (which is the defa

[2017-11-28 08:04] sjwarner-bp opened #1047 "food-chain: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [food-chain reference solution](https://github.com/exercism/java/blob/master/exercises/food-chain/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in FoodChain.java, `public c

[2017-11-28 08:07] sjwarner-bp opened #1048 "grade-school: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [grade-school reference solution](https://github.com/exercism/java/blob/master/exercises/grade-school/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in School.java, `public

[2017-11-28 08:09] sjwarner-bp opened #1049 "hamming: make classes and methods package private in reference and starter implementations"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [hamming reference solution](https://github.com/exercism/java/blob/master/exercises/hamming/.meta/src/reference/java/) and [hamming starter implementation](https://github.com/exercism/java/tree/master/exercises/hamming/src/main/java) can be changed to package private (w

[2017-11-28 08:19] sjwarner-bp opened #1050 "hexadecimal: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [hexadecimal reference solution](https://github.com/exercism/java/blob/master/exercises/hexadecimal/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Hexadecimal.java, `publ