[2018-10-02 08:27] #1532 closed

[2018-10-02 08:30] #1523 closed

[2018-10-02 08:32] FridaTveit commented on #1472
Thanks for pointing that out @alis0nc! 🙂

[2018-10-02 08:32] #1472 closed

[2018-10-02 08:34] #1524 closed

[2018-10-02 08:41] FridaTveit commented on #1533
Thanks for picking that up @alis0nc! Must have got a bit confused while opening lots of issues in a rush! 😄

[2018-10-02 08:41] #1533 closed

[2018-10-02 08:46] FridaTveit commented on #1521
Fixed in PR #1575. Thanks @ThomasVitale! 🙂

[2018-10-02 08:46] #1521 closed

[2018-10-02 09:06] FridaTveit commented on #1525
Fixed in PR #1576. Thanks @anurag-rai! 🙂

[2018-10-02 09:06] #1525 closed

[2018-10-02 09:29] FridaTveit opened #1579 "Travid build showing as pending"
For a few PRs the Travis build appears to get stuck at pending. However when you click through to the build it has actually finished. Examples:

- PR #1562 https://travis-ci.org/exercism/java/builds/435738107?utm_source=github_status&utm_medium=notification
- PR #1567 https://travis-ci.org/exercism/java/builds/435727735?utm_source=github_status&utm_medium=notification
- PR #1570 https://travis-ci.

[2018-10-02 09:33] FridaTveit commented on #1006
That's great that you want to help @mirkoperillo! 😄

I'm afaid we don't have very specific instructions at the moment. This issue is just to investigate adding linting to this repository, using something like for example [CheckStyle](https://github.com/checkstyle/checkstyle). I hope that helps! Feel free to look into it if you want and let us know if you run into any issues! 🙂

[2018-10-02 10:40] FridaTveit commented on #1519
Fixed in PR #1570. Thanks @sonapraneeth-a 🙂

[2018-10-02 10:40] #1519 closed

[2018-10-02 10:52] #1526 closed

[2018-10-02 10:58] FridaTveit opened #1580 "Should we use a test generator?"
As suggested by @beatbrot:

I could work on that, If you want me to :)

What do we think about creating an automatic test generator @exercism/java? 🙂

[2018-10-02 10:59] sjwarner-bp commented on #1579
That's really odd. Some kind of display issue?

I fixed the CI on Kotlin's track last night and used mostly the same as what we have over here...

I'll keep an eye out if the same issue appears in Kotlin track too :+1:

[2018-10-02 11:01] sjwarner-bp commented on #1580
That would be interesting. I think the F# track have had good success with this.

Depends how much we already deviate from the current suites though :thinking:

[2018-10-02 11:07] FridaTveit commented on #1518
Fixed in PR #1577. Thanks @lemoncurry  and @beatbrot 🙂

[2018-10-02 11:07] #1518 closed

[2018-10-02 11:08] FridaTveit commented on #1579
I restarted them all and they then worked fine (though one of them first failed with a timeout error and needed to be restarted again...). Possibly it's because so many PRs were openened around the same time?

[2018-10-02 11:15] beatbrot commented on #1580
Question is also: Do we want to have a generator that generates actual Java Code with @Test methods?

Or would we rather want to have a @Test-Method that processes the json-File?

[2018-10-02 12:54] Smarticles101 commented on #1556
Increasing the gradle version get's my vote 😄

[2018-10-02 13:42] FridaTveit commented on #1556
Fixed in PR #1551. Thanks @vpondala and @LukBukkit! 😄

[2018-10-02 13:42] #1556 closed

[2018-10-02 15:21] anurag-rai commented on #1540
Had implemented this earlier with a new Exception. Made a PR regarding the same.

[2018-10-02 15:50] #1412 closed

[2018-10-02 18:31] anurag-rai commented on #1540
@chungngoops Hey, I'm so sorry I didn't see your comment before making my PR. We had the same idea to use Exception though :)

[2018-10-02 18:34] chungngoops commented on #1540
@anurag-rai, no problem bro! Happy to work on other issues!

[2018-10-02 22:00] #1531 closed

[2018-10-03 06:50] #1527 closed

[2018-10-03 07:59] mirkoperillo commented on #1006
ok, I will investigate a little bit

[2018-10-03 09:04] FridaTveit commented on #1475
Hi @anurag-rai 🙂 I think it's been long enough that it's safe to assume @RonakLakhotia is not working on it anymore. To answer your questions:

1. It doesn't really matter if we use three test files or one as long as we use the same tests as the canonical data. I believe we've used three files in this case since the exercise has three distinct steps and rather a lot of tests so it might be easier

[2018-10-03 09:06] FridaTveit commented on #1516
Fixed in PR #1574. Thanks @alis0nc! 🙂

[2018-10-03 09:06] #1516 closed

[2018-10-03 11:36] #1539 closed

[2018-10-03 14:49] FridaTveit commented on #1538
Fixed in PR #1572. Thanks @alis0nc 🙂

[2018-10-03 14:49] #1538 closed

[2018-10-03 20:09] lemoncurry opened #1587 "Missing exercise 'Yacht'"
If there are no objections I would like to implement the missing exercise 'yacht'.

[2018-10-03 20:15] Smarticles101 commented on #1587
@lemoncurry feel free! Normally when implementing a new exercise, it is sufficient to check for pull requests to see if someone else is working on it, and if no one is, to open a new pull request just with an empty commit to reserve that you're working on it!

[2018-10-04 10:09] FridaTveit commented on #1389
All the issues are closed now so I believe this can be closed too! 🙂

[2018-10-04 10:09] #1389 closed

[2018-10-04 10:19] FridaTveit opened #1589 "Make it more clear which exercises can't be implemented for Java"
There are a few exercises that can't be implemented for Java: `leap`, `grains` and `say`. See issue #3 for an explanation of why.

The build will fail if someone tries to open a PR to add them, but apart from that it's not very obvious that they can't be added. Therefore we risk someone implementing them before realising they can't be added. There's already been several PRs openened and closed for

[2018-10-04 16:44] FridaTveit opened #1590 "grade-school: use assertEquals instead of assertThat"
In [the grade-school tests](https://github.com/exercism/java/blob/master/exercises/grade-school/src/test/java/SchoolTest.java) `assertThat` is used for the test assertions. To be more consistent with the other exercises we should use `assertEquals` instead. For example:

[code]

Should be changed to:

[code]

[2018-10-04 18:11] AndresAcuna commented on #1590
Changed for consistency, let me know if it needs more changes.

[2018-10-04 18:15] AndresAcuna commented on #1471
If this is still open, I'd like to take care of it.

[2018-10-04 18:38] yuval105 commented on #1590
I'll go for it.

[2018-10-05 08:31] FridaTveit commented on #1471
@AndresAcuna thanks for wanting to contribute! 🙂 However, @hgvanpariya has got an open pull request for this issue. @hgvanpariya are you still working on it? 🙂

[2018-10-05 08:49] FridaTveit commented on #1590
@yuval105 Thanks for wanting to help but in this case @AndresAcuna got there first 🙂 Feel free to work on any other issue or anything else you think needs improving! 🙂

[2018-10-05 10:36] hgvanpariya commented on #1471
@FridaTveit : yes, I'll fix this ...

[2018-10-05 11:57] FridaTveit commented on #1471
Great, thanks @hgvanpariya! 🙂

[2018-10-06 16:52] sjwarner-bp commented on #1590
Thanks for getting this done @AndresAcuna - closing now as fixed in #1591

[2018-10-06 16:52] #1590 closed

[2018-10-09 08:04] #1587 closed

[2018-10-09 08:41] FridaTveit opened #1595 "scrabble-score: remove instance variable"
In the [scrabble-score tests](https://github.com/exercism/java/blob/master/exercises/scrabble-score/src/test/java/ScrabbleScoreTest.java) a private instance variable is used. However it's constructed with different parameters in each test therefore it doesn't need to be an instance variable. Having it as a local variable in each test will make it clear that it's different for each test and not sha

[2018-10-09 09:11] PierrePIRONIN commented on #1595
My little contribution ;)

[2018-10-09 09:21] #1595 closed

[2018-10-10 15:17] FridaTveit opened #1598 "series: change return type of 'slices' method"
Currently the `slices` method in the [series exercise](https://github.com/exercism/java/tree/master/exercises/series) returns a list of string where each string represents a digit. Instead it should return a list of strings where each string is a number. That way it would match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/series/canonical-data.json)

[2018-10-10 15:17] FridaTveit commented on #1598
I believe @hgvanpariya is working on this. Let me know if I'm wrong @hgvanpariya 🙂

[2018-10-10 15:27] FridaTveit commented on #1471
Fixed in PR #1504. Thanks @hgvanpariya 🙂

[2018-10-10 15:27] #1471 closed

[2018-10-10 15:35] AndresAcuna commented on #1598
I understand @hgvanpariya is working on this, I was just trying to understand the request.

The return type of `slices` should be `List<String>` and not `List<List<String>>`?

[2018-10-10 15:45] hgvanpariya commented on #1598
@FridaTveit : yes , I'm working on this....

[2018-10-10 15:54] FridaTveit commented on #1598
Yes, that's right @AndresAcuna!  Sorry, I didn't explain it very well 🙂

[2018-10-11 12:13] hgvanpariya commented on #1475
@FridaTveit : anyone is working on this ?

[2018-10-12 02:06] anurag-rai commented on #1475
please feel free to work on it :)

[2018-10-12 03:49] hgvanpariya commented on #1475
Thank you , I'm working on this ...

[2018-10-12 08:51] hgvanpariya commented on #1475
@FridaTveit : need your code review comments ....

[2018-10-12 12:30] lemoncurry commented on #1589
I would propose to reference maybe an open issue that includes a list of all exercises that are not implemented yet in the [contributing guide](https://github.com/exercism/java/blob/master/CONTRIBUTING.md).
This list could also include a section for those exercises that are excluded from the track. Right now there is already a link that leads to a general page for contributing -> [https://exercism

[2018-10-15 03:29] Smarticles101 commented on #1479
I'll go ahead and work on this now. I need to make PR's for hacktoberfest lol

[2018-10-15 13:47] rvictorino opened #1602 "Yacht test is confusing / wrong"
Hi,

I was working on the Yacht game exercise.

In the problem introduction, an example is given regarding to category not applying to dice values:

This text seems to mean that with dice values like `{ 3, 3, 3, 3, 3 }`, Four Of A Kind should return a score of zero.
In the test suite, there is a test named yachtCantBeScoredAsFourOfAKind. This name seems to exist to ensure a zero score in this spec

[2018-10-15 14:09] lemoncurry commented on #1602
@rvictorino First, you are right, the method name is misleading/wrong. It should be `yachtCanBeScoredAsFourOfAKind`.

Other than that the test is working correctly.

The input here would be for example {3, 4, 4, 4, 4}, Category: Yacht. Obviously, the input of numbers does not satisfy the criteria for being scored as yacht. That is why you would receive 0 points, also clearly you would satisfy the

[2018-10-15 14:28] rvictorino commented on #1602
Thank you, nice work !
I can see you fixed the test to allow Four Of A Kind when input is a Yacht.
In that case, wouldn't it be nice to also edit the execise introduction to match this test:

We could either remove / replace this example, or edit it to give example of a non-zero score when input is expected to perfectly match a category (e.g. Yacht) but it is asked to calculate with another catego

[2018-10-15 14:30] FridaTveit commented on #1602
@rvictorino The exercise description is specified in the [problem specifications repo](https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/description.md). If you have any suggested changes please open an issue in that repo as we can't change it just for this track 🙂

[2018-10-15 15:59] rvictorino commented on #1602
Oh, right!
Will do !
Thanks for your help and time :)

[2018-10-15 16:02] FridaTveit commented on #1602
No problem, thanks for brining this to our attention! 🙂

[2018-10-15 16:02] #1602 closed

[2018-11-09 17:52] FridaTveit commented on #1511
We can probably close this now. Thanks for making sure we were prepared @sjwarner-bp! 🙂

[2018-11-09 17:52] #1511 closed

[2018-11-09 17:53] FridaTveit commented on #1006
I think this has been fixed by PR #1593. Thanks for all your great work @mirkoperillo! 😄

[2018-11-09 17:53] #1006 closed

[2018-12-16 00:42] xNS5 opened #1622 "Anagram exercise /main/java doesn't contain a .java file"
The directory doesn't contain the .java file. I've checked, and all that's in the java GitHub repo is a .keep file.

[2018-12-17 09:35] FridaTveit commented on #1622
@xNS5 That's because anagram has difficulty 7. As explained in our [policies doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) only exercises with difficulty 4 or lower require starter implementation (which would be a .java file in /main/java). Any other exercises just require a .keep file in that folder so that git doesn't ignore those folders 🙂 Does that make

[2018-12-17 23:48] xNS5 commented on #1622
Noted! I'll take a look at the policies doc to make sure I don't miss anything else in the future. Thanks for the response!

[2018-12-18 11:21] FridaTveit commented on #1622
No problem! 🙂

[2018-12-18 11:21] #1622 closed

[2019-02-01 04:44] mycahmason opened #1624 "Java: Pig Latin & Anagram"
It seems that the Pig Latin & Anagram lessons under the Java track are missing the main java files in the /src/main/java directories.

Thanks.

[2019-02-01 09:13] FridaTveit commented on #1624
Hi @mycahmason, thanks for raising this issue 🙂 Pig latin has difficulty 5 and anagram has difficulty 7. According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) we don't provide starter implementation for exercises with difficulty 5 or above. So the files aren't missing, they're intentionally not provided 🙂 Does that make sense?

[2019-02-01 16:41] mycahmason commented on #1624
Thanks for the explanation @FridaTveit that does make sense and I do see the explanation in the Pig Latin exercise. I think I must have mixed myself up while working on Anagram and missed it, oops :innocent:

Thanks again.

[2019-02-01 16:41] #1624 closed

[2019-02-24 14:28] RonakLakhotia commented on #1540
@FridaTveit is this issue still valid?

[2019-02-26 09:49] FridaTveit commented on #1540
@RonakLakhotia Yes, it is 🙂

[2019-02-26 10:05] RonakLakhotia commented on #1540
I will attempt this issue and submit a PR. 👍

[2019-02-27 10:10] #1540 closed

[2019-02-28 21:53] dangoth opened #1638 "Missing file from the pig-latin exercise"
Not sure if this is intended, but the \src\main\java\ class file is missing.

[2019-03-01 09:18] FridaTveit commented on #1638
This is intended. As you can see for our [policies doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) only exercises with difficulty 4 or lower should have starter implementations. And pig-latin is difficulty 5 as you can see in [config.json](https://github.com/exercism/java/blob/master/config.json) 🙂

[2019-03-01 09:18] #1638 closed

[2019-03-07 17:11] RonakLakhotia commented on #1475
@FridaTveit is this issue still valid?

[2019-03-07 17:13] FridaTveit commented on #1475
@RonakLakhotia yes 🙂

[2019-03-15 11:55] junming403 commented on #1589
Hi, I want to contribute to this repo. I am considering adding some algorithm questions. Should I propose the topic for approvement first? Thank you

[2019-03-15 13:15] FridaTveit commented on #1589
That's great that you want to contribute @junming403! 🙂 Do you mean you want to add new exercises? In which case that needs to be done in the [problem specifications repo](https://github.com/exercism/problem-specifications). We only implement the exercises that are specified in that repo 🙂 Does that make sense?

If there are any exercises in the problem specifications repo that aren't implemented

[2019-03-17 03:06] junming403 commented on #1589
Hi, I see, is there a list of missing problems I can try to contribute to?

[2019-03-18 10:47] FridaTveit commented on #1589
There used to be but I don't think there is anymore unfortunately 🙁 So I think the easiest thing to do at the moment is just to see if there are any exercises in the problem specifications repo that aren't in our list of exercises in this repo. You can then try to port over any of those exercises (apart from `leap`, `grains` and `say` as explained in this issue).

You can also update the tests for

[2019-03-18 14:30] #1475 closed

[2019-04-03 05:57] mayurdw opened #1645 "DnD Character Track build issues"
Hey everyone,

I am currently going through the Java track and I just downloaded the exercise.
This exercise gives me a lot of errors but that is without me implementing anything. It looks like the solution .java file has a lot of **missing methods** and that is uncommon for the track.

Here is the error log.

[code]

[2019-04-03 08:29] FridaTveit commented on #1645
@mayurdw Thanks for raising this! You're right, dnd character has difficulty 2 therefore it should have starter implementation including all methods. Feel free to pick this up yourself to fix if you want, otherwise we'll try to get it fixed as soon as possible 🙂

[2019-04-03 09:33] #1645 closed

[2019-04-04 12:47] Smarticles101 opened #1647 "Exercise benchmarks"
I propose adding benchmarks to each exercise.

I've been working on the [java analyzer](https://github.com/exercism/java-analyzer), and decided to share about it [on reddit, where a discussion was started](https://www.reddit.com/r/programming/comments/b915x3/static_analysis_for_exercismio_in_java/ek3437f/?utm_source=share&utm_medium=web2x).

The "optimal solution" the analyzer looks for for two-fe

[2019-04-10 16:12] SleeplessByte commented on #1589
FWIW:

This doesn't explain why it's not allowed to be implemented. You need to know what [Java Ranch](https://javaranch.com/) is, and infer that it's a licensing issue.

[2019-04-12 11:56] SleeplessByte opened #1656 "Checklist: normalise topics"
**Note**: the suggestions are generated automagically. If something is _actually_ missing, please open an issue at [problem-specifications](https://github.com/exercism/problem-specifications) to add the missing topics.

[code]

<details>
  <summary>List of valid topics</summary>

  - `abstract_classes`
  - `callbacks`
  - `conditionals`
  - `events`
  - `equality`
  - `exception_handling`
  - `gen

[2019-04-12 12:37] FridaTveit commented on #1656
Thanks @SleeplessByte! 🙂 The exercises without topics are all deprecated so no need to add topics to them I believe 🙂

[2019-04-12 13:28] SleeplessByte commented on #1656
@FridaTveit my quick script indeed does not filter out deprecated exercises 😅 .

[2019-04-19 19:24] wolf99 opened #1658 "binary-search: integer overflow is possible in solution"
https://github.com/exercism/java/blob/580118a3a555fad422b9a7fdf5042e1533a2f389/exercises/binary-search/.meta/src/reference/java/BinarySearch.java#L24

It's possible for the sum to cause integer overflow.
The expression should be changed to safer `middle = (int) Math.floor(left + (right - left) / 2);`

[2019-04-25 07:09] lemoncurry commented on #1544
This issue appears to be resolved via #1561 thanks to @princerachit  so I will close this issue now 😄

[2019-04-25 07:09] #1544 closed

[2019-04-30 09:27] lemoncurry commented on #1658
@wolf99 Thank you for your suggestion!
If in the next few days no other maintainer objects feel free to open a pull request if you want 🙂

[2019-05-01 06:34] #1658 closed

[2019-05-01 19:34] lemoncurry opened #1663 "allergies: update tests and version file (v1.2.0 -> v2.0.0)"
The tests for the [allergies exercise](https://github.com/exercism/java/tree/master/exercises/allergies) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/allergies).
Please update the tests and version file, and, if necessary, fix the reference implementation.

[2019-05-01 19:37] lemoncurry opened #1664 "alphametics: update tests and version file (v1.2.0 -> v1.3.0)"
The tests for the [alphametics exercise](https://github.com/exercism/java/tree/master/exercises/alphametics) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/alphametics).
Please update the tests and version file, and, if necessary, fix the reference implementation.

[2019-05-01 19:40] lemoncurry opened #1665 "anagram: update tests and version file (v1.3.0 -> v1.4.0)"
The tests for the [anagram exercise](https://github.com/exercism/java/tree/master/exercises/anagram) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/anagram).
Please update the tests and version file, and, if necessary, fix the reference implementation.

[2019-05-01 19:44] lemoncurry opened #1666 "darts: update version file (v1.2.0 -> v2.2.0)"
The version file for the [darts exercise](https://github.com/exercism/java/tree/master/exercises/darts) is not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/darts).
Please update.

[2019-05-01 19:47] lemoncurry opened #1667 "forth: update version file (v1.7.0 -> v1.7.1)"
The version file for the [forth exercise](https://github.com/exercism/java/tree/master/exercises/forth) is not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/forth).
Please update.

[2019-05-01 19:51] lemoncurry opened #1668 "grep: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [grep exercise](https://github.com/exercism/java/tree/master/exercises/grep) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/grep).
Please update the tests and version file, and, if necessary, fix the reference implementation.

[2019-05-02 07:12] lemoncurry opened #1669 "Change label 'good first patch' to GitHub default 'good first issue'"
I propose to change the label `good first patch` to the [GitHub default](https://help.github.com/en/articles/about-labels#using-default-labels) `good first issue` for consistency.
Since the label `good first issue`is a default label, it is most likely the standard label searched by (first time) contributors.

What do you think, @exercism/java ?

If no one objects to this change, the [policy for fi

[2019-05-02 07:27] lemoncurry opened #1670 "Create script for automated issue submission for new exercises and test updates"
I suggest to create a script that opens up new issues for needed test updates or new exercises entered into the [problem specification repo](https://github.com/exercism/problem-specifications).

GitHub offers [query parameters](https://help.github.com/en/articles/about-automation-for-issues-and-pull-requests-with-query-parameters) to open up new issues and fill it with title, body, labels...
Exist

[2019-05-02 08:24] FridaTveit commented on #1669
I'm happy with that 🙂

[2019-05-02 08:24] FridaTveit commented on #1670
Sounds like a great idea! 😄

[2019-05-02 13:23] Smarticles101 commented on #1669
I've thought about this before and am happy with the change. 👍

[2019-05-02 13:25] Smarticles101 commented on #1670
This would be nice to have!

[2019-05-02 14:48] sshine opened #1671 "dnd-character: Suggestions for improving constructor in stub and in reference solution"
Mayur on Slack said that the DND Character exercise was hard to figure out.

I suspect that adding a constructor to the stub file would improve the situation.

As for the [`modifier` method](https://github.com/exercism/java/blob/master/exercises/dnd-character/src/main/java/DnDCharacter.java#L7), shouldn't this be a static method?

And as for [the reference solution](https://github.com/exercism/jav

[2019-05-03 07:10] lemoncurry commented on #1671
Thank you @sshine for bringing this to our attention.

I will add the missing constructor to the stub file as soon as possible.

Regarding the `modifier method`, why would you declare this method `static`?

Also I am wondering if a reference solution with dependency injection of `Random` might be even more confusing for people who start out with learning Java (right now this is an exercise with le

[2019-05-03 08:06] sshine commented on #1671
Because it depends on only its input, not on any object properties.

Since you don't need the context of an object to compute the function, the minimal implementation would be a static method.

Compare this to [the Haskell solution](https://github.com/exercism/haskell/blob/master/exercises/dnd-character/examples/success-standard/src/DND.hs#L19), [the C# solution](https://github.com/exercism/csharp

[2019-05-03 08:18] lemoncurry commented on #1671
Agreed, thank you @sshine . I will add the `static` keyword to this method.

[2019-05-03 08:28] sshine commented on #1671
OK, that is completely reasonable.

To be honest, I'm not very proficient with testing randomness via dependency injection; it was a topic I got involved with at work and have tried to find a good solution for. Otherwise I am only influenced by the principle of removing side-effects from functions to make them predictable, since this is the default in functional programming.

I suppose that if you

[2019-05-03 08:38] FridaTveit commented on #1671
@sshine @lemoncurry As for making the method static, we currently have a policy to [prefer instance methods](https://github.com/exercism/java/blob/master/POLICIES.md#prefer-instance-methods). Policies are of course always up for discussion and can be changed, but in that case I think that should be a separate issue 🙂

I agree that injecting `Random` could be confusing for users. And yes, it would

[2019-05-03 08:46] FridaTveit commented on #1671
Also @sshine @lemoncurry why do you feel adding the constructor to the stub file would be an improvement? In general we only add enough code to the stub file so that you can run the tests without any compiler errors. As the constructor doesn't take any arguments, you don't need one for the tests to compile. And, correct me if I'm wrong as I haven't done this exercise, I don't think you necessarily

[2019-05-03 09:20] lemoncurry commented on #1671
Thank you @FridaTveit for raising these important points.

Yes, it would not be necessary to add a stub for the constructor to pass the tests.
According to [the policies](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) it only says

So with _required_ it is implied required to pass the tests without compiler error?
Then I misread the policy 😞 I should have checked

[2019-05-03 10:29] FridaTveit commented on #1671
Sorry, it's probably not described very well. Feel free to update it to something that's more clear 🙂

[2019-05-03 13:17] sshine commented on #1671
@FridaTveit: Thank you for asking.

That seems reasonable, although I think it might also cause some students to not know where to start.

Another way would be to provide a track-specific hint that suggests how to proceed.

There could be yet other ways.

I'll elaborate on why I recommended the constructor in the stub:

---

So as far as I can tell, a mentor on the C track, Mayur, wrote the follow

[2019-05-03 13:23] FridaTveit commented on #1671
If people are struggling with the exercise then we should definitely try to do something to help, so thanks for raising that @sshine 🙂 But I don't think we should be pushing users towards a certain solution. Upping the difficulty so that it more accurately reflects how hard the exercise is would be one improvement. I also like your idea of providing a track specific hint. We already do that for ot

[2019-05-03 13:28] sshine commented on #1671
OK. I'm not sure I can imagine more than one solution besides the one where `Random` is injected into the constructor. The unit tests aren't compatible with this type of solution, and I can't imagine how it could be.

I believe I've left enough of an impression without contributing code to the solution, so I'll bid you a good day now. :-D

[2019-05-03 13:28] #1671 closed

[2019-05-07 08:15] #1669 closed

[2019-05-12 10:53] lemoncurry opened #1676 "isogram: update tests and version file (v1.6.0 -> v1.7.0)"
The tests for the [isogram exercise](https://github.com/exercism/java/tree/master/exercises/isogram/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/isogram/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://gith

[2019-05-12 10:56] lemoncurry opened #1677 "list-ops: update tests and version file (v2.3.0 -> v2.4.0)"
The tests for the [list-ops exercise](https://github.com/exercism/java/tree/master/exercises/list-ops/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/list-ops/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://g

[2019-05-12 10:56] lemoncurry opened #1678 "luhn: update tests and version file (v1.5.0 -> v1.6.1)"
The tests for the [luhn exercise](https://github.com/exercism/java/tree/master/exercises/luhn/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/luhn/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com/ex

[2019-05-12 10:56] lemoncurry opened #1679 "matching-brackets: update tests and version file (v1.4.0 -> v2.0.0)"
The tests for the [matching-brackets exercise](https://github.com/exercism/java/tree/master/exercises/matching-brackets/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/matching-brackets/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the

[2019-05-12 10:56] lemoncurry opened #1680 "palindrome-products: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [palindrome-products exercise](https://github.com/exercism/java/tree/master/exercises/palindrome-products/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/palindrome-products/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look

[2019-05-12 10:56] lemoncurry opened #1681 "queen-attack: update tests and version file (v2.2.0 -> v2.3.0)"
The tests for the [queen-attack exercise](https://github.com/exercism/java/tree/master/exercises/queen-attack/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/queen-attack/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit histor

[2019-05-12 10:57] lemoncurry opened #1682 "robot-simulator: update tests and version file (v3.0.0 -> v3.2.0)"
The tests for the [robot-simulator exercise](https://github.com/exercism/java/tree/master/exercises/robot-simulator/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/robot-simulator/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [comm

[2019-05-12 10:57] lemoncurry opened #1683 "saddle-points: update tests and version file (v1.3.0 -> v1.5.0)"
The tests for the [saddle-points exercise](https://github.com/exercism/java/tree/master/exercises/saddle-points/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/saddle-points/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit his

[2019-05-12 10:57] lemoncurry opened #1684 "space-age: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [space-age exercise](https://github.com/exercism/java/tree/master/exercises/space-age/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/space-age/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https:

[2019-05-12 10:57] lemoncurry opened #1685 "triangle: update tests and version file (v1.2.0 -> v1.2.1)"
The tests for the [triangle exercise](https://github.com/exercism/java/tree/master/exercises/triangle/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/triangle/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://g

[2019-05-12 10:57] lemoncurry opened #1686 "wordy: update tests and version file (v1.2.0 -> v1.5.0)"
The tests for the [wordy exercise](https://github.com/exercism/java/tree/master/exercises/wordy/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/wordy/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com

[2019-05-12 10:57] lemoncurry opened #1687 "yacht: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [yacht exercise](https://github.com/exercism/java/tree/master/exercises/yacht/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/yacht/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com

[2019-05-20 10:47] #1670 closed

[2019-05-20 19:14] ThiagoSousaSantana commented on #1685
Hi, i would like to fix this issue and will be my first contribution. To fix, I need to update the class test with new data and new test cases that are in the canonical data and update the version in the file version. The files are in the `.meta` folder, right?

[2019-05-20 20:18] ThiagoSousaSantana commented on #1685
One more question, method names have to be the same as the description in canonical data?

[2019-05-21 07:09] lemoncurry commented on #1685
Thank you @ThiagoSousaSantana  for wanting to contribute.
The changes that happened from 1.2.0 to 1.2.1 were changes in the description of each test. You are free to decide if you want to change some method names for the tests or not (e.g. change to shorter descriptions now provided int he canonical data). We don't have to copy the description text of the test in the canonical data to our test met

[2019-05-21 11:06] ThiagoSousaSantana commented on #1685
Thanks @lemoncurry for helping me, I will open my pull request.

[2019-05-22 10:38] #1685 closed

[2019-05-22 20:35] McEileen opened #1692 "Typo in test for Java Pig Latin Problem"
Hi, there are two small typos in the tests for the java track's Pig Latin problem.  One test is titled [`testYtTreatedLikeAConsonantAtTheBeginningOfAWord`](https://github.com/exercism/java/blob/master/exercises/pig-latin/src/test/java/PigLatinTranslatorTest.java#L112) when as the instructions note, Yt should be treated like a vowel.  The test itself is correct, but the title appears to be a typo.

[2019-05-22 21:12] iHiD commented on #1692
Hello. Thank you for opening the issue. Regarding which repository, exercism/exercism is always good because I can move it to the correct place if needed. In this case I'll move it to Java and let @exercism/java guide you further. I suspect a PR would be welcome but I'll let them confirm :)

[2019-05-22 21:13] iHiD commented on #1692
Also worth noting that the second example seems to be in the [canonical problem-specification](https://github.com/exercism/problem-specifications/blob/master/exercises/pig-latin/canonical-data.json#L173) so may be wrong on all tracks.

[2019-05-22 21:24] McEileen commented on #1692
Ok, thanks!  I'll wait to hear from exercism/java.

[2019-05-26 08:18] lemoncurry commented on #1692
Thank you @McEileen for bringing this to our attention.
It appears that [testYtTreatedLikeAConsonantAtTheBeginningOfAWord()](https://github.com/exercism/java/blob/master/exercises/pig-latin/src/test/java/PigLatinTranslatorTest.java#L112) and the following test [testXrTreatedLikeAConsonantAtTheBeginningOfAWord()](https://github.com/exercism/java/blob/master/exercises/pig-latin/src/test/java/PigLati

[2019-05-28 08:57] #1664 closed

[2019-05-28 09:33] #1665 closed

[2019-05-28 20:47] wolf99 opened #1695 "Not all non-core exercises are unlocked"
According to the config.json, some exercises should be unlocked by completing linked-list, but they are not (in fact they should be all unlocked by that stage as it appears to be the last core exercise).
e.g. diffie-hellman
https://github.com/exercism/java/blob/c5132d3a955556699c1e8e353c085039d1c3b619/config.json#L1264

linked-list completed:
![image](https://user-images.githubusercontent.com/2817

[2019-05-29 07:30] lemoncurry commented on #1695
Thank you @wolf99 for bringing this issue to our attention.
Could you access the locked exercises in the meantime?

If not, I think this might be an issue with the website.
On the website, I see there are community solutions as recent as May 27, 2019 for exercises unlocked by "linked-list".
So I would suggest to open your issue at [exercism/exercism](https://github.com/exercism/exercism).

[2019-05-29 17:12] ThiagoSousaSantana commented on #1676
Hello @lemoncurry, i fixed that in #1696 .

[2019-05-29 23:37] ThiagoSousaSantana commented on #1684
Hello @lemoncurry, i fixed that in #1696 .

[2019-05-29 23:39] NewtonCesarRoncari commented on #1681
Hello @lemoncurry, i fixed that in #1697

[2019-05-30 05:56] #1681 closed

[2019-05-31 06:02] #1684 closed

[2019-05-31 06:03] #1676 closed

[2019-06-06 04:36] hgvanpariya commented on #1687
@lemoncurry : Please share your review comments for the PR ...

[2019-06-06 04:49] hgvanpariya commented on #1683
@lemoncurry : Please share your review comments for the PR...

[2019-06-06 07:50] #1687 closed

[2019-06-07 14:54] hgvanpariya commented on #1683
@lemoncurry : the Testcase and the canonical-data has same test cases.

https://github.com/exercism/java/blob/master/exercises/saddle-points/src/test/java/MatrixTest.java

https://github.com/exercism/problem-specifications/blob/master/exercises/saddle-points/canonical-data.json

[2019-06-07 15:43] lemoncurry commented on #1683
@hgvanpariya Yes, but there was a [massive change (from 1.3.0 -> 1.4.0)](https://github.com/exercism/problem-specifications/commit/a792d210024d8d5765663e685429fe885c81c201#diff-529456e916d0421033a0e79d3e96f03b) concerning indexing that affects all expected values for the tests and likely a fix to the reference implementation may be warranted.

These values need to be changed to the values provided

[2019-06-09 09:21] lemoncurry commented on #1695
[Resolved](https://github.com/exercism/exercism/issues/4881), so this issue can be closed.

[2019-06-09 09:21] #1695 closed

[2019-06-09 11:20] #1683 closed

[2019-06-20 00:32] jmrunkle commented on #1678
I'll take a shot at this one.

[2019-06-20 02:15] jmrunkle commented on #1678
#1703 should fix this

[2019-06-20 02:50] jmrunkle commented on #1680
I can also take care of this one.

[2019-06-20 03:13] jmrunkle commented on #1680
Should be fixed by #1705

[2019-06-20 14:52] jmrunkle commented on #1682
Claiming this issue as well.

[2019-06-20 14:59] jmrunkle commented on #1682
Looks like the canonical data is at 3.2.0 now so I'm updating to that version.

[2019-06-21 14:52] jmrunkle commented on #1679
I'll take care of this one

[2019-06-24 08:21] #1678 closed

[2019-06-27 07:07] #1679 closed

[2019-07-07 16:57] jmrunkle commented on #1656
If this is as simple as I think it is, I'll take a stab at it.

[2019-07-07 17:22] jmrunkle commented on #1589
I had a thought about this - perhaps we could have a directory in the repo for the exercises that are not allowed to be implemented that just has a markdown file explaining why the exercise cannot be implemented. Perhaps called DO_NOT_IMPLEMENT.md. Anyone who goes to put the forbidden exercises would have to ignore that pretty obvious file in order to try to add those exercises. Does anyone like t

[2019-07-07 17:24] jmrunkle commented on #1589
To make that more clear, each exercise that cannot be implemented would have its own directory like the other exercises. For example: exercises/leap/DO_NOT_IMPLEMENT.md

And the contents of DO_NOT_IMPLEMENT.md would explain why.

[2019-07-07 17:29] jmrunkle commented on #1589
Created PR #1711 as a better demonstration of the idea...

[2019-07-07 17:56] SleeplessByte commented on #1656
It really is that simple :)

[2019-07-08 08:32] #1656 closed

[2019-07-08 08:35] #1692 closed

[2019-07-11 11:32] lemoncurry commented on #1589
@jmrunkle Thank you for tackling this issue.

There are only three exercises that are affected and this list is not expected to change.
I was just wondering if there might be much simpler solutions that might not break the structure of the language tracks and that might not require a change in configlet.

For example (listing of proposals mentioned in this issue):
How about just pointing out the r

[2019-07-11 14:35] SleeplessByte commented on #1589
Actually, I think creating a `DO_NOT_IMPLEMENT.toml` or similar file in the root, and then setting up the CI to fail if they are, is sufficient enough :)

[2019-07-11 14:40] jmrunkle commented on #1589
@lemoncurry Thanks for the additional suggestion.

While that may be the case, we do not know for certain that these 3 will be the only affected exercises - nor are we the only track that may have to contend with this issue (I assume other tracks also may have reasons that they cannot implement a certain set of exercises).

I'm not saying that we cannot do any of the other proposals - just that th

[2019-07-11 15:27] SleeplessByte commented on #1589
This assumption is correct.

[2019-07-11 21:37] jmrunkle commented on #1589
As you well know, there is no way I could possibly know if there might be a script / tool out there somewhere that has a problem with this sort of structure. If we find such a tool that has a problem I would probably ask them to ignore directories for exercises that are foregone in the config file (which should be pretty easy to parse from the config file since that is what it was built for).

I'm

[2019-07-12 08:49] FridaTveit commented on #1589
@jmrunkle it is possible that you could know of a script or tool that we use for exercism that could have a problem with this structure, so @lemoncurry asked a valid question. And even if you don't know of one, it is still a valid concern that we don't know what the full consequences could be of making this change.

I think it's definitely a good idea to discuss this with other maintainers as @lem

[2019-07-12 15:16] jmrunkle commented on #1589
OK fair enough, I could know that a tool I knew of *did* have a problem with this, but the effect of the question means that I would have to know that there exists *no* tool that has this problem. I could not reasonably be expected to know that there is no such tool in use that would have a problem with this so I answered for that rather than the more limited (and less useful) knowledge of only to

[2019-07-12 15:30] FridaTveit commented on #1589
Well, if someone asks if you know of an example of something, you can just say no. You don't have to prove that an example doesn't exist 🙂

But we're getting carried away by a detail which doesn't really matter. The point is that we volunteer our time here because we want to make sure Exercism is a good place to learn and contribute. So please don't assume the worst from our comments. We're not tr

[2019-07-12 15:34] jmrunkle commented on #1589
Sounds good. My initial reply about the possibility of a tool that would have a problem may have sounded too harsh, but it was not meant in an unkind spirit. I appreciate everyone who volunteers their time (as I do as well) to think about and work on these issues.

I'll post an issue in exercism/exercism and link it back over here as well as linking it from the slack group.

[2019-07-12 15:52] FridaTveit commented on #1589
Sounds great 🙂Thanks for trying to find a solution to this issue! 🙂

[2019-07-12 16:01] jmrunkle commented on #1589
As you all might guess from the refrence - created https://github.com/exercism/exercism/issues/4932

[2019-07-12 16:09] lemoncurry commented on #1589
Thank you @jmrunkle and @FridaTveit .

[2019-07-12 17:01] #1686 closed

[2019-07-12 17:16] #1682 closed

[2019-07-17 11:44] lemoncurry opened #1712 "Allow leap, grains, and say exercise to be implemented"
The issue opened by @jmrunkle had an [interesting side discussion](https://github.com/exercism/exercism/issues/4932) about the reasoning of not allowing the three exercises `leap`, `grain`and `say` to be implemented in the Java track.
Back in 2014, it [was decided](https://github.com/exercism/java/issues/3) out of caution to not allow an implementation of these exercises in Java.
It appears now th

[2019-07-17 12:35] FridaTveit commented on #1712
I think that sounds like a great plan 🙂

[2019-07-17 13:01] Smarticles101 commented on #1712
I say let's do it!

[2019-07-19 09:05] #1712 closed

[2019-07-26 10:34] #1680 closed

[2019-07-26 11:16] lemoncurry opened #1714 "anagram: update tests and version file (v1.4.0 -> v1.5.0)"
The tests for the [anagram exercise](https://github.com/exercism/java/tree/master/exercises/anagram/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/anagram/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://gith

[2019-07-26 11:17] lemoncurry opened #1715 "circular-buffer: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [circular-buffer exercise](https://github.com/exercism/java/tree/master/exercises/circular-buffer/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/circular-buffer/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [comm

[2019-07-26 11:17] lemoncurry opened #1716 "etl: update tests and version file (v1.0.0 -> v2.0.1)"
The tests for the [etl exercise](https://github.com/exercism/java/tree/master/exercises/etl/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/etl/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com/exerc

[2019-07-26 11:18] lemoncurry opened #1717 "pangram: update tests and version file (v1.4.1 -> v2.0.0)"
The tests for the [pangram exercise](https://github.com/exercism/java/tree/master/exercises/pangram/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/pangram/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://gith

[2019-07-26 11:19] lemoncurry opened #1718 "reverse-string: update tests and version file (v1.1.0 -> v1.2.0)"
The tests for the [reverse-string exercise](https://github.com/exercism/java/tree/master/exercises/reverse-string/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/reverse-string/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit

[2019-07-26 19:31] barisozcanli commented on #1717
@lemoncurry
Hi! May I fix this?
As far as I see, test inputs haven't changed since last version but descriptions are slimmed down. So, renaming tests (method names in PangramCheckerTest) might be a good idea?
I'm a beginner. Should I assign the issue to myself?

[2019-07-27 08:16] lemoncurry commented on #1717
@barisozcanli Thank you for wanting to contribute!
Yes, of course you may work on this issue.

As you already have said, it appears that the descriptions were changed so that the method names may be shorter and easier to read. You don't have to stick 100% to the new descriptions and may decide on shorter method names.

[2019-07-27 09:21] barisozcanli commented on #1718
@lemoncurry I would like to work on this!

[2019-07-27 11:46] #1717 closed

[2019-07-27 11:47] #1718 closed

[2019-08-03 18:18] kytrinyx opened #1721 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-08 08:05] lemoncurry commented on #1721
At the moment, the track policy requires stubs for all exercises with difficulty < 5.

From the [original discussion](https://github.com/exercism/discussions/issues/238), we will have to do at least the following for all exercises with difficulty of 5 and above:
- add resp. stub, remove .keep

We need decisions on the following:
- whether the new stubs should be the same as for exercises with diff

[2019-08-09 13:20] FridaTveit commented on #1721
I think that sounds like a good plan 🙂 I think it's an important part of learning a new language to learn to create the classes and methods yourself, so I think ideally the later exercises should let the users do that themselves as much as possible 🙂

[2019-08-10 19:47] #1714 closed

[2019-08-13 07:08] lemoncurry commented on #1721
Thank you @FridaTveit .
I might be able to work on the script this week, and maybe have a PR ready at the end of the week.

[2019-08-27 07:39] #1668 closed

[2019-08-27 17:48] Smarticles101 opened #1726 "Transition from travis to actions"
Would it be worth it to transition the ci tests from travis over to github actions? I'd be willing to work on transferring it over if we want to

[2019-08-28 17:05] lemoncurry commented on #1666
I will work on this.

[2019-08-28 18:26] lemoncurry commented on #1726
I'm not sure if we should transfer, but I also have not familiarized myself with  possible advantages of using github actions vs. travis for ci. I just know that travis is just working fine right now.
Do you know of any advantages @Smarticles101 ?

[2019-08-28 19:29] #1579 closed

[2019-08-28 19:45] lemoncurry opened #1731 "word-count: update tests and version file (v1.3.0 -> v1.4.0)"
The tests for the [word-count exercise](https://github.com/exercism/java/tree/master/exercises/word-count/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/word-count/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](htt

[2019-09-06 08:45] #1666 closed

[2019-09-06 08:47] #1715 closed

[2019-09-06 08:48] #1667 closed

[2019-09-09 09:02] #1663 closed

[2019-09-09 11:10] #1677 closed

[2019-09-10 14:07] Ppapierski opened #1734 "Incorrectly binded nodes still pass the tests in Linked list exercise for the java track"
Hello,

during implementing the exercise it hit me that even though I've wrongly implemented binding the nodes the tests still pass.
`public T pop() {
        T value = tail.getValue();
        tail = tail.getPrev();

        if (tail != null) {
            tail.setPrev(null); // should be  -> tail.setNext(null)
        }
        return value;
    }

    public T shift() {
        T value = head.g

[2019-09-18 12:58] lemoncurry opened #1736 "matrix: update tests and version file (v1.1.0 -> v1.3.0)"
The tests for the [matrix exercise](https://github.com/exercism/java/tree/master/exercises/matrix/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/matrix/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.

[2019-09-19 06:20] lemoncurry commented on #1734
Hi @Ppapierski , thank you for submitting this issue, I will have a closer look until the end of this week.

[2019-09-22 13:58] lemoncurry opened #1737 "linked-list: fix test cases for pop() method"
Description of the bug is described in issue #1734.

Please add an additional element to the [test cases](https://github.com/exercism/java/blob/master/exercises/linked-list/src/test/java/DoublyLinkedListTest.java) "testPushPop()" and "testUnshiftPop()" to uncover a faulty implementation of the pop() method.

[2019-09-22 13:59] #1734 closed

[2019-09-25 09:58] #1721 closed

[2019-09-25 15:27] ericbalawejder commented on #1737
Do you think that the method names (push, pop, shift, unshift) are ambiguous with the current test coverage? It doesn't seem that `shift()` removes a node from the list, only returns a value. Only until you reach the last test can you conclude it removes a node. If you implement all the methods backwards, you can pass all the tests except for the last 3 lines of the last test:
[code]
Do you think

[2019-09-26 02:49] myluco commented on #1737
I can work on it

[2019-09-26 09:39] lemoncurry commented on #1737
Thank you for your suggestion.
The test names should be equal to the method names specified in the README.md of the exercise. In the [README.md](https://github.com/exercism/java/tree/master/exercises/linked-list) there is also a short explanation about what the method should do next to the method names.

If you think other method names could improve the exercise, please submit an issue concerning

[2019-09-26 09:42] lemoncurry commented on #1737
@myluco Thank you for wanting to contribute! There is already an open PR that fixes this issue.

[2019-09-26 09:47] #1737 closed

[2019-09-26 11:48] tr808axm commented on #1716
As far as I can see, the updates to the canonical data file only involved changes in description, formatting and structure of the file. Should I add a pull request for bumping the version in `.meta/`?

[2019-09-26 15:39] RushikeshSawant commented on #1731
Hi, I would like to work on this for Hacktoberfest. Please assign to me.

[2019-09-27 09:29] sonapraneeth-a commented on #1736
@lemoncurry , Shall I pick this up?

[2019-09-27 09:34] lemoncurry commented on #1731
Of course. Thank you for wanting to contribute!

[2019-09-27 09:36] lemoncurry commented on #1736
@sonapraneeth-a Yes, you can work on it :smile:

[2019-09-28 15:53] laritzalba opened #1740 "Simple question (adding new exercise)"
Hi ,
I’would like to add a new exercise, in CONTRIBUTING.md is said that you need to open a pull request in “exercism/problem-specifications”, but for the moment they allow us to open a pull request directly in the track,
“If you would like to add a new exercise to your track, please do it as a track-specific exercise for now, and we can discuss generalising it into this repository further down th

[2019-09-29 18:51] delbertlegg commented on #1479
I enjoy contributing to this project for Hacktoberfest...mind if I pick this one up and any others needing attention?

[2019-09-30 08:50] lemoncurry commented on #1740
@laritzalba We have over 15 exercises that are not yet implemented in the Java language. Issues concerning these exercises will be opened at the beginning of October. So there will be a lot of possibilities to contribute :smile:

[2019-09-30 12:31] #1716 closed

[2019-09-30 13:30] laritzalba commented on #1740
This is good news. But I’ve already implemented a completely new exercise (readme, instruction, test, hint, etc.). It’s about Object Oriented Programming (class creation, heritance, polymorphism, etc.) and If I can add it, it would be nice 🙂 .
So, may I create a pull request, or do I only have to implement the upcoming issues?

[2019-09-30 15:13] lemoncurry commented on #1740
In that case, if you have already created a completely new exercise, you may open a PR, and we will review it and decide whether to add that exercise to the Java track.

[2019-09-30 19:54] laritzalba commented on #1740
Thanks a lot 😃

[2019-09-30 22:59] delbertlegg commented on #1479
Great! Just for clarification - how deep should we be getting as far as steps? Do you want to include using the built-in git tools in Intellij, or are we just talking about importing the project?

[2019-09-30 23:56] iHiD opened #1741 "Some nice feedback"
@exercism/java We just received this lovely email :)

(Feel free to close this when everyone's had chance to read it)

---

I'm not one to do this, but:

I'd just like to personally thank whoever wrote the docs on how to install Java with the JDK and everything on Windows.
I'm mainly used to Linux installations without having any Java experience, so going through tons of shitty websites with confu

[2019-10-01 00:19] Smarticles101 commented on #1741
That's awesome! Doesn't look like that info has been changed much recently, I believe @jtigger wrote most of what's current in #136

[2019-10-01 05:31] sonapraneeth-a commented on #1736
@lemoncurry , I seem to get some check style issues in the PR. Not sure what are they? Could you please help me understand them, so that I can ensure a clean build?

[2019-10-01 07:04] lemoncurry opened #1743 "connect: implement exercise"
The exercise **connect** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/connect).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md

[2019-10-01 07:06] lemoncurry opened #1744 "grains: implement exercise"
The exercise **grains** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/grains).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#a

[2019-10-01 07:06] lemoncurry opened #1745 "hangman: implement exercise"
The exercise **hangman** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/hangman).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md

[2019-10-01 07:06] lemoncurry opened #1746 "high-scores: implement exercise"
The exercise **high-scores** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/high-scores).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIB

[2019-10-01 07:06] lemoncurry opened #1747 "knapsack: implement exercise"
The exercise **knapsack** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/knapsack).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.

[2019-10-01 07:06] lemoncurry opened #1748 "leap: implement exercise"
The exercise **leap** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/leap).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#addin

[2019-10-01 07:07] lemoncurry opened #1749 "resistor-color-duo: implement exercise"
The exercise **resistor-color-duo** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/resistor-color-duo).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/

[2019-10-01 07:07] lemoncurry opened #1750 "resistor-color-trio: implement exercise"
The exercise **resistor-color-trio** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/main/exercises/resistor-color-trio).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/

[2019-10-01 07:07] lemoncurry opened #1751 "satellite: implement exercise"
The exercise **satellite** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/satellite).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTIN

[2019-10-01 07:07] lemoncurry opened #1752 "say: implement exercise"
The exercise **say** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/say).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#adding-

[2019-10-01 07:07] lemoncurry opened #1753 "scale-generator: implement exercise"
The exercise **scale-generator** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/main/exercises/scale-generator).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/main/CON

[2019-10-01 09:03] lpegoraro commented on #1753
hey can I work on this?

[2019-10-01 10:25] HuskyNator commented on #1749
I'd like to be assigned to this issue

[2019-10-01 10:43] HuskyNator commented on #1750
I'd like to be assigned to this issue.

[2019-10-01 11:07] lemoncurry commented on #1479
@delbertlegg Whatever you think is best. The guide is aimed at coders just starting with IntelliJ and git, who want to know how they can set up their first project using IntelliJ. It would be great to also include screenshots for each step.

[2019-10-01 11:30] Kineolyan commented on #1744
Hello @lemoncurry, I'd like to work on this one. Cheers

[2019-10-01 11:59] delbertlegg commented on #1479
Good deal - probably wouldn't hurt including it all. Thanks!

[2019-10-01 14:09] mirkoperillo commented on #1752
Hi @lemoncurry,
could I work on this ?

[2019-10-01 15:09] thecodeboy commented on #1751
@lemoncurry I'd like to work on this. Thanks!

[2019-10-01 16:54] sonapraneeth-a commented on #1747
@lemoncurry , I'll take this one.

[2019-10-01 16:55] sonapraneeth-a commented on #1748
@lemoncurry , I'll take this one.

[2019-10-01 17:26] #1736 closed

[2019-10-01 20:26] JeffMartian commented on #1746
Hi @lemoncurry I would like to take on this exercise if possible.

[2019-10-01 21:36] Kineolyan commented on #1744
Hello @lemoncurry I forgot about the reference implementation, which I now added to the PR.
I am waiting to see if the tests are passing.

[2019-10-01 21:55] Kineolyan commented on #1745
Hello @lemoncurry I will try this one tomorrow.
I plan to do it with RxJava, but I don't completely understand how I am supposed to detail that in the "language/track specific files for this exercise". Do you have an example?

Cheers

[2019-10-02 04:36] androidmason commented on #1731
Is anyone working on this? I can raise my pull request otherwise.

[2019-10-02 06:32] lemoncurry commented on #1731
@RushikeshSawant Are you currently working on this issue?

[2019-10-02 06:47] RushikeshSawant commented on #1731
Hi, yes, I am on this one-  will have a PR soon

[2019-10-02 06:54] lemoncurry commented on #1731
@RushikeshSawant Ok, great!

@androidmason This issue is still assigned to @RushikeshSawant .

[2019-10-02 11:10] Kineolyan commented on #1744
The PR is now ready and passing all integration tests on TravisCI. I let you review it.

[2019-10-02 14:03] tr808axm commented on #1743
I'd be happy to work on this one. Can you please assign me?

[2019-10-02 19:33] Kineolyan commented on #1745
Hello @lemoncurry , I have a nice exercise for hangman, based on RxJava.
It is passing locally when I use gradle on the right folder but it is not passing with the script _unit-tests.sh_ as the dependency to RxJava is never installed.
I haven't found how to specify that this dependency must be installed. I lookt at the other projects but I haven't found something similar. Can you lead me in the ri

[2019-10-03 11:57] ErikSchierboom opened #1763 "What was it like to learn Java?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2019-10-06 19:18] lemoncurry commented on #1726
@Smarticles101 Recently I used GitHub Actions for a university project and I really liked the brevity of the description of some action and the user interface. I would now say it is worth to transfer to Github Actions.
Would you still be interested?

[2019-10-08 08:48] #1744 closed

[2019-10-08 12:22] #1479 closed

[2019-10-11 06:52] lemoncurry commented on #1731
@RushikeshSawant It has now been 15 days since this issue was assigned to you. I will now open up again for other interested contributors to work on.

[2019-10-11 07:27] monil commented on #1731
I would take it up

On Fri, Oct 11, 2019, 12:22 Anna Weber <notifications@github.com> wrote:

[2019-10-11 19:47] Kineolyan commented on #1745
Hello again, I don't really know how to continue this issue. I have a problem following the exercise statement and I have tests passing locally.
The issue is that the exercise requires the use of an external library and I can't find how to install that dependency for the CI. Can you help? I have looked at other exercises but I couldn't find anything similar.

[2019-10-12 15:44] #1749 closed

[2019-10-12 16:26] lemoncurry commented on #1745
@Kineolyan See my comment in your PR #1758

[2019-10-13 20:14] bmuskalla opened #1773 "Gradle test should show system streams (out, err)"
When running unit tests for an exercise with Gradle, system out and system err are suppressed (Gradle default). Especially for beginners this might be very confusing behavior.

Happy to take this on if others agree

[2019-10-16 07:34] #1731 closed

[2019-10-16 09:47] #1748 closed

[2019-10-16 09:51] lemoncurry commented on #1773
I think this would be a very sensible change and I would be happy about it.
Other opinions @exercism/java ?

[2019-10-16 16:49] FridaTveit commented on #1773
Sounds good 🙂

[2019-10-21 21:03] #1773 closed

[2019-11-01 07:52] ViralTaco opened #1778 "Naming scheme in Grains exercise."
Hi,

I was trying to solve an exercise today in the java course. Namingly: "grains".
In the tests source file I was greeted by this line: `BigInteger result = grains.computeNumberOfGrainsOnSquare(1);` (cf: [source](https://github.com/exercism/java/blob/8b7f8def3e0761457bb3d0c4a26d49e2db230207/exercises/grains/src/test/java/GrainsTest.java#L28)) and frankly I was left demotivated and appalled.

Wha

[2019-11-01 09:48] FridaTveit commented on #1778
Thanks for wanting to improve this exercise @ViralTaco 🙂I'm sorry that this made you demotivated. We always want to make sure our code is as clear as possible, so suggestions for improvements are always welcome 🙂However, in this case I think `computeNumberOfGrainsOnSquare` is more descriptive than just `onSquare`. I'm happy to discuss this further, however please try and keep your tone friendly an

[2019-11-01 10:08] ViralTaco commented on #1778
Ok. Your opinion is invalid. But I understand the misunderstanding.
I agree that `computeNumberOfGrainsOnSquare` is more descriptive than `onSquare`.
That is true. `Grains grains = new Grains;` followed by `grains.computeNumberOfGrainsOnSquare`
is not more descriptive than `Grains.onSquare` where `onSquare` is a static method of the class `Grains`.

- There is no reason to instantiate a class with

[2019-11-01 10:33] FridaTveit commented on #1778
I'm sorry @ViralTaco but if you can't discuss this without being rude then I don't think we can keep this issue open.

[2019-11-01 10:33] #1778 closed

[2019-11-01 12:16] ViralTaco commented on #1778
I understand that you believe I'm rude. I'm being quite deadpan. So you're not wrong per say.
In my opinion you are showing exactly the same attitude as whomever wrote that code, which is frustrating. You don't care therefore it's irrelevant.

I don't believe "code smell" is irrelevant. (as opposed to my attitude)
But if you truly believe that I must respect your opinion.
You have the right to be

[2019-11-01 18:08] #1747 closed

[2019-11-05 05:41] charles-wangkai opened #1780 "The last exercise "Knapsack" can't be accessed"
The last exercise "Knapsack" shows in locked status, though I passed all the other exercises in Java track. So I guess there is something wrong with the exercise dependency setting.

Could any staff please help to check? Thanks!

<img width="1063" alt="Screen Shot 2019-11-05 at 13 38 53" src="https://user-images.githubusercontent.com/8757419/68181258-a439a600-ffd1-11e9-8758-28144e8fd212.png">

[2019-11-05 06:44] lemoncurry commented on #1780
@charles-wangkai Thank you for notifying us about this problem. I changed the exercise that should unlock `knapsack`. Are you now able to access `knapsack`?

[2019-11-05 06:52] charles-wangkai commented on #1780
@lemoncurry Thanks for your quick reply! But it is still locked now.

[2019-11-05 07:12] lemoncurry commented on #1780
@charles-wangkai Are you in Mentored Mode or in Practice Mode?

[2019-11-05 07:15] charles-wangkai commented on #1780
I'm not a mentor, just to practise.

[2019-11-06 08:50] lemoncurry commented on #1780
@charles-wangkai Were you able to access other new exercises such as 'Resistor Color Duo' or 'Leap'? Have you tried switching to Mentored Mode and back to Practice Mode?

[2019-11-06 08:56] charles-wangkai commented on #1780
I can access all other exercises including "Resistor Color Duo" and "Leap". I never did the switch and am always in practice mode for Extra exercises.

[2019-11-07 12:37] charles-wangkai commented on #1780
I find that it can be accessed now :-)

[2019-11-07 12:57] charles-wangkai commented on #1780
And I just understood what "Mentored Mode" and "Practice Mode" really means. In fact, I have been always in the "Mentored Mode" all the time.

[2019-11-07 17:45] lemoncurry commented on #1780
I am glad that you can now access `knapsack` 😄

[2019-11-07 17:45] #1780 closed

[2019-11-08 21:22] xinri opened #1783 "Two-fer exercise in java track, no unit test for when the input is empty"
Hello,

I am a mentor for the java track. When I do the review, I always see that people forgot the empty string. When I check the unit tests, there is no test for this case and in the instructions, it is mentioned.

[2019-11-09 15:18] sshine commented on #1589
I've rehashed exercism/exercism#4932.

What is the frequency between requests to implement one of these exercises?

Here are some actionable items to move forward:
- Add a list of do-not-implement exercises to [CONTRIBUTING.md#adding-a-new-exercise](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#adding-a-new-exercise).
- Remove these exercises from https://tracks.exercism.io/java/mas

[2019-11-09 21:51] sshine commented on #1763
I learned Java on my 1st year of university.

I could already write stuff in a number of dynamic scripting languages and Pascal, C and Standard ML. For some reason Java was a dislikable language to me, and I felt that it was a chore that I had to learn it. Actually learning Java, however, was a great joy.

Initially I started joking by handing assignments in Jython. Eventually Swing caught my inte

[2019-11-10 14:29] yawpitch commented on #1589
As the justification for _not_ implementing `leap`, `grains`, and `say` in Java has [has been mooted](https://github.com/exercism/exercism/issues/4932#issuecomment-511625328), and as all three exercises were removed from `foregone` in #1713, and since both `leap` and `grains` have already been implemented, with `say` about to be in #1769, I'd say the _primary_ action item on this Issue is to close

[2019-11-11 04:25] SleeplessByte commented on #1589
I agree. It's not longer an issue. It can be revisited if it ever _becomes_ an issue again. I would _suggest_ if an exercise is foregone, for whatever reason, to, perhaps, create a file `FOREGONE.md` at the root and document it there, if necessary -- OR you enforce it to be in the git message, which will make it surface on `git blame` or history.

@ErikSchierboom just tagging you: do you document

[2019-11-11 09:20] ErikSchierboom commented on #1589
@SleeplessByte Actually I didn't, although I should have!

[2019-11-19 13:35] yawpitch commented on #1589
Since exercism/exercism#4932 has been closed, this probably should be as well.

[2019-11-19 18:19] dector opened #1784 "Gradle Kotlin DSL"
We gonna use [Gradle Kotlin DSL](https://github.com/exercism/kotlin/issues/340) for Kotlin track.

File `bin/README.md` says:
[code]

Should I open PR to update these scripts in Java track as well?

[2019-11-19 18:22] dector commented on #1726
I think that in Kotlin track we are also interested in moving to github actions. Should we discuss implementation details?

[2019-11-20 14:43] kytrinyx commented on #1589
Thanks, all! I'm closing this, as suggested.

[2019-11-20 14:43] #1589 closed

[2019-11-26 16:04] mirkoperillo opened #1786 "hints.md of isogram exercise seems old"
Hi,

File [hints.md](https://github.com/exercism/java/blob/master/exercises/isogram/.meta/hints.md) of isogram exercise seems old.

It refers to possible issues with `testWorksWithGermanLetters` but this test doesn't exist

Can I propose a PR removing these lines in `hints.md` ?

[2019-12-05 16:42] mirkoperillo opened #1787 "wrong HTML anchors into java installation page"
I notice that in the page containing java installation instructions [here](https://exercism.io/tracks/java/installation) there is a problem with the links of OS sections.
I mean when you click Linux link for example ( same stuff happening with the others) a new page is opened and there isn't the correct HTML anchor on relative section.

I wanna propose a fix to this, but I don't understand where t

[2020-01-09 14:51] kytrinyx opened #1789 "Recruiting additional maintainers for Java"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-09 17:22] pdmoore commented on #1789
I'd like to help as a maintainer here. My exercism handle is pdmoore and I've been a mentor on the Java and C# tracks there. I've used Java since the beginning and have mostly kept up with its evolution - I still learn neat tricks from the solutions I review. My day job is technical trainer and coach. You know, extreme programming for those devs who think scrum is the only aspect of agile.

[2020-01-10 00:20] sshine commented on #1789
I'd like to participate in implementing concept exercises for the Java track as they're being made. The last time I wrote much Java was with Java 6, but I've had various C# jobs in the past 10 years. Since coming to Exercism in late-2018, I've come to realize that Java has been renewed so much that I enjoy it again.

I also have some responsibility for training new hires at my day job and a past a

[2020-01-10 13:54] mirkoperillo commented on #1789
Hi I'm Mirko and I am interested in helping more in exercism.
My exercism account is **mirkoperillo**

I'm a professional Java developer since 12 years, you can find a lot of my daily work here on Github ( I work in a research foundation that produces Open Source software).
I have done some contributions on Java track in the last two Hacktoberfest events and between them.
I have a little experienc

[2020-01-10 14:16] sshine commented on #1789
@mirkoperillo: Sounds like an excellent plan. Learning about the role of open source software maintainer from someone more experienced than myself is one of the greater things that has happened in my career so far.

[2020-01-10 22:48] msomji commented on #1789
Hi my name is Maisam Somji ([msomji](https://exercism.io/profiles/msomji)) and I have been working on multiple different tracks in terms of practicing different exercises/learning new languages, mentoring others in completing their exercises as well as implementing new exercises for the tracks. With about 5 years of experience working with Java/Javascript/Typescript/Ruby I have been a huge propone

[2020-01-16 13:54] jtigger commented on #1741
Hey @iHiD!  Thanks for taking the time to express your gratitude.  It delights me to know that the effort in crafting those instructions weren't just to satisfy my own OCD... but brought someone real practical value. 😃

Cheers!

[2020-01-16 13:56] jtigger commented on #1741
Thanks for @-mentioning me, @Smarticles101 in this ticket.  I wouldn't have seen it otherwise. 🙏🏻

[2020-03-12 07:57] antonmry opened #1798 "Bowling: feedback exercise"
I completed the bowling exercise but I found it a lot harder than all the previous exercises in the track. I can't imagine how it is for someone starting with the language.

The main exercise is fine but all the validations are quite tedious and I'm not sure if they are really teaching something. I took a look at most of the public solutions and there are many of them which are incomplete.

Also,

[2020-03-12 08:02] antonmry commented on #1798
BTW I will be happy to create a PR addressing this issue if there is a consensus about how to solve it.

Also, it's fine if you disagree and the issue is closed. I understand the complexity of the exercises isn't objective

[2020-04-12 17:04] jmrunkle opened #1799 "Continuous integration test bin/unit-test.sh is broken"
This is the same thing as https://github.com/exercism/kotlin/issues/420 (we use the same shell script basically).

The CI test fails when it tries to download the configlet:

[code]

This is a problem with the bin/unit-tests.sh execution. More specifically, I think it is a problem in bin/fetch-configlet at [this line](https://github.com/exercism/java/blob/master/bin/fetch-configlet#L49):

[code]

[2020-04-14 05:27] #1741 closed

[2020-04-14 05:30] #1740 closed

[2020-04-14 15:11] jmrunkle commented on #1798
Thanks for this feedback @antonmry

Good catch. The canonical data shows which method should be causing the exception and some of the tests should throw from the roll method so those tests should not be calling the score method at all.

Agreed. Even the reference solution caught this and fixed it, but we never fixed the stub file.

So, all of the tests come from the canonical data, so we are unlik

[2020-04-14 15:15] jmrunkle commented on #1787
The source is a markdown file here: https://github.com/exercism/java/blob/master/docs/INSTALLATION.md

I believe the intention is to open a link to the same page at the heading "Linux". Ironically, this works in the markdown view of the installation instructions, but fails on the webpage. Probably because the webpage does not automatically generate the anchor that the markdown generator or Github

[2020-04-14 15:18] jmrunkle commented on #1799
I'm going to add some debugging output to the scripts so that I can hopefully catch what is going wrong. Because that script cares about the OS, etc, we really need to see how it runs in the travis CI system. Hopefully updating the script output will be sufficient to see the issue.

[2020-04-14 15:48] jmrunkle commented on #1799
The debug logging revealed that the issue occurs with this call:

[code]

This is returning an empty string for the `VERSION` variable.

[2020-04-14 15:56] jmrunkle commented on #1799
It seems that the issue is that the header check for "Location" now needs to be case-insensitive. I'll try fixing this by simply making the awk bits case-insensitive.

[2020-04-14 16:13] #1799 closed

[2020-04-15 03:03] jmrunkle commented on #1789
I suppose I should mention explicitly on here that I would like to continue being a maintainer, but I'm not consistently available 2-3hr per week (so just helping out when I can). I am still adjusting to life as a parent (5-months into this new world), but I'm at least getting back to (at least) occasional maintenance of the Java repo.

[2020-04-15 03:06] jmrunkle commented on #1786
It seems you are correct, it was removed in PR #1162. Please send a PR removing the stale lines.

[2020-04-15 03:08] jmrunkle commented on #1784
Looks like that was reverted:

I'm closing this - please reopen if we still need to consider this. Likely, we do not care specifically about that one, but I could be mistaken.

[2020-04-15 03:08] #1784 closed

[2020-04-15 03:12] jmrunkle commented on #1783
I know that this discussion is old, but the topic has been left open. Since we (the maintainers) have apparently decided to have the empty string case explicitly return "One for , one for me.", I'm actually debating opening up a PR to have a custom test case that specifically tests for *that*. If there are no complaints, I'll at least make the simple PR.

[2020-04-15 03:28] jmrunkle commented on #1783
As a note, here is the official contributing policy on adding non-canonical tests:

This says nothing about adding extra track-specific tests and this feels like a good case where we should enshrine a decision that we specifically made.

[2020-04-15 07:52] dector commented on #1784
@jmrunkle Nope, its [used in v3](https://github.com/exercism/v3/blob/master/languages/kotlin/.templates/exercise/build.gradle.kts).

[2020-04-15 09:58] sshine commented on #1789
Congratulations! So that's where you went. :-D

I started a new job, so I'm going to disappear for a while and gradually sink back.

[2020-04-15 13:20] iHiD commented on #1789
Congrats to both of you :)

[2020-04-15 15:10] jmrunkle commented on #1784
@dector - even if you all plan to use it in v3, I still don't think the Java track cares about the gradle version used on the Kotlin track (and it is probably for the best to keep it that way). The README comment is more about things like bin/fetch-configlet and that sort of thing.

[2020-04-15 15:38] jmrunkle commented on #1783
Closing this issue since we now have an official test for the empty input case - clarifying the exact behavior we expect.

[2020-04-15 15:38] #1783 closed

[2020-04-15 15:57] jmrunkle opened #1803 "Should we allow other testing frameworks in the java track?"
Expanding this discussion from #1634.

Currently, we *mostly* only use the generic JUnit asserting framework (eg. `org.junit.Assert.*`), but we do not have any officially documented policy in our contributing guide about using other testing frameworks. We should either explicitly allow or disallow the other frameworks.

Arguments for using only the generic JUnit Assert methods:

*   We want it to

[2020-04-16 04:59] mirkoperillo commented on #1787
I can confirm that the anchors are missing in the webpage.

I close the issue

[2020-04-16 04:59] #1787 closed

[2020-04-16 05:23] #1786 closed

[2020-04-16 15:28] jmrunkle commented on #1803
@jtigger @matthewmorgan @sit @stkent @Smarticles101 @FridaTveit @sjwarner-bp @lemoncurry @sshine @msomji @mirkoperillo @pdmoore

I think that's the only way to get everyone's attention here. If you don't have an opinion, just ignore this.

PS: If you do not want to be a Java maintainer, please LMK and we can remove you from maintainers.json.

[2020-04-16 15:34] stkent commented on #1803
Tangent, but: anyone with `"alumnus": false` in the maintainers.json file is considered an active maintainer; anyone with `"alumnus": true` is no longer an active maintainer :)

[2020-04-16 15:44] jmrunkle commented on #1803
My bad - I'll be more considerate in the future now that I'm aware of the distinction. I always assumed that anyone who was a former maintainer was just removed from the list.

[2020-04-16 15:47] stkent commented on #1803
No worries! IIRC the alumnus flag existed so that ex-maintainers could still be credited somewhere on the website (but I don't know if that UI still exists in exercism vLatest). The fun trivia that comes with all long-running projects!

[2020-04-16 15:48] jmrunkle commented on #1787
@mirkoperillo - just curious, but did you open an issue against the website? Because there is still a real UI issue there that should be resolved?

[2020-04-16 15:52] sshine commented on #1803
Possibly tangent, but I was going to say exactly the same:

Don't forget that maintainers.json has an `alumnus: true` flag. The definition for when someone is an alumnus is when they (or supposedly someone else) pushes that change to maintainers.json. Until then, as I [commented in #1785](https://github.com/exercism/java/pull/1785#issuecomment-613937614), we don't really ever ask maintainers (or e

[2020-04-17 02:19] sit commented on #1803
I would support using AssertJ, having used it or its predecessor at the last 3 companies I’ve worked for. Its fluent syntax is easy to read and learn to write, with good IDE support. I don’t have any experience with Truth, perhaps it fits all these criteria as well.

I don’t think there is much burden to the user to add AssertJ to the build (assuming we are still using Gradle or similar build tool

[2020-04-18 03:07] jmrunkle commented on #1803
Seeing as this is a pretty broad change, I want to give everyone at least a week to have a chance to comment.

So far, two out of the six active maintainers support allowing other testing frameworks and would prefer that we use on.

We have two votes for AssertJ and one vote for Truth (maybe one and a half depending on how you interpret sit's last comment).

If you want to keep things easy on your

[2020-04-18 03:07] jmrunkle commented on #1803
Like this comment if you want to ban all test frameworks (so no Hamcrest, no Truth, no AssertJ).

[2020-04-18 03:08] jmrunkle commented on #1803
Like this comment if you want to use Hamcrest.

[2020-04-18 03:08] jmrunkle commented on #1803
Like this comment if you want to use Truth.

[2020-04-18 03:08] jmrunkle commented on #1803
Like this comment if you want to use AssertJ.

[2020-04-18 03:22] jmrunkle commented on #451
The first mentor notes that are officially integrated into the website were added in October 2018. I think we can safely close this.

[2020-04-18 03:22] #451 closed

[2020-04-18 03:48] jmrunkle commented on #1580
Closing this as an abandoned idea. Since we can often create better assertions ourselves manually for each test class, I am generally against this approach anyway (it is also likely to require more work from the maintainers).

[2020-04-18 03:48] #1580 closed

[2020-04-18 05:26] pdmoore commented on #1803
If the choice above is JUnit **OR** AssertJ then I am firmly in the leave it at JUnit camp. If the interest is in exposing them to more frameworks could it be achieved by creating exercises that specifically get them to work with the test framework within that exercise?

I also don't see much interaction during mentoring about tests or the testing framework. Very occasionally there may be mention

[2020-04-18 05:52] jmrunkle commented on #1803
This is not about getting rid of JUnit. This is about whether we *allow* other test framework assertions. We would still rely heavily on JUnit, but we would use the other test framework when it was appropriate (for example, when it gives a better error message). Read the original post up top for arguments for and against allowing other test frameworks.

There is a significant benefit to students t

[2020-04-18 20:46] jmrunkle commented on #1763
I learned Java while working on Robert Sedgewick's MOOC for Algorithms and Data Structures. To be honest, it was pretty rough since I had never used a typed language before and I had little to no concept of interfaces. That said, the trial by fire was useful and highly motivating - especially since they had intensive automated tests with strict requirements to ensure you were using good algorithms

[2020-04-19 04:47] jmrunkle opened #1806 "bob: update tests and version file (v1.4.0 -> v1.6.0)"
The tests for the [bob exercise](https://github.com/exercism/java/tree/master/exercises/bob/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/bob/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com/exerc

[2020-04-19 04:47] jmrunkle opened #1807 "grade-school: update tests and version file (v1.0.0 -> v1.0.1)"
The tests for the [grade-school exercise](https://github.com/exercism/java/tree/master/exercises/grade-school/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/grade-school/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit histor

[2020-04-19 04:48] jmrunkle opened #1808 "luhn: update tests and version file (v1.6.1 -> v1.7.0)"
The tests for the [luhn exercise](https://github.com/exercism/java/tree/master/exercises/luhn/src/test/java) are not up-to-date with the [canonical data](https://github.com/exercism/problem-specifications/tree/master/exercises/luhn/canonical-data.json).
To check what has changed and if new tests have been added to the canonical data, please have a look at the [commit history](https://github.com/ex

[2020-04-19 04:50] jmrunkle opened #1809 "dot-dsl: implement exercise"
The exercise **dot-dsl** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/main/exercises/dot-dsl).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/main/CONTRIBUTING.md). P

[2020-04-19 04:50] jmrunkle opened #1810 "ledger: implement exercise"
The exercise **ledger** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/ledger).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#a

[2020-04-19 04:51] jmrunkle opened #1811 "lens-person: implement exercise"
The exercise **lens-person** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/main/exercises/lens-person).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/main/CONTRIBUTIN

[2020-04-19 04:51] jmrunkle opened #1812 "micro-blog: implement exercise"
The exercise **micro-blog** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/micro-blog).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUT

[2020-04-19 04:51] jmrunkle opened #1813 "paasio: implement exercise"
The exercise **paasio** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/paasio).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#a

[2020-04-19 04:51] jmrunkle opened #1814 "pov: implement exercise"
The exercise **pov** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/pov).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#adding-

[2020-04-19 04:51] jmrunkle opened #1815 "react: implement exercise"
The exercise **react** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/react).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#add

[2020-04-19 04:51] jmrunkle opened #1816 "rest-api: implement exercise"
The exercise **rest-api** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/rest-api).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.

[2020-04-19 04:52] jmrunkle opened #1817 "sgf-parsing: implement exercise"
The exercise **sgf-parsing** has not been implemented yet for the Java track.
The description of the exercise can be found in the [problem specification repository](https://github.com/exercism/problem-specifications/tree/master/exercises/sgf-parsing).

How to implement a new exercise for the Java track is described in detail in [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIB

[2020-04-19 15:35] jmrunkle commented on #1816
I may take a stab at this one.

[2020-04-19 19:07] mirkoperillo commented on #1787
@jmrunkle I don't know where to open this issue, if you know what repository is involved I can open the issue

[2020-04-19 22:27] jmrunkle commented on #1787
@mirkoperillo - start here: https://github.com/exercism/exercism/issues. They can move it if there is a more appropriate repo to put it in.

[2020-04-20 01:55] jmrunkle commented on #1753
@lpegoraro - I don't see a pull request linked to this. Are you still trying to implement this?

[2020-04-20 01:58] jmrunkle commented on #1751
@thecodeboy - are you still planning to implement this exercise? If not, I can mark this as unassigned so that others know it is up for grabs.

[2020-04-20 02:11] jmrunkle commented on #1743
@tr808axm - are you still working on this? It look like you have commits in your private repo, but you have not created a PR for *this* repo.

[2020-04-20 09:45] mirkoperillo commented on #1803
I agree to use a test library that provides more accurate and easy-to-read assertion messages, it can improve both student experience in error  comprehension and maintainers experience to maintain in a easy way the exercises.

I have experience only with Hamcrest, but I don't have any preferences about.
I think the important thing is to stay consistent: choose one framework and document in a clear

[2020-04-20 14:39] jmrunkle commented on #1803
For comparison, here are the three candidates asserting that a collection is empty and that two objects are equal:

**Hamcrest**:

[code]

**Truth**:

[code]

**AssertJ**:

[code]

As you can see, the APIs for Truth and AssertJ are often identical, and both benefit from IDE auto-completion. Hamcrest also has to import a bunch of extra static matchers.

[2020-04-20 15:05] jmrunkle commented on #1803
@pdmoore - I'm curious, have you used any of these (Hamcrest, Truth, or AssertJ)? I think that my phrasing of this discussion may have implied that these assertion tools are used outside of JUnit, but they really just work inside JUnit. We are only suggesting switching from JUnit assertions (like `assertEquals` and `assertTrue`) to these enhanced assertions where appropriate while still using the

[2020-04-20 16:22] pdmoore commented on #1803
@jmrunkle I've used Hamcrest some, and agree it's not as seamless as the other options.

When I read through this thread I got stuck on the suggestion "I’d also suggest that we standardize on one set of testing libraries across all tests in a track though" which implied to me picking one of the three, not adding to JUnit. The voting comments you added didn't express the "JUnit **AND** this other o

[2020-04-21 04:57] jmrunkle commented on #1803
We have heard from the majority of the active mentors already and there seems to be reasonable consensus around allowing AssertJ (in addition to JUnit) for assertions. Particularly, in cases where it improves the clarity of the error messaging. Barring additional commentary in the other direction, I will mark the discussion closed tomorrow and create a pull request updating our track policies to s

[2020-04-21 12:00] thecodeboy commented on #1751
@jmrunkle You can mark this as unassigned.

[2020-04-22 04:25] jmrunkle commented on #1803
Closing, thanks for the input everyone!

[2020-04-22 04:25] #1803 closed

[2020-04-22 04:27] jmrunkle opened #1819 "Update contribution and policies docs regarding support for AssertJ"
See #1803 for details. We are banning the use of Hamcrest and Truth assertions and allowing the use of AssertJ assertions.

[2020-04-22 04:30] jmrunkle opened #1820 "Migrate tests that use Hamcrest to AssertJ"
See #1803 for the discussion. In summary, we are banning the use of Hamcrest and Truth assertions and allowing the use of AssertJ assertions.

We need to go through the existing exercises and remove any uses of Hamcrest assertions and replace them with AssertJ (can also be JUnit asserts if reasonable, but I suspect not since they bothered to use Hamcrest in the first place).

[2020-04-22 04:52] jmrunkle opened #1821 "Update all of the gradle.build files"
Two main reasons:

1. Pull in AssertJ so that it is available in any test that wants to use it:
[code]
2. Update JUnit to 4.13 (which includes `assertThrows` among other things):
[code]

[2020-04-22 14:57] #1819 closed

[2020-04-22 17:34] #1820 closed

[2020-04-23 00:08] jmrunkle commented on #1821
I'm actually really excited to get access to `assertThrows` which is much cleaner than ExpectedException so I'll go ahead and get this one going.

[2020-04-23 04:14] #1821 closed

[2020-04-23 15:25] jmrunkle opened #1825 "Use assertThrows rather than ExpectedException"
Now that we have upgraded to JUnit 4.13 (#1821) we can use `assertThrows` which is even more powerful and useful than `ExpectedException`. It uses lambdas to clearly specify which piece of code is supposed to throw the exception and allows us to assert things about the returned exception (as well as the state of the object if mutable).

[2020-04-23 17:26] #1825 closed

[2020-04-23 17:30] jmrunkle commented on #1798
I fixed a few of these issues while migrating to `assertThrows` but there is still more to fix here. In particular

1. the difficulty should probably be increased
2. the stub java file should be renamed as BowlingGame.java

[2020-04-24 03:42] #772 closed

[2020-04-24 03:47] jmrunkle commented on #1647
This issue never got much attention, so I'm going to close it.

I think that it is infeasible to add it to all exercises, but if someone wanted to make a pull request for one or two exercises where performance matters (I'm thinking the list implementations could be interesting) then I'd be happy to review those.

[2020-04-24 03:47] #1647 closed

[2020-04-24 04:53] jmrunkle commented on #1726
Well, this experiment is going well. I like the GitHub actions better than Travis CI, so I'll throw together a PR to turn down travis.

[2020-04-24 06:31] yoseftanaka commented on #1806
Hello sir jmrunkle, I would like to try to give it a go.

[2020-04-24 06:57] antonmry commented on #1798
Thanks @jmrunkle. I have created a PR to address the rename of Bowling.java: https://github.com/exercism/java/pull/1827

Regarding the difficulty, it would be great to have feedback from other developers.

[2020-04-24 07:18] antonmry opened #1828 "Java version required to build the project"
In `CONTRIBUTING.md` is stated JDK 1.8+ is required. But in this commit https://github.com/exercism/java/commit/913b3d3d1b9a6b9a6760868bf87a1dab8cbc8982 it was introduced Map.of (Java 9) so some tests are failing with Java 8.

All tests are green with Java 11 so it's probably a good idea just to update the CONTRIBUTING.md to use that LTS version.

[2020-04-24 14:23] #1806 closed

[2020-04-24 14:24] jmrunkle commented on #1828
I agree... Java 8 is already 6 years old. I think we can update to Java 11.

[2020-04-24 14:26] #1828 closed

[2020-04-24 14:28] jmrunkle commented on #1798
Unfortunately, there's not a lot of other active maintainers on the Java track. If this were an issue that affected more than one exercise, I'd be inclined to try getting them involved. For a single-exercise issue, you can accept the opinions of one maintainer.

[2020-04-24 15:50] #1726 closed

[2020-04-24 15:51] jmrunkle commented on #1726
@dector - feel free to copy what I did here over to Kotlin: https://github.com/exercism/java/blob/master/.github/workflows/gradle.yml

[2020-04-25 18:18] #1812 closed

[2020-04-25 18:20] #1816 closed

[2020-04-25 21:18] #1751 closed

[2020-04-27 05:14] mirkoperillo commented on #1787
done https://github.com/exercism/exercism/issues/5268

[2020-04-28 00:58] jmrunkle opened #1834 "micro-blog not showing up"
https://github.com/exercism/java/pull/1805#issuecomment-620226842

@ericbalawejder can you confirm that this does not show up in your side exercises list? There should be a link to side exercises that I can point you towards (once I'm back at my laptop). If you can send me a screenshot showing your side exercises page that might help.

I'm wondering if there's a bug for newly created exercises not

[2020-04-28 01:00] jmrunkle commented on #1834
This page: https://exercism.io/my/tracks/java#side-exercises

[2020-04-28 01:22] ericbalawejder commented on #1834
![image](https://user-images.githubusercontent.com/4513001/80436432-1928d100-88cd-11ea-8cc2-f442ef69c5a2.png)

[2020-04-28 01:25] ericbalawejder commented on #1834
I believe this has popped up before in the Slack channel. It might have something to do with mentor mode as you pointed out.

[2020-04-28 02:17] jmrunkle commented on #1834
Possible workaround (if you are willing to try this). Leave mentored mode and then go back into mentored mode. See what happens? In the meantime, let me ask on the slack channel.

[2020-04-28 02:38] ericbalawejder commented on #1834
It seems the only way to leave mentor mode is to e-mail the admin:
https://exercism.io/mentoring-faqs

I'll head to the Slack as well.

[2020-04-28 02:43] SleeplessByte commented on #1834
Hi there! This exercise is so new, it hasn't yet been enabled through a script we need to run. Jeremy has been pinged and he'll probably take care of it tomorrow morning. You'll magically see the exercise unlocked.

Leaving mentored mode is not the same as "stop being a mentor". You can leave mentored mode on the bottom right of the track page.

[2020-04-28 03:43] jmrunkle commented on #1834
Thanks!

[2020-04-28 03:43] #1834 closed

[2020-04-30 16:08] dector commented on #1726
@jmrunkle Thanks!

[2020-05-02 18:13] Kineolyan opened #1835 "Add a gitpod configuration for all"
[Gitpod](https://www.gitpod.io/) is a tool integrating with Github that lets users develop in an online IDE whitin a docker-configured environment.
It is getting traction and offering more and more support of languages and tools.

Having such an environment configured for _exercism/java_ - and surely other languages - would help a lot any contibutors.
For newcomers, it saves the installation proce

[2020-05-02 18:52] Kineolyan commented on #1815
I liked this one a lot when I tested it on the Rust track. I am ok to implement it for the Java track, though it may not be ready really fast - tell me if it is an issue.
To your knowledge, is there one version of the exercise in any other language that I should use as an inspiration?

[2020-05-02 20:05] Kineolyan opened #1836 "Idea for a new very-hard exercise with concurrency"
I am writing a exercise about concurrency for my colleagues and I was thinking that it could be a good addition to the list of exercism. I checked the ones labelled "concurrency" and found only two in that category.

I was thinking about playing with `Semaphore`, with the idea of a dynamically resizable car parking.
In the parking, there is a configured number of spots and cars arriving will try t

[2020-05-02 21:21] jmrunkle commented on #1835
As a user of gitpod myself, I have no problem with this.

[2020-05-02 21:24] jmrunkle commented on #1815
It's all yours. This is implemented in the Kotlin track which has a lot of similarity with the Java track anyway so feel free to take inspiration from there: https://github.com/exercism/kotlin/tree/master/exercises/react

[2020-05-02 21:27] jmrunkle commented on #1836
Per our contributing guide:

Once added there, feel free to take a stab at implementing it here in Java.

[2020-05-02 21:27] #1836 closed

[2020-05-03 07:24] mirkoperillo commented on #1835
Hi,
the v3 of exercism, that, I think, will be shipped at the beginning of summer, will provide an online editor

[2020-05-03 07:31] Kineolyan commented on #1835
Then, no need for gitpod for users.

[2020-05-03 13:36] Kineolyan opened #1838 "Readmes not up-to-date"
According to [CONTRIBUTING.md](https://github.com/exercism/java/blob/master/CONTRIBUTING.md#updating-the-readmes), the Readmes should be regularly updated.
Currently, running `configlet generate . --spec-path path_to_problem_specifications` shows a lot of changes in git.
Since the project migrated to Github Actions, we could rely on [schedule events] to re-generate the Readmes and open a pull-requ

[2020-05-05 02:25] jmrunkle commented on #1838
Nice, I like that. Feel free to take a stab at that.

[2020-05-06 04:39] #1745 closed

[2020-06-01 11:54] mirkoperillo commented on #1808
fixed by PR #1839

[2020-06-01 11:54] #1808 closed

[2020-07-14 15:44] mirkoperillo opened #1862 "Implement new Concept Exercise: lists"
This issue describes how to implement the `lists` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

- [T

[2020-08-01 18:50] CliffRoberson commented on #1813
This is my first attempt at implementing an exercise and it seems like a good one to try. May I have this assigned to me and do you know of another language which has this exercise that I can copy from?

[2020-08-03 16:04] mirkoperillo commented on #1813
Thank you @CliffRoberson for the help.
I found a [go implementation](https://github.com/exercism/go/tree/master/exercises/paasio) of this problem if it can help you.

Feel free to ask for every doubt

[2020-08-13 20:47] jaahay commented on #1809
Greetings,
Would it be O.K. if I take this?
Best,
James

[2020-08-13 20:52] CliffRoberson commented on #1809
Sure, go ahead. Work has been a little more busy than i thought lately so I’ll find a different one.

Thanks

Cliff

[2020-09-12 14:25] johnnybaloney opened #1843 "Broken tests in Nucleotide Count exercise"
[NucleotideCounterTest.java](https://github.com/exercism/java/blob/31c1c266cbf2df7fc70b38f74210055184cfe318/exercises/nucleotide-count/src/test/java/NucleotideCounterTest.java) contains invisible characters that break tests.

Calls to `containsExactlyInAnyOrderEntriesOf`have invisible characters just before the opening parenthesis.

[code]

[2020-09-14 10:08] juan-castrillon opened #1844 "Markdown Side Exercise - Code Missing"
In the Markdown side exercise, the task is defined as

, where there is some code that needs to be improved. However, after downloading the files, the `Markdown.java` file, only contains the following :

[code]

Am I expected to code from scratch? Because that would contradict the description of the task.

Thanks in advance 😄

[2020-09-14 10:21] mirkoperillo commented on #1843
@johnnybaloney thank you for signaling this.

Can you tell us your OS, java and gradle version please ?

[2020-09-29 14:41] #1807 closed

[2020-10-03 12:09] Being-Maverick commented on #1814
Hey @jmrunkle , I have a question. According to the problem description, we need to reorient the graph according to a given node. What exactly does reorientation mean here? Since, the nodes and their relations will, remain the same, there won't be any changes to the data structure. The reoriented graph is just a BFS traversal with respect to the given node. We just need to perform BFS right?

[2020-10-04 06:20] himanshugoyal1065 opened #1861 "Suggest new exercise: <exception-handling>"
In this issue, a new concept exercise for the <JAVA> track is suggested. The exercise's name is `<exception-handling>`.

## Rationale

Exception handling is a core concept of java and is used extensively in development. Someone working/ learning Java, should know the basics of Exception handling.

## Concepts

Exception handling consists of the following main concepts:
- try and catch blocks
- fin

[2020-10-07 10:48] himanshugoyal1065 opened #1860 "[CI] Adding `gradle check` to github actions"
@mirkoperillo, thank you! I have updated the PR and now it's passing the `gradle check`
Also, I suggest adding this check in the actions directly, so that you or any other maintainer don't have to tell everyone personally :)

_Originally posted by @himanshugoyal1065 in https://github.com/exercism/v3/pull/2278#issuecomment-704445876_

[2020-10-14 17:49] ericbalawejder commented on #1843
<img width="706" alt="Screen Shot 2020-10-14 at 1 46 37 PM" src="https://user-images.githubusercontent.com/4513001/96025895-cc599800-0e23-11eb-9745-e639d56fce30.png">

[code]

[2020-10-15 08:33] ErikSchierboom opened #1850 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-15 13:53] mirkoperillo commented on #1850
@jmrunkle do you confirm we already moved to GitHub Actions ?

[2020-10-22 06:42] ErikSchierboom commented on #1850
I just checked and you do indeed!

[2020-10-22 06:42] #1850 closed

[2020-10-23 15:48] ericbalawejder opened #1852 "AffineCipher decryption function value."
In the AffineCipher `README.md`, it states the value of `y` is the numeric value of an encrypted letter, ie. `y = E(x)`. Should `y = x`, where `x` is the letter's index from 0 - length of alphabet - 1, in the decryption function?

The `README.md` states:

the decryption function is:

  `D(y) = a^-1(y - b) mod m`
  -  where `y` is the numeric value of an encrypted letter, ie. `y = E(x)`
  -  it is

[2020-10-26 22:32] brownmike commented on #1844
It looks like this commit removed the implementation https://github.com/exercism/java/commit/b2818e484d9b9badf4130e060fcfe06c6198544a#diff-83b893441096ed6cc3647b0c8759928372c9214df9d244a76bc7f63d30a54667

[2020-10-26 22:36] iHiD commented on #1844
@jmrunkle Could you take a look at this pls 🙂

[2020-10-31 12:52] J-Ankit2020 commented on #1743
I'd be happy to work on this one. Can you please assign it to me?

[2020-11-02 17:37] mirkoperillo commented on #1743
Hi @J-Ankit2020  ok, I dont' think @tr808axm is working on this anymore

[2020-11-04 14:55] J-Ankit2020 commented on #1743
hey how can i fix this issue

[2020-11-05 10:23] mirkoperillo commented on #1743
@J-Ankit2020 you have two ways:
* Take the solution started by tr808axm ( there is something here https://github.com/tr808axm/java/commit/54f942facd4516648558492bb68464fd4ad4097a ), check the completeness and if it is complete open a PR about it
* Take the exercise specification (https://github.com/exercism/problem-specifications/tree/master/exercises/connect) and provide your solution

[2020-11-06 13:33] #1752 closed

[2020-11-14 04:21] stavoxnetworks commented on #1798
I would like to join the java track to provide assistance. If you feel this is a good first issue, I can take it.

[2020-11-16 08:08] mirkoperillo commented on #1798
Hi @stavoxnetworks if you are interesting to contribute regularly on Java Track.
I propose you this issue.

https://github.com/exercism/v3/issues/1994

Exercism maintainers of all tracks are working hard to move tracks to new platform version (v3).
Java track needs a lot of help to gain this result.
Every help is welcome

If you need help or more details put a comment into the signaled issue

[2020-12-15 21:36] muzimuzhi opened #1853 "Gradle: replace testCompile configuration with testImplementation?"
Running `gradle --warning-mode all test` gives

The testCompile configuration has been deprecated for dependency declaration. This will
fail with an error in Gradle 7.0. Please use the testImplementation configuration instead.
Consult the upgrading guide for further information: https://docs.gradle.org/6.7.1/userguide/upgrading_version_5.html#dependencies_should_no_longer_be_declared_using_the_com

[2021-01-07 14:39] ErikSchierboom opened #1854 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The Java section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare Java for the launch of v3.

Ov

[2021-01-13 20:38] Joker018 opened #1855 "Hamming exercise ; Exceptions & Readme + Instructions"
Hi,

In the **Hamming exercise**, we have to throw exceptions for different situations :
- If the two strands are not the same length (IllegalArgumentException("leftStrand and rightStrand must be of equal length."))
- If the left strand is empty but not the right strand (IllegalArgumentException("left strand must not be empty."))
- If the right strand is empty but not the left strand (IllegalArgum

[2021-01-16 11:51] Joker018 opened #1857 "Dead link"
Hi,
Just to signal that there is a dead link on the website in Java track > Useful Java Resources. The link that is dead is the "Java Programming Books" (see screen).
The link "Free Programming Books - java" in Java Track > Learning Java. is also dead

![Capture d’écran 2021-01-16 à 12 49 05](https://user-images.githubusercontent.com/19249942/104811106-900a4f00-57f9-11eb-9e60-d6453cdb5c7c.png)
![C

[2021-01-28 15:51] ErikSchierboom opened #1858 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-28 19:21] mikedamay opened #1859 "hh"

[2021-01-28 19:21] #1859 closed

[2021-01-29 08:51] ErikSchierboom commented on #1858
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:24] ErikSchierboom commented on #1854
As of today, the website has entered maintenance mode.

[2021-01-29 13:52] ErikSchierboom opened #1864 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 13:52] ErikSchierboom opened #1865 "[v3] Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 13:52] ErikSchierboom opened #1866 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 13:53] ErikSchierboom opened #1867 "Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 13:53] ErikSchierboom opened #1868 "Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 13:53] ErikSchierboom opened #1869 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 13:53] ErikSchierboom opened #1870 "[v3] Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 13:53] ErikSchierboom opened #1871 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 13:53] ErikSchierboom opened #1872 "[v3] Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 13:53] ErikSchierboom opened #1873 "Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [x] [Configure online editor](https://github.com/exercism/java/issues/1864)
- [x] [Add key features](https://github.com/exercism/java/issues/1865)
- [x] [Add tags](https://github

[2021-01-30 08:53] Priya103 commented on #1862
If still unassigned I would like to contribute.

[2021-01-30 13:52] mirkoperillo commented on #1862
yes, thank you.
I assign it to you @Priya103

For every doubt or suggestion feel free to ask in this issue, I'll try to help you

[2021-01-30 14:11] mirkoperillo commented on #1862
@Priya103  I have merged the v3 stuff on the repo right know.
You can take the last updates of the main branch to start your work.

[2021-02-01 17:39] mirkoperillo opened #1874 "Java track v2 is freezed"
The current Java track on exercism.io is officially freezed.
Now the repo reflects the new v3 structure (that is pretty different from the v2 one).

Feel free to open an issue about the current v2 version to maintain trace of the problem, but the next weeks will be focused on the v3 beta testing on the reference site [exercism.lol](https://exercism.lol) waiting for the official launch (in April I

[2021-02-02 14:43] mirkoperillo commented on #1864
done

[2021-02-02 14:43] #1864 closed

[2021-02-02 14:46] mirkoperillo commented on #1869
@msomji can you provide a recap about the Java Test Runner status ?

[2021-02-02 15:03] msomji commented on #1869
I was under the understanding that it is ready to use unless the spec has changed since then. :)

[2021-02-02 15:07] ErikSchierboom commented on #1869
I can confirm that the test runner works! I'll close this issue.

[2021-02-02 15:07] #1869 closed

[2021-02-02 15:54] #1858 closed

[2021-02-03 12:38] mirkoperillo commented on #1870
* It has been implemented a representer for java [repo here](https://github.com/exercism/java-representer)
* There is a repo about the [analyzer](https://github.com/exercism/java-analyzer) for java, I supposed that it isn't aligned with the v3 specs.

If there is a contributor interested in pushing forward the analyzer it will be welcome

[2021-02-03 12:43] mirkoperillo commented on #1874
better explanation here #1854

[2021-02-03 12:43] #1854 closed

[2021-02-03 12:49] mirkoperillo commented on #1853
Hi @muzimuzhi sorry to the late answer.
Thank for your suggestion. Currently all maintainers effort is dedicated to ship the new version of the track (v3). (More details #1854 )

We will test this suggestion ASAP or if you are interested you can try to test it on the current main repo and then provide a PR

[2021-02-03 12:51] mirkoperillo commented on #1857
Hi @Joker018  sorry to the late answer.
Thank for your suggestion. Currently all maintainers effort is dedicated to ship the new version of the track (v3). (More details #1854 ).

We will fix it ASAP

[2021-02-03 17:15] muzimuzhi commented on #1853
Is https://github.com/exercism/v3 the current main repo?

[2021-02-03 17:45] muzimuzhi commented on #1853
@mirkoperillo I've made the required change in https://github.com/muzimuzhi/v3/tree/java/gradle. But since [`exercism/v3`](https://github.com/exercism/v3) is archived, PRs are read-only and I could not open any new ones.

[2021-02-03 20:20] mirkoperillo commented on #1853
@muzimuzhi  yes, the correct repo is this one.

Thank you for the contribution I'll give it a look ASAP

[2021-02-04 02:22] Priya103 commented on #1862
Thanks @mirkoperillo

[2021-02-10 08:41] ErikSchierboom commented on #1868
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:13] ErikSchierboom commented on #1867
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-02-12 13:40] #1853 closed

[2021-02-12 13:57] mirkoperillo opened #1881 "Move gradle wrapper to a newer version"
Currently the version of gradle installed by the wrapper is very old and it doesn't work with the last versions of Java

https://github.com/exercism/java/blob/main/gradle/wrapper/gradle-wrapper.properties

It should be moved to the last gradle version (6.8.2)

[2021-02-12 19:03] mirkoperillo opened #1883 "Discussion about what are the Java key features"
Ref to #1865 we have to define 6 key features of Java that will be shown in the new v3 track page.
Time to discuss about it

[2021-02-15 01:20] ericbalawejder commented on #1883
Key features that allow easy comparisons of other server side languages? Multi-paradigm (object oriented, functional, contains primitives), platform independent, supports generics, (Go doesn't), garbage collected, multi-threaded (might not be important when learning the language), statically typed (forced type assignment).

I always find the terms "interpreted language" or "compiled language" a gr

[2021-02-15 16:15] mirkoperillo opened #1885 "Linter checks failure"
Currently the checks of a submitted PR fail.
In detail the configlet linter phase fails.
An example of failure output
[code]
The problem is that `config.json` file contained into every concept exercises should
explicitly define the path of the reference solution into the files.exemplar field

Taking as example the failure message

Exercise `interfaces` should contains this

[code]

[2021-02-15 16:19] mirkoperillo commented on #1883
Yes, I think the approach can be to describe the 6 key features of Java for someone coming from other languages.
I like:
* Multi-paradigm
* platform independent,
* garbage collected
* statically typed

I think it can be interesting:
* supports generics

@msomji  any other suggestions ?

[2021-02-16 15:08] mirkoperillo opened #1886 "Update content of implementing-a-concept-exercise.md"
Currently [implementing-a-concept-exercise](https://github.com/exercism/java/blob/main/reference/implementing-a-concept-exercise.md) doesn't fully respect the structure of a Java concept exercise

[2021-02-17 10:30] mirkoperillo opened #1888 "Change the slug of concept exercises"
Currently the slug of concept exercises in Java track is relative to the concept they present.
The general rule prefers to name the slug as the story they implement.

We need to change the slug of the following exercises

- [x] booleans
- [x] chars
- [x] classes
- [x] conditionals
- [x] constructors
- [x] inheritance
- [x] interfaces
- [x] numbers
- [x] strings
- [x] switch-statement
- [x] ternary

[2021-02-21 12:40] mirkoperillo opened #1890 "Discussion about tags to put in Java config"
Ref to #1866 we have to add some tags in the `config.json` of Java track.
In the reference issue there is a link to the docs repo containing all the available tags.

What are the most appropriated for the Java track ?

[2021-02-25 21:54] ericbalawejder commented on #1890
https://github.com/exercism/docs/blob/main/anatomy/tracks/config-json.md#tags
[code]
Not sure if `typing/strong` is a gray area for Java. `execution_mode` seems like it's both? Static type check that's compiled to byte code and then interpreted?

[2021-02-26 13:48] mirkoperillo commented on #1890
citing the ref page

So it's not the case of Java

I'm not sure we can use `paradigm/declarative` for Java.

I'm agree with all the others tags

[2021-02-26 17:03] #1885 closed

[2021-02-26 21:49] ericbalawejder commented on #1881
It looks like the latest release is `gradle-6.8.3-bin.zip`. Is there a way to test this once it's changed...say like picking and running one exercise vs running them all?

[2021-02-26 22:02] ericbalawejder commented on #1890
Ok, drop `execution_mode/interpreted`. I usually see `declarative` associated with the functional features of Java 1.8+. I feel like Java isn't weakly typed but it isn't strongly typed either. Maybe just drop the `typing/strong`?

[2021-02-27 10:41] mirkoperillo commented on #1881
following the Gradle documentation for the wrapper usage, https://docs.gradle.org/current/userguide/gradle_wrapper.html#sec:using_wrapper

Have I answer to your doubt ?

[2021-02-27 10:46] mirkoperillo commented on #1890
well we can drop `typing/strong` for the moment waiting for a wider discussion

I think that a functional paradigm bring to a more declarative approach, but I think it's a strong concept define Java as declarative language. ( SQL is an example of declarative language)

[2021-03-01 21:51] ericbalawejder commented on #1890
https://github.com/exercism/docs/blob/main/anatomy/tracks/config-json.md#tags
[code]
Just updating this for discussion. Still undecided on `paradigm/declarative`.

[2021-03-01 22:07] ericbalawejder commented on #1881
Yes, thank you.

[2021-03-02 08:22] mirkoperillo commented on #1890
@msomji do you have some suggestions about ?

[2021-03-02 09:44] mirkoperillo commented on #1881
Fixed from #1896

[2021-03-02 09:44] #1881 closed

[2021-03-02 15:42] ErikSchierboom opened #1897 "Add blurb to Concept Exercises"
Each Concept will have to define a _blurb_, which is a short description of the exercise.

In an earlier PR, a placeholder blurb has been added to the .meta/config.json file of each Concept Exercise. The placeholder blurbs should be replaced with an actual blurb for each Concept Exercise. Blurbs must be limited to 350 chars and will be truncated in some views.

For forked exercises, it might be us

[2021-03-02 20:00] mirkoperillo commented on #1890
Taking inspiration from C# track, they have `paradigm/functional` but not the `paradigm/declarative` one

[2021-03-02 20:10] mirkoperillo commented on #1886
fixed by #1895

[2021-03-02 20:10] #1886 closed

[2021-03-04 11:40] kleinbottles opened #1902 "Instructions for installing Java on MacOS out of date"
[https://exercism.io/tracks/java/installation](Installing Java)

Running the following command:
`brew cask install homebrew/cask-versions/java11`

produces the following error:
`Unknown command: cask not found`

The following command worked for me:
`brew install --cask adoptopenjdk11`

[2021-03-08 07:41] mirkoperillo commented on #1902
Fixed by #1904

[2021-03-08 07:41] #1902 closed

[2021-03-08 18:25] ericbalawejder commented on #1890
[code]
This appears to be last last issue to resolve the linter check failures. Does @msomji have any final input for this discussion?

[2021-03-08 19:45] #1871 closed

[2021-03-08 19:45] #1870 closed

[2021-03-09 08:14] mirkoperillo commented on #1890
@ericbalawejder  we have to unblock this issue.
I have a proposal: what you think to provide a PR about this ?
In this moment it is important to have a first version of tags to avoid the linter error and to go on with v3 prerequisites

[2021-03-10 00:53] ericbalawejder commented on #1890
I'm on board with trying to complete it for the linter as well as the v3 track. I was just waiting to see if there was any additional input. I can't make a PR with the code from my last comment if that works?

[2021-03-10 12:26] mirkoperillo commented on #1890
Absolutely yes

I think we can define these tags for now and then if there will be improvements, we will provide other PRs.

[2021-03-10 17:17] ericbalawejder commented on #1890
Ok, "can't" = "can". Sorry if that caused confusion.

[2021-03-11 07:22] mirkoperillo commented on #1866
fixed by #1906

[2021-03-11 07:22] #1866 closed

[2021-03-11 07:23] mirkoperillo commented on #1890
fixed by #1906

[2021-03-11 07:23] #1890 closed

[2021-03-12 02:00] ericbalawejder commented on #1883
[code]
Initial content. It appears other tracks only have 6 key features so I'm not sure if there is a hard limit or not. I left out generics if anyone feels that would be a better choice in place of something. The `content` field has to be <= 100 characters. I left some `icon` fields blank because there doesn't appear to be a list to choose from. It says `TODO` in the docs. https://github.com/exe

[2021-03-12 13:29] mirkoperillo commented on #1883
From the documentation

So, yes it seems there is an hard limit

In my opinion your proposal is good.
Maybe I think that "Garbage Collected" could be a interesting key features of Java in comparison with other languages

[2021-03-19 20:37] ericbalawejder commented on #1883
[code]
I replaced `Documentation` with `Garbage Collection`. I agree that it is a more valuable descriptive feature.
This docs have moved from:
https://github.com/exercism/docs/blob/main/anatomy/tracks/config-json.md#key-features
to:
https://github.com/exercism/docs/blob/main/building/tracks/config-json.md#key-features
Still no update for the `icon` field.

[2021-03-21 15:44] mirkoperillo commented on #1883
I think that we could merge this and open an issue to trace that absence of icon for the moment

[2021-03-24 15:49] #1865 closed

[2021-04-01 20:44] ericbalawejder commented on #1867
The four `the spec` links in the issue above appear to have moved. Are you able to direct me to the new docs locations?

[2021-04-02 05:46] mirkoperillo commented on #1867
@ericbalawejder maybe is the spec file [this](https://github.com/exercism/docs/blob/main/building/tracks/practice-exercises.md) ?
@ErikSchierboom is it right ?

[2021-04-02 07:13] ErikSchierboom commented on #1867
@mirkoperillo Yes that is correct! Sorry for the broken links.

[2021-04-06 08:34] masahx commented on #1844
I noticed this too... I could use this commit later

[2021-04-06 12:33] iHiD commented on #1844
(cc @exercism/java)

[2021-04-06 19:08] mirkoperillo commented on #1844
it seems an error maybe not considering the refactor nature of this exercise.
I think we can recover the initial implementation (to permit the refactor exercise) using the commit signaled by @brownmike

[2021-04-06 19:16] #1883 closed

[2021-04-13 06:53] #1844 closed

[2021-04-13 11:57] iHiD commented on #1844
Thanks :)

[2021-04-13 13:59] juan-castrillon commented on #1844
Thanks a lot 😊

[2021-04-13 14:08] iHiD commented on #1844
One thing to note is that this won't sync until v3 is launched now as the repos are disconnected from the website.

[2021-04-13 19:01] mirkoperillo opened #1923 "Organization: adding prerequisites to practice exercises"
One of the v3 migration requirements is to add what concepts are prerequisites for face with the practice exercise.
[here](https://github.com/exercism/java/issues/1867) more details

The goal of this issue is to give a sort of general overview on this task.
We should improve the configuration of 120 exercise.
The idea is to claim in a comment of this issue a set of exercise to work on, to avoid so

[2021-04-18 18:44] #1888 closed

[2021-04-19 17:44] ericbalawejder commented on #1923
This check list is a huge help. I started this issue a few weeks ago and stalled. I started with the first two exercises in the `practice` array of the `config.json` file to help understand the requirements.

[code]

I used the `topics` for `practices`. How should we go about adding more to the `practices` array?

From the [docs](https://github.com/exercism/java/issues/1867): "Each prerequisite co

[2021-04-23 13:39] mirkoperillo opened #1927 "Gradle 7.x breaks workflow of exercise in student mode"
As signaled in https://github.com/exercism/exercism/issues/5517 it seems that using Gradle 7.x breaks the workflow of exercise in the student mode.
Everything works right running an exercise with Gradle 7.x in maintainer mode.

An example of error output running the `pratcise/hello-world' exercise in student mode

[code]

[2021-04-26 18:21] mirkoperillo commented on #1923
No, a practice exercise could have more than one Concept prerequisite.
This is the example in the documentation
[code]
There are 2 concepts as prerequisites of the practice exercise.
I hope to understand right your doubts

[2021-05-09 20:37] milliorn opened #1935 "Hamming"
[code]

That is the error I get when running `gradle test` regardless of code given.

[code]
How can I fix this?

[2021-05-10 14:25] scmbradley opened #1936 "New test for isbn-verifier"
My [solution to this exercise](https://exercism.io/tracks/java/exercises/isbn-verifier/solutions/398139213ab845b08e9d2d972fbf7e3e) passes all the tests, but obviously validates a bunch of non-ISBN strings (namely, any string that has just enough digits in the right order to be a valid ISBN). The code I used just strips out everything that isn't in `[0-9X]` and then works with that filtered array o

[2021-05-10 17:18] milliorn commented on #1935
I am on 7.0
[gradlew command not found?](https://stackoverflow.com/questions/41700798/gradlew-command-not-found)
I had that issue which after reading that I landed on this page here below
[How to downgrade to older version of Gradle](https://stackoverflow.com/questions/33892760/how-to-downgrade-to-older-version-of-gradle)
I was using VSC. I had plugins installed. Installed Android Studio. Imported

[2021-05-10 19:37] #1935 closed

[2021-05-13 20:19] harmanhobbit opened #1938 "AnagramTest.java has Zero Width Spaces"
All of the .containsExactlyInAnyOrder() calls have a Zero Width Space ([ZWSP]) before the parentheses so are actually .containsExactlyInAnyOrder[ZWSP](). This causes errors in some IDE such as Intellij Idea. An example is included below copied from the code hosted on github.

.containsExactlyInAnyOrder​("maters", "stream");

[2021-05-18 09:25] mirkoperillo commented on #1938
Hi @harmanhobbit thank you for your reporting.

I'm not a Intellij user, so currently I'm not able to reproduce quickly this bug.
I'll try to reproduce ASAP

@exercism/java anybody can help on this ?

[2021-05-20 02:24] ericbalawejder commented on #1938
There is a similar issue in #1843. I'm an IntelliJ Ultimate user and I'll look into these.

[2021-05-26 03:49] ericbalawejder commented on #1938
There is a zero width space character [ZWSP] in the two test files for anagram and nucleotide-count. It is visible after inspecting the hex view of each file.

<img width="683" alt="Screen Shot 2021-05-25 at 1 48 26 PM" src="https://user-images.githubusercontent.com/4513001/119597934-01fa3280-bdb0-11eb-91f1-b9ce5930cd69.png">

U+200B | ​ | 0xe2 0x80 0x8b | ZERO WIDTH SPACE

IntelliJ may be more se

[2021-05-26 11:17] mirkoperillo commented on #1938
@ericbalawejder  I don't think.
The current production code is frozen so it will not be impacted from the fix.
This fix will be "online" only when the v3 will be officially released ( in a few weeks I suppose)

Thanks @ericbalawejder for explaining how to identify this problem, I'm sure this know-how will be useful in the future.

[2021-05-27 11:33] mirkoperillo commented on #1927
This issue has been already fixed by #1853 .
When v3 is officially released the students will be able to use new Gradle 7.x without issues

[2021-05-27 11:33] #1927 closed

[2021-06-06 10:45] gutsHellsing opened #1944 "gradle testCompile() fails"
first this is what i have on my machine

gradle:

Gradle 7.0

Build time: 2021-04-09 22:27:31 UTC
Revision: d5661e3f0e07a8caff705f1badf79fb5df8022c4

Kotlin: 1.4.31
Groovy: 3.0.7
Ant: Apache Ant(TM) version 1.10.9 compiled on September 27 2020
JVM: 11.0.11 (Oracle Corporation 11.0.11+9)
OS: Windows 10 10.0 amd64

java:

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment 18.9 (build 11.0.11+9)

[2021-06-07 10:01] mirkoperillo commented on #1944
Hi @gutsHellsing this is known bug.
It has been already fixed in the main branch, but not currently in production because we are waiting for the official release of v3 platform (current v2 java track is freezed so cannot be updated).
The problem is the using of Gradle 7.x
You have two workarounds:
- downgrade gradle to the last 6.x version
- or follow this suggestion https://github.com/exercism/ex

[2021-06-07 15:36] gutsHellsing commented on #1944
Hi @mirkoperillo, thanks for the fast respond.

also thanks for providing the workarounds, i can confirm that both work, and i choose to downgrade gradle for now.

i'm closing this issues for being solved.

[2021-06-07 15:36] #1944 closed

[2021-06-14 05:48] mirkoperillo commented on #1938
Thank you to @ericbalawejder this issue (and another found in `nucleotide-count` exercise) has been fixed

[2021-06-14 05:48] #1938 closed

[2021-06-17 01:51] guimsmendes opened #1948 "Junit on Gradle not working"
I've followed the steps to install gradle, but when I run the tests in any Java exercise, I receive the following error:

[code]

[2021-06-17 06:23] mirkoperillo commented on #1948
Hi @guimsmendes
this is a known bugs and we are waiting the v3 version to fix it in production
https://github.com/exercism/java/issues/1944#issuecomment-855791756 here some possible workarounds

Let we know if the problem still remains

[2021-07-06 08:10] mirkoperillo commented on #1948
I think this issue can be closed

[2021-07-06 08:10] #1948 closed

[2021-07-14 13:31] ErikSchierboom opened #1955 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:31] ErikSchierboom opened #1956 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-07-17 10:58] richarda23 opened #1957 "Integer overflow risk in difference-of-squares"
The difference-of-squares problem should raise the issue of integer overflow. Since the input and return value are both integers, and the calculation squares these inputs, in real production code there would be a risk of integer overflow. This is a big risk in production code so new Java developers should be aware of this!

Would suggest tests that validate input  to a value whose result can still

[2021-07-20 11:42] #1956 closed

[2021-07-21 06:49] #1955 closed

[2021-07-23 11:38] mirkoperillo commented on #1957
@richarda23 if you are interested you can propose some new unit tests about

[2021-07-23 12:00] mirkoperillo opened #1961 "Linter issue: key_features.icon is empty in config.json"
This is the linter error output:
[code]

At this link the available values for `icon` field: https://github.com/exercism/docs/blob/main/building/tracks/config-json.md#key-features

[2021-07-23 12:15] richarda23 commented on #1957
Sure will do! It will be probably week after next before I get round to this.

[2021-07-23 22:12] Tanner-Mindrum commented on #1961
Hi, may I please be assigned this issue?

[2021-07-26 12:50] #1961 closed

[2021-07-26 12:54] mirkoperillo opened #1963 "Linter issue: align key_features.icon to new valid values"
https://github.com/exercism/java/blob/2b11992db4a63edbd4e5c44adff7094b466be020/config.json#L1935

contains some values in `key_features.icon` field not more valid.
Fix it using valid ones following https://github.com/exercism/docs/blob/main/building/tracks/config-json.md#key-features

[2021-07-28 12:06] mirkoperillo commented on #1963
fixed by #1964

[2021-07-28 12:06] #1963 closed

[2021-08-15 09:52] richarda23 commented on #1957
OK, looking into this it depends on how the solution is implemented. If it uses the formula the max allowed input values is 1023
as   1023 * (1024) * (2047)  is the largest that stays within Integer.Max_VALUE.
But if solver uses regular loop addition then the max allowed input value is much larger.

So a test that asserts that an IllegalArgumentException is thrown if n > 1023 won't make much sense

[2021-08-15 13:44] Minification opened #1965 "New test cases for secret-handshake"
While mentoring, I have noticed that a lot of solutions do not handle numbers whose binary representation has more than five digits, because the test cases where the binary representation has a fifth digit _all_ test for reversal. Additionally, there are no test cases that have a sixth digit, but do not require reversal.

That is why I propose addition of the following test cases:

[code]

[code]

[2021-08-15 20:53] richarda23 opened #1966 "Inaccurate compiler error description in 'foreach-loops' concepts"
Reading about.md in concepts/arrays,

[code]
This only causes a compiler array as you are trying to assign a `char` to variable of type `char []`. This will always be a compiler error, not just in a foreach loop.

I tried modifying both values of arrays and setting vowels to a new char [] inside the loop, neither of which produced a compiler or runtime error (Java 11) . E.g.

[code]

[2021-08-17 02:12] ericbalawejder commented on #1957
I follow the concern of overflow. Since the tests use small input (It looks like 100 is the largest value) it may not be too much of a concern. The point of squaring values while using the type `int` is valuable to make. As you pointed out, the input value that causes overflow depends upon the implementation. As you showed, using the series summation formula, the max is 1023. Using an accumulator

[2021-08-17 15:53] ericbalawejder commented on #1965
Thank you. These are good test cases because they may change how someone handles the logic. Testing for input that is greater than 16 is different than bitwise `&` checking for 16. 111 is also a good input to check for a value with 7 binary digits but no 16 bit for reversal.

Feel free to submit a PR with these tests if you like. The changes won't be visible until Exercism v3 is released however.

[2021-08-18 11:39] ErikSchierboom commented on #1868
Closing as this track passes all the linting rules and we do not expect to add more linting rules before launch.

When we add linting rules later on, they will automatically be checked via the configlet CI workflow. There is thus no need for this issue to remain open.

[2021-08-18 11:39] #1868 closed

[2021-08-18 14:43] ErikSchierboom opened #1969 "Build analyzer"
In Exercism v3, we are making increased use of our v2 [analyzers](https://github.com/exercism/docs/blob/main/building/tooling/analyzers/README.md). Analyzers automatically assess student's submissions and provide mentor-style commentary. They can be used to catch common mistakes and/or do complex solution analysis that can't easily be done directly in a test suite.

Each analyzer is track-specific

[2021-08-19 21:24] ericbalawejder commented on #1966
You are correct. This is a typo. Trying to assign a `char` to a `char[]` will result in a compiler error but I don't think that is the intention of the author in the post. I believe what they are trying to show is that you can not mutate the values of the `char[]` using the `for each` style loop. Only the variable in the loop changes, not the real array values. We would need an indexed loop to mod

[2021-08-20 01:35] Minification commented on #1965
Thanks, I have added the test case you suggested plus the original ones suggested in this issue. Now it looks like the workflow is still awaiting approval and we need a review.

[2021-08-20 10:43] ErikSchierboom opened #1971 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-08-21 02:33] #1965 closed

[2021-08-30 18:45] ericbalawejder commented on #1971
For the broken link in the README.md, the only functioning page I can find for contributing is: https://github.com/exercism/docs/blob/main/community/contributors.md

The v3 beta page looks great.
https://exercism.lol/contributing
Should this be ignored until v3 is launched?

The other error is a sample gradle output for viewing the report:
`file:///home/<username>/hello-world/build/reports/tests/i

[2021-08-31 05:38] ErikSchierboom commented on #1971
@ericbalawejder I'd update the docs to point to https://exercism.org/contributing, which will be operational tomorrow :)

[2021-08-31 11:34] mirkoperillo commented on #1969
In this moment the Java track doesn't implement a java analyzer that satisfies the v3 requirements.
This is a good starting point for a new motivated contributor/maintainer.

**ATTENTION: it needs a good amount of work to reach some results**

Claim this issue if you feel excited by this task. :fire:

[2021-08-31 14:47] ericbalawejder commented on #1936
Fixed via #1968

[2021-08-31 14:47] #1936 closed

[2021-09-02 12:36] mirkoperillo commented on #1971
@ericbalawejder  I think we can ignore the `file:///home/<username>/hello-world/build/reports/tests/index.html` link warning for the moment.

If this link reference will break other times some checker in the future we will remove it

[2021-09-02 12:36] #1971 closed

[2021-09-02 12:37] mirkoperillo commented on #1874
v3 has been released

[2021-09-02 12:37] #1874 closed

[2021-09-02 12:37] mirkoperillo commented on #1873
v3 has been released

[2021-09-02 12:37] #1873 closed

[2021-09-02 12:38] #1857 closed

[2021-09-02 12:43] #1843 closed

[2021-09-02 12:45] rv02 commented on #1861
@mirkoperillo I would like to work on this issue!
This will be my first issue. I read the docs on adding a new exercise.
I will port the exercise from C# track.

[2021-09-02 12:48] mirkoperillo commented on #1838
Old issue before the v3 launch, I think I ca be closed.

[2021-09-02 12:49] #1763 closed

[2021-09-02 12:54] #1789 closed

[2021-09-02 16:42] ericbalawejder commented on #1861
There is a similar exercise titled `error-handling` but it doesn't have the `try, catch, finally` functionality. Not sure if it's valuable to combine/update the exercise or create a new one?

[2021-09-02 18:56] mirkoperillo commented on #1861
@rv02 thank you, you are welcome and feel free to ask with a comment in this issue for every doubt.
We will try to help you.
My proposal it is to start with the C# one as guideline and understand where to update it to be aligned with concept of handling the exceptions defined in Java.

[2021-09-03 08:27] mirkoperillo opened #1982 "Introduce assertj in resistor-color exercise"
Some time ago Java track decided to move assertions from JUnit one to assertj

The goal of this issue is to introduce assertj assertions in this exercise
https://github.com/exercism/java/blob/main/exercises/practice/resistor-color/src/test/java/ResistorColorTest.java

[2021-09-04 00:48] thtroyer commented on #1982
I'd love to take a stab at this. Give me a few days to implement.

[2021-09-04 05:32] mirkoperillo commented on #1982
@thtroyer thank you, feel free to ask for every doubt

[2021-09-04 16:16] thtroyer commented on #1982
PR added, #1984

My only question is for converting other exercises to AssertJ -- does an issue need to be made before a PR for updating that exercise?

[2021-09-04 16:21] jmrunkle commented on #1982
While common, I do not think it is strictly necessary.

Got any preferences @mirkoperillo ?

[2021-09-04 17:21] jmrunkle opened #1986 ""Java CI with Gradle" workflow is not running properly"
The [gradle workflow](https://github.com/exercism/java/blob/main/.github/workflows/gradle.yml) has a few issues:

1. It is specifically specified to run only on the master branch (which no longer exists).
2. It still runs configlet linting in a broken way which now has its own workflow.

If I find anything else I will try to fix that, but there might be some other things broken that we need to fix

[2021-09-05 00:43] jmrunkle opened #1989 "SalaryCalculatorTest does not match instructions"
Instructions:

Test:

[code]

As you can see, the test is at the threshold, not above it.

[2021-09-05 02:29] jmrunkle opened #1992 "Unreachable concepts uncovered by configlet lint"
[code]

Basically, these are unreachable so we are going to mark them wip until we can implement the other concepts that make it so that we cannot reach these.

[2021-09-05 02:35] jmrunkle commented on #1992
Apparently the issue is even more extensive because `elons-toy-car` taught the `classes` concept which blocks access to `need-for-speed` and `wizards-and-warriors`. Let us see how deep this issue goes...

[2021-09-05 02:45] jmrunkle commented on #1992
That appears to be the end of the chain of unreachable concepts.

Here is what we need to be able to re-enable everything:

* `conditionals` - unblocks `elons-toy-car` which in turn unblocks `need-for-speed` and `wizards-and-warriors`
* `lists` - unblocks `remote-control-competition`
* `variables` and `methods` - unblocks `football-match-reports`

I will create one issue per missing concept and ke

[2021-09-05 02:51] jmrunkle commented on #1992
Looks like `lists` already has an issue: https://github.com/exercism/java/issues/1862

[2021-09-05 02:53] jmrunkle commented on #1862
FYI: this is blocking the `remote-control-competition` concept exercise (see https://github.com/exercism/java/issues/1992)

[2021-09-05 03:33] jmrunkle opened #1994 "Replace `conditionals` with `conditionals-if`"
This issue describes how to implement the `conditionals` concept exercise for the Java track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents

[2021-09-05 03:44] jmrunkle commented on #1992
Added https://github.com/exercism/java/issues/1994 for `conditionals` with a lot of TODOs on that first comment...

[2021-09-05 03:44] jmrunkle commented on #1994
FYI: this concept is blocking three other concept exercises (see https://github.com/exercism/java/issues/1992)

[2021-09-05 04:50] jmrunkle commented on #1994
Actually, it feels like conditionals is completely redundant with "conditionals-if" so I think we can probably just get rid of "conditionals" as a concept and use "conditionals-if" instead. @mirkoperillo - any thoughts or disagreement? If you agree, we can replace this issue with a PR to just remove / replace all of the references to the "conditional" with "conditional-if".

[2021-09-05 18:26] #1986 closed

[2021-09-05 20:51] jmrunkle opened #1995 "Missing concepts uncovered by configlet"
[code]

For this one I expect to just add them to the concepts array.

[2021-09-05 21:28] #1995 closed

[2021-09-05 21:32] #1989 closed

[2021-09-05 22:57] jmrunkle opened #1997 "Cleanup: concepts `arrays`, `for-loops` and `foreach-loops`"
There are a few problems that need to be addressed across these concepts:

1. TODOs like the ones in introduction.md
2. Isolate the dumped information from the main exercise into each section (arrays, for loops, and for-each loops).
3. These all seem to be missing `blurb`s in the .meta/config.json files

There may be other issues, but I will content myself with solving these three things for now.

[2021-09-06 07:28] #1997 closed

[2021-09-06 07:34] mirkoperillo commented on #1982
@thtroyer I don't think it is necessary for this case
 thank you for your contribution

[2021-09-06 07:34] #1982 closed

[2021-09-06 10:57] mirkoperillo commented on #1994
@jmrunkle I' agree with you

[2021-09-06 13:46] mirkoperillo commented on #1860
fixed by #1988

[2021-09-06 13:46] #1860 closed

[2021-09-06 17:14] #1994 closed

[2021-09-06 17:26] jmrunkle commented on #1966
The problem has moved over to the `foreach-loop` concept, and the syntax is actually wrong:

[code]

Should be:

[code]

It technically results in a compiler error, but only because that particular syntax is not allowed for re-assigning arrays (only for initialization and assignment together). This version does not produce any compiler or runtime errors:

[code]

I just used a REPL to check and it

[2021-09-06 17:41] jmrunkle commented on #1966
Furthermore, it totally does let you modify elements of the array itself while looping through:

[code]

Prints:

[code]

Anyway, just deleting it from the concept.

[2021-09-06 20:05] #1966 closed

[2021-09-08 03:33] jmrunkle commented on #1862
With no one else investing in this one and getting two concepts for the price of one, I think I will take a stab at this.

[2021-09-09 07:12] #1862 closed

[2021-09-10 14:43] jmrunkle commented on #1992
OK, as near as I can tell, the `variables` and `methods` concepts should be taught in the basic `lasagna` exercise: https://github.com/exercism/java/blob/main/exercises/concept/lasagna/.docs/introduction.md

If possible, I think we can either (1) remove those concepts, or (2) mark them as included in the `lasagna` exercise.

[2021-09-10 14:46] jmrunkle commented on #1992
OK, I looked at what is described in the `basics` exercise and it clearly includes `variables` and `methods` so I am just going to remove those two concepts from config.json.

[2021-09-10 15:08] jmrunkle commented on #1992
That fixes part of the problem (the pre-reqs), but we still need to fix another issue before we can re-enable `football-match-reports`: we never added a slug to config.json for the `switch-statement` concept.

[2021-09-10 15:41] #1992 closed

[2021-09-11 04:51] incendium opened #2013 "football-match-reports tests are not correct"
I was mentoring a solution for this exercise and found that the tests are calling `contentEquals` directly on the result instead of `isEqualTo` on the assertion.  This is causing the tests to pass despite receiving invalid input.

[2021-09-11 04:57] jmrunkle commented on #2013
Lol, this is hilariously broken. They just call assertThat(...) but never actually make an assertion.

For example:

[code]

Should have been:

[code]

Yep... basically every test in that suite is broken. Let me fix that.

[2021-09-11 19:18] jmrunkle commented on #1897
This looks like some low-hanging fruit that we could take care of pretty quickly. I can take a stab at it.

[2021-09-13 02:02] #1897 closed

[2021-09-13 18:36] jmrunkle opened #2020 "ListOpsTest is apparently using a deprecated API"
Sadly not sure *what* the deprecated API is yet, but we should fix that bug since it prevents the students from running tests in the UI.

[2021-09-13 20:29] jmrunkle commented on #2020
Just verified all of the `java.util.Collections` methods are OK.

I think this is the assertEquals method on doubles (eg. [here](https://github.com/exercism/java/blob/main/exercises/practice/list-ops/src/test/java/ListOpsTest.java#L145-L152) and [here](https://github.com/exercism/java/blob/main/exercises/practice/list-ops/src/test/java/ListOpsTest.java#L181-L192)) which is deprecated because they

[2021-09-13 21:04] jmrunkle commented on #2020
Looking at this in the IDE, it turns out it might just be the `new Double(...)` and `new Integer(...)` syntax that is deprecated.

[2021-09-14 02:55] #2013 closed

[2021-09-15 14:23] #2020 closed

[2021-09-20 08:05] kkyb123 commented on #1743
I am currently working on this one. Please can you assign it to me?

[2021-09-20 08:59] mirkoperillo commented on #1743
done @kkyb123

[2021-09-24 13:40] kkyb123 commented on #1743
@mirkoperillo I'm done with the PR please could you have a look?

[2021-09-24 18:19] #1835 closed

[2021-09-26 12:29] Kineolyan commented on #1815
Though I still liked the exercise, I am letting it to someone else. Sorry and good luck.

[2021-09-27 09:52] dbc2201 commented on #1861
Hi @rv02, are you still working on this? I'd like to help if possible.

[2021-09-27 13:30] rv02 commented on #1861
@jmrunkle I think we can close this issue. We launched Calculator Conundrum exercise.

[2021-09-27 13:54] mirkoperillo commented on #1861
@rv02 you are right. Issue resolved by https://github.com/exercism/java/pull/2022

[2021-09-27 13:54] #1861 closed

[2021-09-28 09:39] olapokon commented on #1969
Hello,

I am interested in working on an analyzer if it is still needed, though I would need to do a significant amount of research on it before starting.

Just to confirm, an analyzer for Java will need to be made from scratch for this? I see there is already an older java-analyzer repository.

Do you have any specific suggestions for existing analyzers for other languages that would be good to l

[2021-09-28 10:16] ErikSchierboom commented on #1969
There are quite a few analyzers. The most up-to-date ones are probably the [Elixir analyzer](https://github.com/exercism/elixir-analyzer) and the [Javascript analyzer](https://github.com/exercism/javascript-analyzer).

[2021-09-28 11:24] mirkoperillo commented on #1969
@jmrunkle and @Smarticles101 do you have any suggestions if start from scratch or upgrade the existing one ?

[2021-09-28 15:00] jmrunkle commented on #1969
I believe the idea is to use the java-analyzer repo, but it may need to be re-written depending on how different the goals are here. I thought there was enough alignment that a simple re-use would be sufficient.

I can also believe that completing a java-representer (I think I saw one started) would help tremendously.

[2021-09-28 15:39] Smarticles101 commented on #1969
@mirkoperillo I believe the main change from v2 to v3 analyzers is the deprecation of the status of approve, disprove, or refer to mentor. Instead of returning a status, the analyzer simply returns a series of comments.

It should be fairly straightforward to port the old one to the v3 spec, it might even simplify the code a bit.

Like @jmrunkle pointed out, there is a java-representer. I am not s

[2021-09-28 17:34] olapokon commented on #1969
I am looking now at the representer and at a first glance I'm getting the impression it is at a good stage. I can't be sure though as I just started looking into all this.

I looked at a few doc files related to representers and analyzers but didn't come across specific features desired for representers. Perhaps if something is missing it would not be too difficult to add additional normalizers to

[2021-09-28 19:32] mirkoperillo commented on #1969
The representer implements the current requirements. There are a couple of minor issues opened.
I think there will be more to do on it when the new mentor UI will be implemented and so it will go "officially" in production.
In this moment it is a priority to have a working analyzer.

@olapokon I think that a first interesting task on analyzer could be understand what the current implementation doe

[2021-09-29 08:43] olapokon commented on #1969
@mirkoperillo That sounds like a good idea. I started looking into the existing analyzer.

[2021-09-29 17:39] olapokon commented on #1969
I have a question regarding the automated comments that will be provided by the analyzer.

From what I understand, the analyzer is dependent on these https://github.com/exercism/website-copy/tree/47af5b309ac263629ca5c52904046f81e0cc8def/automated-comments/java so it will need to be extended every time additions are made to that repository.

There is also a directory with general comments there. Sh

[2021-09-29 18:49] mirkoperillo commented on #1969
@olapokon the repo of [java-analyzer](https://github.com/exercism/java-analyzer) is the right place, move the discussion there please

[2021-09-30 05:05] olapokon commented on #1969
ok, thanks

[2021-10-01 15:39] FranklinChen opened #2034 "Support Java 17 LTS"
I suggest supporting Java 17 LTS now that it's out.

[2021-10-01 16:00] jmrunkle commented on #2034
Sure, but we have to wait for Gradle to support it first: https://docs.gradle.org/current/userguide/compatibility.html#java

[2021-10-01 17:49] ericbalawejder commented on #2034
I'm excited about Java 17. It's the next LTS version as you mentioned but we are waiting for Gradle support to catch up. The entire project uses this build tool. Upgrading to a later version of Gradle has broken some deprecated features in the past. These issues were fixed for the release of V3 but involved making changes to every exercise. See https://github.com/exercism/java/pull/1875.

[2021-10-04 12:19] dbc2201 opened #2038 "add Javadoc comments for methods in problems"
Would it be okay to add JavaDoc comments for the methods for the problems, like the JavaScript track has?

[2021-10-23 17:17] jaywritescode opened #2049 "squeaky-clean: change tasks to not include unicode handling"
I noticed in the `squeaky-clean` problem, there's a test as follows:
[code]
However, there's no corresponding [instruction](https://exercism.org/tracks/java/exercises/squeaky-clean) to remove "non-standard" characters from the input string, so the test suite defines a different spec than the instructions.

I think the intent of the test is to remove any non-alphanumeric character or underscore fro

[2021-10-25 05:56] Ludorg opened #2050 "Java / Cook your lasagna : "An error occurred""
When running the 2nd exercise in Java track, there is a message "An error occurred"

![image](https://user-images.githubusercontent.com/3078575/138641657-aa4b11ca-444b-4af0-9e37-7a7967e4d5c5.png)

When run with exercism CLI (and gradle), I've got this message:

[code]

[2021-11-02 05:10] njhanley commented on #2049
This undocumented test is part of a larger issue: the stated goal, written tasks, hints, and tests all seem to disagree on what we're trying to accomplish. If the purpose of `clean` is to produce strings composed of zero or more letters and underscores, why don't we simply strip the other characters? What is the purpose of the replacements? Why is `isWhitespace` [recommended](https://github.com/ex

[2021-11-07 22:31] cdpaiva opened #2056 "Add test to robot name exercise - ensure robot names are unique"
Hello everyone,

In the [robot name exercise](https://github.com/exercism/java/blob/main/exercises/practice/robot-name), the instructions require unique names:

There is currently a `differentRobotsHaveDifferentNames()` test, but that doesn't ensure collisions won't happen.

There is no [canonical data for the tests](https://github.com/exercism/problem-specifications/tree/main/exercises/robot-name

[2021-11-09 21:28] Ludorg commented on #2050
Thank you for this help. Upgrading gradle to version 7.0 solved the CLI issue.

[code]

I then was able to submit my solution, which was now passed on the web interface.

[2021-11-10 08:19] mirkoperillo commented on #2050
Thank you @Ludorg for your feedback.
I close this issue.

[2021-11-10 08:19] #2050 closed

[2021-11-23 12:42] ynfle opened #2057 "`cars-assemble` should have `conditionals-if` as a prerequisite"
The exemplar file uses it, and I don't think it can be solved without it, a switch statement or crazy recursion

[2021-11-23 12:43] ynfle commented on #2057
I'm happy to submit the PR to change this

[2021-11-23 13:56] ynfle opened #2058 "Missing prerequisites for `bird-watcher`"
A couple issues with `bird-watcher`
1. `hasDayWithoutBirds()` requires for loops or streams, and neither of them are a prerequisite
2. `getToday()` requires an if statement or the ternary operator and neither of them are a prerequisite

[2021-11-24 10:50] sonro commented on #2049
If the exercise is to remain in its current state, an additional instruction needs to be added to the `README.md`. For example: "Omit all other non alphanumeric characters".

[2021-11-24 21:45] ericbalawejder commented on #2034
It looks like Gradle 7.3 was recently released on 11/9. https://docs.gradle.org/7.3/release-notes.html
It supports the Java 17 LTS version. I believe there are still issues with the test-runner so we may want to get a better understanding of those before upgrading Gradle and Java. Thoughts?

[2021-11-24 23:32] FranklinChen commented on #2034
What problems are there currently with the test runner?

[2021-11-30 21:36] moniisek opened #2060 "Fix assertions for secret-handshake"
The signature of the method is defined as:
[code]
but we're not given any instructions on how the `Signal` type should look like to pass the tests. My tests keep failing because of incompatible types, for example
[code]
or
[code]
I'm not sure if this is part of the exercise I should figure out? Thank you for guidance.

[2021-12-01 18:01] ericbalawejder commented on #2060
Are you running the tests on your local machine or in the Exercism.org code editor?

[2021-12-02 04:45] ericbalawejder commented on #2034
The test runner currently runs on Maven to help address performance issues. We have to test the JDK-17 in the test runner as well as the exercism/java project, which uses gradle.

[2021-12-02 09:11] ErikSchierboom commented on #2034
I'm not sure. @andreaTP is much more knowledgeable on the Java test runner than I am.

[2021-12-02 12:14] andreaTP commented on #2034
For the test-runner it should be as easy as updating the base image:
https://github.com/exercism/java-test-runner/blob/7c732758aec43d0b490287a6afeee338cb1e61fa/Dockerfile#L25

to something like `maven:3.8.4-openjdk-17`.

[2021-12-02 18:20] ericbalawejder commented on #2034
Right, I assumed it was simply changing the image in the docker file. What I'm unsure of, is there some kind of configuration that specifies the java version in the base repository? For example, sometimes you will see `sourceCompatibility = '11'` in `build.gradle` files. The root of `exercism/java` doesn't have a `build.gradle` file. I'm just curious how I can test that there aren't dependency iss

[2021-12-02 18:30] andreaTP commented on #2034
@ericbalawejder I briefly checked and it looks to me that everything is fine, `sourceCompatibility` is not in Gradle, `gradlew` files are not committed ... everything should be fine!

[2021-12-03 03:21] jmrunkle commented on #2060
These assertions look bad IMO: https://github.com/exercism/java/blob/a7312ccf3c4dfc88a91bfd6f6dad036695125855/exercises/practice/secret-handshake/src/test/java/HandshakeCalculatorTest.java

These are making assertions that a specific *type* of list is being returned rather than just asserting the contents are correct / have the correct order. Switching to AssertJ better allows us to do the correct

[2021-12-03 08:13] moniisek commented on #2060
Thank you!

[2021-12-04 19:18] jmrunkle commented on #2049
Just an FYI: teaching "new programmers" is not really a goal. We are not trying to teach people new to programming at exercism. There is (effectively) an expectation that you already understand at least one programming language. Exercism is about teaching fluency - generally so that a programmer in language X can learn language Y and get fluent quickly.

All that being said, the rest of this discu

[2021-12-06 03:01] jmrunkle commented on #2058
This concept exercise is supposed to teach for loops so... yeah. Loops is the concept being taught, not a prerequisite.

The prerequisite here is "supposed" to be covered by `booleans`, but I can see the argument for having it be `conditionals-if` instead. Want to make that PR?

[2021-12-06 03:03] jmrunkle commented on #2057
Agreed, send a PR switching `basics` to `conditionals-if`

[2021-12-06 03:12] jmrunkle commented on #1867
Anyone at least interested in breaking this down into a number of smaller tasks? Each practice exercise needs to be analyzed then add the prereqs (and practices) for that exercise.

[2021-12-06 03:19] jmrunkle commented on #1957
Since this discussion appears to be resolved I am closing this issue. You can open a PR for the community notes if that has not been done already.

[2021-12-06 03:19] #1957 closed

[2021-12-06 03:31] jmrunkle commented on #2056
Yeah, we should probably have a test that proves they can generate all of the names: https://github.com/exercism/javascript/blob/main/exercises/practice/robot-name/robot-name.spec.js#L100-L109

By all means, make a PR adding such a test.

[2021-12-06 07:03] ynfle commented on #2058
I'm sorry, I can't believe that I missed that.

An `if` statement or ternary operation is needed, not boolean logic.

I will make a PR.

[2021-12-06 15:59] #2057 closed

[2021-12-06 16:00] #2058 closed

[2021-12-08 13:17] cdpaiva commented on #2056
Hello @jmrunkle, thanks for the reply!

I wanted to create a test to confirm that names must be different every time they are created. This would be similar to [this test](https://github.com/exercism/javascript/blob/main/exercises/practice/robot-name/robot-name.spec.js#L59-L70) of the JS track.

A test to prove that all names can be generated might take some time to run, since the names are genera

[2021-12-08 19:50] #2060 closed

[2021-12-09 23:13] #2056 closed

[2021-12-10 03:53] jmrunkle commented on #2049
OK, proposal:

1. we simplify squeaky-clean to literally just teach about basic characters (like the letter "A" or a space " ", etc)
2. we add a new concept / exercise for dealing with code points and other fine nuances relating to unicode

[2021-12-13 05:07] irahrosete opened #2067 "link broken"
Hello,
Just letting you know that your link to Java Programming Books in the Java track is broken.
https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md#java

[2021-12-18 11:25] irahrosete commented on #2067
thanks. i just submitted a PR.
https://github.com/exercism/java/pull/2070

[2021-12-21 04:10] #2067 closed

[2021-12-21 04:25] jmrunkle commented on #1867
That sounds fantastic! In fact, you could even do one at a time to keep your PRs really focused. Or maybe go alphabetically (A-C, ...), whatever floats your boat.

Yes, we can definitely add new concepts, but I do not think we should add any concepts without adding concept exercises to accompany them. I am not sure if configlet linting will complain about concepts without exercises or not, but it

[2021-12-21 09:25] AlbusPortucalis opened #2077 "Bird Watcher exercise : hasDayWithoutBirds()"
# hints
<img width="1143" alt="Captura de ecrã 2021-12-21, às 09 59 48" src="https://user-images.githubusercontent.com/54470604/146901658-538a7956-5047-4d08-92a8-0136b3385a01.png">

In Java the Arrays class(not Array) has no indexOf() method, I see three ways to solve this using the Arrays class:
 - sort and binarySearch;
 - asList and contains;
 - asList and indexOf.

I believe that we should u

[2021-12-21 09:44] AlbusPortucalis commented on #2077
It seems that is a bug in my code because the options I suggested [don't work with primitives](https://stackoverflow.com/questions/4962361/where-is-javas-array-indexof#4962437).

With this solved, I will update the hints to use a for or arrays.sort and binarySearch().

[2021-12-22 16:32] cdpaiva commented on #1867
Awesome @jmrunkle, thanks a lot for the detailed guidelines. I will start working on this and submit a PR anytime soon.

[2021-12-29 15:00] ericjobrien commented on #2049
Changes to this exercise will be greatly appreciated.  This is coming from someone trying to use Exercism to further their knowledge of Java.  Upon encountering the squeaky-clean exercise, I almost gave up on using Exercism completely.

[2021-12-29 16:18] jmrunkle commented on #2049
Thanks for the additional insight. Now we just need someone to contribute such a change. Adding the new concept will probably be its own issue, for this one I think it is enough for us to remove the unicode specific stuff from the existing exercise.

[2021-12-30 09:27] AlbusPortucalis commented on #2049
@jmrunkle I can update it after my holidays ;)

[2021-12-30 19:47] barthon-b commented on #2049
One angle that I don't think has been touched on here is that _alphanumeric_ in unicode is a massive set. I assume we mean _Latin_ alphanumerics, so basically the ASCII subset minus special chars.

Otherwise agree with @jmrunkle on this:

[2021-12-30 19:56] jmrunkle commented on #2049
Perhaps even more simply stated as English letters and numbers (and possibly whitespace).

[2022-01-06 18:50] #2034 closed

[2022-01-16 20:00] AlbusPortucalis commented on #1798
I solved this exercise yesterday so I could address this issue. In my defence, and so you can have an idea of my capacities, I never worked professionally as a programmer, I don't know design patterns or algorithms.

I have all the challenges available to me, except one, I believe it's the problem being solved with issue #2081.

<img width="918" alt="Captura de ecrã 2022-01-16, às 20 56 38" src=

[2022-02-15 10:10] Shree2552 opened #2091 "Shree"

[2022-02-15 10:11] #2091 closed

[2022-02-21 12:15] Metallifax commented on #2038
Just curious if a consensus has been reached on this or if it's a no go. This sounds like a good first issue and something I can make regular changes to if it's still on the table.

[2022-02-21 12:24] dbc2201 commented on #2038
I would love to help out!

[2022-02-21 12:43] Metallifax commented on #2038
@dbc2201 I'm on the road doing work things at the moment, but is there a chat channel we can use to coordinate?

[2022-02-21 12:47] dbc2201 commented on #2038
@Metallifax sure, the chat channel works for me. :)

[2022-02-21 12:49] dbc2201 commented on #2038
My username is the same there as well @dbc2201

[2022-02-21 20:06] Metallifax commented on #2038
@dbc2201  Can't seem to find any official chat channel, I assumed gitter and sent you a message on there. Any chat platform you prefer?

[2022-02-21 23:14] kotp commented on #2038
To be clear, and to provide unambiguous information, I believe you assumed https://gitter.im/exercism/java and left a message there.

[2022-02-22 00:01] Metallifax commented on #2038
@kotp My bad, I meant that I reached out via DM on  gitter. Thanks for pointing this out.

[2022-02-24 21:02] #2077 closed

[2022-03-16 20:28] cdpaiva opened #2098 "Exercises Perfect Number and Say have no starter implementation"
Exercises [Perfect Numbers](https://github.com/exercism/java/tree/main/exercises/practice/perfect-numbers) and [Say](https://github.com/exercism/java/tree/main/exercises/practice/say) are both of difficulty 3 and should have starter implementations, as described in the [policies file](https://github.com/exercism/java/blob/f94f2926542fc18d43e07cca27a11c419d4cca80/POLICIES.md#starter-implementations

[2022-03-25 20:02] emiliolg opened #2100 "Rotational Cypher doesn't test non ascii letters."
The Rotational Cypher tests do not include any test for non ascii letters (accented ones in Latin or other alphabet ones)
The README file suggest that only letters in the 'a'-'z' and 'A'-'Z' range should be rotated.
So the natural implementation should be to avoid rotating characters out of this range.

But because this not tested,  implementors use to resort to `Character.isLetter`, `Character.is

[2022-03-28 19:28] #2098 closed

[2022-04-01 11:53] ee7 opened #2102 "recent addition of crlf line endings"
I often pull `main` in every Exercism track repo. Today it failed in the Java repo:

[code]

`git` thinks that I have modified `exercises/practice/say/src/main/java/Say.java`, but I haven't.

The problem is that commit https://github.com/exercism/java/commit/75fcd7bce1ae made some line ending change, which my git setup (on Linux) complains about.

There are things I can do to resolve this locally,

[2022-04-19 08:07] 4joke opened #2107 "record support"
Hello. Do you have any troubles with java record? I use records in my solution for "Queen attack" and it is processing about 9 hours for now. My guess this is related with records, though all tests are green.

[2022-04-23 02:41] IAmLuisJ opened #2114 "hello-world readme is incorrect"
The [hello-world](https://exercism.org/tracks/java/exercises/hello-world) readme for the java track talks about changing the test, but the exercise only requires the user to change the string in the main java file.

Path to culprit MD file Exercism/java/java/exercises/practice/hello-world/.docs/instructions.append.md

It's good info, but not very relevant to this exercise. Perhaps it can be moved

[2022-04-30 17:04] DylanAndrews opened #2121 "Java tests are not showing failure details"
When I run the test for [lasagna](https://exercism.org/tracks/java/exercises/lasagna), for example, there are no details for the failed tests. All I see is `FAILED`. The instructions for [hello world](https://exercism.org/tracks/java/exercises/hello-world) seem to suggest that I should see test failure details (`java.lang.AssertionError: expected:<Hello, World!> but was:<null>`, but I didn't see t

[2022-06-03 21:48] #2102 closed

[2022-06-05 16:09] andrerfcsantos commented on #1746
@CodeMartian still interested in working on this?

[2022-06-05 17:15] andrerfcsantos commented on #2114
@IAmLuisJ You raise a good point. I think we should remove that bit of changing the tests from those instructions.

Are you still interested in working on this?

[2022-06-05 17:18] andrerfcsantos commented on #1750
@HuskyNator Still interested in working on this?

[2022-06-05 17:20] andrerfcsantos commented on #1813
@CliffRoberson Still interested in working on this?

[2022-06-05 17:21] andrerfcsantos commented on #1753
@lpegoraro still interested in working on this?

[2022-06-06 21:28] c4p1t4n commented on #2114
Hello, i'm interested in working  on this issue. Would be my first issue

[2022-06-06 23:39] andrerfcsantos commented on #2114
@c4p1t4n Thanks for the interest in contributing!

I assigned the issue to you.

Let me know if you have any additional questions while doing this :)

[2022-06-08 03:00] c4p1t4n commented on #2114
Thank you, I will work in  this issue in the weekend

[2022-06-08 09:30] #2121 closed

[2022-06-11 12:16] bobahop opened #2128 "Two Fer: test emptyStringIsNotTheSameAsNull"
It's a bit confusing that the test named `emptyStringIsNotTheSameAsNull` actually expects that an empty string _is_ the same as null. If null, we should get "One for you, one for me.". If an empty string is _not_ the same as null, then the greeting should be "One for , one for me." So, perhaps either the test should be renamed or the expectation should be fixed.

[code]

[2022-06-11 12:59] andrerfcsantos commented on #2128
Thanks for raising this!

In this case, the test should be renamed to something like `emptyStringIsTreatedTheSameAsNull`.

[2022-06-11 15:33] kotp commented on #2128
We should be careful, though. If `Null` is the result of not giving any name at all, we should still use `you` if no name is given, but we should honor the name given if the name given is `Null`.  According to the README, it states:  "Given a name, return a string with the message:"  If an empty string is given, then accept that as the name given.  We are not the name experts we think we are, henc

[2022-06-11 19:13] bobahop commented on #2128
I tend to agree with Victor on this one, as I believe in at least one other language the empty string is accepted as is and is not expected to be morphed into "you." I'll see if I can find it (if it matters...)

[2022-06-11 20:31] bobahop commented on #2128
Okay, this was "fixed" about [eight days ago](https://github.com/exercism/java/commit/e3594e5341ac4decf8c13d4f994234e443e08022). It was actually Java in which I saw this before, where an empty string was not treated as null. I believe this "fix" was misguided.

[2022-06-11 20:38] bobahop commented on #2128
I'm okay with submitting a PR for whichever the maintainers think is the right way to handle this.

[2022-06-11 21:10] andrerfcsantos commented on #2128
@bobahop The issue with that approach is that in the instructions, the table shows that an "empty" name must be converted to "you" and that was the reason for that PR in the first place. Since the table doesn't really mention `Null`, it makes sense to consider the empty string as "you".

I see 2 alternatives to this:

1. We remove the test for the empty string completely and just have a test for `

[2022-06-11 22:27] bobahop commented on #2128
Actually, the instructions say to replace a "missing" name with "you". It could be said that null is a missing value, and empty is not missing, it's a value, just that it is empty.

I like your preferred option 1, so I'll go ahead and put a PR in for that.

[2022-06-11 23:29] #2128 closed

[2022-06-12 02:10] kotp commented on #2128
So far, Ruby has kept it so if no argument is given, then "you" is used, but if any argument is given, it is treated as the name and produced in the output (visible or not), including `nil` or `""` or `42` or `"\v"`, etc.

[2022-06-19 10:38] andrerfcsantos commented on #2049
I agree we should change this exercise according to what is discussed above. I updated the title and the description with a list of tasks and added labels to increase the visibility of the issue.

[2022-06-19 10:55] andrerfcsantos commented on #2100
Thanks for opening an issue about this.

The instructions for practice exercises are defined in the [problem-specifications](https://github.com/exercism/problem-specifications). Having practice exercises handle unicode was discussed before in other problems, but the consensus was to keep the exercises simple and do no have unicode handling by default.

We can however append java-specific instructi

[2022-06-19 10:59] andrerfcsantos commented on #2107
Sorry it took a while to get back to you.

Can you please post your solution here so we can check it?

[2022-06-19 15:59] 4joke commented on #2107
It's ok now. It worked a few days later.

[2022-06-19 16:03] andrerfcsantos commented on #2107
Happy to hear!

[2022-06-19 16:03] #2107 closed

[2022-06-19 22:57] emiliolg commented on #2100
I was not thinking about making the exercise  complex. My suggestion is **Just mention** that they only have to rotate ASCIII leters (Letters in the range 'a'-z' , 'A'-'Z').
May be explaining that Java handles other alphabets (through Unicode), so they should not use the `Character.isLetter` method.

Or at least stating  that Java actually handles other alphabets, but they can just **ignore them**

[2022-06-20 00:13] andrerfcsantos commented on #2100
Oh, I see. I agree on having those extra clarifications. Feel free to open a PR. In this case, these clarifications should live in a file `instructions.append.md` that should be next to the `instructions.md` file. The file `instructions.md` should not be modified, as it is kept in sync with problem specifications.

[2022-06-26 06:09] Dark-WizZ opened #2133 "Add missing stubs to exercises"
## The problem

Right now for some exercises, a student is required to read the tests to know which functions they should implement. This is annoying, time consuming and might discourage people from doing the exercise entirely. We should provide stubs for all exercises. Stubs should provide the signature of functions and classes, just so the student is immediately ready to start writing the custom

[2022-06-30 20:13] jcovington16 commented on #2114
Is this ticket still being worked on?

[2022-07-02 09:41] saaagarsingh commented on #2114
Hey Members. I've never contributed to open source projects. This issue seem a good first issue to start contributing.
can anyone please guide me on how should I proceed?

[2022-07-02 10:09] andrerfcsantos commented on #2114
@c4p1t4n Are you still interested in working on this?

[2022-07-02 15:22] c4p1t4n commented on #2114
hello guys I'm currently very busy with work but would be happy with someone else contributing to open source

[2022-07-03 07:25] andrerfcsantos commented on #2114
@c4p1t4n No worries, thanks for letting us know.

@jcovington16 Do you want to work on this?

[2022-07-03 14:28] jcovington16 commented on #2114
Yes please.

[2022-07-03 22:39] andrerfcsantos commented on #2114
Go for it :)

[2022-07-04 00:24] jcovington16 commented on #2114
Will do! Thank you.

[2022-07-04 08:01] andrerfcsantos commented on #2114
can anyone please guide me on how should I proceed?

@saaagarsingh Since @jcovington16 asked first, I assigned the issue to them, but feel free to contribute in other issues. [This video](https://www.youtube.com/watch?v=cysuuUtbC6E) explains how you can contribute to any open-source project. If you have further questions about this, feel free to drop them in [our gitter](https://gitter.im/exercism

[2022-07-04 16:27] IAmLuisJ commented on #2114
Hello,

The primary objective would be to update the current hello-world readme so the instructions accurately reflect the exercise.

Yes you are correct for the secondary objective, we should create a new exercise where the user is expected to write a unit test for the code. This would be helpful for developers new to unit testing.

[2022-07-04 16:30] andrerfcsantos commented on #2114
@jcovington16 Changing the tests is bad advice, because the student should never be required to do that in exercise. So the step 3 is the worst offender of those instructions, but in general I think we can remove the detail on how tests work because:

1. That's already explained in the [track docs](https://exercism.org/docs/tracks/java/tests), and the instructions of the hello world exercise alrea

[2022-07-04 16:53] andrerfcsantos commented on #2133
I absolutely agree we should do this!

@Dark-WizZ I changed the description of the issue just to make the issue and what needs to be done clearer.

[2022-07-04 18:57] jcovington16 commented on #2114
@andrerfcsantos I completely agree that changing tests is the wrong thing to do. I've always written my tests first and then write my code to ensure the test passes. I always look for different edge cases that I should test for while creating my tests.

Thank you very much for the thorough explanation on what needs to be done. I already forked and branched off of main, so I will go ahead and condu

[2022-07-05 04:30] jcovington16 commented on #2114
@andrerfcsantos I was having issues installing configlet. Is this a make or break pertaining the contents of the PR I created? Or is there a work around? If not then I will take another stab at going the configlet route. I know it makes things a lot easier for you guys, but this somewhat of a small tasks I didn't think it would cause any conflicts. I know you guys don't like to merge. I'm just try

[2022-07-05 07:13] andrerfcsantos commented on #2114
@jcovington16 This change doesn't require configlet at all. configlet is only needed mainly when syncing problem descriptions and tests with the problem specification repo. But feel free to open an issue in https://github.com/exercism/configlet with the issue you are having installing it.

[2022-07-05 07:14] andrerfcsantos commented on #2133
@jcovington16 Go ahead! Are you considering changing this is all exercises or only in a subset of them?

[2022-07-05 12:56] jcovington16 commented on #2133
Just a subset. After this one I'll be able to knock out some more difficult tasks. Just trying to work myself up to it.

[2022-07-05 13:57] jcovington16 commented on #1969
@andrerfcsantos looks like I can take over this one. There seems to be a lot of information here for me to use to get the job done. This seems straight forward. I may or may not have some questions once I look more into the code.

[2022-07-05 14:35] andrerfcsantos commented on #1969
@jcovington16 That's great to hear! I'd say to start looking at what's already done in https://github.com/exercism/java-analyzer

I'll have to look into it a bit more to I know the exact state of the analyzer and what's preventing it from being live. I'd start to see if analyzer has the inputs/outputs expected in the [https://exercism.org/docs/building/tooling/analyzers/interface](https://exercism

[2022-07-05 14:49] andrerfcsantos commented on #2133
@jcovington16 You absolutely can work on this issue, sorry I haven't made that clear! What I meant to say before is that since you won't be working on all the exercises and only a subset of them, I won't mark the issue as claimed just so other people can join alongside you. it's totally ok for several people to work on this issue at the same time, ideally looking at different exercises.

[2022-07-05 14:53] jcovington16 commented on #2133
Oh ok I understand now. I'll finish up the PR I have now and get started with this one before I dive into the analyzer. This one shouldn't take me long.

[2022-07-06 04:07] jcovington16 commented on #1969
@andrerfcsantos are you able to assign this one to me?

[2022-07-06 08:10] andrerfcsantos commented on #1969
Done! Thanks for the interest in helping out on this!

[2022-07-06 18:41] jcovington16 commented on #1969
@andrerfcsantos  No problem. Thanks for letting me take ownership of it. I'll get right to it.

[2022-07-07 03:45] jcovington16 commented on #2133
@Dark-WizZ @andrerfcsantos Do we know specifically which exercises need these stubs implemented? And which tracks as well?

[2022-07-07 08:30] andrerfcsantos commented on #2133
It seems here in the Java track, all "medium" difficulty exercises or above don't include stubs, so probably those are a good start, but there might be more. A quick `jq` query for exercises that are medium difficulty or above gives me this:

<details>
  <summary>jq query</summary>

[code]

There might be other exercises marked as easy that might not have stubs, so it might be worth to also double

[2022-07-08 02:51] jcovington16 commented on #1969
@andrerfcsantos I see that there's an analyzer and representer built for the Java track, but not sure what state is it in. I pull both of these down and try to test the them both and go from there. I notice in the original comments that the representer was recommended to complete first before knocking out the analyzer. Would you by chance know the status of the representer? If not then no worries.

[2022-07-08 15:20] MarcanWork opened #2137 "link 404'd on java/exercises/practice/two-fer/.docs/instructions.append.md"
The link for the first link on the first line of instructions.append.md is not going anywhere useful. (404)

_For more context, check out this [tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md)._

![image](https://user-images.githubusercontent.com/105453004/178021667-7ee8aeb7-b492-45d6-8fbc-9127e9b42c4b.png)

[2022-07-08 16:53] pedro32br commented on #2137
Can I try to fix this one? It will be my first open source contribution and I believe its not a difficult one for a first time!

[2022-07-08 19:40] MarcanWork commented on #2137
Please do :)

[2022-07-08 19:43] MarcanWork commented on #2137
Fixing typos and links and other small things like this is the best way to start getting involved in a project.
Localization work and translating part of documentation is the other easy to do and helpful work one can do when starting to get involved on a project.
Good luck on your endeavours!

[2022-07-08 19:44] andrerfcsantos commented on #2137
@pedro32br Go ahead! Thanks for the interest in contributing to this.

[2022-07-08 20:03] andrerfcsantos commented on #1969
I took a quick look at both and it seems the analyzer is more developed than the representer. There seems to be some incomplete classes in the representer.

The debate of analyzer vs representer at the moment is a tricky one. It is true that working on a representer has a greater impact as the developments there will affect all exercises. However, there's currently no frontend for the representers

[2022-07-10 23:55] jcovington16 commented on #1969
@andrerfcsantos Thank you for checking. I think to keep things scope and not scope creep. The analyzer is what needs to be built, so I'll just start there.

[2022-07-11 00:39] jcovington16 commented on #1969
@andrerfcsantos @mirkoperillo The analyzer is put together, but is only set up for 2 exercises. Is it safe to say that the analyzer should handle more than just two exercises correct? I'm going to take a look at the JavaScript analyzer and see the pattern that I should follow only if it's fully put together.

[2022-07-13 04:10] jcovington16 commented on #2133
I will go through and knock out A-G just to give someone else an opportunity to knock out a few and it seems no one else jumped on this @andrerfcsantos.

[2022-07-13 15:38] andrerfcsantos commented on #1817
@tlphat Go ahead! Thanks for the interest in contributing.

[2022-07-17 12:48] andrerfcsantos commented on #2133
Cool! Go ahead!

[2022-07-17 12:50] andrerfcsantos commented on #2137
Closing the issue since this is now fixed by #2138

[2022-07-17 12:52] andrerfcsantos commented on #2114
Closing the issue since this is now fixed by #2135

[2022-07-17 12:52] #2114 closed

[2022-07-18 14:54] JanB1 opened #2145 "darts: Unnecessary complication of exercise by using method without parameters"
The exercise "Darts" is categorised in the "Conditionals If" exercises and is categorised as "easy".

While the exercise itself is indeed easy, the use of a 'score' method without parameters and thus the necessity to write a constructor is making the exercise more complicated to understand than it needs to be.

Especially as other, similar exercises just expect the student to write a method that u