[2017-11-28 08:22] sjwarner-bp opened #1051 "isogram: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [isogram reference solution](https://github.com/exercism/java/blob/master/exercises/isogram/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in IsogramChecker.java, `public cl

[2017-11-28 08:25] sjwarner-bp opened #1052 "largest-series-product: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [largest-series-product reference solution](https://github.com/exercism/java/blob/master/exercises/largest-series-product/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in L

[2017-11-28 16:52] Smarticles101 opened #1054 "reverse-string: choose appropriate unlocked_by exercise"
Choose and exercise for reverse-string to be `unlocked_by` there is previous discussion in #1044 :)

[2017-11-28 16:58] sjwarner-bp commented on #1054
I think there aren't too many options here as it is a `"difficulty": 1` exercise, and I don't think it would make too much sense for it to be unlocked by something harder!

My vote goes for `two-fer` - though I'd be interested in hearing what others have to say! :slightly_smiling_face:

[2017-11-28 17:21] bmkiefer commented on #1054
Yeah, I also agree on using `two-fer` given there isn't any exercises in the unimplemented or implemented exercises that are more simple than `reverse-string`. Also could entertain putting the same information about TDD that is in `two-fer` in this exercise if we don't want to have it hidden behind unlock, but I am voting for unlock behind `two-fer`.

[2017-11-28 23:24] masters3d commented on #1006
Has anybody tried this:
https://www.sonarqube.org
https://sonarcloud.io/projects
https://hub.docker.com/_/sonarqube/

Is free for open source.

[2017-11-29 00:01] Smarticles101 commented on #1006
Oh @stkent I know you've mentioned master branch on building on travis before and I remembered a discussion [here](https://github.com/exercism/discussions/issues/174). [This comment](https://github.com/exercism/discussions/issues/174#issuecomment-318855073) by @kytrinyx is why I believe.  Notice "Build branch updates" is turned off.

[2017-11-29 08:07] sjwarner-bp commented on #1054
I like the idea of having some info about TDD in early exercises - I imagine some people might need a little reminder, especially if they are starting out more slowly.

[2017-11-29 08:18] sjwarner-bp opened #1055 "linked-list: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [linked-list reference solution](https://github.com/exercism/java/blob/master/exercises/linked-list/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in DoublyLinkedList.java,

[2017-11-29 08:57] FridaTveit commented on #1054
I agree that it should be unlocked by `two-fer`. We have info about TDD in `two-fer` so if it's unlocked by that then that should probably be fine. Users can refer back to the information in `two-fer` if they need to. But I would be happy to duplicate the information in `reverse-string` if people think that would be useful :)

[2017-11-29 13:38] Smarticles101 commented on #1054
Sounds good, I like `two-fer` as well as the option

[2017-11-29 17:19] stkent commented on #1054
I like `two-fer` as the pick. Additionally, I'd prefer to avoid this duplication:

[2017-11-29 19:52] #1054 closed

[2017-11-29 19:56] #1042 closed

[2017-11-29 19:57] #1041 closed

[2017-11-29 23:09] #1043 closed

[2017-11-30 10:10] #1046 closed

[2017-11-30 19:04] sjwarner-bp opened #1063 "Travis CI build intermittently failing"
The Travis CI build is intermittently failing, and often requires a manual restart in order to get a green build.

When it fails, the same error message is seen:

[code]

Most recent examples of PRs that have been affected by this behaviour are #1060 and #1004.

[2017-11-30 19:37] FridaTveit commented on #1063
I'm looking into this now :) Will open a PR to test fixes :)

[2017-11-30 19:42] sjwarner-bp commented on #1063
Thanks @FridaTveit 🙂

[2017-11-30 20:39] #1063 closed

[2017-12-01 20:01] #1055 closed

[2017-12-02 12:47] sjwarner-bp commented on #1051
Closed via #1069

[2017-12-02 12:47] #1051 closed

[2017-12-02 12:48] sjwarner-bp commented on #1048
Closed via #1065

[2017-12-02 12:48] #1048 closed

[2017-12-02 22:26] sjwarner-bp commented on #1052
Closed via #1067

[2017-12-02 22:26] #1052 closed

[2017-12-04 12:03] FridaTveit commented on #1050
Fixed in PR #1071. Thanks @t0dd :)

[2017-12-04 12:03] #1050 closed

[2017-12-04 12:04] FridaTveit commented on #1049
This has been fixed for the hamming reference solution in PR #1071. Thanks @t0dd :)

The hamming starter implementation still needs fixing :)

[2017-12-04 12:04] FridaTveit commented on #1047
Fixed in PR #1071. Thanks @t0dd :)

[2017-12-04 12:04] #1047 closed

[2017-12-05 08:17] sjwarner-bp opened #1072 "armstrong-numbers: add to track"
As in [problem specifications 1018](https://github.com/exercism/problem-specifications/pull/1018), a new exercise has been added to exercism - Armstrong Numbers!

[2017-12-06 08:43] daveziegler55 opened #1075 "documentation: add hints for the first exercises without starter implementation"
I like your idea for allergy code.
However, I can't find any main method so I am having some trouble understanding how it really works.
Also I am having trouble running  a test for `$ gradle test` in my terminal. Perhaps I am missing something in my install?  Thank you.

[2017-12-06 08:52] sjwarner-bp commented on #1075
Hi @daveziegler55 - the `allergies` exercise does not have a starter implementation with it in line with our [POLICIES.md](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations), as it is rated 4 or higher in terms of difficulty.

However, the enums used for this exercise are in `Allergen.java`. I imagine that you are getting this file confused with the implementation yo

[2017-12-06 15:51] stkent commented on #1075
This raises a good point about the transition from {stubs provided} to {no stubs provided}. We could probably make that transition less abrupt. How would folks feel about adding some `hints` to the earliest* exercises without starter implementations?

*The tricky thing is that we'd need to do this for several exercises in order to cover the set of {exercises that might be the first exercise a user

[2017-12-06 16:00] sjwarner-bp commented on #1075
I think that's exactly right - it would be a really good idea to put some hints in and ease users into the idea of making their own files.

This exercise is probably particularly confusing due to the fact that there is a file providing enums, but it isn't a starter implementation.

[2017-12-06 16:05] FridaTveit commented on #1075
I agree that this is a really good idea :) But as @stkent mentioned, it will be really hard to keep track of which exercises to do this for. We could add hints for the first core exercise with difficulty 5? Or all exercises with difficulty 5? All exercises with difficulty 5 would probably be the most thorough while not being too hard to maintain. But it would require a lot of duplication...

[2017-12-08 14:20] sjwarner-bp commented on #1075
There are currently 14 exercises with difficulty 5 - I agree with the point you are making regarding duplication @FridaTveit. 14 exercises is quite a lot, however (if I understand correctly regarding nextercism) it is quite possible that many users will not complete all 14, especially if they choose to specialise in a specific area. For this reason, I'd be apprehensive about a less thorough covera

[2017-12-10 20:28] sjwarner-bp opened #1080 "matrix: make classes and methods package private in reference solution"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [matrix reference solution](https://github.com/exercism/java/blob/master/exercises/matrix/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Matrix.java, `public class Matrix

[2017-12-11 13:45] sjwarner-bp opened #1081 "meetup: make classes and methods package private in reference solution and associated enums"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [meetup reference solution](https://github.com/exercism/java/blob/master/exercises/meetup/.meta/src/reference/java/) can be changed to package private (which is the default therefore the access modifier can be left out). For example, in Meetup.java, `public class Meetup

[2017-12-12 01:26] c-thornton commented on #1080
I was thinking about taking care of this for you really quick. Do you want just the class to be changed or do you want the methods within that class also changed as well? If you want the methods as well I can knock this out in a few minutes for the Matrix.java in matrix/.meta/src/reference/java folder and the MatrixTest.java file in the matrix/src.test/java folder as well. JLet me know which way y

[2017-12-12 01:55] stkent commented on #1080
I believe JUnit tests require `public` methods; this issue applies to the reference solution (and, if provided, starter implementation) for the exercise only :)

[2017-12-12 01:57] stkent commented on #1075
All with difficulty 5 sounds easier to maintain, for sure. We could still end up with paths through the curriculum that abruptly jump (if a path has no exercises with difficulty 5) but I'm not sure there's a reasonable fix available.

[2017-12-12 02:04] c-thornton commented on #1080
Got it. Thanks for the input @stkent, just starting out contributing on Open Source so I want to make sure I do it right. I will modify this tomorrow and get a pull request submitted for it.

[2017-12-12 04:10] pratikpalashikar commented on #1080
@sjwarner-bp @c-thornton  I was working on this issue and I have submitted a pull request for this issue.

[2017-12-12 04:14] c-thornton commented on #1080
@pratikpalashikar Thanks for letting me know you made a pull request on this one. I will not worry about it then.

[2017-12-12 12:41] sjwarner-bp commented on #1075
Sounds good to me @FridaTveit - go for it! :slightly_smiling_face:

[2017-12-13 16:15] c-thornton commented on #1081
Suggest closing this issue as it was resolved in merged pull request #1082.

[2017-12-13 16:19] sjwarner-bp commented on #1081
Thanks for spotting this @c-thornton - knew I was forgetting something!

It might be useful to know that if you put 'fixes' and then an issue number, it will auto-close the issue upon merge! Details [here](https://help.github.com/articles/closing-issues-using-keywords/) :slightly_smiling_face:

[2017-12-13 16:20] #1081 closed

[2017-12-13 16:20] sjwarner-bp commented on #1081
Closed as per #1082

[2017-12-13 16:44] c-thornton commented on #1081
Awesome, thanks for the info @sjwarner-bp. I will keep that in mind for future issues I work on.

[2017-12-14 09:44] FridaTveit commented on #1080
Fixed in PR #1083. Thanks @pratikpalashikar :)

[2017-12-14 09:44] #1080 closed

[2017-12-15 08:50] sjwarner-bp commented on #1049
Is this now resolved (and can be closed) thanks to #1083 ?

[2017-12-15 09:10] FridaTveit commented on #1049
No, the starter implementation still needs fixing :)

[2017-12-15 17:53] FridaTveit opened #1085 "pig-latin: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:55] FridaTveit opened #1086 "phone-number: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:56] FridaTveit opened #1087 "nucleotide-count: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:56] FridaTveit opened #1088 "word-count: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:57] FridaTveit opened #1089 "run-length-encoding: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:58] FridaTveit opened #1090 "robot-name: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 17:59] FridaTveit opened #1091 "prime-factors: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 18:00] FridaTveit opened #1092 "allergies: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 18:00] FridaTveit opened #1093 "bob: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 18:01] FridaTveit opened #1094 "pascals-triangle: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 18:02] FridaTveit opened #1095 "bracket-push: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-15 18:03] FridaTveit opened #1096 "series: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-16 11:40] #1085 closed

[2017-12-16 11:50] FridaTveit opened #1098 "atbash-cipher: add hints about no starter implementation"
According to our [starter implementation policy](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) all exercises with difficulty 4 or lower should have starter implementation. It can be a bit confusing for users when they do their first exercise without starter implementation. Therefore we've decided to add a `hints.md` file to all exercises with difficulty 5 (see t

[2017-12-17 09:47] #1049 closed

[2017-12-19 23:46] Stensby opened #1102 "Parallel Letter Frequency exercise out of order"
See: http://exercism.io/languages/java/exercises

Parallel Letter Frequency is showing as the 3rd exercise, while it is a much harder problem than that.

[2017-12-20 04:15] stkent commented on #1102
Thanks for the report; fixing ASAP!

[2017-12-20 09:18] #1102 closed

[2017-12-20 11:44] wolf99 opened #1104 "parallel-letter-frequency: illegal character error for test file"
Testing a basic stub implementation of this exercise (on Windows with VS Code) results in three errors.

[code]

[code]

Changing the literal at line 146 of the test file from `'ü'` to `'\u00FC'` fixes this - not sure if that is cross platform or not though? If it is, this issue is probably a candidate for <kbd>[good-first-patch]()</kbd>
[code]

[2017-12-20 12:42] wolf99 commented on #1075
FYI - traversing the curriculum just by the core exercises, the first exercise I come across without a starter implementation is `parallel-letter-frequency` which is a level 6. Not having a starter implementation - nor any mention of creating one in the exercise's `readme` did through me for a moment. Given that I have worked with other language tracks it was only a moment. However, I can imagine

[2017-12-20 21:54] stkent commented on #1075
Hmm, not sure what the right solution is here. Thoughts, @exercism/java?

[2017-12-20 22:21] sjwarner-bp commented on #1072
Closed via #1073

[2017-12-20 22:21] #1072 closed

[2017-12-21 09:18] FridaTveit commented on #1075
`parallel-letter-frequency` is unlocked by the core exercise `hamming`. Other easier exercises without starter implementation are also unlocked by hamming such as `phone-number` (difficulty 5), `nucleotide-count` (difficulty 5), `series` (difficulty 5) and `roman-numerals` (difficulty 6). Which exercise the user does first at that point is up to them as far as I'm aware, at least in nextercism. So

[2017-12-21 09:30] sjwarner-bp commented on #1075
That makes sense to me - if it is going to cause an issue then it isn't adequately hidden by other easier exercises.

It makes sense to me that those two exercises should be paired, great idea @FridaTveit :relaxed:

[2017-12-21 10:14] FridaTveit commented on #1075
I've made a PR :)

[2017-12-21 16:47] rstockbridge opened #1107 "crypto-square: rename getSquareSize()"
The method `getSquareSize()` in CryptoSquareTest.java is confusingly named because the characters usually form a rectangle, not a square. I deduced that `getSquareSize()` is looking for the number of columns in the rectangle.

What do you think of renaming `getSquareSize()` to something like `getNumberOfColumns()`?

[2017-12-21 17:26] FridaTveit commented on #1107
I agree that is confusing, thanks for bringing it to our attention @rstockbridge! :)

Actually the tests for crypto-square are very different from the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/crypto-square/canonical-data.json). The canonical data only tests the encryption method. I'd suggest changing our tests and example implementation to comply wi

[2017-12-21 18:57] sjwarner-bp commented on #1107
I think that it would be a great idea to more closely mirror the canonical data 🙂

[2017-12-21 22:22] rstockbridge commented on #1107
Sounds good to me!

On Thu, Dec 21, 2017 at 1:57 PM, Sam Warner <notifications@github.com>
wrote:

[2017-12-23 04:33] stkent commented on #1104
Most exercises with canonical data have stripped more exotic characters over time unless they are absolutely core to the exercise. Let's just remove them from the Java tests, and then maybe propose canonical data for this exercise as a stretch goal :)

[2017-12-23 04:34] stkent commented on #1107
+1 to the update. Reminder that there's a handy script (https://github.com/exercism/java/blob/master/scripts/canonical_data_check.sh) that can be run locally along with an updated copy of `problem-specifications` in order to easily see which exercises are out-of-date, if there's enthusiasm for proactively bringing these kinds of improvements to the Java tracK!

[2017-12-25 23:32] sjwarner-bp opened #1108 "two-fer: make classes and methods package private in reference and starter implementations"
All the public class and method [access modifiers](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html) in the [two-fer reference solution](https://github.com/exercism/java/blob/master/exercises/two-fer/.meta/src/reference/java/) and [two-fer starter implementation](https://github.com/exercism/java/tree/master/exercises/two-fer/src/main/java) can be changed to package private (w

[2017-12-25 23:49] sjwarner-bp commented on #1104
I'm looking to pick this one up next - I'd like to just double check with others first. Just to confirm, removing 'OdeAnDieFreude' and 'Wilhelmus' will amend this issue and not reduce test coverage too much?

Or do we want to look in to adding a couple of tests to compensate here too? I think the only real difference if we didn't do this would be that we're missing a test that appends several stri

[2017-12-26 19:11] rdavid1099 commented on #1108
Opened PR fixing this issue.

[2017-12-26 20:01] sjwarner-bp commented on #1108
Closed via #1111

[2017-12-26 20:01] #1108 closed

[2017-12-27 17:00] sjwarner-bp commented on #1006
I've only just seen this comment @Smarticles101 - that's a good catch! I see that setting is still turned off. Is there any reason for this @exercism/java? If not, I'm happy to flick the switch and see what happens.

As for linting, discussion here seems to have stalled - are there any preferences on a choice of linter?

[2017-12-27 17:05] stkent commented on #1006
Would that double-build PR branches?

[2017-12-27 17:07] sjwarner-bp commented on #1006
There is a second option for 'Build pull request updates'. If it did double-build PR branches, we could turn this one off? Do you think that would solve this issue? :sli

[2017-12-27 19:41] stkent commented on #1006
It might! I think that would build every branch on push, not just on PR open/update, so we might still find it heavier, but it could be a decent solution. We can always try and revert, so go for it if you're ready!

[2017-12-27 19:47] sjwarner-bp commented on #1006
Sure thing - I'll enable "Build branch updates" and disable "Build pull request updates".

If this causes any issues, please anyone @exercism/java feel free to revert as I might not be around! 🙂

[2017-12-31 14:06] sjwarner-bp opened #1116 "Version numbers of tests"
Upon running the `canonical_data_check.sh` script, I've noticed that a large number of exercises either do not have `./meta/version` files, or the exercises are out of date.

I think this could make a good number of new issues (though possibly not `good-first-patch` if updates to test suites require re-implementing the reference solution), and in my opinion it would be good to try and keep these u

[2017-12-31 16:41] #1104 closed

[2017-12-31 17:14] FridaTveit commented on #1116
This sounds like a great plan! I think you're right that the ones requiring change shouldn't be good first patch issues. So we can either:
- Open them all as normal issues (or possibly one issue with a ticklist in for each exercise that needs updating). If someone looks into doing one of them and finds it just requires adding a version file they could then change the issue to a good first patch.
-

[2017-12-31 17:29] sjwarner-bp commented on #1116
I like the sound of the second option 🙂

It never hurts to have a few more good first patch issues, plus as they're so small they may all get picked up very quickly (and by the same person). I agree the others can be opened as normal other issues 🙂

[2018-01-01 03:33] Zhiyuan-Amos opened #1117 "accumulate: Improve naming"
The term `accumulate` does not seem to reflect the problem statement correctly (see what this term means in the context of `Stream.reduce` or `Stream.collect` methods: https://docs.oracle.com/javase/tutorial/collections/streams/reduction.html).

We can perhaps rename this exercise to `map` instead since it connotes the idea of converting an object to something else.

[2018-01-01 03:47] Zhiyuan-Amos opened #1118 "exercises: Write comments"
Some of the code for model answers are long and may be hard to understand. Some header comments describing the general algorithm will be helpful in understanding what the code is doing.

Also, as part of adhering to best practices of programming, we also should minimally write a few lines of header comments for each method in the model answer.

[2018-01-01 04:03] Zhiyuan-Amos opened #1119 "exercises: Simplify model answers"
1. `Accumulate` - If we expect end-users to be familiar with Java 8, then we can utilize `Stream` to simplify the model answer. Same goes for `Anagram#match`.

1. `Acronym` - `generateAcronym` uses `Pattern` and `Matcher` classes to split the strings in order to generate the acronym. We can simplify it by using `String.split("\W")`

1. `Anagram` - `canonicalize` converts the input `String` into a

[2018-01-01 09:44] sjwarner-bp commented on #1117
Hi @Zhiyuan-Amos - thanks for the suggestion!

I think that the [problem-specifications](https://github.com/exercism/problem-specifications/tree/master/exercises/accumulate) repo would be the best place to suggest this, as this is where the slug names are determined 🙂

[2018-01-01 09:55] #1117 closed

[2018-01-01 16:23] FridaTveit commented on #1118
Hi @Zhiyuan-Amos, thanks for raising this issue. The reference solutions aren't meant to be model answers. They aren't shown to the users, they're just used for us to check that the tests work and that it is possible to implement a solution. We normally try to adhere to best practices and write good code in the reference solutions, but they don't have to necessarily be the best possible solution t

[2018-01-01 16:47] sjwarner-bp commented on #1118
I'd be inclined to agree with you @FridaTveit - as these aren't really 'user-facing', they don't need to spell out exactly how the solution has been implemented, and may be a fair amount of clutter (especially if reference solutions are updated with test suites).

While obviously we should adhere to good practises, I'm sure I have read (maybe in a different exercism repo, but I imagine the same ap

[2018-01-01 16:49] FridaTveit commented on #1119
Thanks for raising this @Zhiyuan-Amos :)

1. `Accumulate` is deprecated meaning it's no longer available to users. So there's no need to simplify that one :)

2. I think that might cause problems for words with punctuation? But feel free to try it and open a PR for it if it works :)

3. It converts the input string to a `char[]` to sort the characters. That way you can compare the sorted array of

[2018-01-01 16:53] FridaTveit commented on #1118
The general Exercism [implement a new exercise guide](https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#the-reference-solution) explains what is expected of a reference solution:

:)

[2018-01-01 16:59] FridaTveit commented on #1116
Great, I'll start looking through them and opening issues :)

[2018-01-01 17:03] FridaTveit opened #1120 "hello-world: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/hello-world/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/hello

[2018-01-01 17:06] FridaTveit opened #1121 "two-fer: update tests"
The last test in the [`two-fer` tests](https://github.com/exercism/java/blob/master/exercises/two-fer/src/test/java/TwoferTest.java) can be removed since it's no longer in the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/two-fer/canonical-data.json).

Please also create a file at `exercises/two-fer/.meta/version` specifying the canonical data version wh

[2018-01-01 17:10] sjwarner-bp commented on #1116
Thanks @FridaTveit - I might try a couple of these and see exactly what's involved for a fix 🙂

[2018-01-01 17:11] FridaTveit opened #1122 "rna-transcription: update tests"
The rna-transcription tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 17:13] FridaTveit opened #1123 "pangram: update tests"
The pangram tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 17:14] FridaTveit opened #1124 "hamming: update tests"
The hamming tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 17:17] FridaTveit opened #1125 "gigasecond: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/gigasecond/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/gigase

[2018-01-01 17:19] FridaTveit opened #1126 "space-age: update tests and add version file"
The space-age tests should be updated to exactly match the canonical data. Also the version file should be added to match the canonical data version.

[2018-01-01 17:21] FridaTveit opened #1127 "acronym: update tests"
The acronym tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 17:23] FridaTveit opened #1128 "raindrops: update tests and add version file"
The raindrops tests should be updated to exactly match the canonical data. Also the version file should be added to match the canonical data version.

[2018-01-01 17:24] FridaTveit opened #1129 "protein-translation: update tests"
The protein-translation tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 17:26] FridaTveit opened #1130 "proverb: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/proverb/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/proverb/c

[2018-01-01 17:28] FridaTveit opened #1131 "sum-of-multiples: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/sum-of-multiples/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/

[2018-01-01 17:30] FridaTveit opened #1132 "luhn: update tests and add version file"
The luhn tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:32] FridaTveit opened #1133 "largest-series-product: update tests and add version file"
The largest-series-product tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:35] FridaTveit opened #1134 "sieve: update tests and add version file"
The sieve tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:37] FridaTveit opened #1135 "twelve-days: update tests and add version file"
The twelve-days tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:38] FridaTveit opened #1136 "rotational-cipher: update tests and add version file"
The rotational-cipher tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:41] FridaTveit opened #1137 "kindergarten-garden: update tests and add version file"
The kindergarten-garden tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:43] FridaTveit opened #1138 "nth-prime: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/nth-prime/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/nth-pri

[2018-01-01 17:45] FridaTveit opened #1139 "isogram: update tests and add version file"
The isogram tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:46] FridaTveit opened #1140 "pig-latin: update tests and add version file"
The pig-latin tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:47] FridaTveit opened #1141 "phone-number: update tests and add version file"
The phone-number tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:49] FridaTveit opened #1142 "nucleotide-count: update tests and add version file"
The nucleotide-count tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:51] FridaTveit opened #1143 "word-count: update tests and add version file"
The word-count tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:55] FridaTveit opened #1144 "run-length-encoding: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/run-length-encoding/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercis

[2018-01-01 17:57] FridaTveit opened #1145 "prime-factors: update tests and add version file"
The prime-factors tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 17:58] FridaTveit opened #1146 "allergies: update tests and add version file"
The allergies tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:00] FridaTveit opened #1147 "bob: update tests and add version file"
The bob tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:01] FridaTveit opened #1148 "pascals-triangle: update tests"
The pascals-triangle tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 18:03] FridaTveit opened #1149 "atbash-cipher: update tests and add version file"
The atbash-cipher tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:04] FridaTveit opened #1150 "roman-numerals: update tests and add version file"
The roman-numerals tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:06] FridaTveit opened #1151 "transpose: update tests and add version file"
The transpose tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:08] FridaTveit opened #1152 "house: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/house/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/house/canon

[2018-01-01 18:10] FridaTveit opened #1153 "food-chain: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/food-chain/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/food-c

[2018-01-01 18:12] FridaTveit opened #1155 "beer-song: update tests and add version file"
The beer-song tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-01 18:14] FridaTveit opened #1156 "etl: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/etl/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/etl/canonical

[2018-01-01 18:15] FridaTveit opened #1157 "robot-simulator: update tests"
The robot-simulator tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 18:17] FridaTveit opened #1158 "binary-search: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/binary-search/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/bin

[2018-01-01 18:20] FridaTveit opened #1159 "wordy: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/wordy/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/wordy/canon

[2018-01-01 18:22] FridaTveit opened #1160 "all-your-base: update tests"
The all-your-base tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-01 18:26] FridaTveit opened #1161 "bowling: update tests and add version file"
The bowling tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 05:22] Zhiyuan-Amos opened #1165 "BookStore#costOfGroupSize(int): Replace exception with assertion"
`costOfGroupSize(int groupSize)` verifies if `groupSize` is a valid value, otherwise, it throws an `IllegalStateException`.

However, this method is a private method. As such, an `assertion` (instead of `exception`) should be used to verify that the precondition is met.

See:
1. [Code](https://github.com/exercism/java/blob/master/exercises/book-store/.meta/src/reference/java/BookStore.java#L44)
1.

[2018-01-02 05:24] Zhiyuan-Amos commented on #1118
Thank you for both of your comments and for referring me to the Exercism doc :)

[2018-01-02 05:24] #1118 closed

[2018-01-02 13:58] #1165 closed

[2018-01-02 15:13] #1124 closed

[2018-01-02 15:22] #1119 closed

[2018-01-02 15:30] #1139 closed

[2018-01-02 15:32] kytrinyx opened #1166 "Should we delete the @exercism/java-admin team?"
Stuart mentioned in passing that we have a java-admin team, and I'm not sure what we're using it for.

Has it been useful? If so, in what way? If not, should we delete it?

[2018-01-02 15:34] FridaTveit commented on #1166
I wasn't aware we had a java-admin team so I don't mind if we delete it :) What do you think @sjwarner-bp, @Smarticles101?

[2018-01-02 15:34] sjwarner-bp commented on #1166
Looks as though @FridaTveit is the only one in that team. I've only been using exercism/java for pinging people, as it seems to have a few of us in it :slightly_smiling_face:

I'm not adverse to deleting it!

[2018-01-02 15:35] FridaTveit commented on #1166
I also wasn't aware I was in the team :P I've also been using exercism/java to ping people :)

[2018-01-02 15:40] FridaTveit opened #1167 "tournament: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/tournament/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/tourna

[2018-01-02 15:43] FridaTveit opened #1168 "anagram: update tests and add version file"
The anagram tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 15:45] FridaTveit opened #1169 "word-search: update tests"
The word-search tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-02 15:51] kytrinyx commented on #1166
Sweet—killing that team now. Thanks :)

[2018-01-02 15:51] #1166 closed

[2018-01-02 15:54] FridaTveit opened #1170 "meetup: update tests and add version file"
The meetup tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 15:57] FridaTveit opened #1171 "poker: update tests and add version file"
The poker tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 16:56] FridaTveit opened #1172 "circular-buffer: add version file"
Each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. Please create a file at `exercises/circular-buffer/.meta/version` specifying the canonical data version which can be found at the top of [the canonical data file for that exercise](https://github.com/exercism/problem-specifications/blob/master/exercises/c

[2018-01-02 16:59] FridaTveit opened #1173 "book-store: update tests and add version file"
The book-store tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 17:00] FridaTveit opened #1174 "list-ops: update tests"
The list-ops tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-02 17:02] FridaTveit opened #1175 "palindrome-products: update tests and add version file"
The palindrome-products tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 17:03] FridaTveit opened #1176 "forth: update tests"
The forth tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-02 17:03] FridaTveit opened #1177 "custom-set: update tests"
The custom-set tests should be updated to exactly match the canonical data. Also a version file should be added to match the canonical data version.

[2018-01-02 17:07] FridaTveit commented on #1116
I've made issues for all of the exercises that need updating :) Are you happy closing this issue now @sjwarner-bp since we've got other issues tracking it? Or do you think it should stay open until those other issues are closed?

[2018-01-02 17:20] sjwarner-bp commented on #1116
I think we won't be forgetting it any time soon with all of those issues! 😂 I'm happy to close this one now ☺️ Thanks for all that work Frida!

[2018-01-02 17:24] #1116 closed

[2018-01-03 16:21] #1168 closed

[2018-01-03 16:24] #1149 closed

[2018-01-03 16:25] #1150 closed

[2018-01-03 16:28] #1148 closed

[2018-01-03 16:31] #1136 closed

[2018-01-03 16:38] #1145 closed

[2018-01-03 16:43] #1129 closed

[2018-01-03 16:54] #1177 closed

[2018-01-03 17:30] #1146 closed

[2018-01-03 18:53] sjwarner-bp commented on #1107
Closed via #1178

[2018-01-03 18:54] #1107 closed

[2018-01-04 00:05] Kyle-P commented on #1138
Should the file just contain a statement of which version it is? For example, would I just create a file stating that this is Version 2.0.0? Thank you!

[2018-01-04 12:12] #1147 closed

[2018-01-04 12:32] FridaTveit opened #1199 "Builds timing out"
We've had quite a few builds failing recently because of timeout issues (for example see PR #1194 and #1184). I don't think I've seen our builds failing with those errors before so I'm not sure what's causing it. There's a [travis support page](https://docs.travis-ci.com/user/common-build-problems/#My-builds-are-timing-out) with suggestions for what to do when builds fail because of timeouts. It l

[2018-01-04 12:45] #1176 closed

[2018-01-04 12:59] FridaTveit commented on #1199
Another build failed because it didn't receive any output and timed out:
[code]

[2018-01-04 13:04] sjwarner-bp commented on #1199
I am not too sure what is causing these timeouts either.

In a previous issue we discussed getting master to build again, and changed a couple of settings in Travis, but I am not sure how that would increase build times (please feel free to correct me if I am wrong though 🙂).

If you think that adding the retry parameter might help us out, then I say we go for it, and if it causes issues we can al

[2018-01-04 14:33] sjwarner-bp commented on #1199
Master build failed [here](https://travis-ci.org/exercism/java/builds/325012469) too.

[2018-01-05 08:34] #1167 closed

[2018-01-05 08:35] #1159 closed

[2018-01-05 08:36] #1158 closed

[2018-01-05 08:37] #1138 closed

[2018-01-05 08:39] #1172 closed

[2018-01-05 09:40] sjwarner-bp commented on #1199
Just noticed the [most recent build](https://travis-ci.org/exercism/java/builds/325357856) of master ran for 42 min 26 sec, about 15 minutes longer than pretty much any other build...

Not sure if it is related, or I am simply worrying too much!

[2018-01-05 22:17] Kyle-P commented on #1174
It looks like most test cases match the canonical data. Does this mean we should just remove the @Ignore lines? @FridaTveit @sjwarner-bp

[2018-01-05 22:19] sjwarner-bp commented on #1174
Hi @Kyle-P,

The tests need to match the canonical data exactly (no missing cases, and extra cases can be removed).

Only the first test should be without an `@ignore` - all others should be ignored.

[2018-01-05 22:27] Kyle-P commented on #1174
Thanks @sjwarner-bp! I'll go through make sure everything matches. Just out of interest, why is everything but the first `@ignored`?

[2018-01-05 22:48] sjwarner-bp commented on #1174
It's one of our [POLICIES](https://github.com/exercism/java/blob/master/POLICIES.md#ignore-noninitial-tests) here on the Java track.

The way the tests are ordered most often reflects adding in features or methods. By ignoring all tests, and enabling them as each test passes, users aren't overwhelmed and it feels a bit more like TDD 🙂

[2018-01-05 22:50] Kyle-P commented on #1174
Oh. I see. That makes a lot of sense and it's a great idea 👍

[2018-01-06 18:16] #1173 closed

[2018-01-06 19:26] #1174 closed

[2018-01-06 19:30] #1155 closed

[2018-01-06 19:32] FridaTveit commented on #1199
Another [strange build failure](https://travis-ci.org/exercism/java/jobs/325849620):
[code]

[2018-01-06 19:33] FridaTveit commented on #1199
It had some connection errors earlier in the output as well:
[code]

[2018-01-06 19:41] sjwarner-bp commented on #1199
That is strange - if there are connection errors as well as timeouts, will the retry flag suggested above still be of use?

[2018-01-06 19:54] FridaTveit commented on #1199
Not sure... It seems strange that the build is suddenly failing relatively often but nearly always in a different place. The only recent change that I can think of that has anything to do with the build is turning build branch updates on. We could try turning that off again and see if that changes it at all?

[2018-01-06 19:56] sjwarner-bp commented on #1199
That is the only thing that has recently failed...

I'll go back in and flick the switches if you think that could help? If I remember correctly, 'Build branch updates' was off and 'Build pull request updates' was on?

[2018-01-06 20:06] FridaTveit commented on #1199
Yup, I think so 🙂 It doesn't seem like that should have caused any problems, but I can't think of anything else that could be causing these seemingly random failures...

[2018-01-06 20:17] sjwarner-bp commented on #1199
Ok, I've put it back to how it was before 🙂

[2018-01-06 20:18] Kyle-P commented on #1157
When updating tests, would you like us to go through the whole thing? Or is it okay if we just take care of a portion?

[2018-01-06 20:19] sjwarner-bp commented on #1157
I think the best thing to do is to update all tests for the relevant exercise in a single PR.

This means that we won't get confused as to which tests of the exercise have been updated and which parts have not been 🙂

[2018-01-06 20:21] Kyle-P commented on #1157
Alright, thanks @sjwarner-bp!

[2018-01-07 11:03] sjwarner-bp opened #1205 "configlet generate"
I've just updated the exercise READMEs using configlet in #1204.

While doing so, I noticed that we get an error due to the `.gradle` directory in `exercises`:

[code]

Although it doesn't seem to be a problem (READMEs look to have been regenerated alright) I thought this could be worth flagging, either here as I have done, or maybe in [configlet](github.com/exercism/configlet). If we can fix it h

[2018-01-07 14:18] sjwarner-bp commented on #1205
Oops - just realised this isn't part of the repo, and has just been generated by running tests! My mistake 🙂

[2018-01-07 14:18] #1205 closed

[2018-01-07 16:44] sjwarner-bp commented on #1132
I've just picked this one up, but our current test suite deliberately diverges from the canonical data (as per #972).

What would you recommend doing here @FridaTveit? 🙂

[2018-01-07 17:57] sjwarner-bp opened #1208 "RNA Transcription: exceptions not mentioned in README"
A recent issue in [exercism.io/#3705](https://github.com/exercism/exercism.io/issues/3705) has pointed out that we don't mention when exceptions are expected in exercise solutions.

I've briefly made an explanation of why this is the case in the issue, but I was wondering what others thought about it.

I think that the fact exceptions are expected in the tests should indicate to users that this is

[2018-01-08 05:33] Kyle-P commented on #1157
@sjwarner-bp I updated the robot-simulator tests and created a PR for them. Some commits that I believe have been taken care of already showed up in the PR. Not sure why they're there. Is there a way to ignore them? Thanks!

[2018-01-08 08:15] sjwarner-bp commented on #1157
Hi @Kyle-P I can't be too sure why this is happening without cloning your repo and looking a little more closely, but my first impression is that you might have previously commited to the `master` branch of your fork before making the changes you wanted in this PR.

What you could do to fix this would be create a new branch, cherry-pick the desired commit(s) over to that new branch, and raise a PR

[2018-01-08 09:11] sjwarner-bp commented on #1199
There were just some similar issues on the bash track's master build...

[code]

[2018-01-08 10:54] #1169 closed

[2018-01-08 10:55] FridaTveit commented on #1199
Strange....

[2018-01-08 11:01] sjwarner-bp commented on #1132
Sure thing - that sounds good to me :slightly_smiling_face:

[2018-01-08 11:06] FridaTveit commented on #1208
We've added a hint to the [hamming exercise](https://github.com/exercism/java/blob/master/exercises/hamming/.meta/hints.md) since that was (at least at some point) the first exercise using exceptions. I guess this is a similar problem to the starter implementation hints. We could add  the hint to any always available exercises which use exceptions (rna-transcription is always available, i.e. it is

[2018-01-08 11:07] #1137 closed

[2018-01-08 11:08] sjwarner-bp commented on #1208
I think adding it to all exercises might be overkill, but I like the idea of adding it to all always available exercises! :slightly_smiling_face:

[2018-01-08 13:00] FridaTveit commented on #1208
It looks like the only always available exercise which uses exceptions is rna-transcription, so we only need to add the hint to that exercise. And I think we should also add `exception_handling` to the topics for rna-transcription 🙂

[2018-01-09 08:05] #1160 closed

[2018-01-09 11:09] #1170 closed

[2018-01-09 15:22] FridaTveit commented on #1208
Actually, I just checked the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/rna-transcription/canonical-data.json) for rna-transcription, and the test cases that required an exception to be thrown have been removed! So I suggest we close this issue and instead update the tests as per #1122 😆

[2018-01-09 15:29] sjwarner-bp commented on #1208
I didn't realise! Thanks for checking that out @FridaTveit - that sounds like the best course of action :slightly_smiling_face:

[2018-01-09 15:29] #1208 closed

[2018-01-10 08:12] sjwarner-bp commented on #1199
And another one...

[code]

Was in #1215

[2018-01-10 08:19] #1122 closed

[2018-01-10 09:09] #1086 closed

[2018-01-10 09:12] FridaTveit commented on #1199
Looks like turning off branch builds didn't help then 😞 Do you know if the bash track maintainers are doing anything about it if their builds are failing in the same way @sjwarner-bp?

[2018-01-10 12:14] sjwarner-bp commented on #1199
There are only about three of us over at the bash track - the main focus at the moment is getting the track launched, and I've only seen it once over there, so we've not discussed it properly yet :slightly_frowning_face:

[2018-01-11 08:10] #1087 closed

[2018-01-11 11:32] sjwarner-bp commented on #1199
What do you think of trying out that retry parameter? I'm not sure if it will work when the issue is a failed connection, but I'd be happy for us to try it out if others think it would help :slightly_smiling_face:

[2018-01-11 11:36] FridaTveit commented on #1199
Sure, it's worth a try. Feel free to try setting it up if you like 🙂

[2018-01-12 07:57] sjwarner-bp commented on #1152
Closed via #1218

[2018-01-12 07:57] #1152 closed

[2018-01-12 08:00] #1088 closed

[2018-01-12 08:15] #1123 closed

[2018-01-14 02:50] #1161 closed

[2018-01-15 08:21] #1128 closed

[2018-01-15 08:24] #1127 closed

[2018-01-15 08:31] #1151 closed

[2018-01-15 08:32] sjwarner-bp commented on #1151
Oops, looks like this should have been closed via #1200, but I linked the wrong issue!

Subsequent PR enhanced test names so I've merged anyway :slightly_smiling_face:

[2018-01-15 08:33] sjwarner-bp commented on #1175
Was inadvertently closed as I linked the wrong issue in #1200!

[2018-01-15 17:36] #1143 closed

[2018-01-16 09:23] #1141 closed

[2018-01-18 09:48] #1157 closed

[2018-01-18 09:49] #1091 closed

[2018-01-18 09:49] #1090 closed

[2018-01-18 09:50] #1089 closed

[2018-01-18 16:54] Kyle-P commented on #1135
I'll take care of this one :)

[2018-01-18 17:03] Kyle-P commented on #1135
Based on the canonical data, should which is correct?

String expectedVerseThree = "On the third day of Christmas my true love gave to me, " + "three French Hens, " +
                "two Turtle Doves, " + "and a Partridge in a Pear Tree.\n";

OR

String expectedVerseThree = "On the third day of Christmas my true love gave to me, three French Hens, " +
                "two Turtle Doves, " + "and a

[2018-01-18 18:14] FridaTveit commented on #1135
Those are equivalent. The only reason we split up the strings is to keep each line shorter than 120 characters. It doesn't affect the output of the test at all 🙂 Does that make sense?

[2018-01-18 18:24] Kyle-P commented on #1135
Yes. I was just confused why certain strings were being constructed differently. Thank you!

[2018-01-18 18:26] FridaTveit commented on #1135
No problem 🙂

[2018-01-20 08:55] #1098 closed

[2018-01-20 08:56] #1096 closed

[2018-01-20 08:57] #1095 closed

[2018-01-20 08:58] #1093 closed

[2018-01-20 09:00] #1094 closed

[2018-01-20 09:00] #1092 closed

[2018-01-20 09:02] #1120 closed

[2018-01-22 08:16] #1133 closed

[2018-01-23 01:19] Kyle-P commented on #1134
I'll tackle this one :)

[2018-01-23 07:58] #1134 closed

[2018-01-23 09:19] #1135 closed

[2018-01-23 10:25] FridaTveit commented on #1075
I think we can close this now since all the good first patch issues to add hints to exercises with no starter implementation have been closed. What do you think @exercism/java? 🙂

[2018-01-23 21:14] jssander commented on #1121
I would like to try and do this.

[2018-01-23 21:28] jssander commented on #1121
Btw, this is my first contribution. Should I comment it out or just simply delete it?

[2018-01-23 21:31] sjwarner-bp commented on #1121
Hi! Please delete the test that isn't in the canonical data, that way the file will be very clear in what it is testing 🙂

[2018-01-23 21:45] jssander commented on #1121
I deleted the test and added the version file. Do I submit a pull request now?

[2018-01-23 23:26] Kyle-P commented on #1140
I'll tackle this one

[2018-01-23 23:32] Kyle-P commented on #1144
Would you prefer to leave these types of issues open for newcomers because of the "Good first patches" policy? Thanks!

[2018-01-23 23:37] Kyle-P commented on #1121
Hi @jssander! You should be able to create a pull request by navigating to https://github.com/exercism/java. Once there, there should be an option near the top of the file listings to "create a pull request" with the commits you've added to your new branch. After clicking on that, you should be able to write a description of the pull request, what it contains, and what issue it references by using

[2018-01-24 08:07] sjwarner-bp commented on #1140
Good luck! I have a personal vendetta against the pig-latin exercise...

This one might need the example tweaking too, if memory serves! :slightly_smiling_face:

[2018-01-24 08:10] sjwarner-bp commented on #1144
Hi @Kyle-P - I think it is a bit of a grey area, though if you are comfortable submitting PRs for the other issues first, it's probably best to do that! They're a bit more meaty and have a little more challenge to them :slightly_smiling_face:

[2018-01-24 14:08] jssander commented on #1121
I submitted a pull request.

[2018-01-24 14:13] sjwarner-bp commented on #1121
Thanks for that @jssander - I'll take a look over it :slightly_frowning_face:

[2018-01-24 14:32] #1121 closed

[2018-01-24 14:33] sjwarner-bp commented on #1199
This last change might have helped out... I've not seen failing builds for a while now :crossed_fingers:

[2018-01-24 15:18] FridaTveit commented on #1199
Me neither, hopefully that change was all that was needed! 🙂 Should we close this issue for now and reopen it if we start seeing problems again?

[2018-01-24 15:18] sjwarner-bp commented on #1199
Sounds good to me! :slightly_smiling_face:

[2018-01-24 15:47] Kyle-P commented on #1144
Alright, I'll do that. Thanks @sjwarner-bp!

[2018-01-24 16:18] tshradheya commented on #1142
I will take a stab at this one

[2018-01-24 16:41] tshradheya commented on #1142
Can I confirm that to fix this issue I need to write tests exactly as in `canonical-data.json` and remove the unnecessary tests?

[2018-01-24 17:29] #1199 closed

[2018-01-24 17:31] FridaTveit commented on #1142
Yes, that's right. The test names and method names don't have to exactly match, but otherwise we want to follow the canonical data as closely as possible 🙂 Does that make sense?

[2018-01-24 17:31] tshradheya commented on #1142
So I can delete the already existing ones which arent present in canonical data?

[2018-01-24 17:32] #1153 closed

[2018-01-24 17:32] FridaTveit commented on #1142
Yes 🙂

[2018-01-24 17:33] FridaTveit commented on #1142
Sometimes we have extra tests just for the Java track if there's some Java specific feature that we need to test. But in that case the test should have a comment on it explaining why we're diverging from the canonical data 🙂

[2018-01-25 09:46] #1142 closed

[2018-01-27 06:01] Kyle-P commented on #1140
What is the point of the constructor:
`    public PigLatinTranslatorTest(String englishPhrase, String pigLatinTranslation) {
        this.englishPhrase = englishPhrase;
        this.pigLatinTranslation = pigLatinTranslation;
    }`

in the test class?

[2018-01-27 19:59] jssander commented on #1175
I would like to give this one a shot. However, I am unsure of how to do the four tests that are supposed to throw errors. Is there another exercise that does something similar which I could refer to?

[2018-01-27 20:13] sjwarner-bp commented on #1175
Hi @jssander - the [collatz test](https://github.com/exercism/java/blob/master/exercises/collatz-conjecture/src/test/java/CollatzCalculatorTest.java) is a good example of how to test for errors 🙂

Hopefully this is what you were looking for!

[2018-01-27 20:14] jssander commented on #1175
Yes, thank you.

[2018-01-29 08:31] hgvanpariya commented on #1131
@FridaTveit : https://github.com/exercism/java/pull/1251

Please provide your suggestion. Is it what expected ?

[2018-01-29 09:16] FridaTveit opened #1253 "sum-of-multiples: update tests"
The sum-of-multiples tests should be updated to exactly match the canonical data. Also the version file should be updated to match the canonical data version.

[2018-01-29 09:17] sjwarner-bp opened #1254 "sum-of-multiples: update tests"
The sum-of-multiples tests should be updated to exactly match the canonical data.

[2018-01-29 09:17] #1254 closed

[2018-01-30 02:46] hgvanpariya commented on #1253
@FridaTveit , can you please provide me the sample of the existing tests ?

[2018-01-30 03:12] hgvanpariya commented on #1253
Hi @FridaTveit , @exercism/java,

Please review the changes ... and suggest if there is any update needed.

[2018-01-30 04:40] hgvanpariya commented on #1130
Hi @sjwarner-bp , @FridaTveit ,

Please provide your review comments.

[2018-01-30 08:13] sjwarner-bp commented on #1125
Closed via #1252

[2018-01-30 08:13] #1125 closed

[2018-01-30 08:13] sjwarner-bp commented on #1131
Closed via #1251

[2018-01-30 08:13] #1131 closed

[2018-01-30 08:16] sjwarner-bp commented on #1130
Closed via #1256

[2018-01-30 08:16] #1130 closed

[2018-01-30 08:25] sjwarner-bp commented on #1253
Closed via #1255

[2018-01-30 08:25] #1253 closed

[2018-01-30 09:11] hgvanpariya commented on #1156
@FridaTveit , please provide your review comments.

[2018-01-30 09:30] sjwarner-bp commented on #1156
Closed via #1257

[2018-01-30 09:30] #1156 closed

[2018-01-30 19:11] FridaTveit opened #1258 "reverse-string: update version file (1.0.1 -> 1.1.0)"
Please update the version specified in the [reverse-string version file](https://github.com/exercism/java/blob/master/exercises/reverse-string/.meta/version) from 1.0.1 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data

[2018-01-30 19:14] FridaTveit opened #1259 "rna-transcription: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [rna-transcription version file](https://github.com/exercism/java/blob/master/exercises/rna-transcription/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonica

[2018-01-30 19:23] FridaTveit opened #1260 "hamming: update version file (2.0.1 -> 2.1.0)"
Please update the version specified in the [hamming version file](https://github.com/exercism/java/blob/master/exercises/hamming/.meta/version) from 2.0.1 to 2.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that

[2018-01-30 19:30] FridaTveit opened #1261 "Improve canonical data check script"
The `canonical_data_check.sh` script is sometimes reporting that exercises need to have their version files updated when they actually don't (e.g. it outputs `"needs update (v1.0.0 -> v1.0.0)."`). I'm guessing this is because one or the other of the files ends with a new line or has an extra whitespace or something.

This should hopefully be relatively easy to fix by adding some trimming of whites

[2018-01-31 08:16] sjwarner-bp commented on #1261
Ah, good spot!

If we do fix this up, it'll be worth offering the same changes to the Kotlin track, as I think they use a lot of the same scripts as us.

[2018-01-31 17:17] FridaTveit opened #1263 "scrabble-score: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [scrabble-score version file](https://github.com/exercism/java/blob/master/exercises/scrabble-score/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data

[2018-01-31 17:58] FridaTveit opened #1264 "raindrops: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [raindrops version file](https://github.com/exercism/java/blob/master/exercises/raindrops/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for

[2018-01-31 18:00] FridaTveit opened #1265 "secret-handshake: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [secret-handshake version file](https://github.com/exercism/java/blob/master/exercises/secret-handshake/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical

[2018-01-31 18:08] FridaTveit opened #1266 "isbn-verifier: update tests and version file (2.0.0 -> 2.2.0)"
One extra test has been added to [the canonical data for isbn-verifier](https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/canonical-data.json). Please add this test (it's the last test in the canonical data fil with description `"empty isbn"`) to the [isbn-verifier test suite](https://github.com/exercism/java/blob/master/exercises/isbn-verifier/src/test/java/Is

[2018-01-31 18:11] FridaTveit opened #1267 "matrix: update tests and add version file"
The [canonical data for matrix](https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/canonical-data.json) has diverged from our test suite. Please update the tests and the reference implementation if necessary, and add a version file.

[2018-01-31 18:14] FridaTveit opened #1268 "triangle: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [triangle version file](https://github.com/exercism/java/blob/master/exercises/triangle/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for th

[2018-01-31 18:16] FridaTveit opened #1269 "sieve: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [sieve version file](https://github.com/exercism/java/blob/master/exercises/sieve/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that exe

[2018-01-31 18:17] FridaTveit opened #1270 "twelve-days: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [twelve-days version file](https://github.com/exercism/java/blob/master/exercises/twelve-days/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-01-31 18:20] FridaTveit opened #1271 "rotational-cipher: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [rotational-cipher version file](https://github.com/exercism/java/blob/master/exercises/rotational-cipher/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonica

[2018-01-31 18:23] FridaTveit opened #1272 "kindergarten-garden: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [kindergarten-garden version file](https://github.com/exercism/java/blob/master/exercises/kindergarten-garden/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the cano

[2018-01-31 18:25] FridaTveit opened #1273 "collatz-conjecture: update version file (1.1.1 -> 1.2.0)"
Please update the version specified in the [collatz-conjecture version file](https://github.com/exercism/java/blob/master/exercises/collatz-conjecture/.meta/version) from 1.1.1 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canoni

[2018-01-31 20:37] jssander commented on #1175
I have added a few tests, but would you also like me to also update the .meta solution to throw the proper exceptions with the provided messages? Or only change the tests? If you take a look I don't think the provided solution does this according to the canonical file.

[2018-02-01 08:27] sjwarner-bp commented on #1175
Yes please - make sure that the reference solution passes all the new tests!!

If the reference solution doesn't pass the tests, you'll know because the build will fail.

[2018-02-01 17:36] FridaTveit opened #1275 "nth-prime: update version file (2.0.0 -> 2.1.0)"
Please update the version specified in the [nth-prime version file](https://github.com/exercism/java/blob/master/exercises/nth-prime/.meta/version) from 2.0.0 to 2.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for

[2018-02-01 17:40] FridaTveit opened #1276 "saddle-points: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [saddle-points version file](https://github.com/exercism/java/blob/master/exercises/saddle-points/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data f

[2018-02-01 18:17] FridaTveit opened #1277 "diamond: update tests and version file (1.0.0 -> 1.1.0)"
The [canonical data for diamond](https://github.com/exercism/problem-specifications/blob/master/exercises/diamond/canonical-data.json) has diverged from our test suite. Please update the tests, the version file and the reference implementation if necessary.

[2018-02-01 18:19] FridaTveit opened #1278 "flatten-array: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [flatten-array version file](https://github.com/exercism/java/blob/master/exercises/flatten-array/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data f

[2018-02-01 18:22] FridaTveit opened #1279 "phone-number: update version file (1.3.0 -> 1.4.0)"
Please update the version specified in the [phone-number version file](https://github.com/exercism/java/blob/master/exercises/phone-number/.meta/version) from 1.3.0 to 1.4.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data fil

[2018-02-01 18:24] FridaTveit opened #1280 "word-count: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [word-count version file](https://github.com/exercism/java/blob/master/exercises/word-count/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file fo

[2018-02-01 18:27] FridaTveit opened #1281 "prime-factors: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [prime-factors version file](https://github.com/exercism/java/blob/master/exercises/prime-factors/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data f

[2018-02-01 19:45] jssander commented on #1175
Ok. I added all the tests in the canonical file, updated the .meta solution to throw exceptions, and added the version file. Could you take a look at it before I submit a pull request?

Thank you.

[2018-02-02 07:51] sjwarner-bp commented on #1175
I'll have a quick look, but you are welcome to open a PR for it even if you think it might not be right - that gives all of the Java members a way to look at it and provides us with some nice tools to give you feedback :slightly_smiling_face:

[2018-02-02 07:55] sjwarner-bp commented on #1175
At a quick glance, I think it's looking pretty good so far!

There are a couple of lines that could be broken up that might help the code to read easier. For example, where you throw exceptions in the reference solution could be split over several lines.

I'd suggest opening a PR for better feedback though, as we'll get diffs etc :slightly_smiling_face:

[2018-02-02 13:21] jssander commented on #1175
Ok I submitted a PR. I think I threw the exceptions on the same line because that is how it is done in the collatz test which you gave me as an example.

[2018-02-04 10:59] FridaTveit opened #1284 "complex-numbers: improve error message for failing test"
The exercise complex-numbers uses a helper method to check if two complex numbers are equal:
[code]

However, this means that if the check fails, the error message will be something like:
[code]
which isn't very useful since it doesn't say which part of the complex number is wrong.

We should change this to provide a better error message, either by implementing `equals` for ComplexNumber or giving

[2018-02-04 11:06] FridaTveit opened #1285 "complex-numbers: remove `classes` from topics"
The exercise complex-numbers has `classes` as one of its topics but it doesn't seem to be very relevant to the exercise so I think we should remove it. What do you think @exercism/java? 🙂

[2018-02-04 18:53] sjwarner-bp commented on #1285
That sounds like a good idea to me @FridaTveit 🙂

[2018-02-05 09:12] #1285 closed

[2018-02-05 18:05] jssander commented on #1264
I would like to work on this, but I don't quite see where the canonical data is different. It still seems to be using the same numbers as input with the same expected results. What am I missing?

[2018-02-05 21:07] sjwarner-bp commented on #1264
[The most recent change](https://github.com/exercism/problem-specifications/commit/99de15d6c896c9b6d2cbce31a3cddd3cb169cf10#diff-0f739d44ce21401b16e016fecb78e166) shows that the update from 1.0.0 -> 1.1.0 was caused by updating the canonical data to the new 'input' policy.

This means that the actual test data probably isn't any different. I think all you'll need to do is update the version number

[2018-02-06 03:09] Haozhe321 opened #1291 "Error executing journey-test.sh"
When I run `sh bin/journey-test.sh`, the script hangs at
`tar xz -C <EXERCISE DIRECTORY> -f /var/folders/jn/qv3phvjd2w7cm9hh6tg4nstc0000gn/T/tmp.7ozkskTD` in the terminal.

When I terminate the script, the following error shows up.
[code]

Assistance is greatly appreciated!!

[2018-02-06 04:44] #1291 closed

[2018-02-06 06:27] Haozhe321 commented on #1261
@FridaTveit Any example of this? I ran a check, and couldn't find anything like that.

[2018-02-06 08:08] #1281 closed

[2018-02-06 08:11] sjwarner-bp commented on #1291
Did you find out the problem here @Haozhe321 ?

[2018-02-06 09:13] #1175 closed

[2018-02-06 09:16] FridaTveit commented on #1264
One of the changes I picked up on was that the canonical data was in a different order to our tests. Normally we'd like to maintain the same order. However since the raindrops tests are parameterized I guess it doesn't really matter, they'll all get run every time anyway. Which is one of the reasons I don't really like using parameterized tests for exercism...

So @sjwarner is right, all you have

[2018-02-06 09:17] FridaTveit commented on #1261
Yes, when I ran it locally it reported that pretty much every exercise needed updating but for most of them the version hadn't actually changed.

[2018-02-06 09:17] sjwarner-bp commented on #1264
We could always open a new issue to separate them out into individual tests. This would be more consistent with the rest of our test suites, and allows for a more TDD-style approach! :slightly_smiling_face:

[2018-02-06 09:24] FridaTveit opened #1293 "Remove use of parameterized tests"
We have some exercises that use parameterized tests. This makes it harder to do TDD since you can't ignore tests. We should convert these test suites to use individual tests instead of one parameterized test.

The exercises that need to be changed are:
- [x] raindrops
- [x] matrix
- [x] binary
- [ ] octal
- [x] scrabble-score
- [x] roman-numerals
- [x] prime-factors
- [x] atbash-cipher
- [x] pig-l

[2018-02-06 09:25] FridaTveit commented on #1264
Opened issue #1293 🙂

[2018-02-06 09:27] Haozhe321 commented on #1291
@sjwarner-bp turns out I didn't do `brew install exercism` and configure the API key.

[2018-02-06 09:27] FridaTveit commented on #1264
And I've updated the description of this issue to more accurately describe what needs to be updated 🙂

[2018-02-06 09:36] Haozhe321 commented on #1261
@FridaTveit Does yours look like mine? Terminal screenshot attached below.
I don't see any instances of `"needs update (v1.0.0 -> v1.0.0)."` where the current and updated version are the same.

![image](https://user-images.githubusercontent.com/26651556/35851718-cc7720c0-0b63-11e8-928a-23c1f559421f.png)

[2018-02-06 09:39] sjwarner-bp commented on #1261
It could be possible that problem-specifications have updated, so there are no longer instances of this.

I've not run this script for about a month, but when I get a moment I can try myself too :+1:

[2018-02-06 10:37] FridaTveit commented on #1261
@Haozhe321, no it did not look like that. Like @sjwarner-bp says, it's been a while since I ran it and changes have been made both to this repository and to problem-specifications since then. And it could be a problem that only occurs on windows. Either way, it did report exercises changed that hadn't been changed so it's worth looking into at some point. Though it's not very urgent since it's eas

[2018-02-06 10:41] Haozhe321 commented on #1261
@FridaTveit I see, thanks for the clarification :)

[2018-02-06 16:17] FridaTveit opened #1294 "pascals-triangle: update version file (1.2.0 -> 1.3.0)"
Please update the version specified in the [pascals-triangle version file](https://github.com/exercism/java/blob/master/exercises/pascals-triangle/.meta/version) from 1.2.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical

[2018-02-06 16:26] FridaTveit opened #1295 "bracket-push: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [bracket-push version file](https://github.com/exercism/java/blob/master/exercises/bracket-push/.meta/version) from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data fil

[2018-02-06 16:27] #1075 closed

[2018-02-06 16:32] FridaTveit commented on #743
Looks like a PR has been opened to fix this: https://github.com/exercism/configlet/pull/115. So hopefully it should be fixed soon 🙂

[2018-02-06 17:54] jssander commented on #1267
I would like to work on this.

[2018-02-07 08:45] sjwarner-bp opened #1296 "rational-numbers: override hashCode"
In the reference solution for `rational-numbers`, the class overrides the equals method but does not override the hashCode method.

This violates the general contract for Object.hashCode(), and as a consequence hash-based structures could fail to work correctly.

See more at this [stackoverflow question](https://stackoverflow.com/questions/2265503/why-do-i-need-to-override-the-equals-and-hashcode-

[2018-02-07 09:21] FridaTveit commented on #1267
That's great that you want to work on this @jssander! 🙂 Yes, please remove any tests that aren't present in the canonical data 🙂

[2018-02-07 11:02] #1140 closed

[2018-02-08 13:44] #1277 closed

[2018-02-08 14:46] sjwarner-bp commented on #743
https://github.com/exercism/configlet/pull/115 has been merged :tada:

That closes this issue :slightly_smiling_face:

[2018-02-08 14:46] #743 closed

[2018-02-08 17:42] jssander commented on #1267
Ok, I submitted a pull request.

[2018-02-09 08:05] sjwarner-bp commented on #1267
@jssander Cool! I'll check it out when I get a second :slightly_smiling_face:

[2018-02-09 09:02] #1284 closed

[2018-02-09 09:04] #1296 closed

[2018-02-10 19:00] #1144 closed

[2018-02-11 04:44] LuLechuan commented on #1266
Hi, I am a new contributor here. Can I work on this issue? Thanks

[2018-02-11 05:22] Kyle-P commented on #1293
I'll take care of the raindrops class!

[2018-02-11 12:40] #1266 closed

[2018-02-11 12:52] #1258 closed

[2018-02-11 14:17] LuLechuan commented on #1293
I can take care of the last five

[2018-02-11 14:19] sjwarner-bp commented on #1293
Ok @LuLechuan! Please put each in to a separate PR so they may be merged and reviewed as quickly and simply as possible 🙂

[2018-02-11 20:15] sjwarner-bp commented on #1199
A build timed out today after 50 minutes!

https://travis-ci.org/exercism/java/jobs/340156687

They're definitely far more infrequent, and I think many branches were building at the time (5 or so). I'm not sure if this affects it.

[2018-02-11 20:19] sjwarner-bp commented on #1199
Looks like two of the concurrent builds timed out. The following ran at the same time as the above!

https://travis-ci.org/exercism/java/jobs/340189363

[2018-02-11 20:29] #1295 closed

[2018-02-12 10:16] sjwarner-bp commented on #1199
More timeouts...

https://travis-ci.org/exercism/java/jobs/340324683

[2018-02-12 14:12] FridaTveit opened #1310 "raindrops: make tests more closely match canonical data"
In the [raindrops tests](https://github.com/exercism/java/blob/master/exercises/raindrops/src/test/java/RaindropConverterTest.java) we're currently testing the same cases as the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/raindrops/canonical-data.json). However, we deviate from the canonical data by:

1. The order of the tests. This is important since

[2018-02-12 14:27] FridaTveit commented on #1267
Closed in PR #1297. Thanks @jssander! 🙂

[2018-02-12 14:27] #1267 closed

[2018-02-12 19:49] c-thornton commented on #1293
I will try and take care of the binary and octal exercises tonight after I get home. Hopefully that will finish these all off.

[2018-02-13 00:32] Kyle-P commented on #1310
Oops. Sorry about that. I'll take care of this and fix everything up sometime soon 😊

[2018-02-13 09:33] FridaTveit commented on #1294
Fixed in PR #1312. Thanks @PatrM 🙂

[2018-02-13 09:33] #1294 closed

[2018-02-13 09:43] FridaTveit commented on #1310
No problem, it's something that we only agreed in the last few days that should be a priority 🙂

That's great, thank you! 😊

[2018-02-14 10:05] Haozhe321 commented on #1293
I can take octal!

[2018-02-15 09:22] #1293 closed

[2018-02-15 13:30] #1264 closed

[2018-02-15 13:30] #1310 closed

[2018-02-15 17:24] FridaTveit opened #1319 "atbash-cipher: update versio file (1.0.0 -> 1.1.0)"
Please update the version specified in the [atbash-cipher version file](https://github.com/exercism/java/blob/master/exercises/atbash-cipher/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data f

[2018-02-16 02:45] #1279 closed

[2018-02-16 10:29] FridaTveit opened #1321 "alphametics: update and move version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [alphametics version file](https://github.com/exercism/java/blob/master/exercises/alphametics/.meta/src/version) from 1.1.0 to 1.2.0.

Also, the version file is currently in the `src` subdirectory of the alphametics `.meta` directory. Please also move it to be in the `.meta` directory, i.e. move it from https://github.com/exercism/java/blob/master/exercis

[2018-02-16 10:47] FridaTveit opened #1322 "spiral-matrix: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [spiral-matrixversion file](https://github.com/exercism/java/blob/master/exercises/spiral-matrix/.meta/version) from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data fi

[2018-02-19 05:03] LuLechuan opened #1326 "New Exercise: Zipper"
Hi, I would like to add a new exercise for this track - Zipper.
Problem description:
https://github.com/exercism/problem-specifications/blob/master/exercises/zipper/description.md

[2018-02-19 13:28] Smarticles101 commented on #1326
@LuLechuan Feel free! You're always welcome to add new exercises, you just need to open a pull request for it, an issue is not required.

[2018-02-19 13:30] #1322 closed

[2018-02-19 13:31] #1269 closed

[2018-02-19 13:31] #1268 closed

[2018-02-21 23:06] #1326 closed

[2018-02-21 23:14] sjwarner-bp opened #1328 "Code Freeze?"
I've just checked out the [Gitter channel](https://gitter.im/exercism/support), and according to a post there the Java track is a code freeze for this repo until v2 launches? The post was on 20th Feb at 15:13.

I feel like I might have missed something here, as I didn't see anything about this before. Is there somewhere that lists this kind of info / are the rest of you aware of this @exercism/jav

[2018-02-21 23:57] Smarticles101 commented on #1328
I think NobbZ was referring to the exercism.io repository in his response. That is where jhuiet linked to in the previous message. Since the v2 prototype is in a private repository right now and the development is focused on that, there isn't going to be any changes to the current codebase for the site unless they fix breaking bugs

[2018-02-21 23:58] sjwarner-bp commented on #1328
Ok, that makes way more sense - I thought I might be reading that message thread wrong! 😉

Thanks for reassuring me that I'd not missed out on something major here! I'll close this ☺️

[2018-02-22 09:58] #1328 closed

[2018-02-23 08:28] #1259 closed

[2018-02-24 21:35] #1263 closed

[2018-02-24 21:36] #1260 closed

[2018-02-25 13:23] #1272 closed

[2018-02-25 13:24] #1265 closed

[2018-02-25 13:24] #1270 closed

[2018-02-25 13:26] #1271 closed

[2018-02-26 20:01] kingmob81 commented on #1273
Hi

[2018-02-26 20:22] sjwarner-bp commented on #1273
Hi @kingmob81, would you like to fix this issue for us? 🙂

[2018-02-26 21:03] kingmob81 commented on #1273
Done

On Mon, 26 Feb 2018 20:22 Sam Warner, <notifications@github.com> wrote:

[2018-02-27 07:52] sjwarner-bp commented on #1319
Fixed by #1339

[2018-02-27 07:52] #1319 closed

[2018-02-27 13:40] sjwarner-bp opened #1340 "perfect-numbers: update version file (1.0.1 -> 1.1.0)"
Please update the version specified in the [perfect-numbers](https://github.com/exercism/java/blob/master/exercises/perfect-numbers/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical da

[2018-02-27 13:41] sjwarner-bp opened #1341 "protein-translation: update version file (1.0.1 -> 1.1.0)"
Please update the version specified in the [protein-translation](https://github.com/exercism/java/blob/master/exercises/protein-translation/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the cano

[2018-02-27 14:51] kingmob81 commented on #1273
No thanks

On Mon, 26 Feb 2018 21:02 Lee Williams, <1onetime1981@gmail.com> wrote:

[2018-02-27 17:35] #1273 closed

[2018-02-27 17:35] #1275 closed

[2018-02-27 17:35] #1276 closed

[2018-02-27 17:36] #1278 closed

[2018-02-27 17:36] #1280 closed

[2018-03-01 08:03] sjwarner-bp opened #1349 "collatz-conjecture: update version file (1.1.1 -> 1.2.0)"
Please update the version specified in the [collatz-conjecture](https://github.com/exercism/java/blob/master/exercises/collatz-conjecture/.meta/version) version file from 1.1.1 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canoni

[2018-03-01 08:04] sjwarner-bp opened #1350 "nth-prime: update version file (2.0.0 -> 2.1.0)"
Please update the version specified in the [nth-prime](https://github.com/exercism/java/blob/master/exercises/nth-prime/.meta/version) version file from 2.0.0 to 2.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for

[2018-03-01 08:06] #1349 closed

[2018-03-01 08:06] sjwarner-bp commented on #1349
(Mistakenly opened -> script output wasn't up to date!)

[2018-03-01 08:07] sjwarner-bp commented on #1350
(Mistakenly opened -> script output wasn't up to date!)

[2018-03-01 08:07] #1350 closed

[2018-03-09 06:57] Kyle-P opened #1352 "Alphametics Version File Issue"
It looks like the alphametics version file issue at https://github.com/exercism/java/issues/1321 has a faulty link to the version file. The correct URL can be found at https://github.com/exercism/java/blob/master/exercises/alphametics/.meta/src/version.

@FridaTveit or @sjwarner-bp would you be able to fix this?

[2018-03-09 09:13] FridaTveit commented on #1352
That's actually a problem with the alphametics version file, not with the issue! The alphametics version file should be moved to https://github.com/exercism/java/blob/master/exercises/alphametics/.meta/version, it should not be inside a src directory. Thanks for pointing this out @Kyle-P! 🙂

[2018-03-09 13:06] FridaTveit commented on #1352
I've updated the issue (#1321) to include moving the file to the correct directory 🙂

[2018-03-09 13:06] #1352 closed

[2018-03-09 13:10] FridaTveit commented on #1132
Hi @sjwarner-bp, how's it going with this? Feel free to unassign it if you've got too much on your plate right now 🙂 Or keep working on it if you want, that's also fine 🙂

[2018-03-09 13:13] FridaTveit opened #1354 "isogram: update version file (1.2.0 -> 1.3.0)"
Please update the version specified in the [isogram](https://github.com/exercism/java/blob/master/exercises/isogram/.meta/version) version file from 1.2.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that

[2018-03-09 13:18] FridaTveit opened #1355 "roman-numerals: update version file and add test (1.0.0 -> 1.2.0)"
Please update the version specified in the [roman-numerals](https://github.com/exercism/java/blob/master/exercises/roman-numerals/.meta/version) version file from 1.0.0 to 1.2.0.

Please also include one extra test which is included in the canonical data but not in [our tests](https://github.com/exercism/java/blob/master/exercises/roman-numerals/src/test/java/RomanNumeralsTest.java); between the t

[2018-03-09 13:27] FridaTveit opened #1356 "house: update tests"
The [house tests](https://github.com/exercism/java/blob/master/exercises/house/src/test/java/HouseTest.java) are slightly out of sync with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/house/canonical-data.json). Please update the tests, the reference solution and the version file (2.0.0 -> 2.2.0).

[2018-03-09 13:32] FridaTveit opened #1357 "queen-attack: update tests"
The [queen-attack tests](https://github.com/exercism/java/blob/master/exercises/queen-attack/src/test/java/QueenAttackCalculatorTest.java) are slightly out of sync with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/queen-attack/canonical-data.json). Please update the tests, the reference solution (if needed) and the version file (2.0.0 -> 2.1.0).

[2018-03-09 13:36] FridaTveit opened #1358 "robot-simulator: update tests"
The [robot-simulator tests](https://github.com/exercism/java/blob/master/exercises/robot-simulator/src/test/java/RobotTest.java) are slightly out of sync with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/robot-simulator/canonical-data.json). Please update the tests, the reference solution (if needed) and the version file (1.0.0 -> 2.2.0).

[2018-03-10 00:58] Kyle-P commented on #1358
I'll see if I can tackle this one soon!

[2018-03-12 11:00] #1321 closed

[2018-03-12 13:36] FridaTveit opened #1360 "two-bucket: should the difficulty be increased?"
The two-bucket exercise currently has difficulty 5. However, it's relatively complicated and similar to the new exercise go-counting (PR #1351) which has been given difficulty 7.  I think two-bucket is definitely more complicated than other exercises with difficulty 5 such as bob or pascals-triangle. Should we increase the difficulty of two-bucket @exercism/java? 🙂

[2018-03-12 16:44] FridaTveit opened #1361 "minesweeper: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [minesweeper](https://github.com/exercism/java/blob/master/exercises/minesweeper/.meta/version) version file from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-03-12 16:47] FridaTveit opened #1362 "wordy: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [wordy](https://github.com/exercism/java/blob/master/exercises/wordy/.meta/version) version file from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that exe

[2018-03-12 16:56] FridaTveit opened #1363 "all-your-base: update version file (2.1.0 -> 2.3.0) and update one test"
Please update the version specified in the [all-your-base](https://github.com/exercism/java/blob/master/exercises/all-your-base/.meta/version) version file from 2.1.0 to 2.3.0.

Also please update the test with name `testFirstBaseIsOne` in [the all-your-base tests](https://github.com/exercism/java/blob/master/exercises/all-your-base/src/test/java/BaseConverterTest.java). The last line of this test

[2018-03-12 17:50] Kyle-P commented on #1360
Yeah, if it's relatively similar in difficulty and how complicated it is, we might want to consider increasing the level. But, I'm not too familiar with the rating system for difficulties so we might want some more people on this 👍

[2018-03-13 08:54] #1354 closed

[2018-03-13 10:23] FridaTveit opened #1365 "bowling: update tests and version file (1.1.0 -> 1.2.0)"
The [bowling tests](https://github.com/exercism/java/blob/master/exercises/bowling/src/test/java/BowlingTest.java) are missing the two last tests in the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/canonical-data.json). Please update the tests, update the reference solution (if necessary) and update the version file.

[2018-03-13 12:24] Smarticles101 commented on #1360
I would vote to increase the difficulty 👍

[2018-03-14 10:16] nywilken opened #1366 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-03-14 10:31] FridaTveit commented on #1366
Thank you for raising this @nywilken! 🙂

protein-translation is currently unlocked by rna-transcription which is not a core exercise. I suggest we make it unlocked by two-fer since they share some topics (string, conditionals). What do you think @exercism/java? 🙂

[2018-03-14 17:21] FridaTveit opened #1367 "crypto-square: update version file (3.1.0 -> 3.2.0)"
Please update the version specified in the [crypto-square](https://github.com/exercism/java/blob/master/exercises/crypto-square/.meta/version) version file from 3.1.0 to 3.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data f

[2018-03-14 17:25] FridaTveit opened #1368 "markdown: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [markdown](https://github.com/exercism/java/blob/master/exercises/markdown/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for th

[2018-03-14 17:35] FridaTveit opened #1369 "clock: update version file (1.0.1 -> 2.2.1)"
Please update the version specified in the [clock](https://github.com/exercism/java/blob/master/exercises/clock/.meta/version) version file from 1.0.1 to 2.2.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that exe

[2018-03-14 17:40] FridaTveit opened #1370 "ocr-numbers: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [ocr-numbers](https://github.com/exercism/java/blob/master/exercises/ocr-numbers/.meta/version) version file from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-03-14 17:44] FridaTveit opened #1371 "circular-buffer: update version file (1.0.1 -> 1.1.0)"
Please update the version specified in the [circular-buffer](https://github.com/exercism/java/blob/master/exercises/circular-buffer/.meta/version) version file from 1.0.1 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical da

[2018-03-14 17:50] FridaTveit opened #1372 "rectangles: update version file (1.0.0 -> 1.1.0) and add test"
Please update the version specified in the [rectangles](https://github.com/exercism/java/blob/master/exercises/rectangles/.meta/version) version file from 1.0.0 to 1.1.0.

Also please add the second test in the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/rectangles/canonical-data.json) which is missing from [our tests](https://github.com/exercism/java/

[2018-03-14 17:58] FridaTveit opened #1373 "book-store: update version file (1.2.0 -> 1.3.0)"
Please update the version specified in the [book-store](https://github.com/exercism/java/blob/master/exercises/book-store/.meta/version) version file from 1.2.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file fo

[2018-03-15 10:04] FridaTveit opened #1374 "complex-numbers: update tests"
The [complex-numbers tests](https://github.com/exercism/java/blob/master/exercises/complex-numbers/src/test/java/ComplexNumberTest.java) aren't up to date with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/complex-numbers/canonical-data.json). Please update the tests, update the reference implementation (if necessary) and update the version file from

[2018-03-15 10:06] FridaTveit opened #1375 "list-ops: update version file (2.0.0 -> 2.2.0)"
Please update the version specified in the [list-ops](https://github.com/exercism/java/blob/master/exercises/list-ops/.meta/version) version file from 2.0.0 to 2.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for th

[2018-03-15 10:08] FridaTveit opened #1376 "change: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [change](https://github.com/exercism/java/blob/master/exercises/change/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that e

[2018-03-15 10:10] FridaTveit opened #1377 "forth: update version file (1.4.0 -> 1.5.0)"
Please update the version specified in the [forth](https://github.com/exercism/java/blob/master/exercises/forth/.meta/version) version file from 1.4.0 to 1.5.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that exe

[2018-03-15 10:11] FridaTveit opened #1378 "custom-set: update version file (1.1.0 -> 1.3.0)"
Please update the version specified in the [custom-set](https://github.com/exercism/java/blob/master/exercises/custom-set/.meta/version) version file from 1.1.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file fo

[2018-03-16 16:27] #1374 closed

[2018-03-18 06:10] Kyle-P commented on #1366
Sounds good to me @FridaTveit! If the concepts are relatively similar, it should be fine.

[2018-03-19 09:20] #1367 closed

[2018-03-19 09:20] #1368 closed

[2018-03-19 13:42] FridaTveit opened #1384 "two-bucket: increase difficulty from 5 to 7"
Please update the difficulty for the two-bucket exercise from 5 to 7 in [config.json](https://github.com/exercism/java/blob/master/config.json).

See issue #1360 for discussion.

[2018-03-19 13:43] FridaTveit commented on #1360
I've opened an issue for it: #1384 🙂

[2018-03-19 13:43] #1360 closed

[2018-03-19 15:00] #1369 closed

[2018-03-20 08:15] #1366 closed

[2018-03-20 08:15] sjwarner-bp commented on #1132
Forgot I assigned myself this!

I am happy to free it up - it's been a hectic couple of weeks!

[2018-03-20 09:38] FridaTveit commented on #1132
That's fine, it's easy to forget! 🙂

[2018-03-20 14:12] #1365 closed

[2018-03-28 07:09] #1358 closed

[2018-04-03 08:35] #1357 closed

[2018-04-05 07:12] sjwarner-bp opened #1389 "Do we need to make READMEs for earlier exercises simpler / add more hints?"
Some feedback taken from the exercism/java Gitter room:

...

Maybe we need to append some hints to make it more obvious what is expected for brand new users (or make it more explicit that the tests are the place to consult for implementation questions?

What do we think @exercism/java? I'd be interested in hearing opinions and getting them implemented if we decide anything needs to be done! :slig

[2018-04-05 08:17] FridaTveit commented on #1389
That's really useful to know, thanks @sjwarner-bp! 🙂

The first exercise, hello-world, has [a long tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md) which I think explains everything you have to do to make the tests pass (including deleting the exception and returning something instead). We could add that tutorial to more of the earlier exercises? Or maybe j

[2018-04-05 08:43] sjwarner-bp commented on #1389
That's perfect! It's been so long since I did the track, I'd forgotten that was there.

I don't want to bloat the readmes unnecessarily because I think we shouldn't overwhelm users with too much info! Additionally, it was mentioned...

... so we probably shouldn't add too much! I like the idea of referencing the tutorial :slightly_smiling_face:

[2018-04-09 07:51] tendaitt commented on #1384
I would like to work on this. Does the change entail only editing the `config.json` file?

[2018-04-09 07:53] sjwarner-bp commented on #1384
Hi @tendaitt - that's great!

Yes, for this issue I believe we are only looking for a change to the `config.json` :slightly_smiling_face:

[2018-04-09 08:39] tendaitt commented on #1384
Thanks for the clarification @sjwarner-bp! I have created at [pull request](https://github.com/exercism/java/pull/1390) for your review.

[2018-04-09 08:43] #1384 closed

[2018-04-09 09:09] tendaitt commented on #1356
@FridaTveit I might work on this but I need some clarification.

1. What do you mean the tests are slightly out of sync with the canonical data?
2. What is the reference solution?

[2018-04-09 09:46] FridaTveit commented on #1356
@tendaitt great, thanks! 😃

I mean that the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/house/canonical-data.json) is slightly different to our tests. In this case the difference is that our solution inserts more newlines than the canonical data. For example, our second test expects the output to be:
[code]
whereas the canonical data expects it to be:

[2018-04-09 09:51] sjwarner-bp commented on #1356
@tendaitt Also worth noting that the reason these our tests get out of sync with the canonical data is because that is where people review and discuss ways to improve the test suites.

Often these changes are to cover edge cases that had not previously been considered, or correcting errors.

By keeping our tests up to date, we encourage users to build more robust solutions! :fireworks:

[2018-04-09 12:33] tendaitt commented on #1356
@FridaTveit: your comment makes sense. I have begun working on this.
@sjwarner-bp: Thank you for the context.

Also, should the README.md file also resemble the canonical data?

[2018-04-09 12:36] sjwarner-bp commented on #1356
@tendaitt To some extent. We automatically generate the READMEs using a tool called `configlet`.

You can do this by:
* Downloading configlet and putting it somewhere in your PATH
* Clone the problem-specifications repository.
* Run `configlet generate . --only name_of_new_exercise --spec-path path_to_problem_specifications` from the root of this repository.

The main differences will be all the e

[2018-04-10 13:03] katmpatz commented on #1355
@FridaTveit, if this issue is already open I would really want to contribute!

[2018-04-10 13:06] sjwarner-bp commented on #1355
Feel free to pick this one up @katmpatz ! :slightly_smiling_face:

[2018-04-10 14:24] FridaTveit commented on #1355
Yes, go for it @katmpatz 🙂

[2018-04-11 06:58] tendaitt commented on #1356
Created a [pull request](https://github.com/exercism/java/pull/1392) for your review.

[2018-04-11 08:36] #1356 closed

[2018-04-11 12:06] katmpatz commented on #1363
@FridaTveit if this issue is still open, I would really like to contribute!

[2018-04-11 14:33] FridaTveit commented on #1363
Go for it! 😃

Any issue in the issues list is open and ready to be worked on 🙂 Just check whether someone else has put a comment on it to say that they're working on it and check the open pull requests to see if someone else has opened a pull request for it. If not, then you're fine to start working on it! 🙂

[2018-04-12 07:52] tendaitt commented on #1372
I noticed that there might be a naming error in the [tests](https://github.com/exercism/java/blob/master/exercises/rectangles/src/test/java/RectangleCounterTest.java).

According to the canonical data, the first test actually tests if no rows results in no rectangles but its name in the test file is `testInputWithNoColumnsContainsNoRectangles` instead of `testInputWithNoRowsContainsNoRectangles`.

[2018-04-12 12:54] #1372 closed

[2018-04-13 02:01] jhuiet opened #1395 "go-counting:tests"
Short explanation of easy fix:
Change the tests according to the //comments made below.
Edit the readme so that it includes a descriptor notifying that the edges count as sides.

The tests for the current 'go' exercise don't seem to follow the rules I have found on how go should be played. The main grief I had are two particular tests(posted below). from what I can tell the space between two BLACK

[2018-04-13 08:11] FridaTveit commented on #1395
Thanks for raising this @jhuiet! 🙂 However, deciding what the readmes and tests should be like is done in the [problem specifications repo](https://github.com/exercism/problem-specifications), and then we implement it here. We do that so that the tests are consistent across tracks.

So if you believe there is a problem with the go tests, please open an issue (and a PR if you want to fix it yoursel

[2018-04-13 19:24] katmpatz commented on #1171
I will try to implement it!

[2018-04-16 07:46] #1363 closed

[2018-04-16 07:47] #1355 closed

[2018-04-17 16:06] FridaTveit commented on #1378
Fixed in PR #1399. Thanks @hgvanpariya! 🙂

[2018-04-17 16:06] #1378 closed

[2018-04-17 16:42] FridaTveit commented on #1389
Okay, should we reference the tutorial in e.g. the first three core exercises? Or all exercises with difficulty 2 or below? Or any other suggestions? 🙂

[2018-04-17 17:02] FridaTveit commented on #1377
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1377 closed

[2018-04-17 17:02] FridaTveit commented on #1376
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1376 closed

[2018-04-17 17:02] FridaTveit commented on #1375
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1375 closed

[2018-04-17 17:02] FridaTveit commented on #1373
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1373 closed

[2018-04-17 17:02] FridaTveit commented on #1371
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1371 closed

[2018-04-17 17:02] FridaTveit commented on #1370
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1370 closed

[2018-04-17 17:02] FridaTveit commented on #1362
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1362 closed

[2018-04-17 17:02] FridaTveit commented on #1361
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:02] #1361 closed

[2018-04-17 17:03] FridaTveit commented on #1341
Fixed in PR #1400, thanks @hgvanpariya 🙂

[2018-04-17 17:03] #1341 closed

[2018-04-19 16:12] FridaTveit commented on #1389
What do you think @sjwarner-bp? I think maybe referencing the tutorial in all exercises with difficulty 2 or below would be best? That's five exercises (I think, unless I counted wrong) which sounds like a good number. And it hopefully shouldn't be too hard to remember to add a reference to any new exercises that are added. We can mention it in the new exercise section of the contributing guide 🙂

[2018-04-20 07:02] sjwarner-bp commented on #1389
Oops! Completely missed this message - I think that sounds good too :slightly_smiling_face:

Hopefully that will help new users out (and adding it to the contributing guide is a great idea)!

[2018-04-20 07:12] FridaTveit opened #1403 "tournament: update version file (1.3.0 -> 1.4.0)"
Please update the version specified in the [tournament](https://github.com/exercism/java/blob/master/exercises/tournament/.meta/version) version file from 1.3.0 to 1.4.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file fo

[2018-04-20 07:22] FridaTveit opened #1405 "rail-fence-cipher: add version file (1.1.0)"
Please add a file in `/exercises/rail-fence-cipher/.meta` named `version` with content `1.1.0`. This will be the version file for rail-fence-cipher. See the [acronym version file](https://github.com/exercism/java/blob/master/exercises/acronym/.meta/version) for an example version file.

Background info: each exercise which has canonical data should have a version file. This file states which versi

[2018-04-20 07:24] FridaTveit opened #1406 "sublist: update version file (1.0.0 -> 1.1.0)"
Please update the version specified in the [sublist](https://github.com/exercism/java/blob/master/exercises/sublist/.meta/version) version file from 1.0.0 to 1.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that

[2018-04-20 07:26] FridaTveit opened #1407 "word-search: update version file (1.1.0 -> 1.2.0)"
Please update the version specified in the [word-search](https://github.com/exercism/java/blob/master/exercises/word-search/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-04-20 07:39] FridaTveit opened #1408 "binary-search-tree: update tests and add version file"
The [binary-search-tree tests](https://github.com/exercism/java/blob/master/exercises/binary-search-tree/src/test/java/BinarySearchTreeTest.java) should be updated to exactly match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/binary-search-tree/canonical-data.json).

Also a version file should be added to match the canonical data version. This file

[2018-04-20 07:44] FridaTveit opened #1409 "dominoes: update version file (1.0.0 -> 2.1.0)"
Please update the version specified in the [dominoes](https://github.com/exercism/java/blob/master/exercises/dominoes/.meta/version) version file from 1.0.0 to 2.1.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for th

[2018-04-20 07:47] FridaTveit commented on #1395
I hope this makes sense @jhuiet! I'll close this issue for now, feel free to open an issue in problem specifications if you think there is a problem with the go exercise 🙂 And feel free to open a new issue here if you think there is something we should fix on this track 🙂

[2018-04-20 07:47] #1395 closed

[2018-04-20 08:44] FridaTveit opened #1411 "two-fer: add reference to tutorial"
We've decided that every exercise with difficulty less than 3 should reference the [tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md) provided with the hello world exercise. This should make it easier for people to solve those early exercise. See issue #1389 for discussion.

So please add a hints.md file in https://github.com/exercism/java/tree/master/exerci

[2018-04-20 08:45] FridaTveit opened #1412 "reverse-string: add reference to tutorial"
We've decided that every exercise with difficulty less than 3 should reference the [tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md) provided with the hello world exercise. This should make it easier for people to solve those early exercise. See issue #1389 for discussion.

So please add a hints.md file in https://github.com/exercism/java/tree/master/exerci

[2018-04-20 08:46] FridaTveit opened #1413 "armstrong-numbers: add reference to tutorial"
We've decided that every exercise with difficulty less than 3 should reference the [tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md) provided with the hello world exercise. This should make it easier for people to solve those early exercise. See issue #1389 for discussion.

So please add a hints.md file in https://github.com/exercism/java/tree/master/exerci

[2018-04-20 08:46] FridaTveit opened #1414 "rna-transcription: add reference to tutorial"
We've decided that every exercise with difficulty less than 3 should reference the [tutorial](https://github.com/exercism/java/blob/master/exercises/hello-world/TUTORIAL.md) provided with the hello world exercise. This should make it easier for people to solve those early exercise. See issue #1389 for discussion.

So please add a hints.md file in https://github.com/exercism/java/tree/master/exerci

[2018-04-20 11:26] FridaTveit opened #1417 "acronym: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [acronym tests](https://github.com/exercism/java/blob/master/exercises/acronym/src/test/java/AcronymTest.java).

[2018-04-20 11:27] FridaTveit opened #1418 "all-your-base: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [all-your-base tests](https://github.com/exercism/java/blob/master/exercises/all-your-base/src/test/java/BaseConverterTest.java).

[2018-04-20 11:29] FridaTveit opened #1419 "binary-search-tree: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [binary-search-tree tests](https://github.com/exercism/java/blob/master/exercises/binary-search-tree/src/test/java/BinarySearchTreeTest.java).

[2018-04-20 11:31] FridaTveit opened #1420 "bracket-push: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [bracket-push tests](https://github.com/exercism/java/blob/master/exercises/bracket-push/src/test/java/BracketCheckerTest.java).

[2018-04-20 11:32] FridaTveit opened #1421 "difference-of-squares: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [difference-of-squares tests](https://github.com/exercism/java/blob/master/exercises/difference-of-squares/src/test/java/DifferenceOfSquaresCalculatorTest.ja

[2018-04-20 11:34] FridaTveit opened #1422 "grade-school: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [grade-school tests](https://github.com/exercism/java/blob/master/exercises/grade-school/src/test/java/SchoolTest.java).

[2018-04-20 11:36] FridaTveit opened #1423 "largest-series-product: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [largest-series-product tests](https://github.com/exercism/java/blob/master/exercises/largest-series-product/src/test/java/LargestSeriesProductCalculatorTest

[2018-04-20 11:37] FridaTveit opened #1424 "minesweeper: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [minesweeper tests](https://github.com/exercism/java/blob/master/exercises/minesweeper/src/test/java/MinesweeperBoardTest.java).

[2018-04-20 11:39] FridaTveit opened #1425 "phone-number: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [phone-number tests](https://github.com/exercism/java/blob/master/exercises/phone-number/src/test/java/PhoneNumberTest.java).

[2018-04-20 11:40] FridaTveit opened #1426 "poker: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [poker tests](https://github.com/exercism/java/blob/master/exercises/poker/src/test/java/PokerTest.java).

[2018-04-20 11:41] FridaTveit opened #1427 "pythogarean-triplet: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [pythogarean-triplet tests](https://github.com/exercism/java/blob/master/exercises/pythogarean-triplet/src/test/java/PythagoreanTripletTest.java).

[2018-04-22 06:41] hgvanpariya commented on #1426
@FridaTveit , removed final from the poker test , please provide your review comments.

[2018-04-22 07:05] hgvanpariya commented on #1408
@FridaTveit , please provide your review comments , the version should be 1.0.0 ?

[2018-04-23 08:13] FridaTveit commented on #1408
Thanks @hgvanpariya! Yes, the version should be 1.0.0 🙂

[2018-04-26 07:14] sjwarner-bp commented on #1427
Closed via #1433

[2018-04-26 07:14] #1427 closed

[2018-04-26 07:15] sjwarner-bp commented on #1425
Closed via #1433

[2018-04-26 07:15] #1425 closed

[2018-04-27 07:15] sjwarner-bp commented on #1424
Closed via #1438

[2018-04-27 07:15] #1424 closed

[2018-04-27 07:34] sjwarner-bp commented on #1423
Closed via #1439

[2018-04-27 07:34] #1423 closed

[2018-04-27 21:28] jsertel commented on #1411
Would like to take this one.

[2018-04-27 21:28] jsertel commented on #1412
Would like to take this one.

[2018-04-29 18:25] jsertel opened #1441 "Kindergarten Garden - unused constructor in starter solution"
In the starter solution for [Kindergarten Garden](https://github.com/exercism/java/tree/master/exercises/kindergarten-garden) there are two constructors, but it appears the test suite only uses one. Its possible to remove the first constructor and still pass the tests.

First constructor takes a string and an array:

`
    KindergartenGarden(String garden, String[] students) {
        throw new Un

[2018-04-30 07:42] sjwarner-bp commented on #1414
Closed via #1437

[2018-04-30 07:42] #1414 closed

[2018-04-30 07:46] sjwarner-bp commented on #1441
Looks like this is leftover from when the old tests used to ask for students to also be supplied to the constructor in a non-alphabetical order.

We seem to have moved away from that!

Good spot, this should probably be removed @jsertel :slightly_smiling_face:

[2018-05-14 07:45] sjwarner-bp commented on #1407
Closed via #1442

[2018-05-14 07:45] #1407 closed

[2018-05-14 07:47] sjwarner-bp commented on #1406
Closed via #1443

[2018-05-14 07:47] #1406 closed

[2018-05-15 13:38] #1171 closed

[2018-05-18 07:30] sjwarner-bp commented on #1420
Closed via #1444

[2018-05-18 07:30] #1420 closed

[2018-05-18 08:42] sjwarner-bp commented on #1421
Closed via #1445

[2018-05-18 08:42] #1421 closed

[2018-05-18 08:49] sjwarner-bp commented on #1409
Closed via #1446

[2018-05-18 08:49] #1409 closed

[2018-05-18 11:17] sjwarner-bp commented on #1403
Closed via #1447

[2018-05-18 11:17] #1403 closed

[2018-05-21 12:23] sjwarner-bp opened #1450 "Update `insert-ignores.sh` to current requirements"
At the moment, the `insert-ignores.sh` script adds `@Ignore`, instead of `@Ignore("Remove to run test")`.

This message is part of our policy [to ignore non-initial tests](https://github.com/exercism/java/blob/master/POLICIES.md#ignore-noninitial-tests).

Additionally, the current script does not check if tests are already ignored. As such, it might be a good idea to determine if `org.junit.Ignore

[2018-05-22 03:39] aadityakulkarni commented on #1422
Hi @FridaTveit I have created a pull request for this, please review it. Thanks!

[2018-05-22 03:39] aadityakulkarni commented on #1419
Hi @FridaTveit I have created a pull request for this, please review it. Thanks!

[2018-05-22 09:51] hgvanpariya commented on #1450
@sjwarner-bp, I would like to take this if no one has already started ...

[2018-05-22 10:04] sjwarner-bp commented on #1450
Sure thing @hgvanpariya. Are the criteria clear enough? All we have to do is add the message to the inserted `@Ignore` and then some conditionals do detect if it the test is already Ignored

[2018-05-22 10:06] hgvanpariya commented on #1450
@sjwarner-bp , yes, got it .. I'll update it and then I'll need your help to review it ...

[2018-05-22 10:08] sjwarner-bp commented on #1450
Sounds good to me @hgvanpariya :+1:

[2018-05-22 17:06] FridaTveit opened #1452 "queen-attack: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [queen-attack tests](https://github.com/exercism/java/blob/master/exercises/queen-attack/src/test/java/QueenAttackCalculatorTest.java).

[2018-05-22 17:08] FridaTveit opened #1453 "robot-simulator: remove `final` from tests"
According to our [policies](https://github.com/exercism/java/blob/master/POLICIES.md#avoid-using-final) we want to avoid using `final` in user facing code as it can be confusing to people new to Java.

Please remove all uses of `final` in the [robot-simulator tests](https://github.com/exercism/java/blob/master/exercises/robot-simulator/src/test/java/RobotTest.java).

[2018-05-22 17:12] FridaTveit opened #1454 "poker: rename version file"
The [poker version file](https://github.com/exercism/java/blob/master/exercises/poker/.meta/version.txt) should be named `version` not `version.txt`.

[2018-05-22 17:32] hgvanpariya commented on #1450
@sjwarner-bp , so all the the `@Test` without `@Ignore` has to be tagged with `@Ignore("Remove to run test")` , correct ?

[2018-05-22 17:33] sjwarner-bp commented on #1450
That's correct!

[2018-05-22 17:42] hgvanpariya commented on #1450
@sjwarner-bp Update, please check and let me know if I missed anything ...

[2018-05-22 17:44] hgvanpariya commented on #1450
if there will be ` import org.junit.Ignore;` it won't add it again,
if there will be `@Ignore    @Test`  it won't add `@Ignore("Remove to run test")`

[2018-05-23 07:31] sjwarner-bp commented on #1450
Cool, I'll pull it down over lunch and test it out :slightly_smiling_face:

[2018-05-23 10:13] #1452 closed

[2018-05-25 09:43] hgvanpariya commented on #1405
@FridaTveit , added version file for `rail-fence-cipher`, please provide your review comments.

[2018-05-25 09:48] hgvanpariya commented on #1454
@FridaTveit , renamed version file ...

[2018-05-25 10:14] hgvanpariya commented on #1453
@FridaTveit : removed final from RobotTest.java, please provide code review comments.

[2018-05-25 11:27] FridaTveit commented on #1405
Fixed in PR #1457, thanks @hgvanpariya 🙂

[2018-05-25 11:27] #1405 closed

[2018-05-25 11:28] FridaTveit commented on #1454
Fixed in PR #1458, thanks @hgvanpariya 🙂

[2018-05-25 11:28] #1454 closed

[2018-05-25 11:30] FridaTveit commented on #1453
Fixed in PR #1459, thanks @hgvanpariya 🙂

[2018-05-25 11:30] #1453 closed

[2018-05-25 19:28] cmccandless opened #1460 "error-handling: case `testThrowAnyUncheckedException` passes without user changes"
I'm new to the contributor side of the Java track, so this might be intentional. `UnsupportedOperationException` is an unchecked exception, so the following solution template is already a valid solution:

[code]

[2018-05-29 13:44] FridaTveit commented on #1460
Thanks for raising this @cmccandless, that's a good point! 🙂

@Smarticles101 yes we could probably do that 🙂 But I'm not sure being more strict in the matcher would be ideal in this case. We already have a separate test and method for throwing a specific unchecked exception and any unchecked exception with a specific error message. So I think our options are:
* Remove the `UnsupportedOperationExce

[2018-05-29 13:56] sjwarner-bp commented on #1460
Nice summary @FridaTveit !

I think that either the first or third option @FridaTveit has outlined would make most sense :slightly_smiling_face:

I'm probably leaning towards the first option as although it goes against our POLICIES, if we leave a meaningful comment then it'll probably be fine :slightly_smiling_face:

[2018-05-30 17:21] FridaTveit opened #1462 "isbn-verifier: update tests and version file (v2.2.0 -> v.2.5.0)"
The [isbn-verifier tests](https://github.com/exercism/java/blob/master/exercises/isbn-verifier/src/test/java/IsbnVerifierTest.java) aren't up to do date with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/canonical-data.json). Please update the tests so that they match the canonical data. Also update the [version file](https://github.com

[2018-05-30 17:24] FridaTveit opened #1463 "kindergarten-garden: update version file (v1.1.0 -> v.1.1.1)"
Please update the version specified in the [kindergarten-garden](https://github.com/exercism/java/blob/master/exercises/kindergarten-garden/.meta/version) version file from 1.1.0 to 1.1.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the cano

[2018-05-30 17:27] FridaTveit opened #1464 "bracket-push: update tests and version file (v1.2.0 -> v1.3.0)"
The [bracket-push tests](https://github.com/exercism/java/blob/master/exercises/bracket-push/src/test/java/BracketCheckerTest.java) aren't up to do date with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/bracket-push/canonical-data.json). Please update the tests so that they match the canonical data. Also update the [version file](https://github.com/

[2018-06-01 06:50] #1441 closed

[2018-06-01 06:51] sjwarner-bp commented on #1441
Closed via #1465

Thanks @aadityakulkarni :open_hands:

[2018-06-02 22:59] kytrinyx opened #1467 "Where are the Java communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-04 07:10] #1462 closed

[2018-06-04 07:10] sjwarner-bp commented on #1462
Closed via #1466

[2018-06-04 07:14] #1464 closed

[2018-06-04 08:44] FridaTveit commented on #1467
Java is one of the main languages taught in the Computer Science course at Cambridge.

[2018-06-04 12:42] sjwarner-bp commented on #1467
It was taught pretty heavily on my course at Warwick too! Additionally, from our [ABOUT.md](https://github.com/exercism/java/blob/master/docs/ABOUT.md)...

It might even be worth updating this file if anything new jumps out over here :slightly_smiling_face:

I've been to a couple of good conferences for Java ([QCon London](https://www.qconlondon.com), probably all of QCon, (Devoxx)[https://www.dev

[2018-06-04 15:17] RonakLakhotia commented on #1463
@FridaTveit can I work on this? Thanks.

[2018-06-04 15:18] sjwarner-bp commented on #1463
@RonakLakhotia Go for it! :fireworks:

[2018-06-04 16:15] RonakLakhotia commented on #1463
PR created. ready for review

[2018-06-05 07:04] sjwarner-bp commented on #1463
Closed via #1469

Thanks @RonakLakhotia :slightly_smiling_face:

[2018-06-05 07:04] #1463 closed

[2018-06-05 07:12] #1413 closed

[2018-06-05 07:16] RonakLakhotia commented on #1412
Has this issue been taken care of? I can take this one. @FridaTveit @sjwarner-bp

[2018-06-05 07:18] sjwarner-bp commented on #1412
It doesn't look like this has been completed yet - worth checking in with @jsertel to see if they still plan on working on this one :slightly_smiling_face:

[2018-06-05 08:43] FridaTveit opened #1471 "series: update tests and add version file"
The [series tests](https://github.com/exercism/java/blob/master/exercises/series/src/test/java/SeriesTest.java) should be updated to exactly match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/series/canonical-data.json). Also a version file should be added to match the canonical data version.

[2018-06-05 08:45] FridaTveit opened #1472 "grade-school: update tests and add version file"
The [grade-school tests](https://github.com/exercism/java/blob/master/exercises/grade-school/src/test/java/SchoolTest.java) should be updated to exactly match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/grade-school/canonical-data.json). Also a version file should be added to match the canonical data version.

[2018-06-05 08:47] FridaTveit opened #1473 "word-search: update version file (v1.2.0 -> v1.2.1)"
Please update the version specified in the [word-search](https://github.com/exercism/java/blob/master/exercises/word-search/.meta/version) version file from 1.2.0 to 1.2.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-06-05 08:50] FridaTveit opened #1474 "diffie-hellman: update tests and add version file"
The [diffie-hellman tests](https://github.com/exercism/java/blob/master/exercises/diffie-hellman/src/test/java/DiffieHellmanTest.java) should be updated to exactly match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/diffie-hellman/canonical-data.json). Also a version file should be added to match the canonical data version.

[2018-06-05 08:52] FridaTveit opened #1475 "simple-cipher: update tests and add version file"
The [simple-cipher tests](https://github.com/exercism/java/tree/master/exercises/simple-cipher/src/test/java) should be updated to exactly match the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/simple-cipher/canonical-data.json). Also a version file should be added to match the canonical data version.

[2018-06-05 08:57] FridaTveit opened #1476 "list-ops: update version file (v2.2.0 -> v2.3.0) and add new test"
Please update the version specified in the [list-ops](https://github.com/exercism/java/blob/master/exercises/list-ops/.meta/version) version file from 2.2.0 to 2.3.0.

Please also add a new test to the [list-ops test](https://github.com/exercism/java/blob/master/exercises/list-ops/src/test/java/ListOpsTest.java). This should be a test for list of nested list as described at the end of the [canonic

[2018-06-05 09:03] FridaTveit opened #1477 "forth: update version file (v1.5.0 -> v1.6.0) and add two new tests"
Please update the version specified in the [forth](https://github.com/exercism/java/blob/master/exercises/forth/.meta/version) version file from 1.5.0 to 1.6.0.

Please also add two new tests to the [forth tests](https://github.com/exercism/java/blob/master/exercises/forth/src/test/java/ForthEvaluatorTest.java). This should be the test "can use different words with the same name" and "can define w

[2018-06-05 09:03] RonakLakhotia commented on #1476
@FridaTveit I would like to give this a go.

[2018-06-05 09:04] FridaTveit commented on #1476
Great, go for it @RonakLakhotia 🙂

[2018-06-05 09:53] RonakLakhotia commented on #1476
Created a PR. Would be great if you could review it :)

[2018-06-05 14:55] sjwarner-bp opened #1479 "Document how to set up project in IntelliJ"
While we have documentation that helps contributors set up and run the project from the command line, a large number of contributors also use IDEs to make changes to files.

IntelliJ seems to be the most popular IDE that is used (though others are mentioned [here](https://github.com/exercism/java/blob/master/docs/INSTALLATION.md), so we should update the [CONTRIBUTING file](https://github.com/exer

[2018-06-06 02:43] RonakLakhotia commented on #1475
@FridaTveit Can I give this a try?

[2018-06-06 07:06] sjwarner-bp commented on #1475
Go for it @RonakLakhotia :tada:

[2018-06-11 18:00] kytrinyx commented on #1467
Awesome thank you!

[2018-06-11 18:01] kytrinyx commented on #1467
(Oh, and https://javaranch.com/ has HUGE forums that have been around since the dawn of time, or thereabouts, with lots of friendly, helpful moderators).

[2018-06-12 02:45] kytrinyx opened #1481 "Ensure Java track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/java
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
- [x] T

[2018-06-12 07:15] sjwarner-bp commented on #1481
I think we are already compliant with a handful of these bullet points :slightly_smiling_face:

I think we're all good on the following:

On a side note, I've also signed up for mentoring :fireworks:

What do we think @exercism/java @FridaTveit? Are we happy to tick these off?

[2018-06-12 09:32] FridaTveit commented on #1481
Yup, I agree that those can be ticked off 🙂 The only one I think we might be missing is

@kytrinyx do we need to add this to config.json for hello-world since that's our first core exercise? Or do we not need to add it since it's hello-world so it'll be auto approved anyway?

[2018-06-12 10:59] c-thornton commented on #1132
So I am going to try to take care of this one tonight to clear it out. It looks like the canonical data has been updated in https://github.com/exercism/problem-specifications/commit/3930b0ac18b3155ff44b2ef9b32fe736e83d77b9 to include a test for the issue addressed in #972 in it now. I just want to double check that is the case and I can remove the previous test that diverges from the canonical dat

[2018-06-12 13:19] FridaTveit commented on #1132
@c-thornton That's great that you want to tackle this issue! 😃

However I think we still need the other test. We want to have a test case where there is a non-numeric character and using `Character.getNumericValue` to calculate the luhn sum will give an answer that is divisible by 10. In that case the algorithm should return `false`. Does that make sense?

I don't think the newly added test case s

[2018-06-12 13:41] c-thornton commented on #1132
@FridaTveit I checked the value returned from Character.getNumericValue('&') and it is -1 so that will result  in a value that is not divisible by 10 (8 in this case I think). In order to get something that is divisible by 10 you would need to pass in something like ("85&") which will give a a 10 as the sum I believe. If you pass that it, I think that would be a good test as it should not pass if

[2018-06-12 14:02] c-thornton commented on #1132
I also checked the test in the canonical data and ":9" will result in a total of 7 so I am not so sure if that is a valid test for issue #972 as well.

[2018-06-12 14:20] FridaTveit commented on #1132
@c-thornton yes, I think the test you suggest (`"85&"`) will be a good test for the issue raised in #972 🙂 So in my opinion the changes needed are:
* Make any changes that have been made to the canonical data (including adding the new test)
* Change our test which deviates from the canonical data to use `"85&"` instead of `"34&"`

Do you agree @sjwarner-bp @c-thornton @exercism/java? 🙂

[2018-06-12 14:24] c-thornton commented on #1132
@FridaTveit That works for me and I think covers all of the bases here. If everyone else agrees I will get the changes made tonight and open a pull request.

[2018-06-12 16:08] kytrinyx commented on #1481
I'd prefer if we set it to auto-approve here, so that we can remove the special handling in the code (eventually).

[2018-06-12 16:35] FridaTveit commented on #1481
Sure, will open a PR now 🙂

[2018-06-12 17:22] sjwarner-bp commented on #1481
Change has been merged in 🎆

[2018-06-13 07:12] sjwarner-bp commented on #1132
I'd say that makes sense and is a good way to attack this @FridaTveit :slightly_smiling_face:

Thanks for picking this one up @c-thornton

[2018-06-13 18:04] sjwarner-bp commented on #1481
Probably related to this, I'm surprised to see that we have a couple of exercises that are:

[code]

I'm going to open individual issues per exercise, but probably worth noting it here as it would be useful to have this done by v2.

[2018-06-13 18:05] sjwarner-bp opened #1485 "armstrong-numbers: add `unlocked_by:`"
In v2 of exercism, completing 'core' exercises will unlock more optional exercises.

As part of this, all optional exercises should specify which core exercise unlocks it.

Please amend [config.json](https://github.com/exercism/java/blob/master/config.json) for the `armstrong-numbers` exercise to be `unlocked_by` an appropriate core exercise. Try and group it with a core exercise with similar topi

[2018-06-13 18:09] sjwarner-bp opened #1486 "rna-transcription: add `unlocked_by`"
In v2 of exercism, completing 'core' exercises will unlock more optional exercises.

As part of this, all optional exercises should specify which core exercise unlocks it.

Please amend [config.json](https://github.com/exercism/java/blob/master/config.json) for the `rna-transcription` exercise to be `unlocked_by` an appropriate core exercise. Try and group it with a core exercise with similar topi

[2018-06-13 18:09] sjwarner-bp opened #1487 "pangram: add `unlocked_by`"
In v2 of exercism, completing 'core' exercises will unlock more optional exercises.

As part of this, all optional exercises should specify which core exercise unlocks it.

Please amend [config.json](https://github.com/exercism/java/blob/master/config.json) for the `pangram` exercise to be `unlocked_by` an appropriate core exercise. Try and group it with a core exercise with similar topics! 🙂

[2018-06-13 18:10] sjwarner-bp opened #1488 "space-age: add `unlocked_by`"
In v2 of exercism, completing 'core' exercises will unlock more optional exercises.

As part of this, all optional exercises should specify which core exercise unlocks it.

Please amend [config.json](https://github.com/exercism/java/blob/master/config.json) for the `space-age` exercise to be `unlocked_by` an appropriate core exercise. Try and group it with a core exercise with similar topics! 🙂

[2018-06-13 18:11] sjwarner-bp opened #1489 "acronym: add `unlocked_by`"
In v2 of exercism, completing 'core' exercises will unlock more optional exercises.

As part of this, all optional exercises should specify which core exercise unlocks it.

Please amend [config.json](https://github.com/exercism/java/blob/master/config.json) for the `acronym` exercise to be `unlocked_by` an appropriate core exercise. Try and group it with a core exercise with similar topics! 🙂

[2018-06-14 03:51] kytrinyx commented on #1481
I believe that `core: false, unlocked_by: null` is the definition of "bonus exercises" -- where they will be accessible immediately without having done any exercises first. @iHiD do you recall the details around this?

[2018-06-14 08:41] FridaTveit commented on #1481
Yes, we added these intentially so that there would be some exercises that are always available @sjwarner-bp 🙂

[2018-06-14 08:43] FridaTveit commented on #1485
@sjwarner-bp as explained in issue #1481, I don't think this needs fixing. It was part of our intention when restructuring the track and as far as I'm aware it should be part of the structure of v2 🙂

[2018-06-14 08:44] FridaTveit commented on #1481
I think this can be closed now. Do you agree @sjwarner-bp? 🙂

[2018-06-14 09:05] sjwarner-bp commented on #1481
Sure thing @FridaTveit - this completely slipped my mind! Thanks for explaining, I'll close them :slightly_smiling_face:

[2018-06-14 09:05] sjwarner-bp commented on #1485
Closed as explained in #1481

[2018-06-14 09:05] #1485 closed

[2018-06-14 09:05] sjwarner-bp commented on #1486
Closed as explained in #1481

[2018-06-14 09:05] #1486 closed

[2018-06-14 09:06] sjwarner-bp commented on #1487
Closed as explained in #1481

[2018-06-14 09:06] #1487 closed

[2018-06-14 09:06] sjwarner-bp commented on #1488
Closed as explained in #1481

[2018-06-14 09:06] #1488 closed

[2018-06-14 09:06] sjwarner-bp commented on #1489
Closed as explained in #1481

[2018-06-14 09:06] #1489 closed

[2018-06-14 09:46] iHiD commented on #1481
You could also do `unlocked_by: hello-world` if `hello-world` is `auto-approve`. It might be nice to do that for a handful of exercises so the person feels like they've unlocked something at the end of `hello-world`. But more than about 8 will look bad in the modal.

[2018-06-15 08:32] #1132 closed

[2018-06-15 08:49] FridaTveit commented on #1481
This should all be sorted now 🙂

[2018-06-15 08:49] #1481 closed

[2018-06-19 00:46] miranikaran01 commented on #1472
@FridaTveit  I would like to work on this one

[2018-06-19 00:48] miranikaran01 commented on #1471
I would like to work on this one.

[2018-06-19 02:29] miranikaran01 commented on #1473
I would like to work on this one

[2018-06-19 21:44] jackattack24 commented on #1477
When I add the two new tests from the canonical data they both fail. Here are the stack traces that I get when I run the tests:
[code]
And this is how I wrote the new tests. As far as I can tell, I've written them correctly according to their specifications in the [canonical data](https://github.com/exercism/problem-specifications/commit/c85397312197906905c295ec7d026e53159d2fd4#diff-52c461e552f1ac

[2018-06-20 07:20] sjwarner-bp commented on #1450
Closed via #1455

[2018-06-20 07:20] #1450 closed

[2018-06-20 08:19] FridaTveit commented on #1477
Thanks for tackling this @jackattack24! 🙂 Yes, in that case the reference solution probably needs to be updated. There's always a chance that will be needed when we update the tests 🙂

[2018-06-28 18:04] rstockbridge opened #1491 "grep: conflicting flags"
I just completed the grep exercise, and noticed that the tests didn't cover cases where flags conflict. E.g., what should happen in the following cases?
1. `-n` and `-l`
2. `-x` and `-v`

Some experimentation with grep shows that
1. `-n` takes precedence over `-l`
2. checks that the entire line does not match the pattern

The tests `oneFileNoMatchesVariousFlags()` and `multipleFilesNoMatchesVariou

[2018-06-29 09:12] FridaTveit commented on #1491
That's a good point, thanks for raising it @rstockbridge! 🙂 However, we have to make sure our tests and READMEs are the same as in [problem specifications](https://github.com/exercism/problem-specifications/) so that we stay consistent with the other tracks. This sounds like it's something that could benefit all tracks though, so if you wanted to you could raise this issue in problem specification

[2018-06-29 13:17] rstockbridge commented on #1491
Sure thing! Should I close this issue after opening it in problem specifications?

[2018-06-29 13:50] FridaTveit commented on #1491
That would be great yes 🙂 Thank you! 😃

[2018-06-29 14:04] #1491 closed

[2018-07-16 09:41] FridaTveit opened #1493 "Update docs and build with latest exercism cli changes"
There have been some exercism cli changes recently that need to be reflected in our build process and documentation. To do this it might be easiest to [download the latest version of exercism cli](https://github.com/exercism/cli/releases) and play around with it to find out what the changes are.

[2018-07-16 09:43] sjwarner-bp commented on #1493
There are some notes in the nextercism Slack group - I'll condense and copy over here :tada:

[2018-07-16 09:46] sjwarner-bp commented on #1493
Basic guide:

1) Download it here: http://bit.ly/2tuyoI1
2) Grab your token from https://mentors-beta.exercism.io/my/settings
3) Configure it using `mentorcism configure --token=TOKEN`
4) Using the UI, find the exercise you want to try. Note the download link
5) Run the download command like `mentorcism download hello-world --track=ruby`
6) Make the tests pass and refactor
7) Submit using `mentorc

[2018-07-16 10:01] FridaTveit commented on #1493
Thanks! 🙂 That release is tagged as `pre-release` and `alpha` though, so has it really been released? Is that really what our CI build will be using? I thougth this was the link to getting the latest exercism cli release: https://github.com/exercism/cli/releases?

Obviously it's good to be prepared anyway, even if it's just with a list of things that will need changing once we start using the new

[2018-07-16 11:08] sjwarner-bp commented on #1493
Me either... The new version of the site went live a few days ago though, so I would have imaged that the new cli would be used now too? Not sure - I'll have to do some digging :slightly_smiling_face:

[2018-07-17 09:09] FridaTveit commented on #1493
That makes sense, I'll try to look into it to 🙂 Working on the needed updates to journey-test now! 🙂

[2018-07-19 09:54] FridaTveit commented on #1493
Okay the issues I'm currently seeing with the update:
- It doesn't seem to be possible to run `exercism configure` without a token anymore. My current workaround is to use my own token but that's probably not a good longterm solution.

- The script doesn't appear to be able to reach x-api. I get the error `The base API URL 'http://localhost:9292' cannot be reached`, even though just before then th

[2018-07-19 10:13] sjwarner-bp commented on #1493
Hi @FridaTveit! Looks like a couple of other tracks are experiencing the same problems. Kotlin has this morning reported similar build failures.

I agree that using your own token is probably not a great long-term solution, so hopefully we should be able to come up with some other way (maybe @kytrinyx will know)!

Pushing the changes up to a WIP branch sounds like a good plan, I'd love to see what

[2018-07-26 04:04] hugueschabot opened #1495 "matrix: remove unused method from the solution's template"
No tests invoke `getRowsCount`/`getColumnsCount` and there are no mentions of those methods in the instructions.

I propose to remove those methods from the solution's template. Another way to fix this issue would be to add tests for those methods, or invite the student to add them.

[2018-07-26 14:45] FridaTveit commented on #1495
Thanks for pointing that out @hugueschabot! 🙂

We could add tests for them but we want our tests to remain consistent with the [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/matrix/canonical-data.json) which doesn't test those properties, therefore I agree that the best thing to do is to remove them 🙂

Feel free to work on this if you want @hugueschabot!

[2018-07-26 19:54] kytrinyx commented on #1493
Would you please open an issue on https://github.com/exercism/exercism.io? I'd like to get everyone who has journey tests together to discuss how best to solve this.

[2018-07-27 10:02] FridaTveit commented on #1493
Sure! I see you've commented on https://github.com/exercism/exercism.io/issues/3955, hopefully that'll be a good issue to use to discuss it? 🙂

[2018-07-28 16:58] PTrottier commented on #1473
Has this issue been resolved?

[2018-07-30 10:22] FridaTveit commented on #1473
No, I don't think so @PTrottier 🙂 @miranikaran01 are you still working on it? 🙂

If @miranikaran01 isn't working on it anymore then feel free to work on it @PTrottier 🙂 However, we're currently trying to fix an issue with our build scripts to do with the exercism update. So we won't be able to merge any pull requests at the moment. But feel free to open a PR anyway and we'll get to it as soon as w

[2018-08-03 12:29] zantetsuken88 opened #1497 "scrabble-score: extension tasks require pre-set or submittable tests"
Having just attempted the scrabble-score exercise, I noted this was the first exercise on the track with suggested 'extension' tasks.

The trouble is, knowing how to pass these criteria is very difficult to pin down without a a set of optional tests to verify your code is effective.

Whilst it's possible to write your own tests, the track hasn't required this up until this point, there is no guida

[2018-08-03 16:12] jackhughesweb opened #1498 "Fix getting started instructions for java"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-08 04:07] RonakLakhotia commented on #1475
@FridaTveit @sjwarner-bp for the case of "Key is made only of lowercase letters", what should be the input string?

[2018-08-08 07:12] sjwarner-bp commented on #1475
I might be misunderstanding, but I also find that bit of the canonical data confusing.

The input object is empty, which is quite different to the rest of them.

I'll take a closer look at the exercise when I am able to, and see if I can make sense of it, otherwise we might have to ask someone in the problem specifications repo :slightly_smiling_face:

[2018-08-08 07:40] RonakLakhotia commented on #1475
sure. No problem 👍

[2018-08-09 10:00] FridaTveit commented on #1497
Hi @zantetsuken88, thanks for raising this issue! 🙂 The extension tasks are meant to be optional which is why they don't have as much guidance as other parts of the exercise. We could add a section to the README of the first exercise with extensions describing how to write tests if you think that would be useful?

As for submitting tests, that's not really something we can change on this track. I

[2018-08-09 13:35] FridaTveit commented on #1475
@RonakLakhotia I think what you want to test is:
[code]
And then check that `key` only contains lowercase letters. So you don't need an input string because you're not actually encrypting or decrypting anything, you're just checking the key. Does that make sense? 🙂

[2018-08-10 21:09] kytrinyx commented on #1493
That's perfect, thank you.

[2018-08-15 05:39] RonakLakhotia commented on #1475
@FridaTveit I think I get your point. Will give it and try now and get back to you if I face issues. Thanks 😄

[2018-08-15 08:31] FridaTveit commented on #1493
The build is passing now, yay 🙂 We should still probably look through documentation to check if anything needs updating, I'll try to find time to do that over the next few days 🙂

[2018-08-15 08:55] FridaTveit commented on #1493
I'm still a bit confused about which version of the exercism cli people should be using at the moment though @kytrinyx. Is it the one from here as usual: https://github.com/exercism/cli/releases, or the mentorcism one from here: https://github.com/exercism/cli/releases/tag/v3.0.0-alpha.9.mentors? They are a bit different and so it would be good to know which should be used so that our documentatio

[2018-08-15 08:57] #1495 closed

[2018-08-15 10:31] FridaTveit commented on #1473
Sure, go for it @PTrottier! 🙂

[2018-08-15 10:58] FridaTveit commented on #1473
Fixed in PR #1500. Thanks @PTrottier 🙂

[2018-08-15 10:58] #1473 closed

[2018-08-15 11:12] PTrottier commented on #1411
Has this issue been resolved?

[2018-08-15 11:30] FridaTveit commented on #1411
No, I don't think so. Feel free to work on it @PTrottier since there hasn't been any activity on it for a while 🙂

[2018-08-15 23:17] kytrinyx commented on #1493
Yay, congrats 🎉

Definitely the one from https://github.com/exercism/cli/releases!

[2018-08-16 08:43] FridaTveit commented on #1493
Great, thanks for clarifying! 🙂

[2018-08-16 12:30] PTrottier commented on #1411
@FridaTveit When trying to execute the binary on Fedora 28 (Linux 64 bit), it just says "cannot execute binary file". I am planning to spin up a VM to finish the work.

[2018-08-16 12:36] FridaTveit commented on #1411
Which binary are you referring to @PTrottier? Configlet?

[2018-08-16 12:37] PTrottier commented on #1411
@FridaTveit Sorry, yes, for Configlet

[2018-08-16 12:37] PTrottier commented on #1411
I am planning to try using Ubuntu instead and see if there is any success

[2018-08-16 12:39] sjwarner-bp commented on #1411
@PTrottier a handful of different `configlet` releases can be found here:

https://github.com/exercism/configlet/releases

How did you download it? It is possible a broken link has taken you to the wrong release.

There is a script in the `java` repo under `scripts` to download the correct version of `configlet` for your machine.

[2018-08-16 12:42] PTrottier commented on #1411
@sjwarner-bp I used https://github.com/exercism/configlet/releases/download/v3.9.2/configlet-linux-64bit.tgz (the latest).

Which script are you referring to:

- canonical_data_check.sh
- increase-test-logging.sh
- insert-ignores.sh
- prune-extra-keep-files.sh

[2018-08-16 12:46] sjwarner-bp commented on #1411
@PTrottier Apologies, it lives in the `bin` directory. I would imagine it should work on your machine :slightly_smiling_face:

That sounds like the correct version of configlet to be using though. I can't test it out right now, but if you continue to have these issues with configlet, it might be worth opening an issue and using configlet version 3.6.1.

I'm running Ubuntu 64 bit and use this versi

[2018-08-16 17:56] FridaTveit commented on #1498
I've checked and our README template doesn't contain any links or any other information which is incorrect in v2 exercism. So I'll go ahead close this issue 🙂

Thanks for making sure we'd checked @jackhughesweb! 🙂

[2018-08-16 17:56] #1498 closed

[2018-08-16 18:01] sjwarner-bp commented on #1498
Agreed - I checked over the rest of the documentation too a little while ago, but wasn't 100% convinced I checked everything!

Thanks for that @FridaTveit 🙂

[2018-08-19 18:56] kytrinyx opened #1502 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-20 08:32] FridaTveit commented on #1502
I don't think we have any assertions that track versions in the exercise tests, therefore I'll close this issue 🙂

[2018-08-20 08:32] #1502 closed

[2018-08-20 08:38] sjwarner-bp commented on #1502
Agreed! 🙂

[2018-08-28 14:53] hgvanpariya commented on #1474
@FridaTveit : I've raised the PR with the changes, please provide your feedback ...

[2018-08-29 08:33] #1493 closed

[2018-08-29 08:34] FridaTveit commented on #1411
Okay @PTrottier, let us know if there's anything we can do to help with your configlet issues! 🙂

[2018-08-31 03:57] hgvanpariya commented on #1471
@FridaTveit : Test case  `slice length cannot be zero` is invalid in usecase in https://github.com/exercism/problem-specifications/blob/master/exercises/series/canonical-data.json

When the slice is Zero it is not throwing Exception, Can you please confirm ?

[2018-09-03 08:45] FridaTveit commented on #1474
Fixed in PR #1503. Thanks @hgvanpariya! 🙂

[2018-09-03 08:45] #1474 closed

[2018-09-05 16:02] ymoskovits commented on #1411
Hey everyone! I've never made an open source contribution before. Would I be able to try this one out? Is this a good place to start?

[2018-09-05 16:17] FridaTveit commented on #1411
That's great that you want to make an open source contribution @ymoskovits! 😄 Anything labelled `good first patch` should be good to start on, feel free to work on this one! And let us know if you have any issues at all! 🙂

[2018-09-08 02:22] hugueschabot opened #1507 "binary-search: Test with List<String> use unsorted list"
The current test suite for binary-search contains two tests with a list of String.
- `findsAValueInTheMiddleOfAnArray`
- `identifiesThatAValueIsNotIncludedInTheArray`

The two tests use this list of String, which is not sorted alphabetically.
[code]

Based on the default implementation of `Comparable<String>` provided by `String`, the correctly sorted list is `Arrays.asList("1", "11", "3", "4", "6

[2018-09-10 10:27] FridaTveit commented on #1507
That's a good point @hugueschabot, thanks for raising it! 🙂 We mainly use strings and chars in these tests so that users can become familiar with generics. But you're right, the way the tests work now might be a bit strange and confusing for users. So I think we have a few options:

- Remove generics from these tests and just use `Integer`. This has the advantage of being an easy change and will m

[2018-09-11 00:22] Mavelous opened #1508 "protein-translation: Codons/Acids table not rendering properly"
This is what the "protein-translation" problem page looks like on the Exercism site when I'm logged in (OSX, latest Chrome browser):

<img width="879" alt="screen shot 2018-09-10 at 20 17 35" src="https://user-images.githubusercontent.com/1540661/45331055-a079d300-b536-11e8-8570-3dec025516c6.png">

(I'd provide a direct link, but it's a link to /my/solutions/hash which I think won't translate well

[2018-09-11 09:00] FridaTveit commented on #1508
Thanks for raising this @Mavelous! 🙂 From looking into it this is a problem on all tracks so it's not something we can fix on this track unfortunately.

The READMEs are specified in the [problem specifications repo](https://github.com/exercism/problem-specifications/blob/master/exercises/protein-translation/description.md), so it might be worth raising an issue about it there? Or maybe in the [exe

[2018-09-13 16:49] FridaTveit opened #1509 "error-handling: remove UnsupportedOperationException from starter implementation"
Usually we use `UnsupportedOperationException` in starter implementations to alert the user to the fact that they have to replace the starter implementation with their own code to pass the tests (see our [policies doc](https://github.com/exercism/java/blob/master/POLICIES.md#starter-implementations) for more details). However for the [error-handling exercise](https://github.com/exercism/java/tree/

[2018-09-13 16:50] FridaTveit commented on #1460
I've raised good first patch issue #1509 to fix this so I think we can close this issue 🙂 Feel free to reopen (or put a comment on #1509) if anyone thinks that's not the case 🙂

[2018-09-13 16:50] #1460 closed

[2018-09-13 16:52] FridaTveit commented on #1497
I'll close this issue for now @zantetsuken88 since it's not something we can easily fix on this track. Feel free to ask us (on gitter or by opening a new issue) if you have any problems raising this in the correct repo or if you have any other questions! 🙂

[2018-09-13 16:52] #1497 closed

[2018-09-13 16:54] FridaTveit commented on #1507
That sounds sensible. I'm happy to remove generics from this exercise 🙂 What do you think @sjwarner-bp?

[2018-09-13 16:55] FridaTveit commented on #1508
It looks like you've opened an issue for this in problem-specifications so I'll close this for now @Mavelous. Feel free to ask us (on gitter or by opening a new issue) if you have any problems getting it resolved or you have other questions/suggestions! 🙂

[2018-09-13 16:55] #1508 closed

[2018-09-17 04:35] dpolivaev commented on #1507
I would replace "11" by "91".

[2018-09-17 08:16] #1509 closed

[2018-09-17 12:56] Smarticles101 commented on #1479
I'd be interested in writing documentation for this, I should be getting a new laptop tomorrow so I'll have to set up the project again which would be a good time to write this documentation.

[2018-09-17 12:57] sjwarner-bp commented on #1479
Sounds like a great time to get this one done! Go for it @Smarticles101 :tada:

[2018-09-17 13:00] FridaTveit commented on #1479
Great, thanks @Smarticles101! 😄

[2018-09-17 13:05] Smarticles101 commented on #451
@exercism/java I'd like for us to be able to close this. Is there any reason to keep it open? The information here might be valuable to mentors, where is a good place to link to it where mentors will see it?

[2018-09-17 13:27] Smarticles101 commented on #1006
This exercise has long gone stale, what can we do to fix it? Is it still relevant or desired? Thoughts @exercism/java?

[2018-09-17 13:28] Smarticles101 commented on #610
@sjwarner-bp I would agree, I'm okay with closing this. I personally don't feel like we need probot. Let's see what @FridaTveit has to say.

[2018-09-17 13:32] Smarticles101 commented on #772
Has anyone looked into this since? I think a good option at this point would be to pull master inside the travis environment (rather than using the github api) to get a diff.

[2018-09-17 13:34] FridaTveit commented on #451
I'm happy with closing it 🙂  Not sure where we can link to it so that mentors can see... Any ideas @sjwarner-bp? 🙂

[2018-09-17 13:34] FridaTveit commented on #610
I agree, happy with closing this 🙂

[2018-09-17 13:34] #610 closed

[2018-09-17 13:36] FridaTveit commented on #772
No, I haven't looked into it. However, with the changes to the journey-test script, the builds are now really fast. So I think it would be fine to keep everything as it is. It means some more tests will run every time we run into this issue, but it shouldn't really matter with the builds being faster anyway 🙂 What do you think @Smarticles101, @sjwarner-bp? 🙂

[2018-09-17 13:40] FridaTveit commented on #1006
I think adding linting would be useful for the track, however I haven't had time to look into it yet. I'm happy with any of the following options:
- Keeping this open until someone has a chance to look into it
- Someone else looking into this now
- Closing this issue and instead raising a new one if someone wants to add linting at a later date

Or any other suggestions 🙂 What do you think @Smartic

[2018-09-17 13:41] sjwarner-bp commented on #1006
I'd be happy to see it introduced, but not had time to deep-dive in yet...

I'm happy to keep it open for the moment - maybe as part of Hacktoberfest we will have some extra resource?

[2018-09-17 13:42] sjwarner-bp commented on #772
There hasn't been too much pain around this for a little while now I think, and with our super-fast builds now I think I am happy for everything around there to remain the same for the moment :slightly_smiling_face:

[2018-09-17 13:43] Smarticles101 commented on #772
@FridaTveit since I've been out of the loop for a while, I'll check in on the journey-test script to become more familiar with recent changes. Glancing at the [travis](https://travis-ci.org/exercism/java/pull_requests) page, some PRs are still taking quite a long time. Such as #1506 which went over 30 minutes when it should have just ran the two-fer test I believe.

[2018-09-17 13:46] sjwarner-bp commented on #451
I'm not too sure exactly where would be a good place for this. Maybe a link out from one of our documentation pages?

As far as I am aware there isn't any documentation specifically for track mentors (though that would be nice)! :slightly_smiling_face:

[2018-09-17 13:54] Smarticles101 commented on #1006
@sjwarner-bp good thought! I'll add the hacktoberfest label to this issue.

[2018-09-17 13:56] sjwarner-bp commented on #1006
I think it would be worth making a Hacktoberfest mega-thread issue in our repo so that we maintainers can work out how to make the most of this year's event, and ensure there is enough work to go around for all the new contributors :slightly_smiling_face:

[2018-09-17 14:31] FridaTveit commented on #1006
Sounds like a good idea @sjwarner-bp 🙂

[2018-09-17 14:37] sjwarner-bp opened #1511 "Hacktoberfest Preparation"
Last year, Hacktoberfest was a hit! I suggest that we maintainers set up the Java repository to allow maximum contributions and ease-of-access for this year too.

A quick (but by no means exhaustive) list of tasks to do before October is:
- [x] Ensure all exercises that are not up to date have open issues
- [ ] Ensure all issues are as granular as possible
- [ ] Add hacktoberfest tag to relevant i

[2018-09-18 07:31] sjwarner-bp opened #1513 "gigasecond: rename method"
A recent discussion in the exercism mentors #track-java Slack channel suggested:

After some further discussion, `getDateTime` was suggested as a sensible method name, and was decided to be in keeping with the JavaAPI.

Please rename the `getDate` method to `getDateTime`, including useage in reference solutions and tests if applicable.

[2018-09-19 08:36] FridaTveit commented on #1507
Sure 🙂 I don't know much about how the mentoring notes work or who maintains them. There doesn't appear to be any for binary-search?

[2018-09-19 09:57] dpolivaev commented on #1507
I think that information about the changes can go over slack because it is only relevant within a short period of time after the change. Sure one could create a mentoring note too and remove it after about a month.

[2018-09-19 10:09] FridaTveit commented on #1507
Sure, sounds sensible 🙂 I'm happy to message the track-java channel when the PR to fix this is merged 🙂

[2018-09-19 11:10] dpolivaev commented on #1507
Actually, in my dream, when I review a solution I would like to see a list of all other solutions of the same exercise sorted by time in descending order, so that I can learn from the solutions and discussions already happened.

Further, in my dream, each exercise could have its own thread either on slack or somewhere else so that mentors can easier talk about it.

[2018-09-20 09:29] FridaTveit commented on #1507
PR has been merged and I've posted in track-java 🙂 Thanks @hugueschabot! 🙂

@dpolivaev If you have suggestions for changes to the exercism website you can raise an issue on https://github.com/exercism/exercism as that's not really something we can change here on this track 🙂 For changes to slack practices, just posting on slack for example in the track-java channel might be the best way to go abou

[2018-09-20 09:29] #1507 closed

[2018-09-20 18:01] dpolivaev commented on #1507
@FridaTveit I opened https://github.com/exercism/exercism/issues/4364

[2018-09-21 18:56] PatrickMcSweeny opened #1514 "twelve-days: specification updated"
The specification for twelve days has changed and the Java exercised needs to be updated to match.

https://github.com/exercism/problem-specifications/pull/1329

[2018-09-23 23:46] #1514 closed

[2018-09-24 17:28] FridaTveit commented on #451
@sjwarner-bp there are these [mentoring notes](https://github.com/exercism/mentors/tree/master/tracks/java), not sure if they're used much though?

[2018-09-24 17:36] FridaTveit opened #1516 "rna-transcription: update version file (v1.2.0 -> v1.3.0) and add one test"
Please update the version specified in the [rna-transcription](https://github.com/exercism/java/blob/master/exercises/rna-transcription/.meta/version) version file from 1.2.0 to 1.3.0.

Please also add one test to the [rna-transcription tests](https://github.com/exercism/java/blob/master/exercises/rna-transcription/src/test/java/RnaTranscriptionTest.java). This should be the test "Empty RNA sequen

[2018-09-24 17:37] Smarticles101 commented on #451
@FridaTveit that's an interesting thought, I haven't seen those before. That might be a good spot to put these

[2018-09-25 08:24] FridaTveit opened #1517 "pangram: update version file (v1.4.0 -> v1.4.1)"
Please update the version specified in the [pangram](https://github.com/exercism/java/blob/master/exercises/pangram/.meta/version) version file from 1.4.0 to 1.4.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of the [canonical data file for that

[2018-09-25 08:36] FridaTveit opened #1518 "acronym: update version file (v1.3.0 -> v1.4.0) and add test"
Please update the version specified in the [acronym](https://github.com/exercism/java/blob/master/exercises/acronym/.meta/version) version file from 1.2.0 to 1.3.0.

Please also add one test to the [acronym tests](https://github.com/exercism/java/blob/master/exercises/acronym/src/test/java/AcronymTest.java). This should be the test "consecutive delimiters" as described in the [canonical data for a

[2018-09-25 08:47] FridaTveit opened #1519 "protein-translation: update version file (v1.1.0 -> v1.1.1)"
Please update the version specified in the [protein-translation](https://github.com/exercism/java/blob/master/exercises/protein-translation/.meta/version) version file from 1.1.0 to 1.1.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the cano

[2018-09-26 08:54] FridaTveit opened #1520 "isbn-verifier: update version file (v2.5.0 -> v2.7.0) and update tests"
Please update the version specified in the [isbn-verifier](https://github.com/exercism/java/blob/master/exercises/isbn-verifier/.meta/version) version file from 2.5.0 to 2.7.0.

Please also make sure the [isbn-verifier tests](https://github.com/exercism/java/blob/master/exercises/isbn-verifier/src/test/java/IsbnVerifierTest.java) are up to date with the [canonical data for isbn-verifier](https://g

[2018-09-28 08:52] FridaTveit opened #1521 "collatz-conjecture: update version file (v1.2.0 -> v1.2.1)"
Please update the version specified in the [collatz-conjecture](https://github.com/exercism/java/blob/master/exercises/collatz-conjecture/.meta/version) version file from 1.2.0 to 1.2.1.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of the [canoni

[2018-09-28 09:01] FridaTveit opened #1522 "saddle-points: update version file (v1.1.0 -> v1.3.0) and update tests"
Please update the version specified in the [saddle-points](https://github.com/exercism/java/blob/master/exercises/saddle-points/.meta/version) version file from 1.1.0 to 1.3.0.

Please also make sure the [saddle-points tests](https://github.com/exercism/java/blob/master/exercises/saddle-points/src/test/java/MatrixTest.java) are up to date with the [canonical data for saddle-points](https://github.

[2018-09-28 09:05] FridaTveit opened #1523 "isogram: update version file (v1.3.0 -> v1.6.0) and update tests"
Please update the version specified in the [isogram](https://github.com/exercism/java/blob/master/exercises/isogram/.meta/version) version file from 1.3.0 to 1.6.0.

Please also make sure the [isogram tests](https://github.com/exercism/java/blob/master/exercises/isogram/src/test/java/IsogramCheckerTest.java) are up to date with the [canonical data for isogram](https://github.com/exercism/problem-s

[2018-09-28 09:10] FridaTveit opened #1524 "allergies: update version file (v1.1.0 -> v1.2.0) and add one test"
Please update the version specified in the [allergies](https://github.com/exercism/java/blob/master/exercises/allergies/.meta/version) version file from 1.2.0 to 1.3.0.

Please also add one test to the [allergies tests](https://github.com/exercism/java/blob/master/exercises/allergies/src/test/java/AllergiesTest.java). This should be the test "allergic to strawberries but not peanuts" as described

[2018-09-28 09:21] FridaTveit opened #1525 "bob: update version file (v1.2.0 -> v1.4.0) and minor changes to tests"
Please update the version specified in the [bob](https://github.com/exercism/java/blob/master/exercises/bob/.meta/version) version file from 1.2.0 to 1.3.0.

Please also make two minor changes to the [bob tests](https://github.com/exercism/java/blob/master/exercises/bob/src/test/java/BobTest.java) to make them up to date with the [canonical data for bob](https://github.com/exercism/problem-specifi

[2018-09-28 09:24] FridaTveit opened #1526 "bracket-push: update version file (v1.3.0 -> v1.4.0) and add one test"
Please update the version specified in the [bracket-push](https://github.com/exercism/java/blob/master/exercises/bracket-push/.meta/version) version file from 1.3.0 to 1.4.0.

Please also add one test to the [bracket-push tests](https://github.com/exercism/java/blob/master/exercises/bracket-push/src/test/java/BracketCheckerTest.java). This should be the test "paired and incomplete brackets" as des

[2018-09-28 09:28] FridaTveit opened #1527 "atbash-cipher: update version file (v1.1.0 -> v1.2.0) and update tests"
Please update the version specified in the [atbash-cipher](https://github.com/exercism/java/blob/master/exercises/atbash-cipher/.meta/version) version file from 1.1.0 to 1.2.0.

Please also make sure the [atbash-cipher tests](https://github.com/exercism/java/blob/master/exercises/atbash-cipher/src/test/java/AtbashTest.java) are up to date with the [canonical data for atbash-cipher](https://github.

[2018-09-28 09:32] FridaTveit opened #1528 "anagram: update version file (v1.2.0 -> v1.3.0)"
Please update the version specified in the [anagram](https://github.com/exercism/java/blob/master/exercises/anagram/.meta/version) version file from 1.2.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that

[2018-09-28 09:34] FridaTveit opened #1529 "markdown: update version file (v1.2.0 -> v1.3.0) and update tests"
Please update the version specified in the [markdown](https://github.com/exercism/java/blob/master/exercises/markdown/.meta/version) version file from 1.2.0 to 1.3.0.

Please also make sure the [markdown tests](https://github.com/exercism/java/blob/master/exercises/markdown/src/test/java/MarkdownTest.java) are up to date with the [canonical data for markdown](https://github.com/exercism/problem-sp

[2018-09-28 09:38] FridaTveit opened #1530 "clock: update version file (v2.2.1 -> v2.3.0) and add one test"
Please update the version specified in the [clock](https://github.com/exercism/java/blob/master/exercises/clock/.meta/version) version file from 2.2.1 to 2.3.0.

Please also add one test to the [clock tests](https://github.com/exercism/java/tree/master/exercises/clock/src/test/java). This should be the test "full clock and zeroed clock" as described in the [canonical data for clock](https://github

[2018-09-28 09:40] FridaTveit opened #1531 "book-store: update version file (v1.3.0 -> v1.4.0) and update tests"
Please update the version specified in the [book-store](https://github.com/exercism/java/blob/master/exercises/book-store/.meta/version) version file from 1.3.0 to 1.4.0.

Please also make sure the [book-store tests](https://github.com/exercism/java/blob/master/exercises/book-store/src/test/java/BookStoreTest.java) are up to date with the [canonical data for book-store](https://github.com/exercism

[2018-09-28 10:50] FridaTveit opened #1532 "largest-series-product: update version file (v1.1.0 -> v1.2.0)"
Please update the version specified in the [largest-series-product](https://github.com/exercism/java/blob/master/exercises/largest-series-product/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [th

[2018-09-28 11:02] FridaTveit opened #1533 "twelve-days: update version file (v1.1.0 -> v1.2.0) and make minor change to tests"
Please update the version specified in the [twelve-days](https://github.com/exercism/java/blob/master/exercises/twelve-days/.meta/version) version file from 1.1.0 to 1.2.0.

Please also make some minor changes to the [twelve-days tests](https://github.com/exercism/java/blob/master/exercises/twelve-days/src/test/java/TwelveDays.java) to make them up to date with the [canonical data for twelve-days]

[2018-09-28 11:06] FridaTveit opened #1534 "variable-length-quantity: update version file (v1.1.0 -> v1.2.0)"
Please update the version specified in the [variable-length-quantity](https://github.com/exercism/java/blob/master/exercises/variable-length-quantity/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of

[2018-09-28 11:22] FridaTveit opened #1535 "phone-number: update version file (v1.4.0 -> v1.6.0) and update tests"
Please update the version specified in the [phone-number](https://github.com/exercism/java/blob/master/exercises/phone-number/.meta/version) version file from 1.4.0 to 1.6.0.

Please also make sure the [phone-number tests](https://github.com/exercism/java/blob/master/exercises/phone-number/src/test/java/PhoneNumberTest.java) are up to date with the [canonical data for phone-number](https://github.

[2018-09-28 11:28] FridaTveit opened #1536 "pascals-triangle: update version file (v1.3.0 -> v1.5.0) and remove one test"
Please update the version specified in the [pascals-triangle](https://github.com/exercism/java/blob/master/exercises/pascals-triangle/.meta/version) version file from 21.3.0 to 1.5.0.

Please also remove the last test from the [pascals-triangle tests](https://github.com/exercism/java/tree/master/exercises/pascals-triangle/src/test/java). This should be the test `testValidatesNotNegativeRows`. See

[2018-09-28 11:29] FridaTveit opened #1537 "queen-attack: update version file (v2.1.0 -> v2.2.0)"
Please update the version specified in the [queen-attack](https://github.com/exercism/java/blob/master/exercises/queen-attack/.meta/version) version file from 2.1.0 to 2.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data fil

[2018-09-28 11:36] FridaTveit opened #1538 "grade-school: add version file (v1.0.0) and update tests"
Please add  a version file at https://github.com/exercism/java/blob/master/exercises/grade-school/.meta/version containing version number 1.0.0. See [the phone-number version file](https://github.com/exercism/java/blob/master/exercises/phone-number/.meta/version) for an example version file.

Please also make sure the [grade-school tests](https://github.com/exercism/java/blob/master/exercises/grad

[2018-09-28 11:39] FridaTveit opened #1539 "robot-simulator: update version file (v2.2.0 -> v2.3.0) and update tests"
Please update the version specified in the [robot-simulator](https://github.com/exercism/java/blob/master/exercises/robot-simulator/.meta/version) version file from 2.2.0 to 2.3.0.

Please also make sure the [robot-simulator tests](https://github.com/exercism/java/blob/master/exercises/robot-simulator/.meta/src/reference/java/Robot.java) are up to date with the [canonical data for robot-simulator]

[2018-09-28 11:47] FridaTveit opened #1540 "binary-search: update version file (v1.1.0 -> v1.2.0) and update error handling"
Please update the version specified in the [binary-search](https://github.com/exercism/java/blob/master/exercises/binary-search/.meta/version) version file from 1.1.0 to 1.2.0.

Please also make sure that the expected error handling in the [robot-simulator tests](https://github.com/exercism/java/blob/master/exercises/binary-search/src/test/java/BinarySearchTest.java) is up to date with the [canoni

[2018-09-28 11:49] FridaTveit opened #1541 "wordy: update version file (v1.1.0 -> v1.2.0)"
Please update the version specified in the [wordy](https://github.com/exercism/java/blob/master/exercises/wordy/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that exe

[2018-09-28 11:51] FridaTveit opened #1542 "ocr-numbers: update version file (v1.1.0 -> v1.2.0)"
Please update the version specified in the [ocr-numbers](https://github.com/exercism/java/blob/master/exercises/ocr-numbers/.meta/version) version file from 1.1.0 to 1.2.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file

[2018-09-28 11:52] FridaTveit opened #1543 "change: update version file (v1.2.0 -> v1.3.0)"
Please update the version specified in the [change](https://github.com/exercism/java/blob/master/exercises/change/.meta/version) version file from 1.2.0 to 1.3.0.

Background info: each exercise which has canonical data should have a version file. This file states which version of the canonical data the exercise implements. The version can be found at the top of [the canonical data file for that e

[2018-09-28 11:54] FridaTveit opened #1544 "pythagorean-triplet: add version file (v1.0.0) and update tests"
Please add  a version file at https://github.com/exercism/java/blob/master/exercises/pythagorean-triplet/.meta/version containing version number 1.0.0. See [the phone-number version file](https://github.com/exercism/java/blob/master/exercises/phone-number/.meta/version) for an example version file.

Please also make sure the [pythagorean-triplet tests](https://github.com/exercism/java/blob/master/

[2018-09-28 11:55] FridaTveit commented on #1511
I've opened issues for updating any exercises that aren't up to date 🙂

I've also added the hacktoberfest tag to any issues I thought might be suitable, though feel free to remove it from any issues you don't think are suitable or add it to any other issues you think should have it 🙂

[2018-09-28 18:30] mirkoperillo commented on #1535
Hi @FridaTveit, can I help on this ?

[2018-09-30 17:48] Akash4927 commented on #1536
I'd like to work on it.

[2018-09-30 19:27] i-vikash commented on #1533
I would like to work on this

[2018-09-30 19:32] i-vikash commented on #1543
I would like to work on this

[2018-09-30 20:01] PritamSangani commented on #1520
Can I be assigned this issue, please?

[2018-09-30 20:32] Akash4927 commented on #1528
I'd like to work on it

[2018-10-01 05:29] beatbrot commented on #1518
Please assign this one to me :)

[2018-10-01 08:16] FridaTveit commented on #1535
Hi @mirkoperillo 🙂 Feel free to start working on it! 😄

In general you don't need to ask before working on as issue, just make sure no one else has commented on the ticket recently to say they're working on it and that there are no open pull requests for the issue 🙂

If there are old comments on the issue from someone saying they're working on it, then it's worth adding your own comment to check i

[2018-10-01 08:19] #1536 closed

[2018-10-01 08:50] IpshitaC commented on #1517
Hi @FridaTveit
Can I take this up for hacktoberfest?

[2018-10-01 09:39] LukBukkit commented on #1513
I would take care of this 👍

[2018-10-01 09:43] vpondala commented on #1534
Let me work on this.

[2018-10-01 09:43] vpondala commented on #1542
I will work on this.

[2018-10-01 09:44] vpondala commented on #1541
I am picking this one.

[2018-10-01 10:15] LukBukkit commented on #1513
I've also got another question: Is it possible for you to raise the gradle version to 4.7 or higher to support Java 10?

[2018-10-01 12:19] princerachit commented on #1544
I am working on this issue.

[2018-10-01 12:32] #1528 closed

[2018-10-01 12:32] mirkoperillo commented on #1539
Hi,
I'm starting to work on this

[2018-10-01 12:33] #1517 closed

[2018-10-01 13:36] FridaTveit opened #1556 "Should we increase the gradle version?"
As posted by @LukBukkit on issue #1513:

What do we think @exercism/java? 🙂

[2018-10-01 13:37] FridaTveit commented on #1513
Fixed in PR #1549. Thanks @LukBukkit! 🙂

I've raised issue #1556 to discuss your question @LukBukkit, thanks for raising it! 🙂

[2018-10-01 13:37] #1513 closed

[2018-10-01 13:40] FridaTveit commented on #1534
Fixed in PR #1552. Thanks @vpondala! 🙂

[2018-10-01 13:40] #1534 closed

[2018-10-01 13:42] FridaTveit commented on #1542
Fixed in PR #1553. Thanks @vpondala! 🙂

[2018-10-01 13:42] #1542 closed

[2018-10-01 13:43] FridaTveit commented on #1541
Fixed in PR #1554. Thanks @vpondala 🙂

[2018-10-01 13:43] #1541 closed

[2018-10-01 13:53] FridaTveit commented on #1520
Fixed in PR #1550. Thanks @PritamSangani! 🙂

[2018-10-01 13:53] #1520 closed

[2018-10-01 14:00] stkent commented on #1522
Hi! I will take this one on :)

[2018-10-01 14:11] FridaTveit commented on #1522
Hello! Sounds great! 😄

[2018-10-01 15:38] #1535 closed

[2018-10-01 15:41] LukBukkit commented on #1531
I'll work on this too 👍

[2018-10-01 16:40] #1477 closed

[2018-10-01 16:49] princerachit commented on #1537
I am working on this.

[2018-10-01 17:11] LukBukkit commented on #1529
Sorry for those reference spam, but I had to push the branch again

[2018-10-01 17:12] chungngoops commented on #1540
I am working on this issue.

[2018-10-01 17:20] LukBukkit commented on #1523
I also would work on this one, if it's okay.

[2018-10-01 18:02] anurag-rai commented on #1525
Hey, if this one is still up for grabs, I'd like to take it on.

[2018-10-01 18:16] alis0nc commented on #1538
I'm working on this issue.

[2018-10-01 19:11] alis0nc commented on #1533
I'm working on this

[2018-10-01 19:43] alis0nc commented on #1533
Nope, looks like this issue is a duplicate of #1514, fixed in PR #1515. I don't see twelve-days 1.3.0 in the canonical data, so I assume 1.2.0 is the current version.

[2018-10-01 19:45] alis0nc commented on #1472
Duplicate of #1538, which I've opened PR #1572 for.

[2018-10-01 19:47] alis0nc commented on #1516
I'm working on this issue.

[2018-10-01 19:51] mirkoperillo commented on #1527
I'm starting to work on this

[2018-10-01 20:56] anurag-rai commented on #1525
I've changed the version to 1.4.0 instead of the mentioned 1.3.0 because [this](https://github.com/exercism/problem-specifications/blob/master/exercises/bob/canonical-data.json) specifies so. Same with a test case.

[2018-10-01 21:34] anurag-rai commented on #1475
Hi, is this open to be discussed? Or is @RonakLakhotia  still working on it?
Basically, I wanted to ask:
1. Three Test modules are currently present but do not match the three cases in the problem-spec. Does this need a rewrite to exactly the spec? The spec has no mention of default Key.
2. The second case of spec mentions "Substitution cipher". Does it imply default key?
3. Some extra test cases

[2018-10-02 05:01] mirkoperillo commented on #1006
Hi,

I wanna try to help on this, but I need some more clear instructions about

[2018-10-02 07:58] sjwarner-bp commented on #1537
Closed via #1564

[2018-10-02 07:58] #1537 closed

[2018-10-02 07:59] sjwarner-bp commented on #1530
Closed via #1563

[2018-10-02 07:59] #1530 closed

[2018-10-02 08:27] FridaTveit commented on #1532
Fixed in PR #1568. Thanks @sonapraneeth-a! 🙂